Repository ArchipelagoMW/Archipelago, pull requests merged in 2022-08, with the labels that each got.

#850 The Witness: Logic fix (unbeatable seed)
  worlds/witness/WitnessLogic.txt
Labels: bug, blocker

#824 HK: Add bug report link
  worlds/hk/__init__.py
Labels: documentation

#853 Subnautica: update docs with resume info
  worlds/subnautica/docs/setup_en.md
Labels: documentation

#840 Core: optimize away Item.world
  BaseClasses.py
  Main.py
  test/general/TestFill.py
  worlds/alttp/Dungeons.py
  worlds/alttp/Rules.py
  worlds/alttp/Shops.py
Labels: cleanup, core

#849 Core: cleanup Item classes
  BaseClasses.py
  worlds/alttp/Items.py
  worlds/alttp/Rom.py
  worlds/alttp/SubClasses.py
  worlds/alttp/__init__.py
  worlds/archipidle/__init__.py
  worlds/hk/__init__.py
  worlds/meritous/Items.py
  worlds/oot/Items.py
  worlds/sa2b/Items.py
  worlds/sm/__init__.py
  worlds/smz3/__init__.py
Labels: cleanup, core

#860 Core: cleanup BaseClasses.Location
  BaseClasses.py
  worlds/alttp/Shops.py
  worlds/alttp/SubClasses.py
Labels: cleanup, core

#884 MultiServer: swap auto-forfeit with auto-collect order
  MultiServer.py
Labels: enhancement

#883 WebHost: use title-typical sorting for game titles
  Utils.py
  WebHost.py
  WebHostLib/__init__.py
  WebHostLib/templates/supportedGames.html
Labels: enhancement

#875 Do a check for enemizer much earlier in generation.
  worlds/alttp/__init__.py
Labels: enhancement

#895 Utils: SI: fix rounding problems
  Utils.py
  test/utils/TestSIPrefix.py
  test/utils/__init__.py
Labels: bug

#897 Core: clean up Utils.py
  Utils.py
Labels: cleanup

#878 DS3: Update the setup guide
  worlds/dark_souls_3/__init__.py
  worlds/dark_souls_3/docs/en_Dark Souls III.md
  worlds/dark_souls_3/docs/setup_en.md
  worlds/dark_souls_3/docs/setup_fr.md
Labels: documentation

#904 SM: correctly check if items are SM items
  worlds/sm/__init__.py
Labels: bug

#912 Docs: Added DS3 & DK3 to network graph
  docs/network diagram.jpg
  docs/network diagram.svg
  docs/network diagram/network diagram.jpg
  docs/network diagram/network diagram.md
  docs/network diagram/network diagram.svg
Labels: documentation

#909 sm64ex: Fix Secound Floor Door Cost
  worlds/sm64ex/__init__.py
Labels: bug

#906 Core: Refactor Autoworld.options to Autoworld.option_definitions
  BaseClasses.py
  Generate.py
  WebHostLib/options.py
  docs/world api.md
  test/dungeons/TestDungeon.py
  test/general/__init__.py
  test/inverted/TestInverted.py
  test/inverted/TestInvertedBombRules.py
  test/inverted_minor_glitches/TestInvertedMinor.py
  test/inverted_owg/TestInvertedOWG.py
  test/minor_glitches/TestMinor.py
  test/owg/TestVanillaOWG.py
  test/vanilla/TestVanilla.py
  worlds/AutoWorld.py
  worlds/alttp/__init__.py
  worlds/checksfinder/__init__.py
  worlds/dark_souls_3/__init__.py
  worlds/dkc3/__init__.py
  worlds/factorio/__init__.py
  worlds/ff1/__init__.py
  worlds/hk/__init__.py
  worlds/meritous/__init__.py
  worlds/minecraft/__init__.py
  worlds/oot/__init__.py
  worlds/oribf/__init__.py
  worlds/raft/__init__.py
  worlds/rogue_legacy/__init__.py
  worlds/ror2/__init__.py
  worlds/sa2b/__init__.py
  worlds/sc2wol/__init__.py
  worlds/sm/__init__.py
  worlds/sm64ex/__init__.py
  worlds/smz3/__init__.py
  worlds/soe/__init__.py
  worlds/spire/__init__.py
  worlds/subnautica/__init__.py
  worlds/timespinner/__init__.py
  worlds/v6/__init__.py
  worlds/witness/__init__.py
Labels: enhancement

#903 AutoWorld: add preliminary .apworld specification
  docs/apworld specification.md
Labels: documentation

#747 Core: allow loading worlds from zip modules
  FactorioClient.py
  WebHost.py
  worlds/AutoWorld.py
  worlds/__init__.py
  worlds/ror2/Rules.py
  worlds/ror2/__init__.py
Labels: enhancement

#873 Docs: Mc: fix version in setup guide
  worlds/minecraft/docs/minecraft_en.md
Labels: documentation

#927 Fix another item.type crash bug.
  worlds/oot/HintList.py
  worlds/oot/Patches.py
Labels: bug

#921 WebHost: allow newlines in data-tooltip
  WebHostLib/options.py
  WebHostLib/static/assets/player-settings.js
  WebHostLib/static/styles/generate.css
  WebHostLib/static/styles/globalStyles.css
  WebHostLib/static/styles/tooltip.css
  WebHostLib/templates/generate.html
Labels: enhancement

#896 MC: Fix allay advancement logic
  worlds/minecraft/Rules.py
Labels: bug

#833 RoR2: code cleanup and styling consistency
  worlds/ror2/Items.py
  worlds/ror2/Locations.py
  worlds/ror2/Options.py
  worlds/ror2/Rules.py
  worlds/ror2/__init__.py
Labels: cleanup

#812 [Core] Phase out Print packets and added Countdown type to print json
  MultiServer.py
  docs/network protocol.md
Labels: enhancement, help wanted, core

#788 Docs: Update community supported libraries in api doc
  docs/network protocol.md
Labels: documentation

#885 LttPAdjuster: ignore invalid sprite files
  LttPAdjuster.py
  worlds/alttp/Rom.py
Labels: enhancement

#966 Subnautica: correctly handle unhatchable aggressive species
  worlds/subnautica/Creatures.py
  worlds/subnautica/Locations.py
  worlds/subnautica/Options.py
  worlds/subnautica/Rules.py
  worlds/subnautica/__init__.py
Labels: bug / fix
