Repository ArchipelagoMW/Archipelago, pull requests merged in 2022-11, with the labels that each got.

#1151 SM: Fix unobtainable items in remote items+item links combo
  worlds/sm/Client.py
  worlds/sm/Rom.py
  worlds/sm/__init__.py
  worlds/sm/data/SMBasepatch_prebuilt/multiworld-basepatch.ips
  worlds/sm/data/SMBasepatch_prebuilt/multiworld.sym
  worlds/sm/data/SMBasepatch_prebuilt/sm-basepatch-symbols.json
Labels: bug / fix

#1139 CommonClient: Some GUI polish
  CommonClient.py
  data/client.kv
  kvui.py
Labels: enhancement

#1108 [Pokemon] Fixes and updates
  PokemonClient.py
  data/lua/PKMN_RB/pkmn_rb.lua
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/basepatch_blue.bsdiff4
  worlds/pokemon_rb/basepatch_red.bsdiff4
  worlds/pokemon_rb/docs/setup_en.md
  worlds/pokemon_rb/items.py
  worlds/pokemon_rb/locations.py
  worlds/pokemon_rb/options.py
  worlds/pokemon_rb/regions.py
  worlds/pokemon_rb/rom.py
  worlds/pokemon_rb/rom_addresses.py
  worlds/pokemon_rb/rules.py
Labels: bug / fix

#1165 SoE: fix false positives in early sphere collection
  worlds/soe/__init__.py
Labels: bug / fix

#1133 SMZ3: completion condition fix and more info in spoiler
  worlds/smz3/TotalSMZ3/Regions/Zelda/GanonsTower.py
  worlds/smz3/__init__.py
Labels: bug / fix

#1169 Rogue Legacy: Rename `world` to `multiworld` in local variables and function signatures.
  worlds/rogue_legacy/Regions.py
  worlds/rogue_legacy/Rules.py
Labels: cleanup

#1157 Ocarina of Time: Itemlinks and bugfixes
  OoTClient.py
  data/lua/OOT/oot_connector.lua
  worlds/oot/EntranceShuffle.py
  worlds/oot/Hints.py
  worlds/oot/ItemPool.py
  worlds/oot/Items.py
  worlds/oot/LocationList.py
  worlds/oot/Options.py
  worlds/oot/Patches.py
  worlds/oot/Rules.py
  worlds/oot/__init__.py
Labels: bug / fix

#1143 MultiServer and clients: async coroutine starter in Utils.py
  CommonClient.py
  FF1Client.py
  FactorioClient.py
  MultiServer.py
  OoTClient.py
  PokemonClient.py
  SNIClient.py
  Utils.py
  ZillionClient.py
  kvui.py
Labels: bug / fix

#1215 SC2: Bugfixes for YAML Option Interactions
  worlds/sc2wol/PoolFilter.py
  worlds/sc2wol/__init__.py
Labels: bug / fix

#1231 Web/Style: Fix code block padding
  WebHostLib/static/styles/themes/dirt.css
  WebHostLib/static/styles/themes/grass-flowers.css
  WebHostLib/static/styles/themes/grass.css
  WebHostLib/static/styles/themes/ice.css
  WebHostLib/static/styles/themes/jungle.css
  WebHostLib/static/styles/themes/ocean.css
  WebHostLib/static/styles/themes/party-time.css
  WebHostLib/static/styles/themes/stone.css
Labels: webhost

#944 WebHost: Remove "Random" as an option and move to separate button in Player Settings
  WebHostLib/options.py
  WebHostLib/static/assets/player-settings.js
  WebHostLib/static/styles/player-settings.css
Labels: enhancement, webhost

#1177 Core: make early_items internal only
  BaseClasses.py
  Fill.py
  Options.py
  test/general/TestFill.py
  worlds/generic/docs/advanced_settings_en.md
  worlds/rogue_legacy/__init__.py
  worlds/sm/__init__.py
  worlds/subnautica/__init__.py
  worlds/zillion/docs/setup_en.md
  worlds/zillion/options.py
Labels: core

#1250 WebHost/Core: Defer creating slots that have patch files until after multidata is loaded and remove redundant code.
  BaseClasses.py
  WebHostLib/upload.py
Labels: bug / fix, core, webhost
