Repository ArchipelagoMW/Archipelago, pull requests merged in 2022-07, with the labels that each got.

#835 WebHost: make a deeply buried if tree for games a bit more automatic
  WebHostLib/__init__.py
  WebHostLib/templates/macros.html
Labels: blocker

#838 Migrate DKC3 to APDeltaPatch
  worlds/dkc3/Rom.py
  worlds/dkc3/__init__.py
Labels: blocker

#841 Sm broken start location fix
  worlds/sm/__init__.py
  worlds/sm/variaRandomizer/randomizer.py
Labels: bug, blocker

#847 WebHost: Add links to "Setup Guides" in Supported Games page
  WebHostLib/static/assets/tutorialLanding.js
  WebHostLib/templates/supportedGames.html
Labels: enhancement
