Repository ArchipelagoMW/Archipelago, pull requests merged in 2022-10, with the labels that each got.

#1024 SC2: make apworld compatible
  Starcraft2Client.py
  worlds/sc2wol/LogicMixin.py
  worlds/sc2wol/Regions.py
  worlds/sc2wol/__init__.py
Labels: enhancement

#1023 SC2: dynamically create Beat <mission_name> Events, preventing copy-paste errors
  worlds/sc2wol/Locations.py
Labels: bug / fix, cleanup

#1066 move output file name logic into core
  BaseClasses.py
  worlds/alttp/__init__.py
  worlds/dkc3/__init__.py
  worlds/minecraft/__init__.py
  worlds/oot/__init__.py
  worlds/sm/__init__.py
  worlds/sm64ex/__init__.py
  worlds/smw/__init__.py
  worlds/smz3/__init__.py
  worlds/soe/__init__.py
  worlds/v6/__init__.py
Labels: cleanup

#1063 WebHost: Fixed some document titles
  WebHostLib/static/assets/tutorial.js
  WebHostLib/templates/check.html
  WebHostLib/templates/generate.html
  WebHostLib/templates/hostGame.html
  WebHostLib/templates/startPlaying.html
Labels: webhost

#1078 FactorioClient: Prevent pipes from breaking on invalid UTF-8
  FactorioClient.py
Labels: bug / fix

#1072 The Witness - Expert & Hints
  worlds/witness/Options.py
  worlds/witness/WitnessItems.txt
  worlds/witness/WitnessLogic.txt
  worlds/witness/WitnessLogicExpert.txt
  worlds/witness/__init__.py
  worlds/witness/hints.py
  worlds/witness/items.py
  worlds/witness/locations.py
  worlds/witness/player_logic.py
  worlds/witness/regions.py
  worlds/witness/rules.py
  worlds/witness/settings/Audio_Logs.txt
  worlds/witness/settings/Disable_Unrandomized.txt
  worlds/witness/settings/Symbol_Shuffle.txt
  worlds/witness/static_logic.py
  worlds/witness/utils.py
Labels: enhancement

#928 SC2: Add an automated installation process for the maps and mod within SC2Client.
  Starcraft2Client.py
  worlds/sc2wol/docs/en_Starcraft 2 Wings of Liberty.md
  worlds/sc2wol/docs/setup_en.md
Labels: enhancement

#1051 core: allow string defaults in yaml templates
  WebHostLib/options.py
  WebHostLib/templates/options.yaml
Labels: bug / fix, webhost

#1077 HK: changes dreamers to skip prog balance
  worlds/hk/__init__.py
Labels: enhancement

#1080 Docs: Polished Trigger and Plando guides
  worlds/generic/docs/plando_en.md
  worlds/generic/docs/triggers_en.md
Labels: documentation

#1079 Docs/sm64ex: address common questions
  worlds/sm64ex/docs/setup_en.md
Labels: documentation

#1044 core: Generic boss plando handler
  Options.py
  test/options/TestPlandoBosses.py
  test/options/__init__.py
  worlds/alttp/Bosses.py
  worlds/alttp/Options.py
Labels: cleanup, core

#1016 [Pokemon Red and Blue] Initial implementation
  .gitignore
  Launcher.py
  PokemonClient.py
  README.md
  Utils.py
  data/lua/PKMN_RB/core.dll
  data/lua/PKMN_RB/json.lua
  data/lua/PKMN_RB/pkmn_rb.lua
  data/lua/PKMN_RB/socket.lua
  host.yaml
  inno_setup.iss
  worlds/Files.py
  worlds/pokemon_rb/LICENSE
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/basepatch_blue.bsdiff4
  worlds/pokemon_rb/basepatch_red.bsdiff4
  worlds/pokemon_rb/docs/en_Pokemon Red and Blue.md
  worlds/pokemon_rb/docs/setup_en.md
  worlds/pokemon_rb/items.py
  worlds/pokemon_rb/locations.py
  worlds/pokemon_rb/logic.py
  worlds/pokemon_rb/options.py
  worlds/pokemon_rb/poke_data.py
  worlds/pokemon_rb/regions.py
  worlds/pokemon_rb/rom.py
  worlds/pokemon_rb/rom_addresses.py
  worlds/pokemon_rb/rules.py
  worlds/pokemon_rb/text.py
Labels: new game

#1058 Hylics 2: Implement new game
  worlds/hylics2/Exits.py
  worlds/hylics2/Items.py
  worlds/hylics2/Locations.py
  worlds/hylics2/Options.py
  worlds/hylics2/Rules.py
  worlds/hylics2/__init__.py
  worlds/hylics2/docs/en_Hylics 2.md
  worlds/hylics2/docs/setup_en.md
Labels: new game

#910 [Sudoku] Added new BK mode game
  Main.py
  test/general/TestImplemented.py
  test/general/TestReachability.py
  worlds/bk_sudoku/__init__.py
  worlds/bk_sudoku/docs/en_Sudoku.md
  worlds/bk_sudoku/docs/setup_en.md
Labels: new game

#1046 Overcooked! 2: Implementation
  README.md
  test/overcooked2/TestOvercooked2.py
  test/overcooked2/__init__.py
  worlds/overcooked2/Items.py
  worlds/overcooked2/Locations.py
  worlds/overcooked2/Logic.py
  worlds/overcooked2/Options.py
  worlds/overcooked2/Overcooked2Levels.py
  worlds/overcooked2/__init__.py
  worlds/overcooked2/docs/en_Overcooked! 2.md
  worlds/overcooked2/docs/setup_en.md
Labels: new game

#1085 WebHost: Fixed scrolling to anchors
  WebHostLib/static/assets/faq.js
  WebHostLib/static/assets/gameInfo.js
  WebHostLib/static/assets/glossary.js
  WebHostLib/static/assets/tutorial.js
  WebHostLib/static/styles/themes/base.css
Labels: webhost

#1109 Main: Fill: more opportunities for swapping
  Fill.py
Labels: bug / fix

#1081 New Game: Zillion
  .gitignore
  CommonClient.py
  Launcher.py
  ModuleUpdate.py
  README.md
  Utils.py
  WebHostLib/downloads.py
  ZillionClient.py
  host.yaml
  inno_setup.iss
  test/worlds/zillion/TestGoal.py
  test/worlds/zillion/TestOptions.py
  test/worlds/zillion/__init__.py
  worlds/dkc3/Names/__init__.py
  worlds/rogue_legacy/Names/__init__.py
  worlds/zillion/__init__.py
  worlds/zillion/config.py
  worlds/zillion/docs/en_Zillion.md
  worlds/zillion/docs/setup_en.md
  worlds/zillion/id_maps.py
  worlds/zillion/item.py
  worlds/zillion/logic.py
  worlds/zillion/options.py
  worlds/zillion/patch.py
  worlds/zillion/py.typed
  worlds/zillion/region.py
  worlds/zillion/requirements.txt
Labels: new game

#1100 Fix weighted-settings to not save full set of range options to localStorage
  WebHostLib/static/assets/weighted-settings.js
Labels: bug / fix, webhost

#1083 Core: SNI Client Refactor
  CommonClient.py
  LttPAdjuster.py
  MultiServer.py
  Patch.py
  SNIClient.py
  Utils.py
  host.yaml
  worlds/AutoSNIClient.py
  worlds/alttp/Client.py
  worlds/alttp/__init__.py
  worlds/dkc3/Client.py
  worlds/dkc3/__init__.py
  worlds/sm/Client.py
  worlds/sm/__init__.py
  worlds/smw/Client.py
  worlds/smw/__init__.py
  worlds/smz3/Client.py
  worlds/smz3/__init__.py
Labels: cleanup, core

#1110 SC2: New Settings, Logic improvements
  Starcraft2Client.py
  worlds/sc2wol/Items.py
  worlds/sc2wol/Locations.py
  worlds/sc2wol/LogicMixin.py
  worlds/sc2wol/MissionTables.py
  worlds/sc2wol/Options.py
  worlds/sc2wol/PoolFilter.py
  worlds/sc2wol/Regions.py
  worlds/sc2wol/__init__.py
Labels: enhancement

#1068 Factorio: Added ability to chat from within the game.
  FactorioClient.py
  Utils.py
  host.yaml
  worlds/factorio/data/mod_template/control.lua
  worlds/factorio/docs/setup_en.md
Labels: enhancement

#1147 Factorio: revamped location system
  Utils.py
  worlds/factorio/Locations.py
  worlds/factorio/Mod.py
  worlds/factorio/Options.py
  worlds/factorio/Shapes.py
  worlds/factorio/Technologies.py
  worlds/factorio/__init__.py
  worlds/factorio/data/mod_template/data-final-fixes.lua
  worlds/factorio/data/mod_template/locale/en/locale.cfg
  worlds/factorio/data/mod_template/macros.lua
Labels: enhancement

#1140 Zillion: fix item links
  Main.py
  worlds/AutoWorld.py
  worlds/zillion/__init__.py
Labels: bug / fix

#1149 Doc: Clarify annotations in style guide
  docs/style.md
Labels: documentation

#1059 DS3: Added a few new items and locations
  worlds/dark_souls_3/Items.py
  worlds/dark_souls_3/Locations.py
  worlds/dark_souls_3/__init__.py
  worlds/dark_souls_3/data/items_data.py
  worlds/dark_souls_3/data/locations_data.py
Labels: enhancement

#1148 Rogue Legacy: World folder clean up and generation improvements.
  test/worlds/rogue_legacy/TestUnique.py
  test/worlds/rogue_legacy/__init__.py
  worlds/rogue_legacy/Items.py
  worlds/rogue_legacy/Locations.py
  worlds/rogue_legacy/Names/ItemName.py
  worlds/rogue_legacy/Names/LocationName.py
  worlds/rogue_legacy/Names/__init__.py
  worlds/rogue_legacy/Options.py
  worlds/rogue_legacy/Regions.py
  worlds/rogue_legacy/Rules.py
  worlds/rogue_legacy/Traits.py
  worlds/rogue_legacy/__init__.py
  worlds/rogue_legacy/docs/en_Rogue Legacy.md
  worlds/rogue_legacy/docs/rogue-legacy_en.md
Labels: bug / fix, cleanup
