Repository ArchipelagoMW/Archipelago, pull requests merged in 2022-09, with the labels that each got.

#984 New features and fixes for Raft
  worlds/raft/Options.py
  worlds/raft/Rules.py
  worlds/raft/__init__.py
  worlds/raft/docs/en_Raft.md
  worlds/raft/docs/setup_en.md
  worlds/raft/regions.json
Labels: bug / fix, enhancement

#1001 SC2: fix Launching Mission: text pulling the unshuffled ID.
  Starcraft2Client.py
Labels: bug / fix, blocker

#1003 MultiServer: save goal completion flag
  MultiServer.py
Labels: bug / fix

#1004 ALttP: remove link_palettes option
  LttPAdjuster.py
  worlds/alttp/Options.py
  worlds/alttp/__init__.py
Labels: cleanup

#1008 SC2: fix bitflag overflow when multiple instances of an Item are acquired
  Starcraft2Client.py
  worlds/sc2wol/Items.py
Labels: bug / fix

#1011 SC2: fix client freezing on exit while SC2 is running
  Starcraft2Client.py
Labels: bug / fix

#1022 Core: auto alias
  Options.py
  docs/world api.md
  test/webhost/TestFileGeneration.py
  worlds/alttp/Options.py
  worlds/factorio/Options.py
  worlds/hk/Options.py
  worlds/oot/Options.py
  worlds/sm/Options.py
  worlds/sm64ex/Options.py
  worlds/sm64ex/__init__.py
  worlds/smz3/Options.py
  worlds/soe/Options.py
  worlds/timespinner/Options.py
Labels: bug / fix

#728 core: new freetext and textchoice options
  BaseClasses.py
  Generate.py
  Options.py
  worlds/alttp/Bosses.py
  worlds/alttp/Options.py
  worlds/alttp/__init__.py
  worlds/alttp/docs/plando_en.md
Labels: cleanup, core

#1000 The Witness: Renaming, Options, Logic Fixes
  worlds/witness/Options.py
  worlds/witness/WitnessItems.txt
  worlds/witness/WitnessLogic.txt
  worlds/witness/__init__.py
  worlds/witness/locations.py
  worlds/witness/player_logic.py
  worlds/witness/regions.py
  worlds/witness/settings/Disable_Unrandomized.txt
  worlds/witness/settings/Door_Panel_Shuffle.txt
  worlds/witness/settings/Doors_Complex.txt
  worlds/witness/settings/Doors_Max.txt
  worlds/witness/settings/Doors_Simple.txt
  worlds/witness/settings/Early_UTM.txt
Labels: bug / fix, enhancement

#1032 SC2: Add helpful feedback when failing to locate SC2
  Starcraft2Client.py
Labels: enhancement

#1031 WebHost: CustomServer: use defaultdicts
  MultiServer.py
  WebHostLib/customserver.py
Labels: bug / fix

#1049 Doc, SoE: Logic mixin: no underscore for public members
  docs/world api.md
  worlds/soe/Logic.py
  worlds/soe/__init__.py
Labels: documentation, core

#1048 Core: Update snes9x Links
  worlds/alttp/docs/multiworld_de.md
  worlds/alttp/docs/multiworld_en.md
  worlds/alttp/docs/multiworld_es.md
  worlds/alttp/docs/multiworld_fr.md
  worlds/dkc3/docs/setup_en.md
  worlds/sm/docs/multiworld_en.md
  worlds/smz3/docs/multiworld_en.md
Labels: documentation, help wanted

#1053 Core: fix unweighted options for meta files
  Generate.py
Labels: bug / fix

#1054 Doc: update apclientpp to header-only
  docs/network protocol.md
Labels: documentation

#726 Fix minimal accessibility failures
  BaseClasses.py
  Fill.py
Labels: bug / fix

#1045 Super Mario World: Implement New Game
  Launcher.py
  Patch.py
  README.md
  SNIClient.py
  Utils.py
  host.yaml
  inno_setup.iss
  worlds/smw/Aesthetics.py
  worlds/smw/Client.py
  worlds/smw/Items.py
  worlds/smw/Levels.py
  worlds/smw/Locations.py
  worlds/smw/Names/ItemName.py
  worlds/smw/Names/LiteratureTrap.py
  worlds/smw/Names/LocationName.py
  worlds/smw/Names/TextBox.py
  worlds/smw/Options.py
  worlds/smw/Regions.py
  worlds/smw/Rom.py
  worlds/smw/Rules.py
  worlds/smw/__init__.py
  worlds/smw/docs/en_Super Mario World.md
  worlds/smw/docs/setup_en.md
Labels: new game

#1055 Doc: network protocol: clarify want_reply
  docs/network protocol.md
Labels: documentation

#1047 Core remove legacy patch
  LttPAdjuster.py
  OoTClient.py
  Patch.py
  SNIClient.py
  Utils.py
  WebHostLib/__init__.py
  WebHostLib/api/generate.py
  WebHostLib/downloads.py
  WebHostLib/tracker.py
  WebHostLib/upload.py
  data/basepatch.apbp
  data/basepatch.bsdiff4
  docs/adding games.md
  worlds/Files.py
  worlds/alttp/Rom.py
  worlds/dkc3/Rom.py
  worlds/factorio/Mod.py
  worlds/sm/Rom.py
  worlds/smw/Rom.py
  worlds/smw/__init__.py
  worlds/smz3/Rom.py
  worlds/soe/Patch.py
Labels: cleanup
