Repository ArchipelagoMW/Archipelago, pull requests merged in 2023-08, with the labels that each got.

#2019 WebHost: Adjustments to player-settings.css for better UI on small view-port widths.
  WebHostLib/static/styles/player-settings.css
Labels: is: bug/fix, affects: webhost

#2030 Undertale: Key placement fix
  UndertaleClient.py
  worlds/undertale/Items.py
  worlds/undertale/Locations.py
  worlds/undertale/Options.py
  worlds/undertale/Rules.py
  worlds/undertale/__init__.py
Labels: is: bug/fix, affects: release/blocker

#2098 Docs: Update `generate_output` docstring
  worlds/AutoWorld.py
Labels: is: documentation, affects: core

#2092 Witness: Fix for Witness plando crashes.
  worlds/witness/__init__.py
  worlds/witness/items.py
Labels: is: bug/fix

#2104 Pokemon R/B: locations accessibility fixes, etc
  worlds/pokemon_rb/__init__.py
Labels: is: bug/fix

#2107 Stardew Valley: Added rules requiring museum access to make donations
  worlds/stardew_valley/data/museum_data.py
  worlds/stardew_valley/logic.py
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/test/TestRules.py
Labels: is: bug/fix

#2075 RoR2: Move filler item creation to `get_filler_item_name`
  worlds/ror2/__init__.py
Labels: is: enhancement, is: refactor/cleanup

#1965 WebHost: Add a summary row to the Multiworld Tracker
  WebHostLib/static/assets/trackerCommon.js
  WebHostLib/static/styles/tracker.css
  WebHostLib/templates/multiTracker.html
  WebHostLib/tracker.py
Labels: is: enhancement, affects: webhost
