Repository ArchipelagoMW/Archipelago, pull requests merged in 2023-07, with the labels that each got.

#1698 Core: Add support for non dictionary iterables for `Region.add_exits`
  BaseClasses.py
  test/general/TestHelpers.py
Labels: enhancement, core

#1920 Muse Dash: Fix Rare Test Failure
  worlds/musedash/test/TestPlandoSettings.py
Labels: bug / fix

#1905 Core: update modules
  MultiServer.py
  requirements.txt
  setup.py
Labels: core

#1649 Core: Attribute per slot random directly to the World and discourage using MultiWorld's random
  BaseClasses.py
  worlds/AutoWorld.py
  worlds/alttp/test/dungeons/TestDungeon.py
  worlds/alttp/test/inverted/TestInverted.py
  worlds/alttp/test/inverted/TestInvertedBombRules.py
  worlds/alttp/test/inverted_minor_glitches/TestInvertedMinor.py
  worlds/alttp/test/inverted_owg/TestInvertedOWG.py
  worlds/alttp/test/minor_glitches/TestMinor.py
  worlds/alttp/test/owg/TestVanillaOWG.py
  worlds/alttp/test/vanilla/TestVanilla.py
  worlds/messenger/Shop.py
  worlds/messenger/__init__.py
Labels: documentation, enhancement, cleanup, core

#1798 LttP: free core of checks_in_area
  Main.py
  WebHostLib/templates/hintTable.html
  WebHostLib/templates/lttpMultiTracker.html
  WebHostLib/templates/multiTracker.html
  WebHostLib/tracker.py
  worlds/alttp/Shops.py
  worlds/alttp/__init__.py
  worlds/alttp/test/owg/TestVanillaOWG.py
  worlds/alttp/test/vanilla/TestVanilla.py
Labels: bug / fix, webhost

#1759 DOOM 1993: implement new game
  worlds/doom_1993/Events.py
  worlds/doom_1993/Items.py
  worlds/doom_1993/Locations.py
  worlds/doom_1993/Options.py
  worlds/doom_1993/Regions.py
  worlds/doom_1993/Rules.py
  worlds/doom_1993/__init__.py
  worlds/doom_1993/docs/en_DOOM 1993.md
  worlds/doom_1993/docs/setup_en.md
Labels: new game

#1927 Core: Import `random` for type hint on World.random
  worlds/AutoWorld.py
Labels: documentation

#1930 Docs: Added DOOM 1993 to the list of games in the root README.md
  README.md
Labels: documentation

#1929 SM: save and quit escape restriction and bad EscapeTrigger code fix
  worlds/sm/__init__.py
  worlds/sm/data/SMBasepatch_prebuilt/multiworld-basepatch.ips
  worlds/sm/data/SMBasepatch_prebuilt/multiworld.sym
  worlds/sm/data/SMBasepatch_prebuilt/sm-basepatch-symbols.json
Labels: bug / fix

#1837 Subnautica: revamp filler item pool
  worlds/subnautica/Exports.py
  worlds/subnautica/Items.py
  worlds/subnautica/__init__.py
  worlds/subnautica/test/__init__.py
Labels: enhancement

#1864 DS3: Dark Souls 3 Major Update/Refactor
  setup.py
  worlds/dark_souls_3/Items.py
  worlds/dark_souls_3/Locations.py
  worlds/dark_souls_3/Options.py
  worlds/dark_souls_3/__init__.py
  worlds/dark_souls_3/data/items_data.py
  worlds/dark_souls_3/data/locations_data.py
Labels: bug / fix, enhancement, cleanup

#1926 MultiServer: speed up location commands
  .github/workflows/build.yml
  .github/workflows/unittests.yml
  .gitignore
  MultiServer.py
  NetUtils.py
  _speedups.pyx
  _speedups.pyxbld
  requirements.txt
  setup.py
  test/netutils/TestLocationStore.py
  test/netutils/__init__.py
Labels: bug / fix, core

#1924 LADX: Fix being forced to farm for money, fix set iteration
  worlds/ladx/Items.py
  worlds/ladx/LADXR/patches/shop.py
  worlds/ladx/Locations.py
  worlds/ladx/__init__.py
Labels: bug / fix

#1937 Undertale: Bug fix pr
  UndertaleClient.py
  worlds/undertale/Rules.py
  worlds/undertale/__init__.py
  worlds/undertale/data/patch.bsdiff
  worlds/undertale/docs/en_Undertale.md
Labels: bug / fix

#1940 SC2: Move itempool generation logic from `generate_basic` to `create_items`.
  worlds/sc2wol/__init__.py
Labels: is: refactor/cleanup

#1939 Raft: Only modify itempool during create_items
  worlds/raft/__init__.py
Labels: is: refactor/cleanup

#1945 Setup: don't build speedups in-place, copy instead
  setup.py
Labels: is: bug/fix

#1944 MultiServer: Allow games with no locations, add checks to pure python implementation.
  NetUtils.py
  _speedups.pyx
  test/netutils/TestLocationStore.py
Labels: is: bug/fix, is: maintenance, affects: core

#1874 DS3, Docs: Add downpatching instructions to Dark Souls III setup guide
  worlds/dark_souls_3/docs/setup_en.md
Labels: is: documentation

#1928 Core: remove "names" from multidata
  Main.py
  WebHostLib/tracker.py
Labels: is: refactor/cleanup, affects: core, affects: release/blocker

#1871 Core: Add settings API ("auto settings") for host.yaml
  .github/workflows/unittests.yml
  .gitignore
  Generate.py
  Launcher.py
  Main.py
  MinecraftClient.py
  OoTClient.py
  Utils.py
  WebHost.py
  docs/settings api.md
  docs/world api.md
  host.yaml
  inno_setup.iss
  settings.py
  setup.py
  test/programs/TestGenerate.py
  worlds/AutoWorld.py
  worlds/adventure/__init__.py
  worlds/alttp/__init__.py
  worlds/dkc3/__init__.py
  worlds/factorio/__init__.py
  worlds/ff1/__init__.py
  worlds/ladx/__init__.py
  worlds/lufia2ac/__init__.py
  worlds/minecraft/__init__.py
  worlds/mmbn3/__init__.py
  worlds/oot/__init__.py
  worlds/pokemon_rb/__init__.py
  worlds/sm/__init__.py
  worlds/smw/__init__.py
  worlds/soe/__init__.py
  worlds/tloz/__init__.py
  worlds/wargroove/__init__.py
  worlds/zillion/__init__.py
Labels: is: documentation, is: enhancement, is: refactor/cleanup, affects: core

#1862 WebHost: Fix docs generation from a .apworld
  WebHost.py
Labels: is: bug/fix, affects: webhost

#1617 SMZ3: Fixed Ganon sign text on AllDungeonsDefeatMotherBrain goal
  worlds/smz3/TotalSMZ3/Patch.py
Labels: is: bug/fix

#1950 SMZ3: update to upstream version 11.3.1 and item link fix
  worlds/smz3/TotalSMZ3/Patch.py
  worlds/smz3/TotalSMZ3/Regions/Zelda/GanonsTower.py
  worlds/smz3/__init__.py
Labels: is: bug/fix, is: maintenance, is: refactor/cleanup

#1946 RoR2: fix event exits for dlc stages
  worlds/ror2/Regions.py
Labels: is: bug/fix

#1883 Blasphemous: Randomizer 2.0
  setup.py
  worlds/blasphemous/Exits.py
  worlds/blasphemous/Items.py
  worlds/blasphemous/Locations.py
  worlds/blasphemous/Options.py
  worlds/blasphemous/Rooms.py
  worlds/blasphemous/Rules.py
  worlds/blasphemous/Vanilla.py
  worlds/blasphemous/__init__.py
  worlds/blasphemous/docs/setup_en.md
Labels: is: enhancement

#1913 Docs, StS: Document setup for Slay the Spire GOG/Game Pass installations
  worlds/spire/docs/slay-the-spire_en.md
Labels: is: documentation

#1957 The Witness: Add Quarry Stoneworks Control Room Left to the hint pool
  worlds/witness/hints.py
Labels: is: documentation

#1948 OoT: Python 3.11 Compatibility fix and Minor Bug fixes
  worlds/oot/Cosmetics.py
  worlds/oot/Items.py
Labels: is: bug/fix, affects: release/blocker

#1934 LADX: Client Fixes
  LinksAwakeningClient.py
  data/lua/socket.lua
  worlds/ladx/__init__.py
Labels: is: bug/fix

#1923 Core: Region connection helpers
  BaseClasses.py
  docs/world api.md
Labels: is: enhancement, affects: core

#1951 WebHost: Update copyright year in footer.
  WebHostLib/templates/islandFooter.html
Labels: is: maintenance, affects: webhost

#1955 HK: Fix bugs and update setup guide for Scarab+ and XBox Game Pass support
  worlds/hk/Options.py
  worlds/hk/__init__.py
  worlds/hk/docs/setup_en.md
Labels: is: bug/fix, is: documentation

#1967 SM64: Verbosify SM64 documentation
  worlds/sm64ex/docs/setup_en.md
Labels: is: documentation

#1942 SMW: Move item creation earlier
  worlds/smw/__init__.py
Labels: is: refactor/cleanup

#1941 DKC3: Move item creation earlier
  worlds/dkc3/__init__.py
Labels: is: refactor/cleanup

#1932 LADX: Add Hints
  worlds/ladx/LADXR/generator.py
  worlds/ladx/LADXR/hints.py
  worlds/ladx/__init__.py
Labels: is: enhancement

#1947 Installer: Add desktop and start menu shortcuts for Launcher and LADX Client
  inno_setup.iss
Labels: is: enhancement

#1974 SA2B: Add link to location guide into Game Page
  worlds/sa2b/docs/en_Sonic Adventure 2 Battle.md
Labels: is: documentation

#1962 Witness: Add junk hints for new games
  worlds/witness/hints.py
Labels: is: enhancement

#1405 Terraria: Implement New Game
  README.md
  worlds/terraria/Checks.py
  worlds/terraria/Options.py
  worlds/terraria/Rewards.dsv
  worlds/terraria/Rules.dsv
  worlds/terraria/__init__.py
  worlds/terraria/docs/en_Terraria.md
  worlds/terraria/docs/setup_en.md
Labels: is: new game

#1972 Noita: Implement Extra Orbs, Shop Price Reduction, and some slight region tweaks
  worlds/noita/Items.py
  worlds/noita/Locations.py
  worlds/noita/Options.py
  worlds/noita/Regions.py
  worlds/noita/Rules.py
  worlds/noita/__init__.py
Labels: is: enhancement

#1988 MMBN3, Pokemon RB: Fix Incorrect Import
  worlds/mmbn3/Rom.py
  worlds/pokemon_rb/rom.py
Labels: is: bug/fix, is: refactor/cleanup

#1980 Muse Dash: Update code to use some newer API
  worlds/musedash/__init__.py
Labels: is: refactor/cleanup

#1975 The Messenger: Fix location access for Figurine Shop Locations
  worlds/messenger/SubClasses.py
Labels: is: bug/fix

#1953 The Witness: Item loading refactor.
  worlds/witness/Options.py
  worlds/witness/WitnessItems.txt
  worlds/witness/__init__.py
  worlds/witness/items.py
  worlds/witness/locations.py
  worlds/witness/player_logic.py
  worlds/witness/rules.py
  worlds/witness/static_logic.py
  worlds/witness/utils.py
Labels: is: refactor/cleanup

#1966 Undertale: Change Save Data Folder Location
  UndertaleClient.py
  worlds/undertale/docs/undertale_en.md
Labels: is: documentation, is: enhancement

#1990 Witness: (Fatal) Fix incorrect reference due to a faulty merge conflict
  worlds/witness/__init__.py
Labels: is: bug/fix

#1989 Clique: Refactors and Additional Features supported by v1.5
  worlds/clique/Items.py
  worlds/clique/Locations.py
  worlds/clique/Options.py
  worlds/clique/Regions.py
  worlds/clique/Rules.py
  worlds/clique/__init__.py
  worlds/clique/docs/en_Clique.md
  worlds/clique/docs/guide_en.md
Labels: is: enhancement, is: refactor/cleanup

#1992 Stardew Valley: Fixed Leo's Treehouse being randomized too aggressively
  worlds/stardew_valley/logic.py
  worlds/stardew_valley/regions.py
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/test/TestRegions.py
Labels: is: bug/fix

#1993 Witness: Yeah let's not sort the entire multiworld's itempool lol
  worlds/witness/__init__.py
Labels: is: refactor/cleanup

#1911 HK: apworld support on 3.10+
  setup.py
Labels: is: bug/fix

#1991 Witness: Fix type hints being incompatible with 3.8
  worlds/witness/__init__.py
  worlds/witness/items.py
  worlds/witness/player_logic.py
  worlds/witness/static_logic.py
  worlds/witness/utils.py
Labels: is: bug/fix

#1983 DS3: Accessibility error fix
  worlds/dark_souls_3/Locations.py
  worlds/dark_souls_3/__init__.py
Labels: is: bug/fix

#2003 MMBN3: Fixes crash when checking certain locations
  worlds/mmbn3/BN3RomUtils.py
  worlds/mmbn3/Rom.py
Labels: is: bug/fix

#2001 Factorio: fix multitracker ID misalignment
  WebHostLib/templates/multiFactorioTracker.html
  WebHostLib/tracker.py
Labels: is: bug/fix, affects: webhost

#2004 Stardew Valley: Turned the Treehouse into an unlockable item
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/data/items.csv
  worlds/stardew_valley/items.py
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/test/TestOptions.py
Labels: is: bug/fix, is: enhancement

#2005 The Messenger: Update Docs for latest release
  worlds/messenger/docs/en_The Messenger.md
  worlds/messenger/docs/setup_en.md
Labels: is: documentation

#1973 DOOM 1993: Better region logics/rules, balancing, level exits
  worlds/doom_1993/Events.py
  worlds/doom_1993/Items.py
  worlds/doom_1993/Locations.py
  worlds/doom_1993/Maps.py
  worlds/doom_1993/Options.py
  worlds/doom_1993/Regions.py
  worlds/doom_1993/Rules.py
  worlds/doom_1993/__init__.py
Labels: is: bug/fix, is: enhancement, is: refactor/cleanup

#1995 Terraria: Fix Lunatic Cultist goal immediately awarded
  worlds/terraria/Rules.dsv
Labels: is: bug/fix

#1952 Core: Add display name for `item_links` Option.
  Options.py
Labels: is: documentation, is: refactor/cleanup, affects: core

#1954 Generate: Change yaml is destroyed to yaml is invalid
  Generate.py
Labels: is: documentation, affects: core

#1996 Undertale: Doc updates and client bug fixes.
  UndertaleClient.py
  worlds/undertale/Locations.py
  worlds/undertale/Options.py
  worlds/undertale/Rules.py
  worlds/undertale/__init__.py
  worlds/undertale/data/patch.bsdiff
  worlds/undertale/docs/en_Undertale.md
  worlds/undertale/docs/undertale_en.md
Labels: is: bug/fix

#1687 The Messenger: use the new region helpers
  worlds/messenger/SubClasses.py
  worlds/messenger/__init__.py
Labels: is: refactor/cleanup

#1971 lufia2ac: code cleanup
  worlds/lufia2ac/__init__.py
  worlds/lufia2ac/basepatch/basepatch.asm
  worlds/lufia2ac/basepatch/basepatch.bsdiff4
Labels: is: refactor/cleanup

#1938 StS: Update location table and move item creation to `create_items` from `generate_basic`.
  worlds/spire/Items.py
  worlds/spire/Locations.py
  worlds/spire/Rules.py
  worlds/spire/__init__.py
Labels: is: refactor/cleanup

#1961 docs: mention all item classifications
  docs/world api.md
Labels: is: documentation

#2007 DOOM 1993: Fixed bad level exit regions
  worlds/doom_1993/Locations.py
Labels: is: bug/fix

#2015 Stardew Valley: Fix typo with woods obelisk item
  worlds/stardew_valley/data/items.csv
  worlds/stardew_valley/items.py
  worlds/stardew_valley/mods/logic/deepwoods.py
Labels: is: bug/fix

#2010 DOOM 1993: Added Episode 4. Game is now complete
  worlds/doom_1993/Items.py
  worlds/doom_1993/Locations.py
  worlds/doom_1993/Maps.py
  worlds/doom_1993/Options.py
  worlds/doom_1993/Regions.py
  worlds/doom_1993/Rules.py
  worlds/doom_1993/__init__.py
Labels: is: enhancement

#2018 Factorio: update required_client_version
  worlds/factorio/__init__.py
Labels: is: maintenance

#2020 Setup: allow user to auto launch the launcher, so they can conveniently launch things when the setup is done.
  inno_setup.iss
Labels: is: enhancement

#2017 DS3: move an items location from RC -> DH
  worlds/dark_souls_3/Locations.py
  worlds/dark_souls_3/__init__.py
Labels: is: refactor/cleanup

#1963 Pokémon Red and Blue: Version 4 update
  PokemonClient.py
  setup.py
  worlds/pokemon_rb/LICENSE
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/basepatch_blue.bsdiff4
  worlds/pokemon_rb/basepatch_red.bsdiff4
  worlds/pokemon_rb/docs/en_Pokemon Red and Blue.md
  worlds/pokemon_rb/encounters.py
  worlds/pokemon_rb/items.py
  worlds/pokemon_rb/level_scaling.py
  worlds/pokemon_rb/locations.py
  worlds/pokemon_rb/logic.py
  worlds/pokemon_rb/options.py
  worlds/pokemon_rb/poke_data.py
  worlds/pokemon_rb/pokemon.py
  worlds/pokemon_rb/regions.py
  worlds/pokemon_rb/rom.py
  worlds/pokemon_rb/rom_addresses.py
  worlds/pokemon_rb/rules.py
  worlds/pokemon_rb/text.py
Labels: is: enhancement, affects: core

#2024 CI: remove cython3 beta testing
  .github/workflows/unittests.yml
Labels: is: maintenance

#2028 Stardew valley: backpack fix
  worlds/stardew_valley/docs/en_Stardew Valley.md
  worlds/stardew_valley/items.py
  worlds/stardew_valley/locations.py
  worlds/stardew_valley/test/TestBackpack.py
  worlds/stardew_valley/test/TestOptions.py
  worlds/stardew_valley/test/mods/TestBiggerBackpack.py
  worlds/stardew_valley/test/mods/TestMods.py
  worlds/stardew_valley/test/mods/__init__.py
Labels: is: bug/fix, affects: release/blocker

#2023 Core: trace error to player, if possible.
  worlds/AutoWorld.py
Labels: is: enhancement, affects: core

#2029 The Messenger: Improve the shopping experience
  worlds/messenger/Shop.py
  worlds/messenger/SubClasses.py
  worlds/messenger/__init__.py
  worlds/messenger/test/TestShop.py
  worlds/messenger/test/TestShopChest.py
Labels: is: enhancement

#2027 HK: Fix typo in LEFTSLASH
  worlds/hk/__init__.py
Labels: is: bug/fix

#2031 Witness: Fixing a world bleed issue with multiple Witness seeds, preventing generation
  worlds/witness/items.py
Labels: is: bug/fix

#2013 The Witness: Make the path behind Keep Pressure Plates 2 logical in Vanilla and Normal
  worlds/witness/WitnessLogic.txt
  worlds/witness/WitnessLogicVanilla.txt
Labels: is: enhancement

#2011 LADX: Fix getting old items over and over again in Bizhawk
  LinksAwakeningClient.py
  data/lua/connector_ladx_bizhawk.lua
Labels: is: bug/fix

#1901 Docs: Create `CODEOWNERS` document for tracking world maintainers.
  docs/CODEOWNERS
  docs/world maintainer.md
Labels: is: documentation

#2042 Pokemon RB: apworld fixes
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/rom.py
  worlds/pokemon_rb/rules.py
Labels: is: bug/fix, affects: release/blocker

#2039 Witness: Add Exempt-Medic to the in-game credits hint
  worlds/witness/__init__.py
Labels: is: documentation

#2035 MultiServer: fix unclosed parenthesis in connection message
  MultiServer.py
Labels: is: bug/fix, affects: core

#2043 Witness: Fix 2 generation crashes
  worlds/witness/__init__.py
  worlds/witness/items.py
  worlds/witness/player_logic.py
Labels: is: bug/fix

#2034 CommonClient: fix 0.4.2 EnergyLink datastore key
  CommonClient.py
Labels: is: bug/fix, affects: core

#2044 Core: Set locality rules after `set_rules` stage.
  Main.py
Labels: is: bug/fix, affects: core

#2038 Stardew valley: Supported Mods documentation and changes required for legal reasons
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/docs/en_Stardew Valley.md
  worlds/stardew_valley/docs/setup_en.md
  worlds/stardew_valley/mods/mod_data.py
Labels: is: documentation, is: maintenance

#2047 Muse Dash: Add songs from Cosmic Radio Update
  worlds/musedash/MuseDashData.txt
Labels: is: enhancement

#2053 Settings: change/fix tests behavior
  settings.py
  test/__init__.py
  test/general/TestHostYAML.py
Labels: is: bug/fix

#2050 LADX: Fix hints crash
  worlds/ladx/LADXR/generator.py
Labels: is: bug/fix

#2021 LADX: Add rooster option
  worlds/ladx/Options.py
Labels: is: enhancement

#2052 MultiServer: fix wrong missing for empty state w/o speedups and add/fix tests
  NetUtils.py
  test/netutils/TestLocationStore.py
Labels: is: bug/fix

#2054 Speedups: ignore warning C4551 for pyximport+MSVC
  _speedups.pyx
Labels: is: refactor/cleanup

#2058 DLCQuest: Add missing gun law
  worlds/dlcquest/Rules.py
Labels: is: bug/fix

#2033 DOOM 1993: Include only regions/rules for selected episodes
  worlds/doom_1993/Options.py
  worlds/doom_1993/Regions.py
  worlds/doom_1993/Rules.py
  worlds/doom_1993/__init__.py
Labels: is: enhancement

#2006 Stardew Valley: Remove some duplicate code in tests
  worlds/stardew_valley/test/__init__.py
Labels: is: refactor/cleanup

#2045 TLoZ: Setup doc update
  worlds/tloz/docs/multiworld_en.md
Labels: is: documentation

#2036 Core: Add dict functionality to OptionDict
  Options.py
Labels: is: enhancement, affects: core

#1919 alttp: Add fill_slot_data function
  worlds/alttp/__init__.py
Labels: is: enhancement

#2063 Plando: fix automatic locations only working for the first world
  BaseClasses.py
Labels: is: bug/fix, affects: core
