Repository ArchipelagoMW/Archipelago, pull requests merged in 2023-12, with the labels that each got.

#2348 Docs: Add documentation on writing and running tests
  docs/contributing.md
  docs/tests.md
  docs/world api.md
Labels: is: documentation

#2547 WebHost: flash each message only once
  WebHostLib/templates/pageWrapper.html
Labels: is: bug/fix, affects: webhost

#2540 Webhost: fix options page redirects
  WebHostLib/templates/supportedGames.html
Labels: is: bug/fix, affects: release/blocker, affects: webhost

#2556 Fix bug with Webhost and LADX sprites
  worlds/ladx/Options.py
Labels: is: bug/fix

#2537 lufia2ac: fix disappearing Ancient key
  worlds/lufia2ac/basepatch/basepatch.asm
  worlds/lufia2ac/basepatch/basepatch.bsdiff4
Labels: is: bug/fix

#2565 The Witness: Fix logic error with Symmetry Island Upper in doors: panels (broken seed reported)
  worlds/witness/player_logic.py
Labels: is: bug/fix

#2546 sm64ex: Refactor Regions and BBH clock fix.
  worlds/sm64ex/Regions.py
  worlds/sm64ex/Rules.py
  worlds/sm64ex/__init__.py
Labels: is: bug/fix, is: refactor/cleanup

#2564 The Witness: Add all the Challenge panels to Challenge exclusion list
  worlds/witness/settings/Postgame/Challenge_Vault_Box.txt
Labels: is: refactor/cleanup

#2534 Zillion: some typing fixes
  ZillionClient.py
  worlds/zillion/__init__.py
  worlds/zillion/logic.py
  worlds/zillion/test/__init__.py
Labels: is: refactor/cleanup

#2554 WebHost: fix room shutdown
  WebHostLib/customserver.py
Labels: affects: release/blocker, affects: webhost

#2568 FFMQ: Update to FFMQR 1.5
  worlds/ffmq/Items.py
  worlds/ffmq/Options.py
  worlds/ffmq/Output.py
  worlds/ffmq/__init__.py
  worlds/ffmq/data/entrances.yaml
  worlds/ffmq/data/rooms.yaml
  worlds/ffmq/data/settings.yaml
Labels: is: enhancement

#2499 The Witness: Fix unreachable locations on certain settings (Keep PP2 EP, Theater Flowers EP)
  worlds/witness/player_logic.py
  worlds/witness/regions.py
  worlds/witness/rules.py
Labels: is: bug/fix, affects: release/blocker

#2542 The Messenger: remove old links and update relevant ones in docs
  worlds/messenger/docs/en_The Messenger.md
  worlds/messenger/docs/setup_en.md
Labels: is: documentation

#2544 The Messenger: bump required client version
  worlds/messenger/__init__.py
Labels: is: bug/fix, is: maintenance

#2572 The Witness: Fix Symmetry Island Upper Panel logic (2nd try)
  worlds/witness/player_logic.py
Labels: is: bug/fix

#2578 TLOZ: Fix starting weapon possibly getting overwritten by triforce fragments
  worlds/tloz/ItemPool.py
Labels: is: bug/fix

#2587 Factorio: fix wrong parent class for FactorioStartItems
  worlds/factorio/Options.py
Labels: is: bug/fix

#2530 KH2: RC1 Bug Fixes
  worlds/kh2/Client.py
  worlds/kh2/Rules.py
  worlds/kh2/__init__.py
Labels: is: bug/fix, affects: release/blocker

#2574 SMZ3: KeyTH check fix
  worlds/smz3/TotalSMZ3/Patch.py
Labels: is: bug/fix

#2524 Pokémon R/B: Fix Silph Co 6F Hostage
  worlds/pokemon_rb/basepatch_blue.bsdiff4
  worlds/pokemon_rb/basepatch_red.bsdiff4
  worlds/pokemon_rb/rom_addresses.py
Labels: is: bug/fix

#2519 Factorio: remove staging folder for mod assembly
  worlds/factorio/Mod.py
Labels: is: bug/fix, affects: release/blocker

#2518 RoR2: Remove begin with loop
  worlds/ror2/__init__.py
  worlds/ror2/options.py
Labels: is: bug/fix

#2506 Lingo: Fix entrance checking being broken on default settings
  worlds/lingo/__init__.py
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/ids.yaml
  worlds/lingo/player_logic.py
  worlds/lingo/regions.py
  worlds/lingo/rules.py
  worlds/lingo/utils/validate_config.rb
Labels: is: bug/fix, affects: release/blocker

#2583 sm64ex: Fix generations
  worlds/sm64ex/Regions.py
  worlds/sm64ex/Rules.py
Labels: is: bug/fix, affects: release/blocker

#2515 The Witness: Fix Logic Error for Keep Pressure Plates 2 EP in puzzle_randomization: none
  worlds/witness/WitnessLogicVanilla.txt
  worlds/witness/items.py
Labels: is: bug/fix

#2514 The Witness: Fix non-deterministic hints
  worlds/witness/hints.py
Labels: is: bug/fix

#2551 Core: update modules
  WebHostLib/requirements.txt
  requirements.txt
Labels: affects: core

#2579 Core: remove start_inventory_from_pool from early_items
  Main.py
Labels: is: bug/fix, affects: core

#2575 Tests: test that the datapackage after generation is still valid
  test/general/test_ids.py
Labels: is: enhancement, affects: core

#2591 FFMQR: Fix Empty Kaeli Companion Event Location and Spellbook option
  worlds/ffmq/Regions.py
Labels: is: bug/fix, affects: release/blocker

#2595 Hollow Knight: remove unused option check
  worlds/hk/__init__.py
Labels: is: bug/fix

#2549 WebHost: Some refactors and additional checks when uploading files.
  WebHostLib/check.py
  WebHostLib/upload.py
Labels: is: bug/fix, is: refactor/cleanup, affects: webhost

#2596 Pokémon R/B: Fix import
  worlds/pokemon_rb/client.py
Labels: is: bug/fix

#2604 PEP8 current option_groups progress
  Options.py
  WebHostLib/misc.py
  WebHostLib/options.py
  docs/options api.md
Labels: is: refactor/cleanup, affects: core, affects: webhost

#2594 FFMQ: Actually fix the spellbook option
  worlds/ffmq/Options.py
  worlds/ffmq/data/settings.yaml
Labels: is: bug/fix

#2605 SA2B: Fix Weapons Bed - Omochao 2 Logic
  worlds/sa2b/Rules.py
Labels: is: bug/fix

#2597 SM: item link replacement fix
  worlds/sm/variaRandomizer/rando/GraphBuilder.py
Labels: is: bug/fix

#2378 Options: set old options api before the world is created
  BaseClasses.py
  Utils.py
  worlds/AutoWorld.py
Labels: is: bug/fix, affects: core, affects: release/blocker

#2560 Adventure: Fix KeyError on Retrieved
  AdventureClient.py
Labels: is: bug/fix, affects: release/blocker

#2580 Webhost: open graph support for /room
  WebHostLib/templates/hostRoom.html
Labels: affects: webhost

#2545 Hollow Knight: Add additional DeathLink option and add ExtraPlatforms option.
  worlds/hk/Options.py
Labels: is: enhancement

#2615 Pokémon R/B: Flash forced-learnable logic fix
  worlds/pokemon_rb/__init__.py
Labels: is: bug/fix

#2602 Lingo: Tests no longer disable forced good item
  worlds/lingo/__init__.py
  worlds/lingo/player_logic.py
  worlds/lingo/test/TestDoors.py
  worlds/lingo/test/TestOrangeTower.py
  worlds/lingo/test/TestProgressive.py
  worlds/lingo/test/__init__.py
  worlds/lingo/testing.py
Labels: is: bug/fix

#2522 Core: make update_reachable_regions local variables more wordy
  BaseClasses.py
Labels: is: refactor/cleanup, affects: core

#2603 Factorio: fix files from mod base directory not being grabbed correctly in non-apworld
  worlds/factorio/Mod.py
Labels: is: bug/fix

#2613 Factorio: Fix unbeatable seeds where a science pack needs chemical plant
  worlds/factorio/__init__.py
Labels: is: bug/fix

#2638 Hylics 2: Add missing logic
  worlds/hylics2/Rules.py
Labels: is: bug/fix

#2637 sm64ex: Fix randomizing Courses and Secrets separately
  worlds/sm64ex/Rules.py
Labels: is: bug/fix

#2628 Pokémon R/B: Badge Plando Fix
  worlds/pokemon_rb/__init__.py
Labels: is: bug/fix

#2623 [TLOZ] Fix bug with item drops in non-expanded item pool
  worlds/tloz/__init__.py
Labels: is: bug/fix

#2517 Pokemon Emerald: Change "settings" to "options" in docs
  worlds/pokemon_emerald/docs/en_Pokemon Emerald.md
  worlds/pokemon_emerald/docs/setup_en.md
Labels: is: documentation

#2394 Oot : Update setup fr
  worlds/oot/docs/setup_fr.md
Labels: is: documentation

#2630 The Witness: Fix an instance of multiworld.random being used
  worlds/witness/__init__.py
Labels: is: bug/fix

#2620 TLOZ: Try accounting for non_local_items with the pool of starting weapons
  worlds/tloz/ItemPool.py
Labels: is: bug/fix

#2608 Noita: Don't allow impossible slot names
  worlds/noita/__init__.py
  worlds/noita/docs/setup_en.md
Labels: is: documentation

#2588 Factorio: "improve" default start items
  worlds/factorio/Options.py
Labels: is: enhancement

#2550 Docs: Add missing Get location_name_groups_* to network protocol
  docs/network protocol.md
Labels: is: documentation

#2611 SMZ3: optimized message queues
  worlds/smz3/Client.py
  worlds/smz3/__init__.py
  worlds/smz3/data/zsm.ips
Labels: is: bug/fix
