Repository ArchipelagoMW/Archipelago, pull requests merged in 2023-11, with the labels that each got.

#2338 Docs: Terraria Setup Guide added information about the Upgraded Research Mod
  worlds/terraria/docs/setup_en.md
Labels: is: documentation

#2411 OoT: fix enhanced_map_compass generation failure
  worlds/oot/Patches.py
Labels: is: bug/fix

#2407 Core: make state.prog_items a `Dict[int, Counter[str]]`
  BaseClasses.py
  test/general/test_fill.py
  worlds/AutoWorld.py
  worlds/alttp/UnderworldGlitchRules.py
  worlds/alttp/__init__.py
  worlds/archipidle/Rules.py
  worlds/dlcquest/Rules.py
  worlds/dlcquest/__init__.py
  worlds/hk/__init__.py
  worlds/ladx/Locations.py
  worlds/ladx/__init__.py
  worlds/messenger/__init__.py
  worlds/oot/__init__.py
  worlds/smz3/__init__.py
  worlds/stardew_valley/test/TestRules.py
Labels: is: refactor/cleanup, affects: core

#2419 SM: fix missed SMWorld.spheres in #2400
  worlds/sm/__init__.py
Labels: is: bug/fix

#2358 AppImage: allow loading apworlds from ~/Archipelago and copy scripts
  Utils.py
  worlds/__init__.py
Labels: is: maintenance, affects: core

#2405 Core: Running item Plando dot
  Main.py
Labels: is: refactor/cleanup, affects: core

#2423 DLC Quest Stardew bug
  worlds/dlcquest/__init__.py
Labels: is: bug/fix

#2421 The Witness: Fix Town Tower 4th Door Logic in disable_non_randomized (unbeatable seed reported)
  worlds/witness/settings/Disable_Unrandomized.txt
Labels: is: bug/fix

#2422 Factorio: inflate location pool
  worlds/factorio/Locations.py
  worlds/factorio/__init__.py
Labels: is: enhancement

#2435 Docs, Undertale: Added Suggestions Missed in #2285
  UndertaleClient.py
  worlds/undertale/docs/en_Undertale.md
Labels: is: documentation

#2392 CommonClient: Add a hints tab
  CommonClient.py
  data/client.kv
  kvui.py
Labels: is: enhancement

#2402 Tests: log the seed for slot_data failures
  test/general/test_implemented.py
Labels: is: refactor/cleanup

#2436 Undertale: Logic fixes
  worlds/undertale/Regions.py
  worlds/undertale/Rules.py
Labels: is: bug/fix

#2273 SC2: 0.4.3 bugfixes
  worlds/sc2wol/Client.py
  worlds/sc2wol/Locations.py
  worlds/sc2wol/Options.py
  worlds/sc2wol/PoolFilter.py
  worlds/sc2wol/Starcraft2.kv
  worlds/sc2wol/__init__.py
Labels: is: bug/fix

#1806 Lingo: New game
  README.md
  docs/CODEOWNERS
  worlds/lingo/LL1.yaml
  worlds/lingo/__init__.py
  worlds/lingo/docs/en_Lingo.md
  worlds/lingo/docs/setup_en.md
  worlds/lingo/ids.yaml
  worlds/lingo/items.py
  worlds/lingo/locations.py
  worlds/lingo/options.py
  worlds/lingo/player_logic.py
  worlds/lingo/regions.py
  worlds/lingo/rules.py
  worlds/lingo/static_logic.py
  worlds/lingo/test/TestDoors.py
  worlds/lingo/test/TestMastery.py
  worlds/lingo/test/TestOptions.py
  worlds/lingo/test/TestOrangeTower.py
  worlds/lingo/test/TestProgressive.py
  worlds/lingo/test/__init__.py
  worlds/lingo/testing.py
  worlds/lingo/utils/assign_ids.rb
  worlds/lingo/utils/validate_config.rb
Labels: is: new game

#2439 Raft: Use world.random instead of global random
  worlds/raft/__init__.py
Labels: is: bug/fix

#2441 Lingo: Fix edge case painting shuffle accessibility issues
  worlds/lingo/LL1.yaml
  worlds/lingo/player_logic.py
  worlds/lingo/static_logic.py
Labels: is: bug/fix

#2442 Lingo: Removed "Reached" event items
  worlds/lingo/player_logic.py
  worlds/lingo/rules.py
Labels: is: refactor/cleanup

#2444 Factorio: skip a bunch of file IO
  worlds/factorio/Mod.py
  worlds/factorio/data/mod/info.json
Labels: is: refactor/cleanup

#2414 The Messenger: fix logic rule for spike darts and power seal hunt
  worlds/messenger/__init__.py
  worlds/messenger/regions.py
  worlds/messenger/rules.py
  worlds/messenger/subclasses.py
  worlds/messenger/test/test_shop_chest.py
Labels: is: bug/fix

#2409 World, WebHost: Allow worlds to provide item and location descriptions
  WebHostLib/options.py
  WebHostLib/static/assets/weighted-options.js
  docs/world api.md
  test/bases.py
  worlds/AutoWorld.py
  worlds/dark_souls_3/Items.py
  worlds/dark_souls_3/__init__.py
Labels: is: enhancement, affects: webhost

#2446 WebHost: Sort tracker last activity 'None' as maximum instead of -1
  WebHostLib/static/assets/trackerCommon.js
Labels: is: refactor/cleanup, affects: webhost

#2397 Fill: fix swap error found in CI
  Fill.py
  test/general/test_fill.py
Labels: is: bug/fix, affects: core

#1813 Pokemon Emerald: Implement New Game
  .gitignore
  README.md
  docs/CODEOWNERS
  inno_setup.iss
  worlds/pokemon_emerald/LICENSE
  worlds/pokemon_emerald/README.md
  worlds/pokemon_emerald/__init__.py
  worlds/pokemon_emerald/client.py
  worlds/pokemon_emerald/data.py
  worlds/pokemon_emerald/data/README.md
  worlds/pokemon_emerald/data/base_patch.bsdiff4
  worlds/pokemon_emerald/data/extracted_data.json
  worlds/pokemon_emerald/data/items.json
  worlds/pokemon_emerald/data/locations.json
  worlds/pokemon_emerald/data/regions/cities.json
  worlds/pokemon_emerald/data/regions/dungeons.json
  worlds/pokemon_emerald/data/regions/routes.json
  worlds/pokemon_emerald/data/regions/unused/battle_frontier.json
  worlds/pokemon_emerald/data/regions/unused/dungeons.json
  worlds/pokemon_emerald/data/regions/unused/islands.json
  worlds/pokemon_emerald/data/regions/unused/routes.json
  worlds/pokemon_emerald/docs/en_Pokemon Emerald.md
  worlds/pokemon_emerald/docs/setup_en.md
  worlds/pokemon_emerald/items.py
  worlds/pokemon_emerald/locations.py
  worlds/pokemon_emerald/options.py
  worlds/pokemon_emerald/pokemon.py
  worlds/pokemon_emerald/regions.py
  worlds/pokemon_emerald/rom.py
  worlds/pokemon_emerald/rules.py
  worlds/pokemon_emerald/sanity_check.py
  worlds/pokemon_emerald/test/__init__.py
  worlds/pokemon_emerald/test/test_accessibility.py
  worlds/pokemon_emerald/test/test_warps.py
  worlds/pokemon_emerald/util.py
Labels: is: new game

#2455 Installer: Fix invalid component error in inno_setup.iss
  inno_setup.iss
Labels: is: bug/fix, affects: core

#2454 Lingo: Made entrance names unique
  worlds/lingo/regions.py
Labels: is: bug/fix, is: refactor/cleanup

#2443 Core: limit parallel APContainer writing
  worlds/Files.py
Labels: is: refactor/cleanup, affects: core

#2440 Core: update modules
  requirements.txt
  setup.py
Labels: is: maintenance, affects: core

#2404 Core: limit perf logger to 4 post-point places
  worlds/AutoWorld.py
Labels: is: refactor/cleanup, affects: core

#2424 LttP: write fairy bottle fill to spoiler and prevent fart in a bottle
  worlds/alttp/Rom.py
  worlds/alttp/__init__.py
Labels: is: enhancement

#2458 Setup: fix orjson import on frozen py3.8
  setup.py
Labels: is: bug/fix, affects: core

#2456 lufia2ac: improve performance of access rules
  worlds/lufia2ac/__init__.py
Labels: is: refactor/cleanup

#2449 Factorio: Update Research Graphics
  worlds/factorio/data/mod/graphics/icons/ap.png
  worlds/factorio/data/mod/graphics/icons/ap_unimportant.png
Labels: is: enhancement

#2350 CommonClient: make IncompatibleVersion more explicit.
  CommonClient.py
Labels: is: refactor/cleanup, affects: core

#2462 Core: relax typing hints on has_all and has_any
  BaseClasses.py
Labels: is: refactor/cleanup, affects: core

#2460 Hylics 2: Unique entrance names, fix APWorld on 3.8
  worlds/hylics2/__init__.py
Labels: is: bug/fix

#2450 core: fix item/location descriptions test
  test/bases.py
  test/general/test_items.py
  test/general/test_locations.py
Labels: is: bug/fix, affects: core

#2384 Docs: minor updates to recommend modern PEP8
  docs/apworld specification.md
  docs/options api.md
  docs/world api.md
Labels: is: documentation

#2278 Docs: Rework of Contributing.md
  docs/contributing.md
Labels: is: documentation

#2429 Core: check that location address is unique per player
  Main.py
Labels: is: enhancement, affects: core

#2277 SA2B: v2.3 - The Chao Update
  worlds/sa2b/AestheticData.py
  worlds/sa2b/GateBosses.py
  worlds/sa2b/Items.py
  worlds/sa2b/Locations.py
  worlds/sa2b/Missions.py
  worlds/sa2b/Names/ItemName.py
  worlds/sa2b/Names/LocationName.py
  worlds/sa2b/Options.py
  worlds/sa2b/Regions.py
  worlds/sa2b/Rules.py
  worlds/sa2b/__init__.py
  worlds/sa2b/docs/setup_en.md
Labels: is: bug/fix, is: enhancement

#2447 Lingo: Sync config with game update
  worlds/lingo/LL1.yaml
  worlds/lingo/ids.yaml
  worlds/lingo/utils/validate_config.rb
Labels: is: maintenance, affects: release/blocker

#2180 Muse Dash: Rename some Trap Items to match the wider community name
  worlds/musedash/MuseDashCollection.py
  worlds/musedash/__init__.py
Labels: is: refactor/cleanup

#2464 Wargroove: Fixed WargrooveClient retaining victory and location information and minor doc fix
  WargrooveClient.py
  worlds/wargroove/docs/wargroove_en.md
Labels: is: bug/fix

#2465 Pokemon Emerald: Fix scorched slab missing surf requirement
  worlds/pokemon_emerald/data/regions/routes.json
  worlds/pokemon_emerald/rules.py
  worlds/pokemon_emerald/test/test_accessibility.py
Labels: is: bug/fix

#2143 WebHost, Core: Developer-defined game option presets.
  WebHostLib/options.py
  WebHostLib/static/assets/player-options.js
  WebHostLib/static/styles/player-options.css
  WebHostLib/templates/player-options.html
  docs/world api.md
  test/webhost/test_option_presets.py
  worlds/AutoWorld.py
  worlds/rogue_legacy/Presets.py
  worlds/rogue_legacy/__init__.py
Labels: is: enhancement, affects: core, affects: webhost

#2452 Core: fix item links around core changes
  BaseClasses.py
Labels: is: bug/fix, affects: core

#2438 WebHost: Refactor `tracker.py`, removal of dead code, and tweaks to layouts of some tracker pages.
  WebHostLib/customserver.py
  WebHostLib/static/assets/trackerCommon.js
  WebHostLib/static/styles/tracker.css
  WebHostLib/templates/genericTracker.html
  WebHostLib/templates/hintTable.html
  WebHostLib/templates/lttpMultiTracker.html
  WebHostLib/templates/multiTracker.html
  WebHostLib/templates/multiTrackerNavigation.html
  WebHostLib/templates/multitracker.html
  WebHostLib/templates/multitrackerHintTable.html
  WebHostLib/templates/multitrackerNavigation.html
  WebHostLib/templates/multitracker__ALinkToThePast.html
  WebHostLib/templates/multitracker__Factorio.html
  WebHostLib/templates/tracker__ALinkToThePast.html
  WebHostLib/templates/tracker__ChecksFinder.html
  WebHostLib/templates/tracker__Minecraft.html
  WebHostLib/templates/tracker__OcarinaOfTime.html
  WebHostLib/templates/tracker__Starcraft2WingsOfLiberty.html
  WebHostLib/templates/tracker__SuperMetroid.html
  WebHostLib/templates/tracker__Timespinner.html
  WebHostLib/tracker.py
  worlds/__init__.py
Labels: is: enhancement, is: refactor/cleanup, affects: core, affects: webhost

#2470 Stardew Valley: Add Options presets
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/data/items.csv
  worlds/stardew_valley/items.py
  worlds/stardew_valley/logic.py
  worlds/stardew_valley/options.py
  worlds/stardew_valley/presets.py
  worlds/stardew_valley/test/TestRules.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/checks/option_checks.py
Labels: is: documentation, is: enhancement, is: refactor/cleanup

#2482 Hollow Knight: Don't force mimics local
  worlds/hk/__init__.py
Labels: is: enhancement

#2476 Git: Added file type .smc to gitignore
  .gitignore
Labels: is: maintenance

#2090 Timespinner: New options from TS Rando v1.25 + Logic fix
  worlds/timespinner/Locations.py
  worlds/timespinner/Options.py
  worlds/timespinner/PreCalculatedWeights.py
  worlds/timespinner/Regions.py
  worlds/timespinner/__init__.py
Labels: is: bug/fix, is: enhancement

#2051 LADX: Text shuffle
  worlds/ladx/LADXR/generator.py
  worlds/ladx/LADXR/patches/owl.py
  worlds/ladx/LADXR/patches/phone.py
  worlds/ladx/LADXR/pointerTable.py
  worlds/ladx/Options.py
Labels: is: enhancement

#2425 RoR2: 1.3.0 content update
  worlds/ror2/Items.py
  worlds/ror2/Locations.py
  worlds/ror2/RoR2Environments.py
  worlds/ror2/__init__.py
  worlds/ror2/docs/setup_en.md
  worlds/ror2/items.py
  worlds/ror2/locations.py
  worlds/ror2/options.py
  worlds/ror2/regions.py
  worlds/ror2/ror2environments.py
  worlds/ror2/rules.py
  worlds/ror2/test/__init__.py
  worlds/ror2/test/test_any_goal.py
  worlds/ror2/test/test_classic.py
  worlds/ror2/test/test_limbo_goal.py
  worlds/ror2/test/test_mithrix_goal.py
  worlds/ror2/test/test_voidling_goal.py
Labels: is: enhancement

#2120 MMBN3: Adds instructions for using the Legacy Collection ROM for setup
  worlds/mmbn3/docs/setup_en.md
Labels: is: documentation

#2483 Core: Increment Archipelago Version
  Utils.py
Labels: affects: core

#2069 Stardew Valley: Generate proper filler for item links
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/data/bundle_data.py
  worlds/stardew_valley/items.py
  worlds/stardew_valley/test/TestItemLink.py
Labels: is: enhancement

#2227 Core: Provide a better error message if only weights.yaml is provided with players: 0
  Generate.py
Labels: is: enhancement, affects: core

#2475 BizHawkClient: Add support for multiple concurrent instances
  data/lua/connector_bizhawk_generic.lua
  worlds/_bizhawk/__init__.py
  worlds/_bizhawk/context.py
  worlds/pokemon_emerald/docs/setup_en.md
Labels: is: enhancement

#2487 Pokemon Emerald: Fix opponent trainer moves sometimes being MOVE_NONE
  worlds/pokemon_emerald/__init__.py
Labels: is: bug/fix

#2486 Lingo: Change docs to link to the client in the Steam Workshop
  worlds/lingo/docs/setup_en.md
Labels: is: documentation

#2188 KH2: Update Game Docs
  worlds/kh2/docs/en_Kingdom Hearts 2.md
  worlds/kh2/docs/setup_en.md
Labels: is: documentation

#2383 sm64ex: Replace old launcher tutorial
  worlds/sm64ex/docs/setup_en.md
Labels: is: documentation

#2474 Pokémon R/B: Fix trainer regions
  worlds/pokemon_rb/locations.py
Labels: is: bug/fix

#2480 BizHawkClient: Restore use of ConnectorErrors
  worlds/_bizhawk/__init__.py
Labels: is: refactor/cleanup

#2490 LttP: fix Ganons Tower - Compass Room - Bottom Left being listed twice in Ganons Tower location group and add missing Ganons Tower - Compass Room - Bottom Right
  worlds/alttp/__init__.py
Labels: is: bug/fix

#2489 Core: update modules, move orjson to core
  requirements.txt
  worlds/factorio/requirements.txt
Labels: is: maintenance, affects: core

#2488 KH2: Fix grammar to clarify which locations can have a bounty
  worlds/kh2/docs/en_Kingdom Hearts 2.md
Labels: is: documentation

#2416 Generate: Add `--skip_output` flag to bypass assertion and output stages.
  Generate.py
  Main.py
  WebHostLib/generate.py
Labels: is: enhancement, affects: core

#2463 Core: remove duplicate state.item_count
  BaseClasses.py
  docs/world api.md
  worlds/alttp/StateHelpers.py
  worlds/checksfinder/Rules.py
  worlds/kh2/logic.py
  worlds/noita/Rules.py
  worlds/overcooked2/Logic.py
  worlds/rogue_legacy/Rules.py
  worlds/soe/Logic.py
  worlds/spire/Rules.py
  worlds/zillion/logic.py
Labels: is: documentation, is: refactor/cleanup, affects: core

#2451 The Messenger: more optimizations
  worlds/messenger/__init__.py
  worlds/messenger/regions.py
  worlds/messenger/rules.py
  worlds/messenger/subclasses.py
  worlds/messenger/test/test_logic.py
  worlds/messenger/test/test_shop.py
Labels: is: refactor/cleanup

#2478 lufia2ac: fix client behavior at max blue chests combined with party member or capsule monster shuffle
  worlds/lufia2ac/Client.py
  worlds/lufia2ac/Locations.py
  worlds/lufia2ac/Options.py
  worlds/lufia2ac/__init__.py
Labels: is: bug/fix

#2481 Lingo: Demote warpless painting items to filler
  worlds/lingo/__init__.py
Labels: is: refactor/cleanup

#2445 Fill: Fix plando removing Usefuls first
  Fill.py
Labels: is: bug/fix, affects: core

#2200 Plando: verify from_pool type
  Fill.py
Labels: is: enhancement, affects: core

#2448 Core: Floor and ceil in datastorage
  MultiServer.py
  docs/network protocol.md
Labels: is: documentation, is: enhancement, affects: core

#2255 DOOM II: implement new game
  README.md
  worlds/doom_ii/Items.py
  worlds/doom_ii/Locations.py
  worlds/doom_ii/Maps.py
  worlds/doom_ii/Options.py
  worlds/doom_ii/Regions.py
  worlds/doom_ii/Rules.py
  worlds/doom_ii/__init__.py
  worlds/doom_ii/docs/en_DOOM II.md
  worlds/doom_ii/docs/setup_en.md
Labels: is: new game

#2459 Lingo: Move datafiles into a subdirectory
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/__init__.py
  worlds/lingo/data/ids.yaml
  worlds/lingo/static_logic.py
Labels: is: bug/fix, is: refactor/cleanup

#2282 MMBN3: Small Bug Fixes
  MMBN3Client.py
  worlds/mmbn3/Locations.py
  worlds/mmbn3/__init__.py
Labels: is: bug/fix

#2495 The Witness: New junk hints
  worlds/witness/hints.py
Labels: is: enhancement

#2496 WebHost: Fix player-options and weighted-options failing to validate settings if player name is fully numeric
  WebHostLib/static/assets/player-options.js
  WebHostLib/static/assets/weighted-options.js
Labels: is: bug/fix, affects: webhost

#2330 Core: Introduce new Option class NamedRange
  Options.py
  WebHostLib/options.py
  WebHostLib/static/assets/player-options.js
  WebHostLib/static/assets/weighted-options.js
  WebHostLib/static/styles/player-options.css
  docs/options api.md
  docs/world api.md
  test/webhost/test_option_presets.py
  worlds/dlcquest/Options.py
  worlds/dlcquest/test/TestOptionsLong.py
  worlds/hk/Options.py
  worlds/lufia2ac/Options.py
  worlds/pokemon_rb/options.py
  worlds/stardew_valley/options.py
  worlds/stardew_valley/test/TestOptions.py
  worlds/stardew_valley/test/long/TestOptionsLong.py
  worlds/stardew_valley/test/long/TestRandomWorlds.py
  worlds/zillion/options.py
Labels: is: enhancement, affects: core, affects: release/blocker, affects: webhost

#2412 MultiServer: Create read-only data storage key for client statuses.
  MultiServer.py
  docs/network protocol.md
Labels: is: documentation, is: enhancement, affects: core

#2492 DOOM II: Add to `CODEOWNERS`
  docs/CODEOWNERS
Labels: is: documentation

#1836 Shivers: Implement New Game
  README.md
  docs/CODEOWNERS
  worlds/shivers/Constants.py
  worlds/shivers/Items.py
  worlds/shivers/Options.py
  worlds/shivers/Rules.py
  worlds/shivers/__init__.py
  worlds/shivers/data/excluded_locations.json
  worlds/shivers/data/locations.json
  worlds/shivers/data/regions.json
  worlds/shivers/docs/en_Shivers.md
  worlds/shivers/docs/setup_en.md
Labels: is: new game

#2466 Pokémon R/B: Migrate support into Bizhawk Client
  PokemonClient.py
  data/lua/connector_pkmn_rb.lua
  inno_setup.iss
  worlds/LauncherComponents.py
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/basepatch_blue.bsdiff4
  worlds/pokemon_rb/basepatch_red.bsdiff4
  worlds/pokemon_rb/client.py
  worlds/pokemon_rb/docs/en_Pokemon Red and Blue.md
  worlds/pokemon_rb/docs/setup_en.md
  worlds/pokemon_rb/rom.py
  worlds/pokemon_rb/rom_addresses.py
Labels: is: refactor/cleanup

#2479 Lingo: Various generation optimizations
  worlds/lingo/__init__.py
  worlds/lingo/data/LL1.yaml
  worlds/lingo/options.py
  worlds/lingo/player_logic.py
  worlds/lingo/regions.py
  worlds/lingo/rules.py
  worlds/lingo/test/TestPanelsanity.py
Labels: is: refactor/cleanup

#2471 core: make option resolution in world tests deterministic
  test/bases.py
Labels: is: maintenance, is: refactor/cleanup, affects: core

#2256 Heretic: implement new game
  README.md
  docs/CODEOWNERS
  worlds/heretic/Items.py
  worlds/heretic/Locations.py
  worlds/heretic/Maps.py
  worlds/heretic/Options.py
  worlds/heretic/Regions.py
  worlds/heretic/Rules.py
  worlds/heretic/__init__.py
  worlds/heretic/docs/en_Heretic.md
  worlds/heretic/docs/setup_en.md
Labels: is: new game

#2199 DS3: Added 'Early Banner' Setting
  worlds/dark_souls_3/Options.py
  worlds/dark_souls_3/__init__.py
Labels: is: enhancement

#2501 Pokemon: delete old files
  inno_setup.iss
Labels: is: maintenance, affects: release/blocker

#2067 DOOM 1993: Added various new options
  worlds/doom_1993/Items.py
  worlds/doom_1993/Locations.py
  worlds/doom_1993/Options.py
  worlds/doom_1993/Regions.py
  worlds/doom_1993/Rules.py
  worlds/doom_1993/__init__.py
  worlds/doom_1993/docs/setup_en.md
Labels: is: enhancement

#2009 KH2: Version 2
  KH2Client.py
  setup.py
  worlds/LauncherComponents.py
  worlds/kh2/Client.py
  worlds/kh2/Items.py
  worlds/kh2/Locations.py
  worlds/kh2/Logic.py
  worlds/kh2/Names/ItemName.py
  worlds/kh2/Names/LocationName.py
  worlds/kh2/Names/RegionName.py
  worlds/kh2/OpenKH.py
  worlds/kh2/Options.py
  worlds/kh2/Regions.py
  worlds/kh2/Rules.py
  worlds/kh2/WorldLocations.py
  worlds/kh2/__init__.py
  worlds/kh2/logic.py
  worlds/kh2/mod_template/mod.yml
  worlds/kh2/test/TestGoal.py
  worlds/kh2/test/TestSlotData.py
  worlds/kh2/test/__init__.py
  worlds/kh2/test/test_fight_logic.py
  worlds/kh2/test/test_form_logic.py
  worlds/kh2/test/test_goal.py
Labels: is: bug/fix, is: enhancement

#1808 Landstalker: implement new game
  README.md
  docs/CODEOWNERS
  worlds/landstalker/Hints.py
  worlds/landstalker/Items.py
  worlds/landstalker/Locations.py
  worlds/landstalker/Options.py
  worlds/landstalker/Regions.py
  worlds/landstalker/Rules.py
  worlds/landstalker/__init__.py
  worlds/landstalker/data/hint_source.py
  worlds/landstalker/data/item_source.py
  worlds/landstalker/data/world_node.py
  worlds/landstalker/data/world_path.py
  worlds/landstalker/data/world_region.py
  worlds/landstalker/data/world_teleport_tree.py
  worlds/landstalker/docs/en_Landstalker - The Treasures of King Nole.md
  worlds/landstalker/docs/landstalker_setup_en.md
  worlds/landstalker/docs/ls_guide_ap.png
  worlds/landstalker/docs/ls_guide_client.png
  worlds/landstalker/docs/ls_guide_emu.png
  worlds/landstalker/docs/ls_guide_rom.png
Labels: is: new game

#2504 Pokemon Emerald: Bump apworld version number
  worlds/pokemon_emerald/README.md
Labels: is: documentation

#2477 Installer: Add `_bizhawk.apworld` to installer deleted files
  inno_setup.iss
Labels: is: maintenance

#2505 Docs: add documentation for options comparison
  docs/options api.md
Labels: is: documentation, affects: core

#2093 The Messenger, LADX: use collect and remove as intended
  worlds/ladx/__init__.py
  worlds/ladx/test/testShop.py
  worlds/messenger/__init__.py
Labels: is: refactor/cleanup

#2510 SA2B: Add AP 0.4.4 Game Chao Names
  worlds/sa2b/AestheticData.py
Labels: is: enhancement

#2511 Pokemon Emerald: Fix tracker flags being reset in menus
  worlds/pokemon_emerald/client.py
Labels: is: bug/fix

#2512 Muse Dash: Presets and Song Updates
  worlds/musedash/MuseDashData.txt
  worlds/musedash/Presets.py
  worlds/musedash/__init__.py
Labels: is: enhancement

#1909 Final Fantasy Mystic Quest: Implement new game
  README.md
  WebHostLib/downloads.py
  WebHostLib/templates/macros.html
  docs/CODEOWNERS
  worlds/ffmq/Client.py
  worlds/ffmq/Items.py
  worlds/ffmq/LICENSE
  worlds/ffmq/Options.py
  worlds/ffmq/Output.py
  worlds/ffmq/Regions.py
  worlds/ffmq/__init__.py
  worlds/ffmq/data/entrances.yaml
  worlds/ffmq/data/rooms.yaml
  worlds/ffmq/data/settings.yaml
  worlds/ffmq/docs/en_Final Fantasy Mystic Quest.md
  worlds/ffmq/docs/setup_en.md
Labels: is: new game

#2528 WebHostLib: fix NamedRange in options presets
  WebHostLib/static/assets/player-options.js
Labels: is: bug/fix, affects: webhost

#2529 TLOZ: Use the proper location name lookup
  Zelda1Client.py
Labels: is: bug/fix, affects: release/blocker

#2535 WebHost: Fix weighted-options outer range being rejected
  WebHostLib/static/assets/weighted-options.js
Labels: is: bug/fix, affects: webhost

#2531 DS3: update setup guide to preserve downpatching instructions
  worlds/dark_souls_3/docs/setup_en.md
Labels: is: documentation

#2261 Stardew Valley: Fixed potential softlock with walnut purchases if Entrance Randomizer locks access to the field office
  worlds/stardew_valley/logic.py
Labels: is: bug/fix, affects: release/blocker
