Repository ArchipelagoMW/Archipelago, pull requests merged in 2023-09, with the labels that each got.

#2078 Docs: Small typo and proofreading edits
  worlds/dark_souls_3/docs/en_Dark Souls III.md
  worlds/ff1/docs/en_Final Fantasy.md
  worlds/ff1/docs/multiworld_en.md
  worlds/kh2/docs/en_Kingdom Hearts 2.md
  worlds/minecraft/docs/en_Minecraft.md
  worlds/ror2/docs/en_Risk of Rain 2.md
  worlds/stardew_valley/docs/en_Stardew Valley.md
Labels: is: documentation

#2008 Docs, SM64, SC2: Minor Documentation Updates
  worlds/sc2wol/docs/setup_en.md
  worlds/sm64ex/docs/en_Super Mario 64.md
Labels: is: documentation

#791 SNIClient: fix /snes command if tree
  SNIClient.py
Labels: is: bug/fix, meta: help wanted

#282 LTTP: Key Drop Shuffle
  Fill.py
  playerSettings.yaml
  test/TestBase.py
  worlds/alttp/Client.py
  worlds/alttp/Dungeons.py
  worlds/alttp/EntranceShuffle.py
  worlds/alttp/InvertedRegions.py
  worlds/alttp/ItemPool.py
  worlds/alttp/Options.py
  worlds/alttp/Regions.py
  worlds/alttp/Rom.py
  worlds/alttp/Rules.py
  worlds/alttp/UnderworldGlitchRules.py
  worlds/alttp/__init__.py
  worlds/alttp/test/dungeons/TestAgahnimsTower.py
  worlds/alttp/test/dungeons/TestDesertPalace.py
  worlds/alttp/test/dungeons/TestDungeon.py
  worlds/alttp/test/dungeons/TestEasternPalace.py
  worlds/alttp/test/dungeons/TestGanonsTower.py
  worlds/alttp/test/dungeons/TestIcePalace.py
  worlds/alttp/test/dungeons/TestSkullWoods.py
  worlds/alttp/test/dungeons/TestThievesTown.py
  worlds/alttp/test/inverted/TestInvertedTurtleRock.py
  worlds/alttp/test/inverted_minor_glitches/TestInvertedTurtleRock.py
  worlds/alttp/test/owg/TestDungeons.py
Labels: is: enhancement, affects: core

#1809 Factorio: use orjson
  worlds/factorio/Technologies.py
  worlds/factorio/requirements.txt
Labels: is: refactor/cleanup
