Repository ArchipelagoMW/Archipelago, pull requests merged in 2023-04, with the labels that each got.

#1659 Core: Fix ZeroDivisionError if a world is contained 100% locked locations.
  Fill.py
Labels: bug / fix

#1628 DLCQuest : implement new game
  worlds/dlcquest/Items.py
  worlds/dlcquest/Locations.py
  worlds/dlcquest/Options.py
  worlds/dlcquest/Regions.py
  worlds/dlcquest/Rules.py
  worlds/dlcquest/Script/__init__.py
  worlds/dlcquest/Script/export_items.py
  worlds/dlcquest/Script/export_locations.py
  worlds/dlcquest/__init__.py
  worlds/dlcquest/data/items.csv
  worlds/dlcquest/docs/en_DLCQuest.md
  worlds/dlcquest/docs/setup_en.md
Labels: new game

#823 Tests: check that options have a docstring
  test/general/TestOptions.py
Labels: enhancement, help wanted

#761 core: Region management helpers
  BaseClasses.py
  test/general/TestHelpers.py
Labels: core

#709 ALTTP: Add "oof" sound customization option
  LttPAdjuster.py
  worlds/alttp/Rom.py
  worlds/alttp/__init__.py
  worlds/alttp/docs/oof_sound_en.md
Labels: enhancement

#1719 Clique: Better, less-obtuse, docs for Clique.
  worlds/clique/docs/en_Clique.md
  worlds/clique/docs/guide_en.md
Labels: documentation

#1676 Noita: implement new game
  README.md
  worlds/noita/Events.py
  worlds/noita/Items.py
  worlds/noita/Locations.py
  worlds/noita/Options.py
  worlds/noita/Regions.py
  worlds/noita/Rules.py
  worlds/noita/__init__.py
  worlds/noita/docs/en_Noita.md
  worlds/noita/docs/setup_en.md
Labels: new game
