Repository ArchipelagoMW/Archipelago, pull requests merged in 2023-10, with the labels that each got.

#1587 LADX: Implement remake style warp selection
  worlds/ladx/LADXR/generator.py
  worlds/ladx/LADXR/patches/core.py
  worlds/ladx/Options.py
Labels: is: enhancement

#1935 core: utility method for visualizing worlds as PlantUML
  .gitignore
  BaseClasses.py
  Utils.py
  docs/world api.md
Labels: is: documentation

#1978 BizHawkClient: Add BizHawkClient
  BizHawkClient.py
  data/lua/base64.lua
  data/lua/connector_bizhawk_generic.lua
  inno_setup.iss
  worlds/LauncherComponents.py
  worlds/_bizhawk/__init__.py
  worlds/_bizhawk/client.py
  worlds/_bizhawk/context.py
Labels: is: enhancement

#2056 ChecksFinder: Move create item logic to `create_items`.
  worlds/checksfinder/__init__.py
Labels: is: refactor/cleanup

#2049 Tests: Add a test for fill to WorldTestBase
  test/TestBase.py
  worlds/minecraft/Options.py
Labels: is: refactor/cleanup, affects: core

#2308 HK: Update Setup Guide to use/mention Lumafly
  worlds/hk/docs/setup_en.md
Labels: is: documentation

#2314 Pokémon R/B: Door Shuffle fixes
  worlds/pokemon_rb/locations.py
  worlds/pokemon_rb/regions.py
Labels: is: bug/fix

#2324 Hylics 2: Various fixes and APWorld support
  setup.py
  worlds/hylics2/Rules.py
  worlds/hylics2/__init__.py
Labels: is: bug/fix, is: refactor/cleanup

#2320 Docs: Recommend Bizhawk Version 2.9.1 for Pokémon R/B
  worlds/pokemon_rb/docs/setup_en.md
  worlds/pokemon_rb/docs/setup_es.md
Labels: is: documentation

#2325 Docs: Triage role expectations documentation.
  docs/triage role expectations.md
Labels: is: documentation, affects: core

#2326 SM: fix missing option import
  worlds/sm/__init__.py
Labels: is: bug/fix

#2310 Ocarina of Time: Increase function cache size for reading JSON data
  worlds/oot/Utils.py
Labels: is: refactor/cleanup

#2318 WebHost: Refactor weighted-settings.js
  WebHostLib/static/assets/weighted-settings.js
Labels: is: refactor/cleanup, affects: webhost

#2322 BizHawkClient: Add autostart setting
  settings.py
  worlds/_bizhawk/context.py
Labels: is: enhancement

#2332 OC2: fix mistakes when moving to new options api
  worlds/overcooked2/__init__.py
Labels: is: bug/fix

#2329 Muse Dash: Add support for specifying specific DLCs
  worlds/musedash/Items.py
  worlds/musedash/MuseDashCollection.py
  worlds/musedash/MuseDashData.txt
  worlds/musedash/Options.py
  worlds/musedash/__init__.py
  worlds/musedash/test/TestCollection.py
  worlds/musedash/test/TestDifficultyRanges.py
Labels: is: enhancement, is: refactor/cleanup

#2284 Core: guard against plandoing items onto event locations
  Fill.py
Labels: is: enhancement, affects: core

#2266 WebHost: minor css changes to make Supported Games page usable without js
  WebHostLib/static/assets/supportedGames.js
  WebHostLib/static/styles/supportedGames.css
  WebHostLib/templates/supportedGames.html
Labels: is: enhancement, affects: webhost

#2334 Core: explicitly limit threadpool
  Main.py
Labels: is: maintenance, affects: core

#2286 Plando: Prevent duplicate candidate locations
  Fill.py
Labels: is: enhancement, affects: core

#2103 lufia2ac: add shops to the cave
  worlds/lufia2ac/Items.py
  worlds/lufia2ac/Options.py
  worlds/lufia2ac/Utils.py
  worlds/lufia2ac/__init__.py
  worlds/lufia2ac/basepatch/basepatch.asm
  worlds/lufia2ac/basepatch/basepatch.bsdiff4
  worlds/lufia2ac/docs/en_Lufia II Ancient Cave.md
Labels: is: enhancement

#2336 Stardew Valley: Fix option that was accidentally renamed in 993
  worlds/stardew_valley/items.py
  worlds/stardew_valley/logic.py
  worlds/stardew_valley/options.py
Labels: is: bug/fix

#2337 WebHost: offer combined yaml file on /check if successful
  WebHostLib/check.py
  WebHostLib/templates/checkResult.html
  worlds/alttp/docs/multiworld_de.md
  worlds/alttp/docs/multiworld_es.md
  worlds/alttp/docs/multiworld_fr.md
  worlds/dkc3/docs/setup_en.md
  worlds/factorio/docs/setup_en.md
  worlds/generic/docs/setup_en.md
  worlds/ladx/docs/setup_en.md
  worlds/lufia2ac/docs/setup_en.md
  worlds/sm/docs/multiworld_en.md
  worlds/smw/docs/setup_en.md
  worlds/smz3/docs/multiworld_en.md
  worlds/soe/docs/multiworld_en.md
  worlds/tloz/docs/multiworld_en.md
  worlds/zillion/docs/setup_en.md
Labels: is: enhancement, affects: webhost

#2340 The Witness: Fix random events not having the correct probabilities
  worlds/witness/__init__.py
  worlds/witness/hints.py
Labels: is: bug/fix

#2298 Tests: modern PEP8-ify core test modules and methods
  docs/world api.md
  test/TestBase.py
  test/bases.py
  test/general/__init__.py
  test/general/test_fill.py
  test/general/test_helpers.py
  test/general/test_host_yaml.py
  test/general/test_ids.py
  test/general/test_implemented.py
  test/general/test_items.py
  test/general/test_locations.py
  test/general/test_names.py
  test/general/test_options.py
  test/general/test_reachability.py
  test/netutils/test_location_store.py
  test/programs/data/one_player/test.yaml
  test/programs/test_generate.py
  test/programs/test_multi_server.py
  test/utils/test_si_prefix.py
  test/webhost/test_api_generate.py
  test/webhost/test_docs.py
  test/webhost/test_file_generation.py
Labels: is: refactor/cleanup, affects: core

#2316 Docs: Added Note Explaining BK and fix typo in advanced settings
  worlds/generic/docs/advanced_settings_en.md
Labels: is: documentation

#2344 Ocarina of Time: long-awaited bugfixes
  worlds/oot/ItemPool.py
  worlds/oot/Location.py
  worlds/oot/LocationList.py
  worlds/oot/Options.py
  worlds/oot/Patches.py
  worlds/oot/Rules.py
  worlds/oot/__init__.py
Labels: is: bug/fix, is: refactor/cleanup

#2347 Pokémon R/B: Door Shuffle efficiency improvement and crash fix
  worlds/pokemon_rb/regions.py
Labels: is: bug/fix, is: refactor/cleanup

#2268 Setup: new setup experience (read: torch almost all of it)
  inno_setup.iss
Labels: is: enhancement, is: refactor/cleanup, affects: core

#2341 lufia2ac: prevent "door stairs" and "rare stairs"
  worlds/lufia2ac/basepatch/basepatch.asm
  worlds/lufia2ac/basepatch/basepatch.bsdiff4
  worlds/lufia2ac/docs/en_Lufia II Ancient Cave.md
Labels: is: bug/fix

#2328 Muse Dash: Make which .net to download more explicit in setup guides.
  worlds/musedash/docs/setup_en.md
  worlds/musedash/docs/setup_es.md
Labels: is: documentation

#2037 WebHost: unify references to options
  Generate.py
  WebHostLib/misc.py
  WebHostLib/options.py
  WebHostLib/static/assets/player-options.js
  WebHostLib/static/assets/weighted-options.js
  WebHostLib/static/styles/player-options.css
  WebHostLib/static/styles/weighted-options.css
  WebHostLib/templates/player-options.html
  WebHostLib/templates/siteMap.html
  WebHostLib/templates/supportedGames.html
  WebHostLib/templates/weighted-options.html
  worlds/AutoWorld.py
  worlds/bk_sudoku/__init__.py
  worlds/ff1/__init__.py
Labels: is: documentation, is: refactor/cleanup, affects: core, affects: webhost

#2342 Terraria: Old One's Army Tier 2 and 3 missing Hardmode requirement
  worlds/terraria/Rules.dsv
Labels: is: bug/fix

#2351 LttP: make Triforce Piece progression_skip_balancing
  worlds/alttp/Items.py
Labels: is: enhancement

#2349 pytest: run tests on non-windows with new names
  pytest.ini
Labels: is: maintenance

#2354 Options: have as_dict return set values as lists to reduce JSON footprint
  Options.py
Labels: is: refactor/cleanup, affects: core

#2254 Bumper Stickers: add location rules
  worlds/bumpstik/Regions.py
  worlds/bumpstik/__init__.py
  worlds/bumpstik/test/TestLogic.py
  worlds/bumpstik/test/__init__.py
Labels: is: bug/fix

#2362 Core/LttP: remove initialize_regions
  BaseClasses.py
  worlds/alttp/InvertedRegions.py
  worlds/alttp/ItemPool.py
  worlds/alttp/Regions.py
Labels: is: refactor/cleanup, affects: core

#2365 Subnautica: avoid cache recreation in create_regions call and clean up function.
  worlds/subnautica/__init__.py
Labels: is: refactor/cleanup

#2323 DLCQuest: logic speed up
  worlds/dlcquest/Items.py
  worlds/dlcquest/Regions.py
  worlds/dlcquest/Rules.py
  worlds/dlcquest/__init__.py
Labels: is: refactor/cleanup

#2369 BizHawkClient: Add lock for communicating with lua script
  worlds/_bizhawk/__init__.py
  worlds/_bizhawk/context.py
Labels: is: refactor/cleanup

#2376 Pokemon R/B: Avoid a case of repeatedly checking of state in ER
  worlds/pokemon_rb/regions.py
Labels: is: refactor/cleanup

#2367 BizHawkClient: Improve updating component's suffix identifier
  worlds/LauncherComponents.py
  worlds/_bizhawk/client.py
Labels: is: enhancement

#2374 Timespinner: Fixed generation error caused by new options system
  worlds/timespinner/__init__.py
Labels: is: bug/fix

#2368 SDV: Use the pre-existing cache in location creation
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/regions.py
Labels: is: refactor/cleanup

#1192 Docs: slight adding games.md rework
  docs/adding games.md
  docs/img/archipelago-world-directory-example.png
  docs/img/example-init-py-file.png
  docs/img/example-items-py-file.png
  docs/img/example-locations-py-file.png
  docs/img/example-options-py-file.png
  docs/img/example-regions-py-file.png
  docs/img/example-rules-py-file.png
  docs/img/heavy-bullets-managed-directory.png
Labels: is: documentation

#2333 Tests: Add a unit test for slot_data
  test/general/test_implemented.py
Labels: is: enhancement, affects: core

#1745 Docs, OOT: Update YAML Creation Instructions for OoT
  worlds/oot/docs/setup_en.md
Labels: is: documentation

#2371 Stardew Valley: speed up rules creation by 4%
  worlds/stardew_valley/stardew_rule.py
Labels: is: refactor/cleanup

#2379 OoT: create and copy less useless data state
  BaseClasses.py
  worlds/oot/__init__.py
Labels: is: refactor/cleanup

#2331 Hollow Knight: update item name groups
  worlds/hk/Items.py
Labels: is: refactor/cleanup

#2352 Core: deprecate Utils.get_options and remove Utils.get_default_options
  Utils.py
  test/general/test_host_yaml.py
  worlds/adventure/Rom.py
  worlds/lufia2ac/Rom.py
Labels: is: maintenance, affects: core

#2313 Docs, WebHost: Update faq_en.md
  WebHostLib/static/assets/faq/faq_en.md
Labels: is: documentation, affects: webhost

#2395 TLOZ: Update setup doc to include what version of TLOZ is required
  worlds/tloz/docs/multiworld_en.md
Labels: is: documentation

#2048 Minecraft: avoid duplicate prefix in output file name
  worlds/minecraft/__init__.py
Labels: is: bug/fix

#2112 sm64ex: All Bowser Stages Goal
  worlds/sm64ex/Options.py
  worlds/sm64ex/Rules.py
  worlds/sm64ex/__init__.py
Labels: is: enhancement

#2271 Blasphemous: Include ranged attack in logic for all difficulties
  worlds/blasphemous/Options.py
  worlds/blasphemous/Rules.py
  worlds/blasphemous/docs/en_Blasphemous.md
Labels: is: enhancement

#2306 BizHawkClient: Add support for server passwords
  worlds/_bizhawk/context.py
Labels: is: bug/fix

#2247 Noita: Extra Life change
  worlds/noita/Items.py
  worlds/noita/Regions.py
Labels: is: enhancement

#2396 Pokemon R/B: Reenable Rock tunnel location access rules
  worlds/pokemon_rb/rules.py
Labels: is: bug/fix

#2393 Stardew Valley: reuse simplified rules
  worlds/stardew_valley/stardew_rule.py
  worlds/stardew_valley/test/TestLogicSimplification.py
Labels: is: refactor/cleanup

#2366 Core: change Region caching to on_change from on-miss-strategy
  BaseClasses.py
  Main.py
  Utils.py
  test/bases.py
  test/general/test_locations.py
  worlds/alttp/ItemPool.py
  worlds/alttp/Rom.py
  worlds/alttp/Rules.py
  worlds/alttp/Shops.py
  worlds/alttp/__init__.py
  worlds/alttp/test/dungeons/TestDungeon.py
  worlds/checksfinder/__init__.py
  worlds/ladx/Locations.py
  worlds/ladx/__init__.py
  worlds/meritous/Regions.py
  worlds/oot/__init__.py
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/rom.py
  worlds/ror2/Rules.py
  worlds/sm/__init__.py
  worlds/soe/__init__.py
  worlds/undertale/__init__.py
  worlds/witness/hints.py
  worlds/zillion/__init__.py
Labels: is: enhancement, is: refactor/cleanup, affects: core

#2390 HK: skip for loop
  worlds/hk/Rules.py
Labels: is: refactor/cleanup

#2387 Noita: Fix rare item fill failure for single-player games
  worlds/noita/Items.py
  worlds/noita/Rules.py
Labels: is: bug/fix

#2398 Muse Dash: Apply new songs and name changes from Muse Dash 3.10.0
  worlds/musedash/MuseDashData.txt
  worlds/musedash/__init__.py
Labels: is: enhancement

#2382 Core: log fill progress
  Fill.py
  worlds/alttp/Dungeons.py
  worlds/alttp/__init__.py
Labels: is: refactor/cleanup, affects: core

#2345 Core: log completion time if > 1.0 seconds per step
  worlds/AutoWorld.py
Labels: is: refactor/cleanup, affects: core

#2356 Pokémon R/B: Fix incompatible option combination
  worlds/pokemon_rb/__init__.py
Labels: is: bug/fix

#2406 Core: return the created entrance when connecting regions
  BaseClasses.py
Labels: is: enhancement, affects: core

#2400 Core: fix some memory leak sources without removing caching
  BaseClasses.py
  Generate.py
  Utils.py
  test/bases.py
  test/general/test_memory.py
  test/utils/test_caches.py
  worlds/sm/__init__.py
Labels: is: bug/fix, affects: core

#1793 SNIClient, ALttP: Add "death_text" to SNIContext's handle_deathlink_state
  SNIClient.py
  worlds/alttp/Client.py
Labels: is: enhancement, affects: core

#2270 WebHost: Round percentage of checks, fix possible 500 error
  WebHostLib/templates/lttpMultiTracker.html
  WebHostLib/templates/multiTracker.html
  WebHostLib/tracker.py
Labels: is: bug/fix, affects: webhost

#2285 Docs, Various Games: Add Unique Local Commands to Game Page
  worlds/checksfinder/docs/en_ChecksFinder.md
  worlds/ff1/docs/en_Final Fantasy.md
  worlds/mmbn3/docs/en_MegaMan Battle Network 3.md
  worlds/oot/docs/en_Ocarina of Time.md
  worlds/pokemon_rb/docs/en_Pokemon Red and Blue.md
  worlds/sc2wol/docs/en_Starcraft 2 Wings of Liberty.md
  worlds/tloz/docs/en_The Legend of Zelda.md
  worlds/undertale/docs/en_Undertale.md
  worlds/wargroove/docs/en_Wargroove.md
  worlds/zillion/docs/en_Zillion.md
Labels: is: documentation

#2408 Fix weighted-settings page
  WebHostLib/static/assets/weighted-options.js
Labels: is: bug/fix, affects: webhost

#2327 WebHost: Expose name groups through the weighted-settings UI
  WebHostLib/options.py
  WebHostLib/static/assets/weighted-options.js
  WebHostLib/static/styles/weighted-options.css
Labels: is: enhancement, affects: webhost

#2391 RoR2: update options
  worlds/ror2/Options.py
Labels: is: refactor/cleanup
