Repository ArchipelagoMW/Archipelago, pull requests merged in 2023-06, with the labels that each got.

#1835 Blasphemous: Two small logic updates
  worlds/blasphemous/Rules.py
Labels: bug / fix

#1845 Docs: Update YAML planning guide
  worlds/generic/docs/advanced_settings_en.md
Labels: documentation

#1854 docs: Fix typo in world api.md
  docs/world api.md
Labels: documentation

#1855 Noita: Region connection edits
  worlds/noita/Locations.py
  worlds/noita/Regions.py
Labels: bug / fix

#1821 SC2: Python 3.11 compatibility
  Starcraft2Client.py
  worlds/_sc2common/__init__.py
  worlds/_sc2common/bot/LICENSE
  worlds/_sc2common/bot/README.md
  worlds/_sc2common/bot/__init__.py
  worlds/_sc2common/bot/bot_ai.py
  worlds/_sc2common/bot/bot_ai_internal.py
  worlds/_sc2common/bot/cache.py
  worlds/_sc2common/bot/client.py
  worlds/_sc2common/bot/constants.py
  worlds/_sc2common/bot/controller.py
  worlds/_sc2common/bot/data.py
  worlds/_sc2common/bot/expiring_dict.py
  worlds/_sc2common/bot/game_data.py
  worlds/_sc2common/bot/game_info.py
  worlds/_sc2common/bot/game_state.py
  worlds/_sc2common/bot/main.py
  worlds/_sc2common/bot/maps.py
  worlds/_sc2common/bot/observer_ai.py
  worlds/_sc2common/bot/paths.py
  worlds/_sc2common/bot/pixel_map.py
  worlds/_sc2common/bot/player.py
  worlds/_sc2common/bot/portconfig.py
  worlds/_sc2common/bot/position.py
  worlds/_sc2common/bot/power_source.py
  worlds/_sc2common/bot/protocol.py
  worlds/_sc2common/bot/proxy.py
  worlds/_sc2common/bot/renderer.py
  worlds/_sc2common/bot/sc2process.py
  worlds/_sc2common/bot/score.py
  worlds/_sc2common/bot/unit.py
  worlds/_sc2common/bot/units.py
  worlds/_sc2common/bot/versions.py
  worlds/_sc2common/bot/wsl.py
  worlds/_sc2common/requirements.txt
  worlds/sc2wol/requirements.txt
Labels: bug / fix

#1753 Core: refactor some loading mechanisms
  Launcher.py
  worlds/__init__.py
Labels: cleanup, core

#1848 WebHost: import Markup from markupsafe
  WebHostLib/api/generate.py
  WebHostLib/check.py
  WebHostLib/requirements.txt
  WebHostLib/upload.py
Labels: webhost

#1785 The Witness: Hint distribution changes, added locations, misc fixes
  worlds/witness/WitnessLogic.txt
  worlds/witness/WitnessLogicExpert.txt
  worlds/witness/WitnessLogicVanilla.txt
  worlds/witness/__init__.py
  worlds/witness/hints.py
  worlds/witness/items.py
  worlds/witness/locations.py
  worlds/witness/player_logic.py
  worlds/witness/rules.py
  worlds/witness/settings/Disable_Unrandomized.txt
  worlds/witness/static_logic.py
  worlds/witness/utils.py
Labels: bug / fix, enhancement

#1843 LADX: use custom collect/remove to keep track of logical rupee counts instead of LogixMixin
  worlds/ladx/Items.py
  worlds/ladx/Locations.py
  worlds/ladx/__init__.py
Labels: cleanup

#1838 Docs: add info about maintaining worlds
  docs/adding games.md
  docs/contributing.md
  docs/world maintainer.md
Labels: documentation, help wanted

#1852 WebHost: Change default spoiler-option for games generated from WebHost to 3 instead of 0
  WebHostLib/static/assets/player-settings.js
  WebHostLib/static/assets/weighted-settings.js
Labels: bug / fix, webhost

#1856 WebHost: Fix special-range value setting to `custom` when randomization is toggled off
  WebHostLib/static/assets/player-settings.js
Labels: bug / fix, webhost

#1881 Witness: Fix missing location
  worlds/witness/locations.py
Labels: bug / fix

#1857 Generate: improve error message for missing game
  Generate.py
  WebHostLib/check.py
Labels: enhancement

#1880 Docs: Mention Git in the "Optional" section of "Running from Source"
  docs/running from source.md
Labels: documentation

#1884 TLOZ: APworld support
  worlds/tloz/Rules.py
  worlds/tloz/__init__.py
Labels: cleanup

#1885 Witness: apworld support
  worlds/witness/static_logic.py
  worlds/witness/utils.py
Labels: cleanup

#1887 DLC Quest - Documentation improvements
  worlds/dlcquest/Options.py
  worlds/dlcquest/Rules.py
Labels: documentation, cleanup

#1829 Factorio: move Client into world folder
  CommonClient.py
  FactorioClient.py
  worlds/LauncherComponents.py
  worlds/factorio/Client.py
  worlds/factorio/__init__.py
Labels: cleanup

#1800 Fill: fix fill_restrictive for mixed minimal and non-minimal and test
  Fill.py
  test/general/TestFill.py
Labels: bug / fix, core

#1882 Setup: flip apworld list
  setup.py
  worlds/hk/__init__.py
  worlds/oribf/Rules.py
  worlds/oribf/__init__.py
Labels: cleanup, core

#1782 Docs: Revise all docs mentioning Lua in EmuHawk (which are in English), and other misc. corrections
  FF1Client.py
  OoTClient.py
  PokemonClient.py
  Zelda1Client.py
  data/lua/common.lua
  data/lua/connector_adventure.lua
  data/lua/connector_ff1.lua
  data/lua/connector_ladx_bizhawk.lua
  data/lua/connector_oot.lua
  data/lua/connector_pkmn_rb.lua
  data/lua/connector_tloz.lua
  docs/network diagram/network diagram.md
  docs/network diagram/network diagram.svg
  host.yaml
  worlds/adventure/Options.py
  worlds/adventure/docs/setup_en.md
  worlds/alttp/docs/multiworld_de.md
  worlds/alttp/docs/multiworld_en.md
  worlds/alttp/docs/multiworld_es.md
  worlds/alttp/docs/multiworld_fr.md
  worlds/dkc3/docs/setup_en.md
  worlds/ff1/docs/multiworld_en.md
  worlds/ladx/docs/setup_en.md
  worlds/lufia2ac/docs/setup_en.md
  worlds/oot/docs/setup_en.md
  worlds/oot/docs/setup_es.md
  worlds/oot/docs/setup_fr.md
  worlds/pokemon_rb/docs/setup_en.md
  worlds/sm/docs/multiworld_en.md
  worlds/smw/docs/setup_en.md
  worlds/smz3/docs/multiworld_en.md
  worlds/soe/docs/multiworld_en.md
  worlds/tloz/docs/multiworld_en.md
Labels: documentation, cleanup, core

#1876 Generate: Add skip progression balancing argument.
  Generate.py
  Main.py
Labels: enhancement

#439 Undertale for AP
  .gitignore
  README.md
  UndertaleClient.py
  inno_setup.iss
  worlds/undertale/Items.py
  worlds/undertale/Locations.py
  worlds/undertale/Options.py
  worlds/undertale/Regions.py
  worlds/undertale/Rules.py
  worlds/undertale/__init__.py
  worlds/undertale/data/patch.bsdiff
  worlds/undertale/docs/en_Undertale.md
  worlds/undertale/docs/undertale_en.md
Labels: new game

#1900 WebHost: fix dict lookup exceptions
  WebHostLib/generate.py
Labels: bug / fix, webhost

#1891 RoR2: bug fixes
  worlds/ror2/Items.py
  worlds/ror2/Regions.py
  worlds/ror2/RoR2Environments.py
  worlds/ror2/Rules.py
  worlds/ror2/__init__.py
Labels: bug / fix

#1894 Launcher: keep alive
  Launcher.py
  worlds/LauncherComponents.py
Labels: enhancement

#811 Add Bumper Stickers
  README.md
  worlds/bumpstik/Items.py
  worlds/bumpstik/Locations.py
  worlds/bumpstik/Options.py
  worlds/bumpstik/Regions.py
  worlds/bumpstik/__init__.py
  worlds/bumpstik/docs/en_Bumper Stickers.md
  worlds/bumpstik/docs/setup_en.md
Labels: new game

#1645 WebHost: Align multitracker status column to the left
  WebHostLib/templates/multiTracker.html
Labels: enhancement, webhost

#1904 SA2B: v2.2 Content Update
  worlds/sa2b/GateBosses.py
  worlds/sa2b/Items.py
  worlds/sa2b/Locations.py
  worlds/sa2b/Missions.py
  worlds/sa2b/Names/ItemName.py
  worlds/sa2b/Names/LocationName.py
  worlds/sa2b/Options.py
  worlds/sa2b/Regions.py
  worlds/sa2b/Rules.py
  worlds/sa2b/__init__.py
Labels: enhancement

#1903 LADX: 16 bits for the check ID
  LinksAwakeningClient.py
Labels: bug / fix

#1834 The Messenger: Add Shop Rando
  worlds/messenger/Constants.py
  worlds/messenger/Options.py
  worlds/messenger/Regions.py
  worlds/messenger/Rules.py
  worlds/messenger/Shop.py
  worlds/messenger/SubClasses.py
  worlds/messenger/__init__.py
  worlds/messenger/docs/en_The Messenger.md
  worlds/messenger/docs/setup_en.md
  worlds/messenger/test/TestAccess.py
  worlds/messenger/test/TestLogic.py
  worlds/messenger/test/TestShop.py
  worlds/messenger/test/TestShopChest.py
Labels: enhancement

#1897 The Witness: Utils.cache_argsless -> functools.lru_cache
  worlds/witness/static_logic.py
  worlds/witness/utils.py
Labels: cleanup

#1893 WebHost: Fixes multi-tracker checks sorting.
  WebHostLib/templates/multiTracker.html
Labels: bug / fix, webhost

#1373 Docs, LTTP: clarify not using qusb and remove redundancies
  worlds/alttp/docs/multiworld_en.md
Labels: documentation

#1853 Docs: rework main ap setup guide
  WebHostLib/templates/siteMap.html
  worlds/generic/__init__.py
  worlds/generic/docs/example_room.png
  worlds/generic/docs/setup_en.md
  worlds/generic/docs/using_website_en.md
  worlds/overcooked2/docs/setup_en.md
  worlds/soe/docs/multiworld_en.md
Labels: documentation

#1907 The Messenger: strip generated filler items for a sufficiently small pool
  worlds/messenger/__init__.py
  worlds/messenger/test/TestShop.py
Labels: bug / fix

#1723 Muse Dash: Add New Game
  worlds/musedash/Items.py
  worlds/musedash/Locations.py
  worlds/musedash/MuseDashCollection.py
  worlds/musedash/MuseDashData.txt
  worlds/musedash/Options.py
  worlds/musedash/__init__.py
  worlds/musedash/docs/en_Muse Dash.md
  worlds/musedash/docs/setup_en.md
  worlds/musedash/test/TestDifficultyRanges.py
  worlds/musedash/test/TestNames.py
  worlds/musedash/test/TestPlandoSettings.py
  worlds/musedash/test/TestWorstCaseSettings.py
  worlds/musedash/test/__init__.py
Labels: new game

#1859 SM: 0.4.1 Fixes and Additional Objective Options
  worlds/sm/Options.py
  worlds/sm/__init__.py
  worlds/sm/data/SMBasepatch_prebuilt/multiworld-basepatch.ips
  worlds/sm/data/SMBasepatch_prebuilt/multiworld.sym
  worlds/sm/data/SMBasepatch_prebuilt/sm-basepatch-symbols.json
  worlds/sm/docs/en_Super Metroid.md
  worlds/sm/variaRandomizer/logic/smboolmanager.py
  worlds/sm/variaRandomizer/patches/common/ips/draygonimals.ips
  worlds/sm/variaRandomizer/patches/common/ips/metalimals.ips
  worlds/sm/variaRandomizer/patches/common/ips/phantoonimals.ips
  worlds/sm/variaRandomizer/patches/common/ips/ridleyimals.ips
  worlds/sm/variaRandomizer/rando/RandoExec.py
  worlds/sm/variaRandomizer/randomizer.py
  worlds/sm/variaRandomizer/rom/rompatcher.py
  worlds/sm/variaRandomizer/utils/utils.py
Labels: bug / fix, enhancement

#1868 lufia2ac: coop support
  CommonClient.py
  Utils.py
  worlds/lufia2ac/Client.py
  worlds/lufia2ac/Items.py
  worlds/lufia2ac/Locations.py
  worlds/lufia2ac/Options.py
  worlds/lufia2ac/__init__.py
  worlds/lufia2ac/basepatch/basepatch.asm
  worlds/lufia2ac/basepatch/basepatch.bsdiff4
  worlds/lufia2ac/docs/en_Lufia II Ancient Cave.md
  worlds/lufia2ac/test/TestGoal.py
Labels: enhancement, core

#1910 Factorio: fix resync not reconciling divergent history
  worlds/factorio/data/mod_template/control.lua
Labels: bug / fix

#1112 LTTP/SM/SMZ3: Show correct item icon for cross-game items
  worlds/alttp/Rom.py
  worlds/sm/__init__.py
  worlds/smz3/TotalSMZ3/Patch.py
Labels: enhancement

#1198 Mega Man Battle Network 3: Implement New Game
  MMBN3Client.py
  Utils.py
  data/lua/connector_mmbn3.lua
  host.yaml
  inno_setup.iss
  worlds/LauncherComponents.py
  worlds/mmbn3/BN3RomUtils.py
  worlds/mmbn3/Items.py
  worlds/mmbn3/Locations.py
  worlds/mmbn3/Names/ItemName.py
  worlds/mmbn3/Names/LocationName.py
  worlds/mmbn3/Options.py
  worlds/mmbn3/Regions.py
  worlds/mmbn3/Rom.py
  worlds/mmbn3/__init__.py
  worlds/mmbn3/data/bn3-ap-patch.bsdiff
  worlds/mmbn3/docs/en_MegaMan Battle Network 3.md
  worlds/mmbn3/docs/setup_en.md
  worlds/mmbn3/lz10.py
Labels: new game

#1906 OriBF: Move Ori and the Blind Forest to `worlds_disabled`.
  test/general/TestReachability.py
  worlds_disabled/README.md
  worlds_disabled/oribf/Items.py
  worlds_disabled/oribf/Locations.py
  worlds_disabled/oribf/Options.py
  worlds_disabled/oribf/Regions.py
  worlds_disabled/oribf/Rules.py
  worlds_disabled/oribf/RulesData.py
  worlds_disabled/oribf/Types.py
  worlds_disabled/oribf/__init__.py
Labels: cleanup

#1912 Docs: Adds MMBN3 to Readme.md
  README.md
Labels: documentation

#1914 lufia2ac: use an appropriate dungeon sprite and battle theme for each boss
  worlds/lufia2ac/Options.py
  worlds/lufia2ac/__init__.py
Labels: enhancement

#1918 MMBN3: Press program now has proper color index when received remotely
  data/lua/connector_mmbn3.lua
Labels: bug / fix

#1917 Hylics 2: Add missing location
  worlds/hylics2/Items.py
  worlds/hylics2/Locations.py
  worlds/hylics2/Rules.py
  worlds/hylics2/__init__.py
Labels: bug / fix
