Repository ArchipelagoMW/Archipelago, pull requests merged in 2023-05, with the labels that each got.

#1762 WebHost: Prevent `dict` type options with `valid_keys` from exporting with `[]` on weighted settings.
  WebHostLib/options.py
Labels: bug / fix

#1833 RoR2: Victory Conditions Doc Update
  worlds/ror2/Options.py
  worlds/ror2/docs/en_Risk of Rain 2.md
Labels: documentation

#1851 Tests: sort custom loaded tests
  test/worlds/__init__.py
Labels: cleanup, core

#1850 Tests: make names more unique
  test/general/TestReachability.py
Labels: cleanup, core
