Repository ArchipelagoMW/Archipelago, pull requests merged in 2023-03, with the labels that each got.

#1354 TLoZ: Implementing The Legend of Zelda
  .gitignore
  Launcher.py
  README.md
  Utils.py
  Zelda1Client.py
  data/lua/TLoZ/TheLegendOfZeldaConnector.lua
  data/lua/TLoZ/core.dll
  data/lua/TLoZ/json.lua
  data/lua/TLoZ/socket.lua
  host.yaml
  worlds/tloz/ItemPool.py
  worlds/tloz/Items.py
  worlds/tloz/Locations.py
  worlds/tloz/Options.py
  worlds/tloz/Rom.py
  worlds/tloz/Rules.py
  worlds/tloz/__init__.py
  worlds/tloz/docs/en_The Legend of Zelda.md
  worlds/tloz/docs/multiworld_en.md
  worlds/tloz/requirements.txt
  worlds/tloz/z1_base_patch.bsdiff4
Labels: new game

#1494 The Messenger: implement new game
  README.md
  setup.py
  worlds/messenger/Constants.py
  worlds/messenger/Options.py
  worlds/messenger/Regions.py
  worlds/messenger/Rules.py
  worlds/messenger/SubClasses.py
  worlds/messenger/__init__.py
  worlds/messenger/docs/en_The Messenger.md
  worlds/messenger/docs/setup_en.md
  worlds/messenger/test/TestAccess.py
  worlds/messenger/test/TestNotes.py
  worlds/messenger/test/TestShopChest.py
  worlds/messenger/test/__init__.py
Labels: new game

#768 Docs: SM64 Guide update to explain how to launch the game with batch files
  worlds/sm64ex/docs/setup_en.md
Labels: documentation

#684 Deprecate `data_version` and introduce `checksum` for DataPackages.
  .gitignore
  BaseClasses.py
  CommonClient.py
  Main.py
  MultiServer.py
  Utils.py
  WebHostLib/api/__init__.py
  WebHostLib/customserver.py
  WebHostLib/models.py
  WebHostLib/tracker.py
  WebHostLib/upload.py
  docs/network protocol.md
  docs/world api.md
  requirements.txt
  worlds/AutoWorld.py
  worlds/__init__.py
  worlds/bk_sudoku/__init__.py
  worlds/generic/__init__.py
  worlds/hylics2/__init__.py
  worlds/oribf/__init__.py
Labels: core

#1438 KH2 game implementation
  KH2Client.py
  Launcher.py
  WebHostLib/downloads.py
  WebHostLib/templates/macros.html
  worlds/kh2/Items.py
  worlds/kh2/Locations.py
  worlds/kh2/Names/ItemName.py
  worlds/kh2/Names/LocationName.py
  worlds/kh2/Names/RegionName.py
  worlds/kh2/OpenKH.py
  worlds/kh2/Options.py
  worlds/kh2/Regions.py
  worlds/kh2/Rules.py
  worlds/kh2/WorldLocations.py
  worlds/kh2/XPValues.py
  worlds/kh2/__init__.py
  worlds/kh2/docs/en_Kingdom Hearts 2.md
  worlds/kh2/docs/setup_en.md
  worlds/kh2/logic.py
  worlds/kh2/mod_template/mod.yml
  worlds/kh2/requirements.txt
  worlds/kh2/test/TestGoal.py
  worlds/kh2/test/__init__.py
Labels: new game

#1566 Clique: The greatest game of all time.
  README.md
  worlds/clique/Options.py
  worlds/clique/__init__.py
  worlds/clique/docs/en_Clique.md
  worlds/clique/docs/guide_en.md
Labels: new game

#1614 [WebHost] Add support for items-list, locations-list, and custom-list option types to weighted-settings
  WebHostLib/options.py
  WebHostLib/static/assets/weighted-settings.js
  WebHostLib/static/styles/weighted-settings.css
Labels: webhost
