Repository ArchipelagoMW/Archipelago, pull requests merged in 2024-09, with the labels that each got.

#3864 customserver: fix memory leak
  MultiServer.py
  WebHostLib/customserver.py
Labels: is: bug/fix, affects: core, affects: webhost, waiting-on: peer-review

#3865 Rogue Legacy: Raise Exception when there are overlapping IDs
  worlds/rogue_legacy/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3858 MultiServer: put some limits in place
  MultiServer.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3290 Core, CI: Add Python 3.12 support
  .github/workflows/unittests.yml
  ModuleUpdate.py
  WebHostLib/requirements.txt
  docs/running from source.md
Labels: is: maintenance, affects: core, affects: webhost, waiting-on: peer-review

#3701 WebHost: config override
  WebHost.py
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#3869 Core: update dependencies
  requirements.txt
Labels: affects: core, waiting-on: peer-review

#3871 WebHost: update dependencies
  WebHostLib/requirements.txt
Labels: affects: webhost, waiting-on: peer-review

#3874 KDL3: Account for additional animal in pool
  worlds/kdl3/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#3873 The Messenger: remove an invalid entrance
  worlds/messenger/connections.py
Labels: is: bug/fix, waiting-on: core-review

#3870 Pokemon Emerald: Fix client crash on certain systems
  worlds/pokemon_emerald/client.py
Labels: is: bug/fix, waiting-on: peer-review

#3552 Docs: Mention indirect_conditions and that they are a *hard requirement* (with a few sharp exception cases)
  docs/world api.md
Labels: is: documentation, waiting-on: core-review

#3682 Core: Region handling customization
  BaseClasses.py
  worlds/AutoWorld.py
  worlds/factorio/__init__.py
  worlds/subnautica/__init__.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3239 The Witness: Implement "Variety" puzzles mode
  worlds/witness/__init__.py
  worlds/witness/data/WitnessLogicVariety.txt
  worlds/witness/data/static_items.py
  worlds/witness/data/static_logic.py
  worlds/witness/data/utils.py
  worlds/witness/hints.py
  worlds/witness/options.py
  worlds/witness/player_items.py
  worlds/witness/player_logic.py
  worlds/witness/regions.py
  worlds/witness/test/test_lasers.py
  worlds/witness/test/test_roll_other_options.py
  worlds/witness/test/test_symbol_shuffle.py
Labels: is: enhancement, waiting-on: core-review

#3884 Docs: Specify process for adding a world maintainer to an existing world
  docs/world maintainer.md
Labels: is: documentation, waiting-on: core-review

#3889 DOCS: Option Visibility and removing SpecialRange
  docs/options api.md
Labels: is: documentation, waiting-on: peer-review

#3886 HK: speed up collect (a bit)
  worlds/hk/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3876 DOCS: Removing #archipelago-dev from places
  WebHostLib/static/assets/faq/faq_en.md
  docs/running from source.md
  docs/world maintainer.md
Labels: is: documentation, affects: webhost, waiting-on: core-review

#3892 The Witness: Fix nondeterministic entity hunt
  worlds/witness/entity_hunt.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#3894 CODEOWNERS: Move OoT to "unmaintained"
  docs/CODEOWNERS
Labels: is: documentation, waiting-on: peer-review

#3896 Webhost: Fixed typo in userContent.html
  WebHostLib/templates/userContent.html
Labels: is: documentation, affects: webhost, waiting-on: core-review

#3878 Yacht Dice: logic fix and several other fixes
  worlds/yachtdice/Rules.py
  worlds/yachtdice/YachtWeights.py
  worlds/yachtdice/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#2779 Core: have webhost slot name links go through the launcher
  CommonClient.py
  Launcher.py
  WebHostLib/templates/macros.html
  inno_setup.iss
  worlds/LauncherComponents.py
  worlds/messenger/__init__.py
  worlds/messenger/client_setup.py
Labels: is: enhancement, affects: core, affects: webhost, waiting-on: core-review

#3297 CommonClient: allow worlds to change title of run_gui without rewriting it
  CommonClient.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3383 Pokemon Emerald: Use some new state functions, improve rule reuse
  worlds/pokemon_emerald/rules.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3485 Docs: Update Trap classification comment
  BaseClasses.py
Labels: is: documentation, affects: core, waiting-on: core-review

#3544 TUNIC: Logic Rules Redux
  worlds/tunic/__init__.py
  worlds/tunic/docs/en_TUNIC.md
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
  worlds/tunic/items.py
  worlds/tunic/ladder_storage_data.py
  worlds/tunic/locations.py
  worlds/tunic/options.py
  worlds/tunic/regions.py
  worlds/tunic/rules.py
  worlds/tunic/test/test_access.py
Labels: is: enhancement, is: refactor/cleanup, waiting-on: core-review

#3440 SC2 EN/FR documentation update
  worlds/sc2/docs/en_Starcraft 2.md
  worlds/sc2/docs/fr_Starcraft 2.md
  worlds/sc2/docs/setup_en.md
  worlds/sc2/docs/setup_fr.md
Labels: is: documentation, waiting-on: core-review

#3714 Launcher: explicitly handle cli arguments to be passed to the Component
  CommonClient.py
  Launcher.py
  worlds/LauncherComponents.py
Labels: is: bug/fix, is: enhancement, affects: core, waiting-on: core-review

#3568 CommonClient: Explicitly parse url arg as an archipelago:// url
  CommonClient.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#3640 Stardew Valley: Fix masteries logic so it requires levels and tools
  worlds/stardew_valley/logic/skill_logic.py
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/rules/TestSkills.py
Labels: is: bug/fix, waiting-on: core-review

#3727 Pokemon Emerald: Make use of `NamedTuple._replace`
  worlds/pokemon_emerald/data.py
  worlds/pokemon_emerald/opponents.py
  worlds/pokemon_emerald/pokemon.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3755 Rogue Legacy: Update to Options API
  worlds/rogue_legacy/Options.py
  worlds/rogue_legacy/Regions.py
  worlds/rogue_legacy/Rules.py
  worlds/rogue_legacy/__init__.py
  worlds/rogue_legacy/test/__init__.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: core-review

#3795 Core: Fix Generate's slot parsing to default unknown slot names to file name
  Generate.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3083 The Messenger: improve automated installation
  worlds/messenger/__init__.py
  worlds/messenger/client_setup.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3908 Rogue Legacy: Split Additional Names into two option classes
  worlds/rogue_legacy/Options.py
Labels: is: refactor/cleanup, waiting-on: world-maintainer, waiting-on: peer-review

#3834 Core, ALTTP: Plando (#2904) fixes
  Options.py
  worlds/alttp/Options.py
Labels: is: bug/fix, affects: core, waiting-on: world-maintainer, waiting-on: peer-review

#3891 The Witness: Bump Required Client Version
  worlds/witness/__init__.py
Labels: is: maintenance, affects: release/blocker, waiting-on: peer-review

#3917 Pokemon Emerald: Add normalize encounter rate option to slot data
  worlds/pokemon_emerald/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3910 BizHawkClient: Remove `run_gui` in favor of `make_gui`
  CommonClient.py
  worlds/_bizhawk/context.py
Labels: is: refactor/cleanup, affects: core, waiting-on: peer-review

#3882 Add myself as a world maintainer for DS3
  docs/CODEOWNERS
Labels: is: documentation, waiting-on: core-review

#3944 Core: update version number
  Utils.py
Labels: is: maintenance, affects: core, waiting-on: peer-review

#3932 HK: XBox doesn't exist
  worlds/hk/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3947 Lingo: Add missing connection from The Tenacious -> Hub Room
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
Labels: is: bug/fix, waiting-on: core-review

#3931 MMBN3: Add missing indirect conditions
  worlds/mmbn3/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#3922 MM2: fix Air Shooter minimum damage
  worlds/mm2/rules.py
Labels: is: bug/fix, waiting-on: core-review

#3921 [OSRS] Adds Description to OSRS World
  worlds/osrs/__init__.py
Labels: is: bug/fix, is: documentation, affects: release/blocker, waiting-on: core-review

#3939 Pokemon Emerald: Fix unguarded wonder trade write
  worlds/pokemon_emerald/client.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3940 Core: Add color conversions for colorama/terminal output
  NetUtils.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#3901 Blasphemous: Move pre_fill to create_items
  worlds/blasphemous/__init__.py
Labels: is: bug/fix, is: refactor/cleanup, affects: release/blocker, waiting-on: peer-review

#3712 OOT: Fix missing region accessibility updates after update_reachable_regions()
  worlds/oot/Regions.py
  worlds/oot/Rules.py
  worlds/oot/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#3953 YGO06: slotdata fix
  worlds/yugioh06/__init__.py
  worlds/yugioh06/rules.py
Labels: is: bug/fix, waiting-on: core-review

#3952 Pokemon Emerald: Update changelog
  worlds/pokemon_emerald/CHANGELOG.md
Labels: is: documentation, waiting-on: author

#3949 SC2: Fix /received display bugs
  worlds/sc2/Client.py
  worlds/sc2/ClientGui.py
Labels: is: bug/fix, waiting-on: core-review

#3900 Pokemon Emerald: Prevent client from spamming goal status update
  worlds/pokemon_emerald/client.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#3883 DS3: Mark the Archdeacon Set as downstream of Deacons of the Deep
  worlds/dark_souls_3/Bosses.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#3582 LADX: Adding Slot Data For Magpie Tracker
  LinksAwakeningClient.py
  worlds/ladx/Tracker.py
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#3880 TUNIC: Better logic for Library Lab glass and Fortress leaf piles
  worlds/tunic/er_rules.py
  worlds/tunic/rules.py
Labels: is: bug/fix, waiting-on: core-review

#3857 DS3: Make Red Eye Orb always require Lift Chamber Key
  worlds/dark_souls_3/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#3838 The Messenger: Fix Portal Plando Issues
  worlds/messenger/portals.py
Labels: is: bug/fix, waiting-on: peer-review

#3735 Stardew valley: Add Marlon bedroom entrance rule
  worlds/stardew_valley/content/vanilla/pelican_town.py
  worlds/stardew_valley/data/game_item.py
  worlds/stardew_valley/logic/source_logic.py
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/rules/TestBooks.py
Labels: is: bug/fix, waiting-on: peer-review

#3833 Stardew Valley: Remove Accessibility and progression balancing from presets
  worlds/stardew_valley/presets.py
Labels: is: bug/fix, waiting-on: peer-review

#3705 DOOM II: Fix sector 95 assignment in DOOM II MAP17 to correctly flag …
  worlds/doom_ii/Locations.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#3760 Factorio: update API use
  worlds/factorio/Mod.py
  worlds/factorio/Options.py
  worlds/factorio/Shapes.py
  worlds/factorio/Technologies.py
  worlds/factorio/__init__.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: core-review

#3948 WebHost: Better host room v2
  WebHostLib/misc.py
  WebHostLib/static/styles/hostRoom.css
  WebHostLib/templates/hostRoom.html
  test/webhost/test_host_room.py
Labels: is: bug/fix, is: enhancement, affects: webhost, waiting-on: peer-review

#3653 Core: change yaml_output to output a full csv
  Generate.py
  Main.py
  Options.py
  WebHostLib/generate.py
Labels: is: bug/fix, is: enhancement, affects: core, affects: webhost, waiting-on: core-review

#3955 Core: rename yaml_output to csv_output
  Generate.py
  Main.py
  WebHostLib/generate.py
Labels: affects: core, affects: webhost, waiting-on: peer-review

#3958 WebHost: move api/room_status out of __init__.py
  WebHostLib/api/__init__.py
  WebHostLib/api/room.py
Labels: is: refactor/cleanup, affects: webhost, waiting-on: peer-review

#3744 MLSS: Various bugfixes and QoL updates
  worlds/mlss/Client.py
  worlds/mlss/Data.py
  worlds/mlss/Items.py
  worlds/mlss/Locations.py
  worlds/mlss/Names/LocationName.py
  worlds/mlss/Options.py
  worlds/mlss/Regions.py
  worlds/mlss/Rom.py
  worlds/mlss/Rules.py
  worlds/mlss/__init__.py
  worlds/mlss/data/basepatch.bsdiff
Labels: is: bug/fix, is: enhancement, affects: release/blocker, waiting-on: peer-review

#3566 Pokemon R/B: Version 5 Update
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/basepatch_blue.bsdiff4
  worlds/pokemon_rb/basepatch_red.bsdiff4
  worlds/pokemon_rb/docs/en_Pokemon Red and Blue.md
  worlds/pokemon_rb/encounters.py
  worlds/pokemon_rb/items.py
  worlds/pokemon_rb/level_scaling.py
  worlds/pokemon_rb/locations.py
  worlds/pokemon_rb/logic.py
  worlds/pokemon_rb/options.py
  worlds/pokemon_rb/pokemon.py
  worlds/pokemon_rb/regions.py
  worlds/pokemon_rb/rom.py
  worlds/pokemon_rb/rom_addresses.py
  worlds/pokemon_rb/rules.py
Labels: is: enhancement, waiting-on: author, waiting-on: core-review

#3554 BizHawkClient: Avoid error launching BizHawkClient via Launcher CLI
  BizHawkClient.py
  worlds/_bizhawk/client.py
  worlds/_bizhawk/context.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3776 UT integration for OSRS to support chunksanity
  worlds/osrs/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3719 Zillion: fix logic cache (rework)
  worlds/zillion/__init__.py
  worlds/zillion/logic.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3767 Ocarina of Time: options and general cleanup
  worlds/oot/Cosmetics.py
  worlds/oot/Entrance.py
  worlds/oot/EntranceShuffle.py
  worlds/oot/HintList.py
  worlds/oot/Hints.py
  worlds/oot/ItemPool.py
  worlds/oot/Messages.py
  worlds/oot/Music.py
  worlds/oot/N64Patch.py
  worlds/oot/Options.py
  worlds/oot/Patches.py
  worlds/oot/RuleParser.py
  worlds/oot/Rules.py
  worlds/oot/TextBox.py
  worlds/oot/__init__.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: peer-review

#3852 The Witness: Remove some unused code
  worlds/witness/rules.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3899 Kingdom Hearts: Fix Hint Spam and Add Setting Queries
  worlds/kh1/Client.py
Labels: is: bug/fix, waiting-on: peer-review

#3954 [OSRS] Adds display names to Options
  worlds/osrs/Options.py
Labels: is: enhancement, waiting-on: core-review

#3968 Yacht Dice: Remove Victory item and make it an event instead
  worlds/yachtdice/Items.py
  worlds/yachtdice/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#3909 Docs: added Brazilian Portuguese Translation for Hollow Knight setup guide
  worlds/hk/__init__.py
  worlds/hk/docs/setup_pt_br.md
Labels: is: documentation, waiting-on: core-review

#3971 HK: add race bool to slot data
  worlds/hk/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3972 TUNIC: Deal with the boxes blocking the entrance to Beneath the Vault
  worlds/tunic/er_rules.py
  worlds/tunic/rules.py
Labels: is: bug/fix, waiting-on: peer-review

#3625 Stardew Valley: Fix Art Of Crabbing Logic and Extract Festival Logic
  worlds/stardew_valley/content/vanilla/pelican_town.py
  worlds/stardew_valley/data/items.csv
  worlds/stardew_valley/logic/festival_logic.py
  worlds/stardew_valley/logic/logic.py
Labels: is: bug/fix, waiting-on: peer-review

#3957 Doom 1993 (auto-generated files): Update E4 logic
  worlds/doom_1993/Locations.py
  worlds/doom_1993/Regions.py
  worlds/doom_1993/Rules.py
Labels: is: bug/fix, waiting-on: peer-review

#3718 AHIT: Fix massive lag spikes in extremely large multiworlds, add extra security to prevent loading the wrong save file for a seed
  worlds/ahit/Client.py
  worlds/ahit/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#3981 TUNIC: Add forgotten Laurels rule for Beneath the Vault Boxes
  worlds/tunic/er_rules.py
Labels: waiting-on: peer-review

#3978 AHIT: Fix Death Wish option check typo
  worlds/ahit/DeathWishLocations.py
Labels: is: bug/fix, waiting-on: peer-review

#3950 kvui: abstract away client tab additions
  WargrooveClient.py
  kvui.py
  worlds/sc2/ClientGui.py
Labels: affects: core, waiting-on: core-review

#3984 Stardew Valley: Improve Junimo Kart Regions
  worlds/stardew_valley/data/locations.csv
  worlds/stardew_valley/regions.py
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/strings/entrance_names.py
  worlds/stardew_valley/strings/region_names.py
Labels: is: bug/fix, waiting-on: core-review

#3982 Stardew Valley: Remove Python 3.8 backports 🎉
  worlds/stardew_valley/content/unpacking.py
  worlds/stardew_valley/data/artisan.py
  worlds/stardew_valley/data/game_item.py
  worlds/stardew_valley/data/harvest.py
  worlds/stardew_valley/data/shop.py
  worlds/stardew_valley/data/skill.py
  worlds/stardew_valley/items.py
  worlds/stardew_valley/locations.py
  worlds/stardew_valley/requirements.txt
  worlds/stardew_valley/test/stability/TestStability.py
Labels: is: maintenance, waiting-on: other

#3585 WebHost: Added Games Of A Seed To The User Content Page
  WebHostLib/templates/userContent.html
Labels: is: enhancement, affects: webhost, waiting-on: author, waiting-on: peer-review

#3569 WebHost: Adds link to other players' trackers in player hints.
  WebHostLib/templates/genericTracker.html
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#3998 Core: Put an assert for parent region in Entrance.can_reach just like the one in Location.can_reach
  BaseClasses.py
Labels: is: enhancement, is: refactor/cleanup, affects: core, waiting-on: peer-review

#3991 bumpstik: add hazard bumpers to completion
  worlds/bumpstik/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#3999 Core: use base collect/remove for item link groups
  BaseClasses.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3997 Timespinner: Fix Typo in Download Location
  worlds/timespinner/Locations.py
Labels: is: bug/fix, waiting-on: core-review

#3990 SC2: Fix item origins, so including/excluding NCO/BW/EXT items works properly
  worlds/sc2/Items.py
Labels: is: bug/fix, waiting-on: core-review

#3904 The Messenger: add webhost auto connection steps to guide
  worlds/messenger/docs/en_The Messenger.md
  worlds/messenger/docs/setup_en.md
Labels: is: documentation, waiting-on: peer-review

#4001 Stardew Valley: Add Cinder Shard resource pack
  worlds/stardew_valley/data/items.csv
Labels: is: enhancement, waiting-on: core-review

#3988 Hollow Knight: Clean outdated slot data code and comments
  worlds/hk/__init__.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: core-review

#3879 SM64: Remove outdated information on save bugs from setup guide
  worlds/sm64ex/docs/setup_en.md
Labels: is: documentation, affects: release/blocker, waiting-on: core-review

#3902 Adjusts Whitespaces in the Plando Doc to be able to be copied directly
  worlds/generic/docs/plando_en.md
Labels: is: documentation, waiting-on: core-review

#3821 CommonClient: add more docstrings and comments
  CommonClient.py
Labels: is: documentation, affects: core, waiting-on: core-review

#3992 The Messenger: remove 3.8 compatibility
  worlds/messenger/__init__.py
  worlds/messenger/client_setup.py
  worlds/messenger/connections.py
  worlds/messenger/constants.py
  worlds/messenger/options.py
  worlds/messenger/portals.py
  worlds/messenger/regions.py
  worlds/messenger/rules.py
  worlds/messenger/shop.py
  worlds/messenger/subclasses.py
  worlds/messenger/test/test_shop.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: other

#3983 Core: Import `TypeGuard` from native typing instead of typing_extentions
  Utils.py
  worlds/AutoSNIClient.py
  worlds/zillion/options.py
Labels: is: maintenance, waiting-on: other

#3866 Core: update World method comment
  worlds/AutoWorld.py
Labels: is: documentation, affects: core, waiting-on: core-review

#3938 BizHawkClient: Fix typing mistake
  worlds/_bizhawk/__init__.py
Labels: is: bug/fix, waiting-on: core-review
