Repository ArchipelagoMW/Archipelago, pull requests merged in 2024-01, with the labels that each got.

#2649 Zillion: move client to worlds/zillion
  ZillionClient.py
  worlds/zillion/client.py
Labels: is: refactor/cleanup

#2621 KH2: Ability dupe fix and stat increase fix
  worlds/kh2/Client.py
  worlds/kh2/Rules.py
Labels: is: bug/fix, affects: release/blocker

#2653 Core: check if a location is an event before excluding it
  worlds/generic/Rules.py
Labels: is: bug/fix, affects: core

#2660 WebHost: Copyright update time.
  WebHostLib/templates/islandFooter.html
Labels: is: maintenance, affects: webhost

#2664 WebHost: Fix 500 Server errors relating to player/multi trackers.
  WebHostLib/tracker.py
Labels: is: bug/fix, affects: release/blocker, affects: webhost

#2633 KH2: setup guide update to reflect main rando
  worlds/kh2/docs/setup_en.md
Labels: is: documentation

#2610 KH2: Update docs and logic sheet to reflect 4.4
  worlds/kh2/docs/en_Kingdom Hearts 2.md
  worlds/kh2/docs/setup_en.md
Labels: is: documentation, is: enhancement

#2627 Docs: Update regarding new launcher
  worlds/adventure/docs/setup_en.md
  worlds/alttp/docs/multiworld_en.md
  worlds/checksfinder/docs/setup_en.md
  worlds/dkc3/docs/setup_en.md
  worlds/ffmq/docs/setup_en.md
  worlds/generic/docs/setup_en.md
  worlds/ladx/docs/setup_en.md
  worlds/lufia2ac/docs/setup_en.md
  worlds/minecraft/docs/minecraft_en.md
  worlds/mmbn3/docs/setup_en.md
  worlds/oot/docs/setup_en.md
  worlds/sm/docs/multiworld_en.md
  worlds/smw/docs/setup_en.md
  worlds/smz3/docs/multiworld_en.md
  worlds/undertale/docs/setup_en.md
  worlds/zillion/docs/setup_en.md
Labels: is: documentation

#2563 CommonClient: request datapackage per-game
  CommonClient.py
Labels: is: refactor/cleanup, affects: core

#2552 Core: clean up MultiServer.py/auto_shutdown
  MultiServer.py
Labels: is: refactor/cleanup, affects: core

#2667 SMZ3: 0.4.4 backward compat client fix
  worlds/smz3/Client.py
  worlds/smz3/TotalSMZ3/Patch.py
Labels: is: bug/fix

#2676 KH2: Fix Terra logic
  worlds/kh2/Rules.py
Labels: is: bug/fix

#2682 Zillion: client win location check
  worlds/zillion/client.py
Labels: is: bug/fix

#2678 KH2: Fix plando breaking because of keyblades
  worlds/kh2/Rules.py
Labels: is: bug/fix

#2683 Hollow Knight: Fix fragile/unbreakable charm variants counting as 2 distinct charms in logic.
  worlds/hk/ExtractedData.py
Labels: is: bug/fix

#2659 Muse Dash: Update song list to v3.12.0 and fix up a missing song
  worlds/musedash/MuseDashCollection.py
  worlds/musedash/MuseDashData.txt
  worlds/musedash/Options.py
  worlds/musedash/__init__.py
  worlds/musedash/test/TestDifficultyRanges.py
Labels: is: enhancement

#2693 WebHost: Fix /api/generate
  WebHostLib/api/generate.py
  test/webhost/test_api_generate.py
Labels: is: bug/fix, affects: webhost

#2680 Docs - Fix broken link in Landstalker setup Guide
  worlds/landstalker/docs/landstalker_setup_en.md
Labels: is: documentation

#2671 Tests: remove deprecated option access from `WorldTestBase`
  test/bases.py
  test/general/test_reachability.py
Labels: is: refactor/cleanup, affects: core

#2690 Shivers: Fixes issue with office elevator rule logic.
  worlds/shivers/Rules.py
  worlds/shivers/data/excluded_locations.json
  worlds/shivers/data/locations.json
Labels: is: bug/fix

#2694 PyCharm: ship a working unittest run config
  .run/Archipelago Unittests.run.xml
Labels: is: enhancement

#2687 Pokémon R/B: Fix move intervention
  worlds/pokemon_rb/__init__.py
Labels: is: bug/fix

#2701 SoE: use new AP API and naming and make APworld
  setup.py
  worlds/soe/Logic.py
  worlds/soe/__init__.py
  worlds/soe/logic.py
  worlds/soe/options.py
  worlds/soe/patch.py
  worlds/soe/test/__init__.py
  worlds/soe/test/test_access.py
  worlds/soe/test/test_goal.py
  worlds/soe/test/test_oob.py
  worlds/soe/test/test_sequence_breaks.py
  worlds/soe/test/test_traps.py
Labels: is: refactor/cleanup

#2699 Docs: add FR guide for DLCQuest
  worlds/dlcquest/__init__.py
  worlds/dlcquest/docs/fr_DLCQuest.md
  worlds/dlcquest/docs/setup_fr.md
Labels: is: documentation

#2172 TUNIC: Implement New Game
  README.md
  docs/CODEOWNERS
  worlds/tunic/__init__.py
  worlds/tunic/docs/en_Tunic.md
  worlds/tunic/docs/setup_en.md
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
  worlds/tunic/items.py
  worlds/tunic/locations.py
  worlds/tunic/options.py
  worlds/tunic/regions.py
  worlds/tunic/rules.py
  worlds/tunic/test/__init__.py
  worlds/tunic/test/test_access.py
Labels: is: new game

#2712 TUNIC: Update game page for blurb about playing vanilla first
  worlds/tunic/docs/en_Tunic.md
  worlds/tunic/docs/setup_en.md
Labels: is: documentation

#2557 Docs: specify that deathlink cause should contain the player name
  docs/network protocol.md
Labels: is: documentation, affects: core

#1460 Tests: add a test for worlds to not modify the itempool after `create_items`
  test/general/test_items.py
  worlds/AutoWorld.py
Labels: is: documentation, is: maintenance, is: refactor/cleanup

#2666 Core: migrate start_inventory_from_pool to new options API
  Main.py
Labels: is: refactor/cleanup, affects: core

#2681 Typing: improve kivy type stubs
  typings/kivy/graphics/__init__.pyi
  typings/kivy/graphics/texture.pyi
  typings/kivy/uix/image.pyi
Labels: is: refactor/cleanup, affects: core

#2673 Zillion: remove old option access from item link validation
  worlds/zillion/__init__.py
  worlds/zillion/logic.py
  worlds/zillion/options.py
Labels: is: refactor/cleanup

#2566 Core: set consistent server defaults
  WebHostLib/templates/generate.html
  settings.py
Labels: is: maintenance, affects: core, affects: webhost

#2433 Test: add location access rule benchmark
  test/benchmark/__init__.py
Labels: is: refactor/cleanup, affects: core

#2714 TLOZ: Update to new options API
  worlds/tloz/ItemPool.py
  worlds/tloz/Options.py
  worlds/tloz/Rules.py
  worlds/tloz/__init__.py
Labels: is: refactor/cleanup

#2726 TLOZ: properly assign options
  worlds/tloz/__init__.py
Labels: is: refactor/cleanup

#2581 Worlds Docs: Translations German (Clique, BK Sudoku, OoT)
  worlds/bk_sudoku/__init__.py
  worlds/bk_sudoku/docs/de_Sudoku.md
  worlds/bk_sudoku/docs/setup_de.md
  worlds/clique/__init__.py
  worlds/clique/docs/de_Clique.md
  worlds/clique/docs/guide_de.md
  worlds/oot/__init__.py
  worlds/oot/docs/MultiWorld-Room_oot.png
  worlds/oot/docs/de_Ocarina of Time.md
  worlds/oot/docs/setup_de.md
Labels: is: documentation

#2677 Lingo: Remove colors from Bearer SIXes
  worlds/lingo/data/LL1.yaml
Labels: is: bug/fix

#2669 The Witness: Add "Town Desert Laser Redirect Control (Panel)" as an item
  worlds/witness/Options.py
  worlds/witness/WitnessItems.txt
  worlds/witness/WitnessLogic.txt
  worlds/witness/WitnessLogicExpert.txt
  worlds/witness/WitnessLogicVanilla.txt
  worlds/witness/player_logic.py
  worlds/witness/rules.py
  worlds/witness/settings/Door_Shuffle/Complex_Additional_Panels.txt
  worlds/witness/settings/Door_Shuffle/Simple_Panels.txt
  worlds/witness/static_logic.py
Labels: is: enhancement

#2665 The Witness: Add Obelisk Side locations to always and priority hints
  worlds/witness/hints.py
Labels: is: bug/fix

#2668 V6: Use new options api
  worlds/v6/Options.py
  worlds/v6/Regions.py
  worlds/v6/Rules.py
  worlds/v6/__init__.py
Labels: is: refactor/cleanup

#2655 Pokemon Emerald: Automatically exclude locations based on goal
  worlds/pokemon_emerald/__init__.py
Labels: is: enhancement

#2643 The Witness: Desert Control Panels & Desert Location Names
  worlds/witness/WitnessItems.txt
  worlds/witness/WitnessLogic.txt
  worlds/witness/WitnessLogicExpert.txt
  worlds/witness/WitnessLogicVanilla.txt
  worlds/witness/__init__.py
  worlds/witness/locations.py
  worlds/witness/settings/Door_Shuffle/Complex_Additional_Panels.txt
Labels: is: enhancement

#2590 The Witness: Local Laser Shuffle + Option Presets
  worlds/witness/Options.py
  worlds/witness/__init__.py
  worlds/witness/presets.py
Labels: is: enhancement

#2645 The Witness: Bonk Trap
  worlds/witness/Options.py
  worlds/witness/WitnessItems.txt
Labels: is: enhancement

#2646 The Witness: Death Link Amnesty
  worlds/witness/Options.py
Labels: is: enhancement

#2635 KH2: Promise charm logic
  worlds/kh2/Rules.py
Labels: is: refactor/cleanup

#2631 The Witness: Cleanup - Options Access, data version, snake_case for file name
  worlds/witness/__init__.py
  worlds/witness/options.py
Labels: is: refactor/cleanup

#2532 LttP: move _hint_text to SubClasses
  BaseClasses.py
  worlds/alttp/SubClasses.py
Labels: is: refactor/cleanup, affects: core

#2502 Setup: auto update vc redist
  inno_setup.iss
  setup.py
Labels: is: maintenance, affects: core

#2720 TUNIC: Change Tunic to TUNIC
  worlds/tunic/__init__.py
  worlds/tunic/docs/en_TUNIC.md
  worlds/tunic/er_scripts.py
  worlds/tunic/test/__init__.py
Labels: is: refactor/cleanup

#2101 LADX: music shuffle
  worlds/ladx/Options.py
Labels: is: enhancement

#2772 TUNIC: Fix for nmg logic bug
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
Labels: is: bug/fix

#2774 Adventure: Fix iterable copy error when freeincarnate_max is tuned low
  worlds/adventure/__init__.py
Labels: is: bug/fix

#2757 KH2: Fix empty location groups
  worlds/kh2/Locations.py
Labels: is: refactor/cleanup

#2744 Doc: add GM libs to network protocol.md
  docs/network protocol.md
Labels: is: documentation

#2748 Tests: test that item/location name groups are not empty
  test/general/test_groups.py
Labels: is: enhancement

#2770 Docs: fixed typo in Stardew Valley setup guide
  worlds/stardew_valley/docs/en_Stardew Valley.md
  worlds/stardew_valley/docs/setup_en.md
Labels: is: documentation

#2778 Tests: use strict equality in some tests
  test/general/test_items.py
  test/general/test_locations.py
Labels: affects: core

#2740 Pokémon R/B: Fix missing comma in Thunder Stone item groups
  worlds/pokemon_rb/items.py
Labels: is: bug/fix

#2598 Docs: world api general cleanup/overhaul
  docs/options api.md
  docs/style.md
  docs/world api.md
Labels: is: documentation, is: maintenance

#2781 Lingo: Enable start_inventory_from_pool
  worlds/lingo/__init__.py
  worlds/lingo/options.py
Labels: is: enhancement

#2737 LTTP: Update playerSettings.yaml to require AP version 0.4.4
  playerSettings.yaml
Labels: is: maintenance

#2592 The Witness: Junk hints for Shivers, Mystic Quest and Heretic
  worlds/witness/hints.py
Labels: is: enhancement
