Repository ArchipelagoMW/Archipelago, pull requests merged in 2024-06, with the labels that each got.

#3390 Fix TextChoice options sometimes creating a broken YAML
  WebHostLib/options.py
Labels: is: bug/fix, affects: release/blocker, affects: webhost, waiting-on: peer-review

#3364 Fix options pages sometimes displaying blank values in form fields
  WebHostLib/options.py
Labels: is: bug/fix, affects: release/blocker, affects: webhost, waiting-on: peer-review

#3426 Docs: Making option description more readable and accurate
  Options.py
Labels: is: documentation, affects: core, waiting-on: peer-review

#3421 Aquatia: Locations name changed due to typo's, grammar, or inconsistencies
  worlds/aquaria/Items.py
  worlds/aquaria/Locations.py
  worlds/aquaria/Options.py
  worlds/aquaria/Regions.py
  worlds/aquaria/__init__.py
  worlds/aquaria/docs/en_Aquaria.md
  worlds/aquaria/test/__init__.py
  worlds/aquaria/test/test_beast_form_access.py
  worlds/aquaria/test/test_bind_song_access.py
  worlds/aquaria/test/test_bind_song_option_access.py
  worlds/aquaria/test/test_confined_home_water.py
  worlds/aquaria/test/test_dual_song_access.py
  worlds/aquaria/test/test_energy_form_access.py
  worlds/aquaria/test/test_fish_form_access.py
  worlds/aquaria/test/test_li_song_access.py
  worlds/aquaria/test/test_light_access.py
  worlds/aquaria/test/test_nature_form_access.py
  worlds/aquaria/test/test_no_progression_hard_hidden_locations.py
  worlds/aquaria/test/test_progression_hard_hidden_locations.py
  worlds/aquaria/test/test_spirit_form_access.py
  worlds/aquaria/test/test_sun_form_access.py
  worlds/aquaria/test/test_unconfine_home_water_via_both.py
  worlds/aquaria/test/test_unconfine_home_water_via_energy_door.py
  worlds/aquaria/test/test_unconfine_home_water_via_transturtle.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: core-review

#3409 YGO06: prevent multiple players affecting each others procedure patch
  worlds/yugioh06/__init__.py
  worlds/yugioh06/rom.py
Labels: is: bug/fix, waiting-on: core-review

#3384 Pokemon Emerald: Use `self.player_name`
  worlds/pokemon_emerald/__init__.py
  worlds/pokemon_emerald/client.py
  worlds/pokemon_emerald/rom.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3308 The Witness: Put Treehouse Both Orange Bridges EP on the normal EPs exclusion list
  worlds/witness/data/settings/EP_Shuffle/EP_Easy.txt
Labels: is: enhancement, waiting-on: core-review

#3278 Pokemon Emerald: Adjust options
  worlds/pokemon_emerald/CHANGELOG.md
  worlds/pokemon_emerald/options.py
Labels: is: enhancement, waiting-on: core-review

#2904 Core: move PlandoConnections and PlandoTexts to the options system
  Generate.py
  Options.py
  worlds/alttp/Options.py
  worlds/alttp/Rom.py
  worlds/alttp/Shops.py
  worlds/alttp/Text.py
  worlds/generic/__init__.py
  worlds/kdl3/Options.py
  worlds/kdl3/Regions.py
  worlds/kdl3/test/__init__.py
  worlds/kdl3/test/test_locations.py
  worlds/messenger/options.py
  worlds/messenger/portals.py
  worlds/minecraft/Options.py
  worlds/oot/Options.py
  worlds/oot/__init__.py
  worlds/tunic/__init__.py
  worlds/tunic/er_scripts.py
  worlds/tunic/options.py
Labels: is: refactor/cleanup, affects: core, waiting-on: world-maintainer, waiting-on: peer-review

#3420 PKMN R/B: Fixing Key Items Only + Removed Exp. All
  worlds/pokemon_rb/regions.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#3353 Landstalker: Fixed rare generation issues
  worlds/landstalker/Hints.py
  worlds/landstalker/Locations.py
  worlds/landstalker/Regions.py
  worlds/landstalker/Rules.py
  worlds/landstalker/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#3293 Installer: Prevent ALTTP Sprite Download from being Interrupted
  inno_setup.iss
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3267 Core: Fix auto-fill in the text client when clicking on a hint suggestion
  MultiServer.py
  Utils.py
  kvui.py
  test/general/test_client_server_interaction.py
Labels: is: bug/fix, affects: core, waiting-on: author, waiting-on: core-review

#3292 LttP: allow Triforce Piece as start inventory item
  worlds/alttp/Rom.py
Labels: is: bug/fix, waiting-on: peer-review

#3412 Webhost: Sphere Tracker
  WebHostLib/templates/hostRoom.html
  WebHostLib/templates/multispheretracker.html
  WebHostLib/tracker.py
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#3407 WebHost: update trackers only if they're visible.
  WebHostLib/static/assets/trackerCommon.js
  WebHostLib/templates/multitracker.html
  WebHostLib/tracker.py
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#2698 The Witness: Automatic Postgame & Disabled Panels Calculation
  worlds/witness/data/WitnessLogic.txt
  worlds/witness/data/WitnessLogicExpert.txt
  worlds/witness/data/WitnessLogicVanilla.txt
  worlds/witness/data/settings/Exclusions/Caves_Except_Path_To_Challenge.txt
  worlds/witness/data/settings/Exclusions/Disable_Unrandomized.txt
  worlds/witness/data/settings/Exclusions/Vaults.txt
  worlds/witness/data/settings/Postgame/Beyond_Challenge.txt
  worlds/witness/data/settings/Postgame/Bottom_Floor_Discard.txt
  worlds/witness/data/settings/Postgame/Bottom_Floor_Discard_NonDoors.txt
  worlds/witness/data/settings/Postgame/Challenge_Vault_Box.txt
  worlds/witness/data/settings/Postgame/Mountain_Lower.txt
  worlds/witness/data/settings/Postgame/Mountain_Upper.txt
  worlds/witness/data/settings/Postgame/Path_To_Challenge.txt
  worlds/witness/data/static_logic.py
  worlds/witness/data/utils.py
  worlds/witness/hints.py
  worlds/witness/player_logic.py
  worlds/witness/regions.py
  worlds/witness/rules.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: peer-review

#3432 APSudoku: take over maintaining hintgame sudoku from bk_sudoku
  docs/CODEOWNERS
  worlds/apsudoku/__init__.py
  worlds/apsudoku/docs/en_Sudoku.md
  worlds/apsudoku/docs/setup_en.md
  worlds/bk_sudoku/docs/de_Sudoku.md
  worlds/bk_sudoku/docs/en_Sudoku.md
  worlds/bk_sudoku/docs/setup_de.md
  worlds/bk_sudoku/docs/setup_en.md
Labels: is: documentation, is: refactor/cleanup, waiting-on: peer-review

#3311 Pokemon RB: Add an item group for each HM to improve hinting
  worlds/pokemon_rb/items.py
Labels: is: enhancement, waiting-on: core-review

#3441 WebHost: Allowing options that work on WebHost to be used in presets
  WebHostLib/options.py
  test/webhost/test_option_presets.py
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#3429 TUNIC: Fix plando connections, seed groups, and UT support
  worlds/tunic/__init__.py
  worlds/tunic/er_scripts.py
  worlds/tunic/options.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3433 Utils: Fix mistake made with `KeyedDefaultDict` from #1933 that broke tracker functionality.
  Utils.py
Labels: is: bug/fix, affects: core, affects: release/blocker, affects: webhost, waiting-on: peer-review

#3449 Lingo: Fixing KeyError from name change
  worlds/lingo/test/TestMastery.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#3448 WebHost: weighted-options bugfixes
  WebHostLib/static/styles/playerOptions/playerOptions.css
  WebHostLib/static/styles/playerOptions/playerOptions.scss
  WebHostLib/templates/weightedOptions/macros.html
Labels: is: bug/fix, affects: release/blocker, affects: webhost, waiting-on: author, waiting-on: peer-review

#3246 BizHawkClient: Reset `ctx.finished_game` if ROM hash changes
  worlds/_bizhawk/context.py
Labels: is: enhancement, waiting-on: peer-review

#3459 TUNIC: Add ice grapple logic to get to gauntlet
  worlds/tunic/rules.py
Labels: is: enhancement, waiting-on: core-review

#3455 AHIT: Fix Death Wish location rules not being added properly
  worlds/ahit/DeathWishRules.py
Labels: is: bug/fix, waiting-on: core-review

#3444 KH2: Fixing Start Inventory bug, limiting CustomItemPool keys, fixing two typos
  worlds/kh2/Options.py
  worlds/kh2/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#3443 Pokemon Emerald: Fix possible dexsanity/legendary hunt softlock
  worlds/pokemon_emerald/CHANGELOG.md
  worlds/pokemon_emerald/data.py
  worlds/pokemon_emerald/pokemon.py
Labels: is: bug/fix, waiting-on: core-review

#3436 RoR2: Add Support for New Stage
  worlds/ror2/__init__.py
  worlds/ror2/options.py
  worlds/ror2/regions.py
  worlds/ror2/ror2environments.py
Labels: is: enhancement, waiting-on: core-review

#3434 Muse Dash: Option Groups and Options Rework
  worlds/musedash/MuseDashCollection.py
  worlds/musedash/Options.py
  worlds/musedash/Presets.py
  worlds/musedash/__init__.py
  worlds/musedash/test/TestCollection.py
  worlds/musedash/test/TestDifficultyRanges.py
  worlds/musedash/test/TestPlandoSettings.py
  worlds/musedash/test/TestTrapOption.py
  worlds/musedash/test/TestWorstCaseSettings.py
  worlds/musedash/test/__init__.py
Labels: is: enhancement, is: maintenance, is: refactor/cleanup, waiting-on: core-review

#3371 Docs: Add detail on customizing the forced groups
  docs/options api.md
Labels: is: documentation, waiting-on: core-review

#3442 Core: Launcher: can drag-and-drop patch on Launcher window
  Launcher.py
  typings/kivy/core/window.pyi
  typings/kivy/event.pyi
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3466 Zillion: fix some game over bugs
  worlds/zillion/requirements.txt
Labels: waiting-on: peer-review

#3463 HK: lower max egg cost
  worlds/hk/Options.py
Labels: is: bug/fix, waiting-on: core-review

#3468 Setup: rename ArchipelagoLauncher(DEBUG) to ArchipelagoLauncherDebug
  inno_setup.iss
  setup.py
Labels: affects: core, waiting-on: peer-review

#3469 Setup: delete old world folders
  inno_setup.iss
Labels: affects: core, waiting-on: peer-review

#2926 Core: add unit tests for numeric options
  docs/options api.md
  test/options/__init__.py
  test/options/test_option_classes.py
Labels: is: enhancement, waiting-on: peer-review

#3410 A Short Hike: Add new options and option groups
  worlds/shorthike/Items.py
  worlds/shorthike/Locations.py
  worlds/shorthike/Options.py
  worlds/shorthike/Rules.py
  worlds/shorthike/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3472 Launcher: handle apworld installation
  inno_setup.iss
  worlds/LauncherComponents.py
  worlds/__init__.py
Labels: affects: core, waiting-on: peer-review

#3476 WebHost: update dependencies
  WebHostLib/requirements.txt
Labels: affects: webhost, waiting-on: peer-review

#3464 MultiServer, customserver, CI, Test: Fix problems in room hosting and test/simulate it
  .github/workflows/unittests.yml
  MultiServer.py
  WebHost.py
  WebHostLib/customserver.py
  test/hosting/__init__.py
  test/hosting/__main__.py
  test/hosting/client.py
  test/hosting/generate.py
  test/hosting/serve.py
  test/hosting/webhost.py
  test/hosting/world.py
Labels: is: bug/fix, affects: core, affects: webhost, waiting-on: peer-review

#3446 The Witness: Remove all instances of lru_cache
  worlds/witness/data/static_logic.py
  worlds/witness/data/utils.py
Labels: is: bug/fix, waiting-on: peer-review

#3479 Core: gitignore custom_worlds
  .gitignore
Labels: waiting-on: core-review

#3477 Core: update dependencies
  requirements.txt
Labels: is: maintenance, affects: core, waiting-on: peer-review

#3480 Core: hot reload components from installed apworld
  Launcher.py
  typings/kivy/uix/boxlayout.pyi
  typings/kivy/uix/layout.pyi
  typings/schema/__init__.pyi
  worlds/LauncherComponents.py
  worlds/__init__.py
Labels: affects: core, waiting-on: peer-review

#3481 TUNIC: Remove rule for west Quarry bomb wall
  worlds/tunic/er_rules.py
  worlds/tunic/rules.py
Labels: is: bug/fix, is: enhancement, waiting-on: core-review

#3474 A Short Hike: Update installation instructions
  worlds/shorthike/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3483 TUNIC: Update setup guide
  worlds/tunic/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3475 Bomb Rush Cyberfunk: Fix missing location
  worlds/bomb_rush_cyberfunk/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#3471 hk: adds schema to validate plando charm costs
  worlds/hk/Options.py
Labels: is: bug/fix, waiting-on: core-review

#3491 Documentation: Fixing subject-verb agreement in NamedRange special value description
  WebHostLib/templates/weightedOptions/macros.html
Labels: is: documentation, affects: webhost, waiting-on: core-review

#3458 Fix weighted-options page crashing if a Choice option's default is "random"
  WebHostLib/templates/weightedOptions/macros.html
Labels: is: bug/fix, affects: release/blocker, affects: webhost, waiting-on: peer-review

#3451 WebHost: allow getting checksum-specific datapackage via /api/datapackage/<checksum>
  WebHostLib/api/__init__.py
  WebHostLib/api/datapackage.py
Labels: affects: webhost, waiting-on: peer-review

#3462 HK: adds split movement items to 'skills' item group
  worlds/hk/Items.py
Labels: is: enhancement, waiting-on: core-review

#3492 Test: hosting: handle writes during start_room
  test/hosting/webhost.py
Labels: waiting-on: peer-review

#3488 Core: load frozen decompressed worlds
  worlds/__init__.py
Labels: affects: core, waiting-on: peer-review

#3224 Core: explicitly import importlib.util
  worlds/__init__.py
Labels: affects: core

#3484 Generate: improve logging capture
  Generate.py
  Utils.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3236 Core: CommonClient: command history and echo
  CommonClient.py
  NetUtils.py
  data/client.kv
  kvui.py
  worlds/sc2/Client.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3498 MLSS: Fix for Xp scaling when set to 0
  worlds/mlss/Rom.py
Labels: is: bug/fix, waiting-on: core-review

#3497 sc2: Fixed sc2 client's /received command breaking after PR 1933 merged
  worlds/sc2/Client.py
Labels: is: bug/fix, waiting-on: peer-review

#3495 sc2: update inno_setup.iss to remove old sc2wol world folder
  inno_setup.iss
Labels: is: maintenance, affects: core, waiting-on: peer-review

#3456 Tests: Add checksum validation to the postgen datapackage test
  test/general/__init__.py
  test/general/test_ids.py
Labels: is: enhancement, waiting-on: peer-review

#3326 Adventure: Update to use new options api
  AdventureClient.py
  worlds/adventure/Options.py
  worlds/adventure/Regions.py
  worlds/adventure/Rules.py
  worlds/adventure/__init__.py
Labels: is: refactor/cleanup, waiting-on: author, waiting-on: peer-review

#3489 Various: fix absolute imports in worlds
  worlds/messenger/options.py
  worlds/shorthike/Rules.py
  worlds/yugioh06/client_bh.py
  worlds/yugioh06/opponents.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#3508 CODEOWNERS: Replace @ThePhar with @qwint as Hollow Knight maintainer.
  docs/CODEOWNERS
Labels: is: documentation, waiting-on: core-review

#3435 Muse Dash: Remove regions for a decent speed gain in generating worlds
  worlds/musedash/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3473 Aquaria: Add entrance rule and fix start_inventory_from_pool
  worlds/aquaria/Locations.py
  worlds/aquaria/Regions.py
  worlds/aquaria/__init__.py
  worlds/aquaria/test/__init__.py
  worlds/aquaria/test/test_beast_form_access.py
  worlds/aquaria/test/test_no_progression_hard_hidden_locations.py
  worlds/aquaria/test/test_progression_hard_hidden_locations.py
  worlds/aquaria/test/test_sun_form_access.py
Labels: is: bug/fix, waiting-on: core-review

#3507 SC2: don't close all SC2 instances when one quits
  worlds/_sc2common/bot/sc2process.py
Labels: is: bug/fix, waiting-on: core-review

#3509 Allow worlds to add options to prebuilt groups
  worlds/AutoWorld.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#3490 Timespinner: add indirect connections
  worlds/timespinner/Regions.py
Labels: is: bug/fix, waiting-on: peer-review

#3503 WebHost: delete old docs files
  WebHost.py
Labels: is: maintenance, affects: webhost, waiting-on: peer-review

#3501 Core: don't lock progression
  Fill.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: core-review

#2796 Speedups: remove dependency on c++
  .github/workflows/ctest.yml
  .gitignore
  _speedups.pyx
  _speedups.pyxbld
  intset.h
  test/cpp/CMakeLists.txt
  test/cpp/README.md
  test/cpp/intset/CMakeLists.txt
  test/cpp/intset/test_intset.cpp
  test/netutils/test_location_store.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3524 SA2B: Fix Incorrect Link Syntax in SA2B Linux Setup
  worlds/sa2b/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3518 WebHost: Fix "Add" button for custom option values causing a weird redirect
  WebHostLib/templates/weightedOptions/macros.html
Labels: is: bug/fix, affects: release/blocker, affects: webhost, waiting-on: peer-review

#3519 WebHost: Fix default values that are 2 or more words in Weighted Options
  WebHostLib/templates/weightedOptions/macros.html
Labels: is: bug/fix, affects: release/blocker, affects: webhost, waiting-on: peer-review

#3521 WebHost: Fix Named Range displays on Player Options page
  Options.py
  WebHostLib/templates/playerOptions/macros.html
  WebHostLib/templates/weightedOptions/macros.html
Labels: is: bug/fix, affects: core, affects: release/blocker, affects: webhost, waiting-on: peer-review

#3513 WebHost: fix option doc indent
  WebHostLib/templates/playerOptions/macros.html
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#3526 CI: Install specific inno version
  .github/workflows/build.yml
Labels: is: bug/fix, waiting-on: peer-review

#3529 Options: fix yaml export corner case "6_2"
  Options.py
  data/options.yaml
Labels: is: bug/fix, affects: core, waiting-on: core-review

#3511 WebHost/Core/Lingo: Render option documentation as reStructuredText in the WebView
  Options.py
  WebHostLib/options.py
  WebHostLib/static/styles/tooltip.css
  WebHostLib/templates/playerOptions/macros.html
  WebHostLib/templates/playerOptions/playerOptions.html
  docs/options api.md
  docs/world api.md
  worlds/AutoWorld.py
  worlds/__init__.py
  worlds/lingo/__init__.py
  worlds/lingo/options.py
Labels: is: documentation, is: enhancement, affects: core, affects: webhost, waiting-on: author, waiting-on: peer-review

#3512 Core: Expose option aliases
  Options.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3532 Pokemon Emerald: Remove README
  worlds/pokemon_emerald/README.md
Labels: is: refactor/cleanup, waiting-on: core-review

#3454 LttP: fix single-player no-logic generation
  worlds/alttp/OverworldGlitchRules.py
  worlds/alttp/Rules.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3538 Pokemon Red/Blue: Add new options to slot_data
  worlds/pokemon_rb/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3504 The Witness: Fix Shuffle Postgame always thinking it's Challenge Victory
  worlds/witness/player_logic.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#3515 Generate: split ERmain out of main
  Generate.py
  test/hosting/generate.py
  test/programs/test_generate.py
Labels: is: bug/fix, is: refactor/cleanup, affects: core, waiting-on: core-review

#3516 Pokemon Red/Blue: Replaces link to R&B Poptracker with a new one
  worlds/pokemon_rb/docs/setup_en.md
  worlds/pokemon_rb/docs/setup_es.md
Labels: is: documentation, waiting-on: peer-review

#3540 LADX: Moved ROM requirement from generate_output to stage_assert_generate.
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#3545 TUNIC: Update Plando Connections description
  worlds/tunic/options.py
Labels: is: documentation, waiting-on: peer-review

#3514 CommonClient: Use `lookup_in_game` instead of `lookup_in_slot` in case of own-game name lookup when disconnected from server.
  AdventureClient.py
  CommonClient.py
  UndertaleClient.py
  WargrooveClient.py
  Zelda1Client.py
  worlds/alttp/Client.py
  worlds/cv64/client.py
  worlds/dkc3/Client.py
  worlds/factorio/Client.py
  worlds/kdl3/Client.py
  worlds/lufia2ac/Client.py
  worlds/sc2/Client.py
  worlds/sc2/ClientGui.py
  worlds/sm/Client.py
  worlds/smw/Client.py
  worlds/smz3/Client.py
  worlds/yoshisisland/Client.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: peer-review

#3525 CODEOWNERS: Remove @zig-for as world maintainer for LADX.
  docs/CODEOWNERS
Labels: is: documentation, waiting-on: core-review

#3542 LADX: Converted to new options API (+other small refactors)
  worlds/ladx/LADXR/generator.py
  worlds/ladx/Options.py
  worlds/ladx/Rom.py
  worlds/ladx/__init__.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#2516 Tests: minor: update tests base for Options API
  test/bases.py
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review

#3555 TUNIC: Add note about bushes to logic section of game info page
  worlds/tunic/docs/en_TUNIC.md
Labels: is: documentation, waiting-on: core-review

#3558 Shivers: Adds missing indirect conditions.
  worlds/shivers/Rules.py
Labels: is: bug/fix, waiting-on: peer-review

#3560 LADX: Adding 'Option Groups' to the player options page.
  worlds/ladx/Options.py
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#3561 id Tech 1 games: Reintroduce missing items
  worlds/doom_ii/__init__.py
  worlds/heretic/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3543 Docs: Change setup_en.md to use Latest releases page
  worlds/generic/docs/setup_en.md
Labels: is: documentation, waiting-on: peer-review

#3562 The Messenger: Fix missing rules for Double Swing Saws
  worlds/messenger/rules.py
Labels: is: bug/fix, waiting-on: core-review

#3572 Muse Dash: Song name change
  worlds/musedash/MuseDashData.txt
Labels: is: maintenance, waiting-on: peer-review

#3502 WebHost: fix accidental robots.txt capture
  WebHostLib/robots.py
  WebHostLib/static/robots_file.txt
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#3528 Undertale: Fixes a major logic bug, and updates Undertale to use the new Options API
  worlds/undertale/Items.py
  worlds/undertale/Options.py
  worlds/undertale/Rules.py
  worlds/undertale/__init__.py
Labels: is: bug/fix, is: maintenance, is: refactor/cleanup, affects: release/blocker, waiting-on: core-review

#3570 OOT: Adds Options to slot_data for poptracker-pack
  worlds/oot/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#3577 LADX: Probably fix generation error that palex had
  worlds/ladx/LADXR/locations/droppedKey.py
Labels: is: bug/fix, waiting-on: core-review

#3520 Tests: give seed on default tests and fix execnet error
  test/bases.py
Labels: is: bug/fix, waiting-on: peer-review

#3580 Core: update required_server_version to 0.5.0
  worlds/AutoWorld.py
Labels: is: maintenance, affects: core, waiting-on: peer-review

#3588 Installer: Fix .apworld registration
  inno_setup.iss
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3589 LTTP: Add Missing Blind's Cell rule
  worlds/alttp/Rules.py
  worlds/alttp/test/dungeons/TestThievesTown.py
Labels: is: bug/fix, waiting-on: peer-review

#3586 Yoshi's Island: Fix dumb client bug
  worlds/yoshisisland/Client.py
Labels: is: bug/fix, waiting-on: peer-review

#3510 Various worlds: Fix more absolute world imports
  worlds/adventure/Rules.py
  worlds/alttp/Client.py
  worlds/alttp/EntranceShuffle.py
  worlds/alttp/Options.py
  worlds/alttp/Regions.py
  worlds/aquaria/test/test_beast_form_access.py
  worlds/aquaria/test/test_bind_song_access.py
  worlds/aquaria/test/test_bind_song_option_access.py
  worlds/aquaria/test/test_confined_home_water.py
  worlds/aquaria/test/test_dual_song_access.py
  worlds/aquaria/test/test_energy_form_access.py
  worlds/aquaria/test/test_fish_form_access.py
  worlds/aquaria/test/test_li_song_access.py
  worlds/aquaria/test/test_light_access.py
  worlds/aquaria/test/test_nature_form_access.py
  worlds/aquaria/test/test_no_progression_hard_hidden_locations.py
  worlds/aquaria/test/test_progression_hard_hidden_locations.py
  worlds/aquaria/test/test_spirit_form_access.py
  worlds/aquaria/test/test_sun_form_access.py
  worlds/aquaria/test/test_unconfine_home_water_via_both.py
  worlds/aquaria/test/test_unconfine_home_water_via_energy_door.py
  worlds/aquaria/test/test_unconfine_home_water_via_transturtle.py
  worlds/dkc3/Client.py
  worlds/ladx/Tracker.py
  worlds/overcooked2/test/TestOvercooked2.py
  worlds/rogue_legacy/test/TestUnique.py
  worlds/sc2/Client.py
  worlds/sc2/ClientGui.py
  worlds/smw/Client.py
  worlds/subnautica/test/__init__.py
  worlds/zillion/test/TestOptions.py
  worlds/zillion/test/TestReproducibleRandom.py
  worlds/zillion/test/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#3591 TUNIC: Update game info page with more tips
  worlds/tunic/docs/en_TUNIC.md
Labels: is: documentation, waiting-on: core-review

#3576 TUNIC: Fix minor logic bug in upper Zig
  worlds/tunic/er_rules.py
  worlds/tunic/rules.py
Labels: is: bug/fix, waiting-on: peer-review

#3595 SC2 Tracker: Migrate icons away from sc2legacy
  WebHostLib/tracker.py
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#3597 CommonClient: fix /received with items from Server
  CommonClient.py
Labels: affects: core, waiting-on: peer-review

#3594 Muse Dash: Update installation guides to recommend installing v0.6.1.
  worlds/musedash/docs/setup_en.md
  worlds/musedash/docs/setup_es.md
Labels: is: documentation, waiting-on: core-review

#3584 LADX: Fixed Display Names In Options Page
  worlds/ladx/Options.py
Labels: is: bug/fix, waiting-on: core-review

#3593 Muse Dash: 6th Anniversary Song update
  worlds/musedash/MuseDashData.txt
Labels: is: enhancement, waiting-on: core-review

#3579 TUNIC: Update victory condition
  worlds/tunic/__init__.py
  worlds/tunic/er_rules.py
  worlds/tunic/items.py
  worlds/tunic/rules.py
Labels: is: enhancement, waiting-on: core-review

#3272 Update Raft option text, setup guide text
  worlds/raft/Options.py
  worlds/raft/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3218 OOT: Add keys item_name_group
  worlds/oot/__init__.py
Labels: is: enhancement, waiting-on: core-review
