Repository ArchipelagoMW/Archipelago, pull requests merged in 2024-07, with the labels that each got.

#3601 Core: fix execnet error for test_default_all_state_can_reach_everything
  test/general/test_reachability.py
Labels: waiting-on: peer-review

#3496 WebHost: Better host room
  WebHostLib/misc.py
  WebHostLib/templates/hostRoom.html
Labels: is: enhancement, affects: webhost

#3600 Docs: Clarify docs for `create_items` stage
  docs/world api.md
Labels: is: documentation, waiting-on: peer-review

#3603 WebHost: Log: handle FileNotFoundError
  WebHostLib/misc.py
Labels: affects: webhost, waiting-on: peer-review

#3112 The Witness: mypy compliance
  worlds/witness/__init__.py
  worlds/witness/data/static_items.py
  worlds/witness/data/static_locations.py
  worlds/witness/data/static_logic.py
  worlds/witness/data/utils.py
  worlds/witness/hints.py
  worlds/witness/locations.py
  worlds/witness/player_items.py
  worlds/witness/player_logic.py
  worlds/witness/regions.py
  worlds/witness/ruff.toml
  worlds/witness/rules.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: peer-review

#3608 The Witness: Fix door shuffle being completely broken
  worlds/witness/player_logic.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#3604 Zillion: new map generation feature
  worlds/zillion/__init__.py
  worlds/zillion/options.py
  worlds/zillion/requirements.txt
Labels: is: enhancement, waiting-on: peer-review

#3611 Core: Fix !remaining
  MultiServer.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3616 Docs: Lastest -> Latest
  worlds/generic/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3620 TUNIC: Make the shop checks require a sword
  worlds/tunic/er_rules.py
  worlds/tunic/rules.py
Labels: is: enhancement, waiting-on: core-review

#3612 sc2: Fixing typo in itemgroups.py causing spurious item groups
  worlds/sc2/ItemGroups.py
Labels: is: bug/fix, waiting-on: core-review

#3533 Aquaria: Renaming some locations for consistency
  worlds/aquaria/Locations.py
  worlds/aquaria/Options.py
  worlds/aquaria/Regions.py
  worlds/aquaria/__init__.py
  worlds/aquaria/test/__init__.py
  worlds/aquaria/test/test_energy_form_access.py
  worlds/aquaria/test/test_li_song_access.py
  worlds/aquaria/test/test_nature_form_access.py
  worlds/aquaria/test/test_no_progression_hard_hidden_locations.py
  worlds/aquaria/test/test_progression_hard_hidden_locations.py
  worlds/aquaria/test/test_spirit_form_access.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3356 TUNIC: Use fewer parameters in helper functions
  worlds/tunic/__init__.py
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
  worlds/tunic/rules.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3599 MLSS: Fix for missing cutscene trigger
  worlds/mlss/data/basepatch.bsdiff
Labels: is: bug/fix, waiting-on: peer-review

#3328 The Witness: Add some unit tests
  worlds/witness/__init__.py
  worlds/witness/options.py
  worlds/witness/test/__init__.py
  worlds/witness/test/test_auto_elevators.py
  worlds/witness/test/test_disable_non_randomized.py
  worlds/witness/test/test_door_shuffle.py
  worlds/witness/test/test_ep_shuffle.py
  worlds/witness/test/test_lasers.py
  worlds/witness/test/test_roll_other_options.py
  worlds/witness/test/test_symbol_shuffle.py
Labels: is: enhancement, waiting-on: core-review

#3619 Tests, WebHost: add tests for host_room and minor cleanup
  test/webhost/__init__.py
  test/webhost/test_api_generate.py
  test/webhost/test_host_room.py
Labels: waiting-on: peer-review

#3627 ALTTP: Bombable Wall to Crystaroller Room Logic
  worlds/alttp/Rules.py
Labels: waiting-on: peer-review

#3634 Zillion: more rooms added to map_gen option
  worlds/zillion/client.py
  worlds/zillion/gen_data.py
  worlds/zillion/requirements.txt
Labels: waiting-on: peer-review

#3635 TUNIC: Fix event region for Quarry fuse
  worlds/tunic/er_scripts.py
Labels: is: bug/fix, waiting-on: core-review

#3637 customserver: preemtively run GC before starting room
  WebHostLib/customserver.py
Labels: affects: webhost, waiting-on: peer-review

#3636 customserver: fix minor memory leak
  WebHostLib/customserver.py
Labels: affects: webhost, waiting-on: peer-review

#3631 Pokemon Emerald: Fix logic for coin case location
  worlds/pokemon_emerald/rules.py
Labels: is: bug/fix, waiting-on: core-review

#3418 Undertale: Fixed output location of the patched game in UndertaleClient.py
  UndertaleClient.py
Labels: is: bug/fix, waiting-on: core-review

#3522 AHIT: Fix act shuffle test fail
  worlds/ahit/Regions.py
  worlds/ahit/Rules.py
Labels: is: bug/fix, waiting-on: core-review

#3587 Raft: Move to new Options API
  worlds/raft/Options.py
  worlds/raft/Rules.py
  worlds/raft/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3657 Subnautica: increase minimum client version
  worlds/subnautica/__init__.py
Labels: waiting-on: peer-review

#3648 Core: Update cx_freeze to 7.2.0 and freeze it
  setup.py
Labels: affects: core, waiting-on: peer-review

#3659 CommonClient: Escape markup sent in chat messages
  kvui.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3665 Stardew Valley: Make sure number of month in time logic is a int to improve performance by ~20%
  worlds/stardew_valley/logic/bundle_logic.py
  worlds/stardew_valley/logic/museum_logic.py
  worlds/stardew_valley/logic/time_logic.py
  worlds/stardew_valley/stardew_rule/base.py
  worlds/stardew_valley/stardew_rule/rule_explain.py
  worlds/stardew_valley/stardew_rule/state.py
Labels: is: enhancement, waiting-on: peer-review

#3609 CommonClient: fix bug when using Connect button without a disconnect
  kvui.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#3674 YGO06: fixes non-deterministic bug
  worlds/yugioh06/boosterpacks.py
  worlds/yugioh06/structure_deck.py
Labels: is: bug/fix, waiting-on: core-review

#3639 A Short Hike: Fix Boat Rental purchase being incorrectly calculated
  worlds/shorthike/Locations.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#3655 Stardew Valley: Removed Stardrop Tea from Full Shipment
  worlds/stardew_valley/data/locations.csv
Labels: is: bug/fix, waiting-on: core-review

#3652 Stardew Valley: Add gourmand frog rules for completing his tasks sequentially
  worlds/stardew_valley/rules.py
Labels: is: bug/fix, waiting-on: core-review

#3669 Bomb Rush Cyberfunk: Fix final graffiti location being unobtainable
  worlds/bomb_rush_cyberfunk/Locations.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#3651 Stardew valley: Fix Queen of Sauce Cookbook conditions
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/content/vanilla/ginger_island.py
  worlds/stardew_valley/content/vanilla/pelican_town.py
  worlds/stardew_valley/data/locations.csv
  worlds/stardew_valley/data/requirement.py
  worlds/stardew_valley/logic/logic.py
  worlds/stardew_valley/logic/requirement_logic.py
  worlds/stardew_valley/logic/walnut_logic.py
  worlds/stardew_valley/rules.py
Labels: is: bug/fix, waiting-on: core-review

#3649 TUNIC: Move 3 locations to Quarry Back
  worlds/tunic/locations.py
Labels: is: bug/fix, waiting-on: core-review

#3645 Lingo: Fix Early Color Hallways painting in pilgrimages
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
  worlds/lingo/regions.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#3654 Lingo: Add pilgrimage logic through Starting Room
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
  worlds/lingo/test/TestPilgrimage.py
Labels: is: bug/fix, waiting-on: core-review

#3661 TUNIC: Add setting to disable local spoiler to host yaml
  worlds/tunic/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3618 The Witness: Small naming inconsistencies
  worlds/witness/data/WitnessLogic.txt
  worlds/witness/data/WitnessLogicExpert.txt
  worlds/witness/data/WitnessLogicVanilla.txt
Labels: is: refactor/cleanup, waiting-on: core-review

#3677 DLC Quest - Add option groups to DLC Quest
  worlds/dlcquest/__init__.py
  worlds/dlcquest/option_groups.py
Labels: is: enhancement, waiting-on: core-review

#2767 FFMQ: Efficiency Improvement and Use New Options Methods
  worlds/ffmq/Client.py
  worlds/ffmq/Items.py
  worlds/ffmq/Options.py
  worlds/ffmq/Output.py
  worlds/ffmq/Regions.py
  worlds/ffmq/__init__.py
  worlds/ffmq/data/entrances.yaml
  worlds/ffmq/data/rooms.py
  worlds/ffmq/data/rooms.yaml
Labels: is: refactor/cleanup, waiting-on: core-review

#3534 KH2: Hotfix update for game verison 1.0.0.9
  worlds/kh2/Client.py
Labels: is: bug/fix, waiting-on: core-review

#3676 DLC Quest: Add options presets to DLC Quest
  worlds/dlcquest/__init__.py
  worlds/dlcquest/presets.py
Labels: is: enhancement, waiting-on: core-review

#3670 [TLOZ]: Fix determinism / Add Location Name Groups / Remove Level 9 Junk Fill
  worlds/tloz/ItemPool.py
  worlds/tloz/Locations.py
  worlds/tloz/__init__.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: core-review

#3666 LADX: Add an item group for instruments
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3615 Project: Add .code-workspace wildcard to gitignore
  .gitignore
Labels: is: maintenance, waiting-on: core-review

#3350 Lingo: Add option to prevent shuffling postgame
  worlds/lingo/__init__.py
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
  worlds/lingo/data/ids.yaml
  worlds/lingo/options.py
  worlds/lingo/player_logic.py
  worlds/lingo/rules.py
  worlds/lingo/test/TestMastery.py
  worlds/lingo/test/TestPostgame.py
Labels: is: enhancement, waiting-on: core-review

#3685 Subnautica: Fix deprecated option getting
  worlds/subnautica/rules.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: world-maintainer, waiting-on: peer-review

#3667 HK: fix remove issues failing collect/remove test
  worlds/hk/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#3668 Pokémon R/B: Also fix Rt 4 Hidden Item
  worlds/pokemon_rb/locations.py
Labels: is: bug/fix, waiting-on: core-review

#3650 Stardew Valley: Make Fairy Dust a Ginger Island only item and location
  worlds/stardew_valley/data/items.csv
  worlds/stardew_valley/data/locations.csv
  worlds/stardew_valley/items.py
Labels: is: enhancement, waiting-on: core-review

#3156 Docs: add a living faq document for sharing dev solutions
  docs/CODEOWNERS
  docs/apworld_dev_faq.md
Labels: is: documentation, waiting-on: core-review

#3626 Stardew Valley: Fix Daggerfish, Cropsanity; Move Some Rules to Content Packs; Add Missing Shipsanity Location
  worlds/stardew_valley/content/mods/alecto.py
  worlds/stardew_valley/content/mods/archeology.py
  worlds/stardew_valley/content/mods/distant_lands.py
  worlds/stardew_valley/content/mods/npc_mods.py
  worlds/stardew_valley/content/mods/sve.py
  worlds/stardew_valley/content/vanilla/pelican_town.py
  worlds/stardew_valley/data/fish_data.py
  worlds/stardew_valley/data/locations.csv
  worlds/stardew_valley/data/recipe_data.py
  worlds/stardew_valley/data/requirement.py
  worlds/stardew_valley/data/shop.py
  worlds/stardew_valley/logic/requirement_logic.py
  worlds/stardew_valley/mods/logic/item_logic.py
  worlds/stardew_valley/mods/mod_regions.py
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/strings/book_names.py
  worlds/stardew_valley/strings/entrance_names.py
  worlds/stardew_valley/strings/fish_names.py
  worlds/stardew_valley/strings/food_names.py
  worlds/stardew_valley/strings/region_names.py
  worlds/stardew_valley/test/mods/TestMods.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: core-review

#3647 AHIT: Update Setup Guide
  worlds/ahit/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3252 Docs: Add Swedish Guide for Pokemon Emerald
  worlds/pokemon_emerald/__init__.py
  worlds/pokemon_emerald/docs/setup_sv.md
Labels: is: documentation, waiting-on: core-review

#3692 Docs: Add header to FAQ doc referencing other relevant docs
  docs/apworld_dev_faq.md
Labels: is: documentation, waiting-on: core-review

#3690 Docs: Expanding on the answers in the FAQ
  docs/apworld_dev_faq.md
Labels: is: documentation, waiting-on: core-review

#3672 Lingo: Changed minimum progression requirement
  worlds/lingo/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#3163 Lingo: Add panels mode door shuffle
  worlds/lingo/__init__.py
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
  worlds/lingo/data/ids.yaml
  worlds/lingo/datatypes.py
  worlds/lingo/items.py
  worlds/lingo/options.py
  worlds/lingo/player_logic.py
  worlds/lingo/rules.py
  worlds/lingo/static_logic.py
  worlds/lingo/test/TestDoors.py
  worlds/lingo/test/TestOptions.py
  worlds/lingo/test/TestOrangeTower.py
  worlds/lingo/test/TestPanelsanity.py
  worlds/lingo/test/TestPilgrimage.py
  worlds/lingo/test/TestProgressive.py
  worlds/lingo/test/TestSunwarps.py
  worlds/lingo/utils/assign_ids.rb
  worlds/lingo/utils/pickle_static_data.py
  worlds/lingo/utils/validate_config.rb
Labels: is: enhancement, waiting-on: peer-review

#3630 Stardew Valley: Properly support Universal Tracker
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/regions.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/rules/TestBundles.py
  worlds/stardew_valley/test/stability/StabilityOutputScript.py
  worlds/stardew_valley/test/stability/TestStability.py
  worlds/stardew_valley/test/stability/TestUniversalTracker.py
Labels: is: enhancement, waiting-on: core-review

#3424 Core: Make excluded locations and priority locations excluded and remove unreachable code
  Main.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#3663 AHIT: Generation error fixes and some other bug fixes
  worlds/ahit/Items.py
  worlds/ahit/Regions.py
  worlds/ahit/Rules.py
  worlds/ahit/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#3699 Lingo: Fix Rhyme Rooms LEAP panel logic
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
Labels: is: bug/fix, waiting-on: core-review

#3695 TUNIC: Update plando connection option call to use options API
  worlds/tunic/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#3683 SMZ3: Use useful item classification for nice items
  worlds/smz3/__init__.py
Labels: is: enhancement, waiting-on: core-review

#2239 Fill: remove sweep_for_events(key_only=True)
  BaseClasses.py
  Fill.py
  worlds/alttp/SubClasses.py
Labels: is: refactor/cleanup, affects: core, waiting-on: peer-review

#3622 Webhost: Fix typo in tracker.py
  WebHostLib/tracker.py
Labels: is: bug/fix, affects: webhost, waiting-on: core-review

#3703 Lingo: Add warpless connection between Hedge Maze and The Incomparable
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
Labels: is: bug/fix, waiting-on: peer-review

#3517 Factorio: Fix ap-get-technology nil value crashes
  worlds/factorio/data/mod_template/control.lua
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#3428 HK: Options API updates, et al.
  worlds/hk/Options.py
  worlds/hk/Rules.py
  worlds/hk/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3710 FFMQ: Fix reset protection
  worlds/ffmq/Client.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3709 Stardew Valley: Take shipsanity moss out of shipsanity crops
  worlds/stardew_valley/data/locations.csv
Labels: is: bug/fix, waiting-on: core-review

#3697 sc2: Removing unused dependency in requirements.txt
  worlds/sc2/requirements.txt
Labels: is: maintenance, waiting-on: core-review

#3613 WebHost: Fix NamedRange values clamping to the range in player-options
  WebHostLib/options.py
  WebHostLib/templates/playerOptions/macros.html
  WebHostLib/templates/playerOptions/playerOptions.html
Labels: is: bug/fix, affects: release/blocker, affects: webhost, waiting-on: peer-review

#2485 Timespinner: migrate to new options api and correct random
  worlds/timespinner/Locations.py
  worlds/timespinner/LogicExtensions.py
  worlds/timespinner/Options.py
  worlds/timespinner/PreCalculatedWeights.py
  worlds/timespinner/Regions.py
  worlds/timespinner/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#2914 Core: migrate item links out of main
  BaseClasses.py
  Main.py
  test/general/test_options.py
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review

#1481 Core: Rework accessibility
  BaseClasses.py
  Options.py
  test/general/test_fill.py
  test/multiworld/test_multiworlds.py
  worlds/alttp/Options.py
  worlds/alttp/Rules.py
  worlds/alttp/test/inverted/TestInverted.py
  worlds/alttp/test/inverted_minor_glitches/TestInvertedMinor.py
  worlds/alttp/test/inverted_owg/TestInvertedOWG.py
  worlds/cv64/options.py
  worlds/ffmq/Regions.py
  worlds/messenger/options.py
  worlds/minecraft/docs/minecraft_es.md
  worlds/minecraft/docs/minecraft_sv.md
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/options.py
  worlds/pokemon_rb/rules.py
  worlds/smz3/Options.py
  worlds/smz3/__init__.py
  worlds/stardew_valley/presets.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3287 Shivers: New features and removes two missed options using the old options API
  worlds/shivers/Items.py
  worlds/shivers/Options.py
  worlds/shivers/Rules.py
  worlds/shivers/__init__.py
  worlds/shivers/data/locations.json
  worlds/shivers/data/regions.json
  worlds/shivers/docs/en_Shivers.md
  worlds/shivers/docs/setup_en.md
Labels: is: enhancement, waiting-on: core-review

#3720 Bomb Rush Cyberfunk: Fix Coil quest being in glitched logic too early
  worlds/bomb_rush_cyberfunk/Rules.py
Labels: is: bug/fix, waiting-on: core-review

#3280 Options: Always verify keys for VerifyKeys options
  Options.py
  worlds/stardew_valley/test/__init__.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#3590 Docs: Add FFMQ French Setup Guide + Minor fixes to English Guide
  worlds/ffmq/__init__.py
  worlds/ffmq/docs/en_Final Fantasy Mystic Quest.md
  worlds/ffmq/docs/fr_Final Fantasy Mystic Quest.md
  worlds/ffmq/docs/setup_en.md
  worlds/ffmq/docs/setup_fr.md
Labels: is: documentation, waiting-on: core-review

#3704 Spire: Convert options, clean up random calls, and add DeathLink
  worlds/spire/Options.py
  worlds/spire/__init__.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: core-review
