Repository ArchipelagoMW/Archipelago, pull requests merged in 2024-10, with the labels that each got.

#4017 Core: add race mode to multidata and datastore
  CommonClient.py
  Main.py
  MultiServer.py
  kvui.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4014 Pokemon Emerald: Another wonder trade fix
  worlds/pokemon_emerald/client.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#4005 LADX: ghost fills ammo to initial max
  worlds/ladx/LADXR/patches/owl.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4010 Tests: Fix indentation in TestTwoPlayerMulti
  test/multiworld/test_multiworlds.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#4020 Core: move race_mode to read_data instead of stored_data
  CommonClient.py
  MultiServer.py
  docs/network protocol.md
  kvui.py
Labels: affects: core, waiting-on: peer-review

#3798 The Witness: Small code refactor (cast_not_none)
  worlds/witness/__init__.py
  worlds/witness/data/utils.py
  worlds/witness/player_items.py
  worlds/witness/test/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4011 Core: use shlex splitting instead of whitespace splitting for client and server commands
  MultiServer.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4023 KDL3: Fix webhost not giving a patch
  worlds/kdl3/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4003 Pokemon Emerald: Update changelog
  worlds/pokemon_emerald/CHANGELOG.md
Labels: is: documentation, waiting-on: core-review

#4031 [KH2] Adds more options to slot data
  worlds/kh2/__init__.py
Labels: waiting-on: peer-review

#4033 WebHost: Fix too-many-players error not showing
  WebHostLib/generate.py
  test/webhost/test_generate.py
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#4040 DS3: Make your own region cache
  worlds/dark_souls_3/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4041 The Messenger: fix missing money wrench rule
  worlds/messenger/rules.py
  worlds/messenger/test/test_shop.py
Labels: is: bug/fix, waiting-on: peer-review

#4046 Core: make shlex split an attempt with regular split retry
  MultiServer.py
Labels: affects: core, waiting-on: peer-review

#4045 Docs: Add ConnectUpdate to the list of client packets in the network protocol documentation
  docs/network protocol.md
Labels: is: documentation, waiting-on: peer-review

#4051 Timespinner: Two typos
  worlds/timespinner/__init__.py
Labels: is: documentation, waiting-on: peer-review

#4053 Core: turn MultiServer item_names and location_names into instance vars
  MultiServer.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4052 OoT: Add aliases for Progressive Hookshot
  worlds/oot/__init__.py
Labels: is: bug/fix, is: enhancement, waiting-on: peer-review

#4048 Minecraft: Fix plando connections
  worlds/minecraft/Structures.py
Labels: is: bug/fix, waiting-on: core-review

#4056 Aquaria: Adding slot data for poptracker
  worlds/aquaria/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#4057 Aquaria Fixing some bugs
  worlds/aquaria/Regions.py
  worlds/aquaria/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4058 Pokemon Emerald: Fix opponent blacklist checking wrong option for legendaries shortcut
  worlds/pokemon_emerald/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4061 WebHost: noscript faq and glossary
  WebHostLib/misc.py
  WebHostLib/requirements.txt
  WebHostLib/static/assets/faq.js
  WebHostLib/static/assets/faq/en.md
  WebHostLib/static/assets/glossary.js
  WebHostLib/static/assets/glossary/en.md
  WebHostLib/templates/faq.html
  WebHostLib/templates/glossary.html
  WebHostLib/templates/markdown_document.html
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#4006 Test: option instances have to be pickleable
  test/general/test_options.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3722 Core: (CommonClient) Making local datapackage load correctly if it was overriden by a custom one
  CommonClient.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: peer-review

#4042 Core: save default settings before opening file for users
  Launcher.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4030 Noita: Add the useful classification to important perks, making them progression + useful
  worlds/noita/items.py
Labels: is: enhancement, waiting-on: core-review

#4037 [Aquaria] Adds Poptracker Pack to the Aquaria Setup Guides
  worlds/aquaria/docs/setup_en.md
  worlds/aquaria/docs/setup_fr.md
Labels: is: documentation, waiting-on: core-review

#4021 Pokemon Emerald: Add flag for shoal cave to bounces
  worlds/pokemon_emerald/client.py
Labels: is: enhancement, waiting-on: core-review

#4063 WebHost: Fix NamedRange dropdown being blank instead of Custom for presets
  WebHostLib/static/assets/playerOptions.js
Labels: is: bug/fix, affects: webhost, waiting-on: core-review

#4070 Yacht Dice: Proguseful items: Dice and 100 Points
  worlds/yachtdice/Items.py
Labels: is: enhancement, waiting-on: peer-review

#4071 WebHost: optimize WebHost theme PNGs
  WebHostLib/static/static/backgrounds/cliffs/grass/cliff-bottom-left-corner.png
  WebHostLib/static/static/backgrounds/cliffs/grass/cliff-bottom-right-corner.png
  WebHostLib/static/static/backgrounds/cliffs/grass/cliff-bottom.png
  WebHostLib/static/static/backgrounds/cliffs/grass/cliff-left.png
  WebHostLib/static/static/backgrounds/cliffs/grass/cliff-right.png
  WebHostLib/static/static/backgrounds/cliffs/grass/cliff-top-left-corner.png
  WebHostLib/static/static/backgrounds/cliffs/grass/cliff-top-right-corner.png
  WebHostLib/static/static/backgrounds/cliffs/grass/cliff-top.png
  WebHostLib/static/static/backgrounds/clouds/cloud-0001.png
  WebHostLib/static/static/backgrounds/clouds/cloud-0002.png
  WebHostLib/static/static/backgrounds/clouds/cloud-0003.png
  WebHostLib/static/static/backgrounds/dirt.png
  WebHostLib/static/static/backgrounds/footer/footer-0001.png
  WebHostLib/static/static/backgrounds/footer/footer-0002.png
  WebHostLib/static/static/backgrounds/footer/footer-0003.png
  WebHostLib/static/static/backgrounds/footer/footer-0004.png
  WebHostLib/static/static/backgrounds/footer/footer-0005.png
  WebHostLib/static/static/backgrounds/grass-flowers.png
  WebHostLib/static/static/backgrounds/grass.png
  WebHostLib/static/static/backgrounds/header/dirt-header.png
  WebHostLib/static/static/backgrounds/header/grass-header.png
  WebHostLib/static/static/backgrounds/header/ocean-header.png
  WebHostLib/static/static/backgrounds/header/party-time-header.png
  WebHostLib/static/static/backgrounds/header/stone-header.png
  WebHostLib/static/static/backgrounds/ice.png
  WebHostLib/static/static/backgrounds/jungle.png
  WebHostLib/static/static/backgrounds/ocean.png
  WebHostLib/static/static/backgrounds/party-time.png
  WebHostLib/static/static/backgrounds/stone.png
  WebHostLib/static/static/branding/header-logo.png
  WebHostLib/static/static/branding/landing-logo.png
  WebHostLib/static/static/button-images/hamburger-menu-icon.png
  WebHostLib/static/static/button-images/island-button-a.png
  WebHostLib/static/static/button-images/island-button-b.png
  WebHostLib/static/static/button-images/island-button-c.png
  WebHostLib/static/static/button-images/popover.png
  WebHostLib/static/static/decorations/island-a.png
  WebHostLib/static/static/decorations/island-b.png
  WebHostLib/static/static/decorations/island-c.png
  WebHostLib/static/static/decorations/rock-in-water.png
  WebHostLib/static/static/decorations/rock-single.png
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#4073 WebHost: optimize header-logo.svg
  WebHostLib/static/static/branding/header-logo-full.svg
  WebHostLib/static/static/branding/header-logo.svg
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#4044 Yacht Dice: Fix logic (again) so that score doesn't drop when receiving item
  worlds/yachtdice/Rules.py
  worlds/yachtdice/YachtWeights.py
  worlds/yachtdice/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4054 Core: fix pickling plando connections
  Utils.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: core-review

#4078 HK: Replace "hook" in Precise Movement description to "claw"
  worlds/hk/Options.py
Labels: is: documentation, waiting-on: core-review

#4066 TUNIC: Add prog + useful to some items
  worlds/tunic/__init__.py
  worlds/tunic/items.py
Labels: is: enhancement, waiting-on: peer-review

#4089 Setup: more typing
  setup.py
Labels: affects: core, waiting-on: peer-review

#4097 Core: fix item links for alternate menu regions
  BaseClasses.py
Labels: affects: core, waiting-on: peer-review

#4098 OoT: fix plando/item links (again)
  worlds/oot/__init__.py
Labels: waiting-on: peer-review

#4103 WebHost: restore fragment links for glossary and faq and make titles clickable
  WebHostLib/misc.py
  WebHostLib/static/styles/markdown.css
Labels: is: bug/fix, affects: release/blocker, affects: webhost, waiting-on: peer-review

#4088 Setup: SNI: separate win7/non-win7 build, update macos naming
  setup.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: peer-review

#4092 SM64ex: Add links to documentation for makeflags and patches
  worlds/sm64ex/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#4109 Core: Properly fall back to a world's `rich_text_options_doc`
  WebHostLib/templates/playerOptions/macros.html
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#4107 Core: Add Version string to Launcher title
  Launcher.py
Labels: affects: core, waiting-on: peer-review

#3967 Yacht Dice: Textual fixes and changes (Docs / yaml description)
  worlds/yachtdice/Options.py
  worlds/yachtdice/docs/en_Yacht Dice.md
  worlds/yachtdice/docs/setup_en.md
Labels: is: documentation, waiting-on: peer-review

#4104 [KH2] Add new Poptracker Pack to the KH2 Setup Guide
  worlds/kh2/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#4108 macos: fix crash when 'Open Patch' is used
  Utils.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4093 Docs: Update Information about Running Unittests
  docs/running from source.md
  docs/tests.md
Labels: is: documentation, waiting-on: peer-review

#4114 Pokemon Emerald: Add some warnings to option descriptions
  worlds/pokemon_emerald/options.py
Labels: is: documentation, waiting-on: core-review

#4087 TUNIC: Add link to logic tricks doc
  worlds/tunic/docs/en_TUNIC.md
Labels: is: documentation, waiting-on: core-review

#4086 Lingo: Update documentation for panel shuffle
  worlds/lingo/options.py
Labels: is: documentation, waiting-on: core-review

#4029 OSRS: Add missing indirect conditions
  worlds/osrs/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4034 [DS3] Remind players to remove the old dinput8.dll
  worlds/dark_souls_3/docs/setup_en.md
Labels: is: documentation, affects: release/blocker, waiting-on: core-review

#4115 TUNIC: Minor revision to IG and LS option descriptions
  worlds/tunic/options.py
Labels: is: documentation, waiting-on: core-review

#4060 oc2: Remove recursive level star check and check only one level of global reqs
  worlds/overcooked2/Logic.py
Labels: is: enhancement, waiting-on: core-review

#4112 Pokemon Emerald: Update changelog
  worlds/pokemon_emerald/CHANGELOG.md
Labels: is: documentation, waiting-on: core-review

#4090 Pokemon Emerald: Link to Rom Changes in Game Page
  worlds/pokemon_emerald/docs/en_Pokemon Emerald.md
  worlds/pokemon_emerald/docs/rom_changes_en.md
Labels: is: documentation, waiting-on: core-review

#4119 Lingo: Mark Eight Room -> The Incomparable as a warp
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
Labels: is: bug/fix, waiting-on: core-review

#3392 Tests: Add a test that weights file generates different results per player correctly
  test/programs/data/weights/weights.yaml
  test/programs/test_generate.py
Labels: is: enhancement, waiting-on: peer-review

#3530 Tests: add test that option classes aren't reused
  test/general/test_options.py
Labels: is: enhancement, waiting-on: peer-review

#4094 HK: fix grubhunt required grubs count
  worlds/hk/__init__.py
  worlds/hk/test/__init__.py
  worlds/hk/test/test_grub_count.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3911 SNIClient: log exceptions and keep task alive
  SNIClient.py
  worlds/AutoSNIClient.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review
