Repository ArchipelagoMW/Archipelago, pull requests merged in 2024-04, with the labels that each got.

#3060 KDL3: fix shuffled animals not actually being random
  worlds/kdl3/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#2842 Factorio: fix attempting to create savegame with not filename safe characters
  worlds/factorio/Client.py
Labels: is: bug/fix, waiting-on: peer-review

#2983 Pokemon Emerald: Fix wonder trade race condition
  worlds/pokemon_emerald/client.py
Labels: is: bug/fix, waiting-on: peer-review

#2964 ALttP: Re-mark light/dark world regions after applying plando connections
  worlds/alttp/EntranceShuffle.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#3062 Core: delete playerSettings.yaml
  playerSettings.yaml
Labels: affects: core, waiting-on: peer-review

#3071 WebHost: allow deleting Rooms and Seeds, as well as their associated data
  WebHostLib/autolauncher.py
  WebHostLib/templates/userContent.html
  WebHostLib/upload.py
Labels: affects: webhost, waiting-on: peer-review

#3087 LttP: fix fix fake world always applying
  worlds/alttp/__init__.py
Labels: waiting-on: peer-review

#3105 LTTP: Fix Bug With Custom Resource Spending
  data/basepatch.bsdiff4
  worlds/alttp/Rom.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#3080 SMZ3: Fixing minor typos on options
  worlds/smz3/Options.py
Labels: is: documentation, waiting-on: world-maintainer, waiting-on: peer-review

#3067 Core, Webhost, Docs: Replace all usages of player settings
  Generate.py
  WebHostLib/misc.py
  docs/settings api.md
  settings.py
  worlds/adventure/docs/setup_en.md
  worlds/adventure/docs/setup_fr.md
  worlds/alttp/docs/multiworld_de.md
  worlds/alttp/docs/multiworld_es.md
  worlds/alttp/docs/multiworld_fr.md
  worlds/archipidle/docs/guide_en.md
  worlds/archipidle/docs/guide_fr.md
  worlds/dark_souls_3/docs/setup_fr.md
  worlds/dlcquest/docs/fr_DLCQuest.md
  worlds/dlcquest/docs/setup_fr.md
  worlds/generic/docs/advanced_settings_en.md
  worlds/generic/docs/triggers_en.md
  worlds/minecraft/docs/minecraft_fr.md
  worlds/minecraft/docs/minecraft_sv.md
  worlds/musedash/docs/setup_es.md
  worlds/oot/docs/setup_fr.md
  worlds/pokemon_rb/docs/setup_es.md
  worlds/timespinner/docs/setup_de.md
  worlds/witness/docs/setup_en.md
  worlds/yoshisisland/docs/en_Yoshi's Island.md
  worlds/yoshisisland/docs/setup_en.md
Labels: affects: core, affects: webhost, waiting-on: peer-review

#3035 Core: remove now unused stuff in Generate.py
  Generate.py
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review

#2813 Ror2: Add progressive stages option
  worlds/ror2/__init__.py
  worlds/ror2/docs/en_Risk of Rain 2.md
  worlds/ror2/items.py
  worlds/ror2/options.py
  worlds/ror2/rules.py
  worlds/ror2/test/test_mithrix_goal.py
Labels: is: enhancement, waiting-on: core-review

#3094 Yoshi Island: Typo Fix
  worlds/yoshisisland/__init__.py
Labels: is: documentation, waiting-on: core-review

#2780 Webhost: add file downloads to the room api endpoint
  WebHostLib/api/__init__.py
  WebHostLib/templates/macros.html
Labels: is: enhancement, affects: webhost, waiting-on: core-review

#3007 The Witness: The big dumb refactor
  worlds/witness/__init__.py
  worlds/witness/data/WitnessItems.txt
  worlds/witness/data/WitnessLogic.txt
  worlds/witness/data/WitnessLogicExpert.txt
  worlds/witness/data/WitnessLogicVanilla.txt
  worlds/witness/data/__init__.py
  worlds/witness/data/item_definition_classes.py
  worlds/witness/data/settings/Audio_Logs.txt
  worlds/witness/data/settings/Door_Shuffle/Boat.txt
  worlds/witness/data/settings/Door_Shuffle/Complex_Additional_Panels.txt
  worlds/witness/data/settings/Door_Shuffle/Complex_Door_Panels.txt
  worlds/witness/data/settings/Door_Shuffle/Complex_Doors.txt
  worlds/witness/data/settings/Door_Shuffle/Elevators_Come_To_You.txt
  worlds/witness/data/settings/Door_Shuffle/Obelisk_Keys.txt
  worlds/witness/data/settings/Door_Shuffle/Simple_Additional_Panels.txt
  worlds/witness/data/settings/Door_Shuffle/Simple_Doors.txt
  worlds/witness/data/settings/Door_Shuffle/Simple_Panels.txt
  worlds/witness/data/settings/EP_Shuffle/EP_All.txt
  worlds/witness/data/settings/EP_Shuffle/EP_Easy.txt
  worlds/witness/data/settings/EP_Shuffle/EP_NoEclipse.txt
  worlds/witness/data/settings/EP_Shuffle/EP_Sides.txt
  worlds/witness/data/settings/Early_Caves.txt
  worlds/witness/data/settings/Early_Caves_Start.txt
  worlds/witness/data/settings/Exclusions/Disable_Unrandomized.txt
  worlds/witness/data/settings/Exclusions/Discards.txt
  worlds/witness/data/settings/Exclusions/Vaults.txt
  worlds/witness/data/settings/Laser_Shuffle.txt
  worlds/witness/data/settings/Postgame/Beyond_Challenge.txt
  worlds/witness/data/settings/Postgame/Bottom_Floor_Discard.txt
  worlds/witness/data/settings/Postgame/Bottom_Floor_Discard_NonDoors.txt
  worlds/witness/data/settings/Postgame/Caves.txt
  worlds/witness/data/settings/Postgame/Challenge_Vault_Box.txt
  worlds/witness/data/settings/Postgame/Mountain_Lower.txt
  worlds/witness/data/settings/Postgame/Mountain_Upper.txt
  worlds/witness/data/settings/Postgame/Path_To_Challenge.txt
  worlds/witness/data/settings/Symbol_Shuffle.txt
  worlds/witness/data/static_items.py
  worlds/witness/data/static_locations.py
  worlds/witness/data/static_logic.py
  worlds/witness/data/utils.py
  worlds/witness/hints.py
  worlds/witness/locations.py
  worlds/witness/options.py
  worlds/witness/player_items.py
  worlds/witness/player_logic.py
  worlds/witness/regions.py
  worlds/witness/ruff.toml
  worlds/witness/rules.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3123 SC2: Fix possible non-determinism in goal selection
  worlds/sc2/PoolFilter.py
Labels: is: bug/fix, waiting-on: core-review

#3120 KDL3: Fix boss access on open world disabled
  worlds/kdl3/Regions.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3086 TUNIC: Fix link to player options page in setup guide
  worlds/tunic/docs/setup_en.md
Labels: is: bug/fix, is: documentation, waiting-on: core-review

#3069 Pokemon Emerald: Change Ho-Oh capitalization
  worlds/pokemon_emerald/client.py
  worlds/pokemon_emerald/data.py
  worlds/pokemon_emerald/data/locations.json
  worlds/pokemon_emerald/options.py
  worlds/pokemon_emerald/rules.py
Labels: is: bug/fix, waiting-on: core-review

#3116 SC2: Fix unused_items refill to respect item dependencies.
  worlds/sc2/PoolFilter.py
Labels: is: bug/fix, waiting-on: core-review

#2968 Core: add Location.is_event property
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3101 SC2: Fix vanilla mission order connection
  worlds/sc2/Regions.py
Labels: is: bug/fix, waiting-on: core-review

#3077 DKC3: Fix List Out of Range Error on Level Shuffle Hint extension
  worlds/dkc3/Names/LocationName.py
  worlds/dkc3/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#3122 Webhost: Fix a typo on Start Playing page
  WebHostLib/templates/startPlaying.html
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#3108 SC2: Fix Typos in location names
  worlds/sc2/Locations.py
Labels: is: bug/fix, waiting-on: core-review

#3079 ArchipIDLE 2024
  worlds/archipidle/Items.py
  worlds/archipidle/Rules.py
  worlds/archipidle/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#3099 Core: Getting rid of forfeit_mode
  MultiServer.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3106 Pokémon Red and Blue: 0.4.5 Fixes
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/client.py
  worlds/pokemon_rb/locations.py
  worlds/pokemon_rb/pokemon.py
  worlds/pokemon_rb/regions.py
Labels: is: bug/fix, waiting-on: peer-review

#3054 Lingo: Remove unnecessary player_logic parameters
  worlds/lingo/__init__.py
  worlds/lingo/regions.py
  worlds/lingo/rules.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3082 TUNIC: Error catching for logic bugs in ER
  worlds/tunic/__init__.py
Labels: is: refactor/cleanup, waiting-on: world-maintainer

#3049 The Witness: Migrate joke hints to the client
  worlds/witness/__init__.py
  worlds/witness/hints.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3126 Stardew Valley: Remove early shipping bin documentation
  worlds/stardew_valley/options.py
Labels: is: documentation, waiting-on: core-review

#3109 sc2: Fixing mission levels not counting towards the level 35 threshold
  worlds/sc2/Client.py
Labels: is: bug/fix, waiting-on: core-review

#3114 Noita: Do some cleanup to make mypy happy
  worlds/noita/__init__.py
  worlds/noita/locations.py
  worlds/noita/regions.py
  worlds/noita/rules.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3040 SC2: Remove the deprecated data version attribute in order to avoid cached old item names
  worlds/sc2/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#3115 TUNIC: Some cleanup
  worlds/tunic/__init__.py
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
  worlds/tunic/test/__init__.py
  worlds/tunic/test/test_access.py
Labels: is: refactor/cleanup, waiting-on: core-review

#2841 Terraria: Add crate logic
  worlds/terraria/Checks.py
  worlds/terraria/Rules.dsv
  worlds/terraria/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3081 The Witness: Rename "Town Windmill Entry" to "Windmill Entry"
  worlds/witness/data/WitnessItems.txt
  worlds/witness/data/settings/Door_Shuffle/Complex_Door_Panels.txt
  worlds/witness/data/settings/Door_Shuffle/Complex_Doors.txt
Labels: is: refactor/cleanup, waiting-on: core-review

#3113 Yoshi's Island: Fix Outdated Connection Setup
  worlds/yoshisisland/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#2814 Core: Let location name groups work with /hint_location
  MultiServer.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#2085 LADX: Add "boots controls" option
  worlds/ladx/LADXR/assembler.py
  worlds/ladx/LADXR/generator.py
  worlds/ladx/LADXR/locations/startItem.py
  worlds/ladx/LADXR/patches/bank3e.asm/chest.asm
  worlds/ladx/LADXR/patches/core.py
  worlds/ladx/Options.py
Labels: is: enhancement, waiting-on: peer-review

#2877 BizHawkClient: Add error message if patching fails
  worlds/_bizhawk/context.py
Labels: is: enhancement, waiting-on: core-review

#3130 ALTTP: Bomb Walls Logic Fixes
  BaseClasses.py
  worlds/alttp/EntranceShuffle.py
  worlds/alttp/InvertedRegions.py
  worlds/alttp/Regions.py
  worlds/alttp/Rom.py
  worlds/alttp/Rules.py
  worlds/alttp/__init__.py
  worlds/alttp/test/inverted_owg/TestDeathMountain.py
  worlds/alttp/test/owg/TestDeathMountain.py
Labels: is: bug/fix, affects: core, waiting-on: world-maintainer, waiting-on: peer-review

#3076 TUNIC: Fix entrance rule for unrestricted + ladders - entrance rando
  worlds/tunic/er_rules.py
Labels: is: bug/fix, waiting-on: core-review

#2928 Spoiler: Display all precollected items in the Spoiler Log
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#2956 MultiServer: add all worlds goal completion message
  MultiServer.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#2538 MultiServer: Support location name groups in !missing and !checked commands
  MultiServer.py
Labels: is: enhancement, waiting-on: core-review

#2809 Muse Dash: Add filler items and rework generation balance
  worlds/musedash/MuseDashCollection.py
  worlds/musedash/Options.py
  worlds/musedash/Presets.py
  worlds/musedash/__init__.py
  worlds/musedash/test/TestDifficultyRanges.py
  worlds/musedash/test/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3124 CommonClient: set max_size to 16 MB
  CommonClient.py
Labels: affects: core, waiting-on: peer-review

#3104 Subnautica: filler items distribution
  worlds/subnautica/__init__.py
  worlds/subnautica/items.py
  worlds/subnautica/options.py
Labels: is: enhancement, waiting-on: peer-review

#3127 LttP: deprioritize locked locations for ingame hints
  worlds/alttp/Rom.py
Labels: waiting-on: peer-review

#3011 kvui: use all flags in Item Class tooltip
  kvui.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#2871 Core: replace `Location.event` with `advancement` property
  BaseClasses.py
  Fill.py
  docs/world api.md
  test/bases.py
  test/general/test_fill.py
  worlds/alttp/ItemPool.py
  worlds/alttp/Rules.py
  worlds/checksfinder/Locations.py
  worlds/dlcquest/__init__.py
  worlds/dlcquest/test/checks/world_checks.py
  worlds/generic/Rules.py
  worlds/ladx/Locations.py
  worlds/ladx/__init__.py
  worlds/meritous/Locations.py
  worlds/oot/Location.py
  worlds/oot/__init__.py
  worlds/overcooked2/__init__.py
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/encounters.py
  worlds/pokemon_rb/regions.py
  worlds/sc2wol/Regions.py
  worlds/smz3/__init__.py
  worlds/soe/__init__.py
  worlds/spire/__init__.py
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/test/TestGeneration.py
  worlds/stardew_valley/test/TestRules.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/assertion/mod_assert.py
  worlds/stardew_valley/test/assertion/world_assert.py
  worlds/timespinner/Regions.py
  worlds/tloz/__init__.py
  worlds/undertale/Locations.py
  worlds/wargroove/__init__.py
  worlds/zork_grand_inquisitor/world.py
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review, waiting-on: world-maintainer

#2523 SNIClient/LttP: modern SNI prevents payload overflow
  SNIClient.py
  worlds/alttp/Options.py
Labels: is: bug/fix, waiting-on: peer-review

#3125 Core: add visibility attribute to Option
  BaseClasses.py
  Options.py
  WebHostLib/options.py
  worlds/alttp/Options.py
Labels: affects: core, affects: webhost, waiting-on: peer-review

#3132 TUNIC: Fix chest in incorrect region, incorrect key requirement
  worlds/tunic/er_rules.py
  worlds/tunic/locations.py
  worlds/tunic/rules.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#3144 Core: increment version
  Utils.py
Labels: is: maintenance, affects: core

#3074 SC2 Documentation: Fix the page titles
  worlds/sc2/docs/en_Starcraft 2.md
  worlds/sc2/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3153 WebHost: check: display exception chain one layer deep
  WebHostLib/check.py
Labels: affects: webhost, waiting-on: peer-review

#3121 CI: pyright in github actions
  .github/pyright-config.json
  .github/type_check.py
  .github/workflows/strict-type-check.yml
  ModuleUpdate.py
  typings/kivy/uix/widget.pyi
  worlds/LauncherComponents.py
Labels: affects: core, waiting-on: peer-review

#3145 LTTP: Thieves Town KDS Key Fix
  worlds/alttp/Rules.py
Labels: is: bug/fix, waiting-on: peer-review

#3166 ALTTP: Triforce Pieces and Condense Items fixes
  worlds/alttp/ItemPool.py
Labels: waiting-on: peer-review

#3168 lufia2ac: prevent 0 byte reads
  worlds/lufia2ac/Client.py
Labels: is: bug/fix, waiting-on: peer-review

#3170 Noita: Add the new bosses to the check pool
  worlds/noita/locations.py
  worlds/noita/options.py
  worlds/noita/regions.py
Labels: is: enhancement, waiting-on: peer-review

#3159 CV64: Use AP Procedure Patch
  worlds/cv64/__init__.py
  worlds/cv64/aesthetics.py
  worlds/cv64/data/patches.py
  worlds/cv64/docs/obscure_checks.md
  worlds/cv64/options.py
  worlds/cv64/rom.py
  worlds/cv64/stages.py
Labels: is: enhancement, waiting-on: peer-review

#3146 Pokemon Emerald: Fix client crash if 0.4.6 client connects to 0.4.5 seed
  worlds/pokemon_emerald/__init__.py
  worlds/pokemon_emerald/client.py
Labels: is: bug/fix, waiting-on: peer-review

#3142 [Yoshi's Island] Minor Fixes
  worlds/yoshisisland/Items.py
  worlds/yoshisisland/Options.py
  worlds/yoshisisland/setup_game.py
Labels: is: bug/fix, is: enhancement, waiting-on: core-review

#3091 FFMQ: Update setup doc to reflect new requirements
  worlds/ffmq/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3135 SM64ex: Logic and Generation Fixes
  worlds/sm64ex/Regions.py
  worlds/sm64ex/Rules.py
Labels: is: bug/fix, waiting-on: peer-review

#2884 Lingo: The Pilgrim Update
  worlds/lingo/__init__.py
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
  worlds/lingo/data/ids.yaml
  worlds/lingo/datatypes.py
  worlds/lingo/items.py
  worlds/lingo/locations.py
  worlds/lingo/options.py
  worlds/lingo/player_logic.py
  worlds/lingo/regions.py
  worlds/lingo/rules.py
  worlds/lingo/static_logic.py
  worlds/lingo/test/TestOptions.py
  worlds/lingo/test/TestPilgrimage.py
  worlds/lingo/test/TestSunwarps.py
  worlds/lingo/utils/pickle_static_data.py
  worlds/lingo/utils/validate_config.rb
Labels: is: enhancement, waiting-on: core-review

#3151 Docs: adds new commonclient commands to webhost docs
  worlds/generic/docs/commands_en.md
Labels: is: documentation, waiting-on: core-review

#3149 MultiServer: Prevent invalid `*_mode` option values.
  MultiServer.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#3134 Zork Grand Inquisitor: Fix Determinism Issues on Fixed Seeds
  worlds/zork_grand_inquisitor/data_funcs.py
  worlds/zork_grand_inquisitor/world.py
Labels: is: bug/fix, waiting-on: core-review

#3047 The Witness: Increase variety of the starting item
  worlds/witness/player_items.py
Labels: is: enhancement, waiting-on: core-review

#3103 Pokemon Emerald: Fix missing region for water encounters in Dewford
  worlds/pokemon_emerald/data/regions/cities.json
  worlds/pokemon_emerald/rules.py
Labels: is: bug/fix, waiting-on: peer-review

#3139 Heretic: Update to use new Options + logic fixes + Doc fix
  worlds/heretic/Locations.py
  worlds/heretic/Options.py
  worlds/heretic/Regions.py
  worlds/heretic/Rules.py
  worlds/heretic/__init__.py
  worlds/heretic/docs/setup_en.md
Labels: is: bug/fix, is: documentation, is: refactor/cleanup, waiting-on: peer-review

#3119 Noita: Add Meat Realm
  worlds/noita/locations.py
  worlds/noita/options.py
  worlds/noita/regions.py
Labels: is: enhancement, waiting-on: core-review

#3102 SM: getitem cheat fix
  worlds/sm/Client.py
Labels: is: bug/fix, waiting-on: peer-review

#3150 KH2: Docs updates and Excluded Locations Bugfix
  worlds/kh2/OpenKH.py
  worlds/kh2/Options.py
  worlds/kh2/__init__.py
  worlds/kh2/docs/setup_en.md
Labels: is: bug/fix, is: documentation, waiting-on: peer-review

#3154 lufia2ac: prevent double checks
  worlds/lufia2ac/basepatch/basepatch.asm
  worlds/lufia2ac/basepatch/basepatch.bsdiff4
Labels: waiting-on: peer-review

#3088 Core: fix item_name_groups unfolding in item links
  Options.py
  test/general/test_options.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3078 The Messenger: Hotfix item links filler gen
  worlds/messenger/__init__.py
  worlds/messenger/connections.py
  worlds/messenger/options.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3085 SA2B: Update Setup guide for new Mod Manager
  worlds/sa2b/Options.py
  worlds/sa2b/docs/setup_en.md
Labels: is: documentation, affects: release/blocker, waiting-on: core-review

#3010 Adventure: Remove runtime changes to location templates to fix determinism issues
  worlds/adventure/Locations.py
  worlds/adventure/Regions.py
  worlds/adventure/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#2991 MMBN3: Modernizations and Minor Bugfixes
  data/lua/connector_mmbn3.lua
  worlds/mmbn3/Options.py
  worlds/mmbn3/__init__.py
  worlds/mmbn3/docs/setup_en.md
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: peer-review

#3096 Settings: disable automatic yaml line breaks
  settings.py
  test/general/test_host_yaml.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3172 LTTP: ToH Crystal Switch Logic
  worlds/alttp/Rules.py
  worlds/alttp/StateHelpers.py
  worlds/alttp/test/dungeons/TestTowerOfHera.py
  worlds/alttp/test/inverted_owg/TestDungeons.py
  worlds/alttp/test/owg/TestDungeons.py
Labels: waiting-on: peer-review

#3175 CV64: Include player in APPP constructor
  worlds/cv64/__init__.py
Labels: waiting-on: peer-review

#3178 LttP: fix percentage Triforce Pieces and missed cleanup from #3160
  worlds/alttp/ItemPool.py
  worlds/alttp/__init__.py
Labels: is: bug/fix, waiting-on: world-maintainer

#3174 LttP: remove glitch triforce setting
  BaseClasses.py
  Generate.py
  Main.py
  settings.py
  worlds/alttp/Rom.py
Labels: is: bug/fix, is: refactor/cleanup, affects: core, waiting-on: peer-review

#3140 DOOM II: var world->multiworld fix and minor doc fix
  worlds/doom_ii/Rules.py
  worlds/doom_ii/__init__.py
  worlds/doom_ii/docs/setup_en.md
Labels: is: documentation, is: refactor/cleanup, waiting-on: core-review

#3133 ALTTP: Updates to player-specific game tracker.
  WebHostLib/static/assets/lttp-tracker.js
  WebHostLib/static/styles/lttp-tracker.css
  WebHostLib/static/styles/tracker__ALinkToThePast.css
  WebHostLib/templates/lttpTracker.html
  WebHostLib/templates/tracker__ALinkToThePast.html
  WebHostLib/tracker.py
Labels: is: bug/fix, is: enhancement, affects: webhost, waiting-on: world-maintainer

#3183 ALTTP: Updates and refactors to multi-tracker and player tracker.
  WebHostLib/templates/multitracker__ALinkToThePast.html
  WebHostLib/templates/tracker__ALinkToThePast.html
  WebHostLib/tracker.py
Labels: is: bug/fix, is: refactor/cleanup, affects: webhost, waiting-on: peer-review

#3184 Factorio: Fix 500 error on Factorio multi-tracker.
  WebHostLib/tracker.py
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#3155 Stardew Valley: Options page documentation improvements
  worlds/stardew_valley/options.py
Labels: is: documentation, waiting-on: core-review

#3143 Docs: style: multiline brackets
  docs/style.md
Labels: is: documentation, waiting-on: core-review

#3118 Zillion: Docs: add information to skill option documentation
  worlds/zillion/options.py
Labels: is: documentation, waiting-on: core-review

#2932 DS3: Update the setup docs to be more up to date
  worlds/dark_souls_3/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3097 Launcher: Adding Unrated mention to the launcher
  Launcher.py
Labels: is: documentation, affects: core, waiting-on: core-review

#3089 CODEOWNERS: Update owner for ChecksFinder
  docs/CODEOWNERS
Labels: is: documentation, waiting-on: core-review

#3092 Docs: Mention /check in the advanced yaml guide
  worlds/generic/docs/advanced_settings_en.md
Labels: is: documentation, waiting-on: core-review

#3162 Pokemon Emerald: Temporary fix for missing items
  worlds/pokemon_emerald/CHANGELOG.md
  worlds/pokemon_emerald/client.py
Labels: is: bug/fix, waiting-on: peer-review

#2661 Core: fix unfilled items "Per-Player Count"
  Fill.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3157 WebHost: Add `robots.txt` to WebHost
  WebHost.py
  WebHostLib/__init__.py
  WebHostLib/robots.py
  WebHostLib/static/robots.txt
  docs/webhost configuration sample.yaml
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#3179 Core: Silently fix invalid yaml option for Toggles
  Options.py
Labels: affects: core, waiting-on: peer-review

#3181 MultiServer: add datastore list command to MultiServer
  MultiServer.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3188 SNIClient: set SNESState to SNES_DISCONNECTED when disconnected
  SNIClient.py
Labels: is: bug/fix, waiting-on: peer-review

#3189 TUNIC: Fix minimal Heir access in ladder shuffle
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
  worlds/tunic/rules.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3186 MultiServer: Fix `/alias <name>` not removing aliases.
  MultiServer.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3182 TUNIC: Minor edits to game page
  worlds/tunic/docs/en_TUNIC.md
Labels: is: documentation, waiting-on: core-review

#3095 SMZ3: Use correct font tiles for cross-world items in SM
  worlds/smz3/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3131 The Witness: More door renames
  worlds/witness/data/WitnessItems.txt
  worlds/witness/data/WitnessLogic.txt
  worlds/witness/data/WitnessLogicExpert.txt
  worlds/witness/data/WitnessLogicVanilla.txt
  worlds/witness/data/settings/Door_Shuffle/Complex_Doors.txt
Labels: is: refactor/cleanup, waiting-on: core-review

#3194 Setup: update cx_freeze to latest 6.x and exclude 7.x
  setup.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: peer-review

#3196 Factorio: fix client compatibility with Windows 7/Python 3.8
  worlds/factorio/requirements.txt
Labels: waiting-on: peer-review

#3199 Core: make open_filename log that it's asking
  Utils.py
Labels: affects: core, waiting-on: peer-review

#3202 Delete worlds/sc2wol directory
  worlds/sc2wol/Regions.py
Labels: is: bug/fix, waiting-on: peer-review

#3208 Core/SNIClient/LttP/Factorio: switch to get_settings
  MultiServer.py
  SNIClient.py
  Utils.py
  worlds/alttp/Rom.py
  worlds/factorio/Client.py
Labels: is: refactor/cleanup, affects: core, waiting-on: peer-review

#3209 WebHost: remove JSON_AS_ASCII
  docs/webhost configuration sample.yaml
Labels: is: documentation, affects: webhost, waiting-on: peer-review

#3219 The Messenger: fix import that shouldn't be relative
  worlds/messenger/portals.py
Labels: waiting-on: peer-review

#3206 WebHost: Prevent committing data packages with invalid checksums to database and prevent 500 error from invalid `zip` files.
  WebHostLib/upload.py
Labels: is: bug/fix, affects: release/blocker, affects: webhost, waiting-on: peer-review

#3223 CV64: fix import that shouldn't be relative
  worlds/cv64/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#3215 ALTTP: 0.4.6 fixes
  worlds/alttp/ItemPool.py
  worlds/alttp/Rom.py
  worlds/alttp/Rules.py
  worlds/alttp/StateHelpers.py
  worlds/alttp/__init__.py
  worlds/alttp/test/dungeons/TestDungeon.py
  worlds/alttp/test/dungeons/TestGanonsTower.py
  worlds/alttp/test/inverted/TestInverted.py
  worlds/alttp/test/inverted_minor_glitches/TestInvertedMinor.py
  worlds/alttp/test/inverted_owg/TestInvertedOWG.py
  worlds/alttp/test/minor_glitches/TestMinor.py
  worlds/alttp/test/owg/TestVanillaOWG.py
  worlds/alttp/test/vanilla/TestVanilla.py
Labels: is: bug/fix, waiting-on: peer-review

#3222 [TLOZ]: Dark Rooms and Level 8 Logic Fixes
  worlds/tloz/Rules.py
Labels: is: bug/fix, waiting-on: peer-review

#3227 Core: some `CommonContext` typing
  CommonClient.py
Labels: affects: core, waiting-on: peer-review

#3220 Lingo: Fix world load on frozen 3.8
  worlds/lingo/options.py
  worlds/lingo/static_logic.py
  worlds/lingo/test/TestDatafile.py
Labels: is: bug/fix, waiting-on: author, waiting-on: peer-review

#3195 Setup: update cx_freeze to 7.x
  setup.py
Labels: is: maintenance, affects: core, waiting-on: peer-review
