Repository ArchipelagoMW/Archipelago, pull requests merged in 2024-05, with the labels that each got.

#2343 Options: Add an OptionError to specify bad options caused the failure
  Generate.py
  Options.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#2859 Core: Improve join/leave messages, add "HintGame" tag
  MultiServer.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3190 Lingo: Expand sphere 1 under restrictive conditions
  worlds/lingo/locations.py
  worlds/lingo/player_logic.py
Labels: is: bug/fix, is: enhancement, waiting-on: core-review

#2935 Tests: Clean up some of the fill test helpers a bit
  test/general/__init__.py
  test/general/test_fill.py
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review

#3024 TUNIC: Location groups for each area of the game
  worlds/tunic/__init__.py
  worlds/tunic/docs/en_TUNIC.md
  worlds/tunic/er_rules.py
  worlds/tunic/items.py
  worlds/tunic/locations.py
Labels: is: enhancement, waiting-on: core-review

#3193 Updating Poptracker-Pack-Link for Pokémon Emerald as the old one was no longer maintained and did not work with 0.4.5
  worlds/pokemon_emerald/docs/setup_en.md
  worlds/pokemon_emerald/docs/setup_es.md
Labels: is: documentation, waiting-on: core-review

#3141 Noita: Add more location groups, capitalize existing ones
  worlds/noita/locations.py
  worlds/noita/regions.py
Labels: is: enhancement, waiting-on: core-review

#3029 Core: organize files on ingest via alpha, not ascii
  Generate.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#2403 Rules: Verify the default values of `Option`s.
  Generate.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3249 Lingo: Fix broken good item in panelsanity
  worlds/lingo/player_logic.py
Labels: is: bug/fix, waiting-on: peer-review

#3221 HK: Fix Godhome Events
  worlds/hk/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#3253 TLOZ: Fix rings classification, so they are actually considered for logic
  worlds/tloz/Items.py
  worlds/tloz/Rules.py
Labels: is: bug/fix, waiting-on: core-review

#3255 [TLOZ]: Remove use of per_slot_randoms
  worlds/tloz/__init__.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: peer-review

#2998 TUNIC: Better seed groups for Entrance Rando
  worlds/tunic/__init__.py
  worlds/tunic/er_scripts.py
  worlds/tunic/options.py
Labels: is: enhancement, waiting-on: core-review

#3233 SM64: Fix typo and odd capitalization in documentation.
  worlds/sm64ex/docs/en_Super Mario 64.md
Labels: is: documentation, waiting-on: core-review

#3245 Core: Make output when hinting something with multiple copies show up in a better order
  MultiServer.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3241 Yoshi's World: Fixed minor logic inconsistincy in Rules.py
  worlds/yoshisisland/Rules.py
Labels: is: bug/fix, waiting-on: core-review

#3264 Pokemon Emerald: Use OptionError
  worlds/pokemon_emerald/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#3251 Lingo: Started using OptionError
  worlds/lingo/__init__.py
  worlds/lingo/player_logic.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#2415 Fill: allow for single player fill restrictive placement and sweeping
  Fill.py
  worlds/alttp/Dungeons.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3056 Pokemon Emerald: Change dexsanity to not create locations for blacklisted wilds
  worlds/pokemon_emerald/locations.py
  worlds/pokemon_emerald/pokemon.py
  worlds/pokemon_emerald/rules.py
Labels: is: enhancement, waiting-on: core-review

#2995 Pokemon Emerald: Convert to procedure patch
  worlds/pokemon_emerald/CHANGELOG.md
  worlds/pokemon_emerald/__init__.py
  worlds/pokemon_emerald/data.py
  worlds/pokemon_emerald/data/extracted_data.json
  worlds/pokemon_emerald/rom.py
Labels: is: enhancement, waiting-on: core-review

#3210 Celeste 64: v1.2 Content Update
  worlds/celeste64/CHANGELOG.md
  worlds/celeste64/Items.py
  worlds/celeste64/Locations.py
  worlds/celeste64/Names/ItemName.py
  worlds/celeste64/Names/LocationName.py
  worlds/celeste64/Options.py
  worlds/celeste64/Rules.py
  worlds/celeste64/__init__.py
  worlds/celeste64/docs/guide_en.md
Labels: is: enhancement, affects: core, waiting-on: core-review

#3177 Pokemon Emerald: Add event ticket locations to client data store flags
  worlds/pokemon_emerald/client.py
Labels: is: enhancement, waiting-on: core-review

#3271 WebHost: use redirect for /room form submission
  WebHostLib/misc.py
Labels: affects: webhost, waiting-on: peer-review

#2754 Mario & Luigi: Superstar Saga: Implement New Game
  README.md
  docs/CODEOWNERS
  worlds/mlss/Client.py
  worlds/mlss/Data.py
  worlds/mlss/Items.py
  worlds/mlss/Locations.py
  worlds/mlss/Names/LocationName.py
  worlds/mlss/Options.py
  worlds/mlss/Regions.py
  worlds/mlss/Rom.py
  worlds/mlss/Rules.py
  worlds/mlss/StateLogic.py
  worlds/mlss/__init__.py
  worlds/mlss/data/basepatch.bsdiff
  worlds/mlss/docs/en_Mario & Luigi Superstar Saga.md
  worlds/mlss/docs/setup_en.md
Labels: is: new game, waiting-on: peer-review

#3268 SoE: Docs: rework some styling
  worlds/soe/docs/multiworld_en.md
Labels: is: documentation, waiting-on: core-review

#2933 Core: Add "has_all_counts" and "has_any_count" functions to CollectionState
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3217 [MMBN3] Fixes incorrect "Game Completion" Flag getting set
  data/lua/connector_mmbn3.lua
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#2934 Core: Add has_list and count_list and improve (?) count_group
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3243 Pokemon Emerald: Fix incorrect access to Slateport water encounters
  worlds/pokemon_emerald/data/regions/cities.json
  worlds/pokemon_emerald/data/regions/routes.json
  worlds/pokemon_emerald/rules.py
  worlds/pokemon_emerald/test/test_accessibility.py
Labels: is: bug/fix, waiting-on: peer-review

#3277 Pokemon Emerald: Change Lilycove access logic
  worlds/pokemon_emerald/data/regions/routes.json
  worlds/pokemon_emerald/rules.py
  worlds/pokemon_emerald/test/test_accessibility.py
Labels: is: bug/fix, waiting-on: core-review

#3192 Core: Add list/item group exclusive methods to CollectionState
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3285 Doom I/II, Heretic: Removing old option getters
  worlds/doom_1993/__init__.py
  worlds/doom_ii/__init__.py
  worlds/heretic/__init__.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#1385 Core: log warning for unknown options
  Generate.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3254 Core: World: MultiWorld and another deprecated option getter
  BaseClasses.py
  worlds/generic/Rules.py
Labels: is: refactor/cleanup, affects: core, waiting-on: peer-review

#3281 Bumper Stickers and Meritous: Options and world: multiworld fixes
  worlds/bumpstik/Options.py
  worlds/bumpstik/Regions.py
  worlds/bumpstik/__init__.py
  worlds/meritous/Options.py
  worlds/meritous/Regions.py
  worlds/meritous/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#3295 Zillion: remove deprecated `Logger.warn`
  worlds/zillion/__init__.py
  worlds/zillion/client.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#3294 World: remove ClassVar typing from topology_present
  worlds/AutoWorld.py
Labels: affects: core, waiting-on: peer-review

#3298 Docs: Update advanced yaml guide wording for priority locations
  docs/options api.md
  worlds/generic/docs/advanced_settings_en.md
Labels: is: documentation, waiting-on: core-review

#3289 Hylics 2: Remove Random Start option and replace it with Start Location option
  worlds/hylics2/Options.py
  worlds/hylics2/Rules.py
  worlds/hylics2/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3305 CV64: Fix items with weird characters landing on Renon's shop crashing
  worlds/cv64/text.py
Labels: waiting-on: peer-review

#3269 WebHost: Fix setup guide link not working for games with special characters
  WebHostLib/templates/supportedGames.html
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#3306 Wargroove: Switched to options API.
  worlds/wargroove/Options.py
  worlds/wargroove/__init__.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: core-review

#3304 Docs: remove obsolete yaml generation info
  docs/running from source.md
Labels: is: documentation, waiting-on: peer-review

#3309 Core: Removing item_count
  BaseClasses.py
Labels: affects: core, waiting-on: peer-review

#3296 Core: Remove deprecated get_current_option_name and SpecialRange
  Options.py
Labels: is: maintenance, affects: core, waiting-on: peer-review

#3200 The Messenger: fix generation failure for no portal shuffle with 3 available portals
  worlds/messenger/__init__.py
  worlds/messenger/test/test_portals.py
Labels: is: bug/fix, waiting-on: peer-review

#2925 Bomb Rush Cyberfunk: Implement new game
  README.md
  docs/CODEOWNERS
  worlds/bomb_rush_cyberfunk/Items.py
  worlds/bomb_rush_cyberfunk/Locations.py
  worlds/bomb_rush_cyberfunk/Options.py
  worlds/bomb_rush_cyberfunk/Regions.py
  worlds/bomb_rush_cyberfunk/Rules.py
  worlds/bomb_rush_cyberfunk/__init__.py
  worlds/bomb_rush_cyberfunk/docs/en_Bomb Rush Cyberfunk.md
  worlds/bomb_rush_cyberfunk/docs/setup_en.md
  worlds/bomb_rush_cyberfunk/test/__init__.py
  worlds/bomb_rush_cyberfunk/test/test_graffiti_spots.py
  worlds/bomb_rush_cyberfunk/test/test_options.py
  worlds/bomb_rush_cyberfunk/test/test_rep_items.py
Labels: is: new game, waiting-on: core-review

#3225 Core: prevent "Could not find identify Component responsible for None" from being logged.
  Launcher.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3214 WebHost: use a limited process pool to run Rooms
  MultiServer.py
  WebHostLib/__init__.py
  WebHostLib/autolauncher.py
  WebHostLib/customserver.py
Labels: meta: help wanted, is: refactor/cleanup, affects: core, affects: webhost, waiting-on: other

#3197 Aquaria: implement new game
  docs/CODEOWNERS
  worlds/aquaria/Items.py
  worlds/aquaria/Locations.py
  worlds/aquaria/Options.py
  worlds/aquaria/Regions.py
  worlds/aquaria/__init__.py
  worlds/aquaria/docs/en_Aquaria.md
  worlds/aquaria/docs/fr_Aquaria.md
  worlds/aquaria/docs/setup_en.md
  worlds/aquaria/docs/setup_fr.md
  worlds/aquaria/test/__init__.py
  worlds/aquaria/test/test_beast_form_access.py
  worlds/aquaria/test/test_bind_song_access.py
  worlds/aquaria/test/test_bind_song_option_access.py
  worlds/aquaria/test/test_confined_home_water.py
  worlds/aquaria/test/test_dual_song_access.py
  worlds/aquaria/test/test_energy_form_access.py
  worlds/aquaria/test/test_energy_form_access_option.py
  worlds/aquaria/test/test_fish_form_access.py
  worlds/aquaria/test/test_li_song_access.py
  worlds/aquaria/test/test_light_access.py
  worlds/aquaria/test/test_nature_form_access.py
  worlds/aquaria/test/test_no_progression_hard_hidden_locations.py
  worlds/aquaria/test/test_progression_hard_hidden_locations.py
  worlds/aquaria/test/test_spirit_form_access.py
  worlds/aquaria/test/test_sun_form_access.py
  worlds/aquaria/test/test_unconfine_home_water_via_both.py
  worlds/aquaria/test/test_unconfine_home_water_via_energy_door.py
  worlds/aquaria/test/test_unconfine_home_water_via_transturtle.py
Labels: is: new game, waiting-on: core-review

#3302 FF1: Switching Options System
  worlds/ff1/Options.py
  worlds/ff1/__init__.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: peer-review

#2795 Yu-Gi-oh! 2006: implement new game
  test/general/test_items.py
  worlds/yugioh06/__init__.py
  worlds/yugioh06/boosterpacks.py
  worlds/yugioh06/client_bh.py
  worlds/yugioh06/docs/en_Yu-Gi-Oh! 2006.md
  worlds/yugioh06/docs/setup_en.md
  worlds/yugioh06/fusions.py
  worlds/yugioh06/items.py
  worlds/yugioh06/locations.py
  worlds/yugioh06/logic.py
  worlds/yugioh06/opponents.py
  worlds/yugioh06/options.py
  worlds/yugioh06/patch.bsdiff4
  worlds/yugioh06/patches/draft.bsdiff4
  worlds/yugioh06/patches/ocg.bsdiff4
  worlds/yugioh06/rom.py
  worlds/yugioh06/rom_values.py
  worlds/yugioh06/ruff.toml
  worlds/yugioh06/rules.py
  worlds/yugioh06/structure_deck.py
Labels: is: new game, waiting-on: core-review

#3314 BRCF: Small Fixes
  worlds/bomb_rush_cyberfunk/Locations.py
  worlds/bomb_rush_cyberfunk/Options.py
  worlds/bomb_rush_cyberfunk/Regions.py
  worlds/bomb_rush_cyberfunk/Rules.py
  worlds/bomb_rush_cyberfunk/__init__.py
  worlds/bomb_rush_cyberfunk/docs/en_Bomb Rush Cyberfunk.md
  worlds/bomb_rush_cyberfunk/docs/setup_en.md
Labels: is: enhancement, waiting-on: peer-review

#3212 The Witness: Fix Mountain Floor 2 Near Row 5 Symbol Requirement
  worlds/witness/data/WitnessLogic.txt
Labels: is: bug/fix, waiting-on: core-review

#3213 The Witness: Fix Monastery Entry Right Requirement
  worlds/witness/data/WitnessLogic.txt
  worlds/witness/data/WitnessLogicExpert.txt
  worlds/witness/data/WitnessLogicVanilla.txt
Labels: is: bug/fix, waiting-on: core-review

#3090 some worlds: some typing in `LocalRom`
  worlds/alttp/Rom.py
  worlds/dkc3/Rom.py
  worlds/smw/Rom.py
  worlds/yoshisisland/Rom.py
Labels: is: enhancement, waiting-on: core-review

#3317 Pokemon Emerald: Update changelog
  worlds/pokemon_emerald/CHANGELOG.md
Labels: is: documentation, waiting-on: core-review

#3316 YGO06: adds the new game yugioh06 to CODEOWNERS, inno_setup and readme
  README.md
  docs/CODEOWNERS
  inno_setup.iss
Labels: affects: core, waiting-on: peer-review

#3042 Core: Player name property on world class
  worlds/AutoWorld.py
  worlds/overcooked2/__init__.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#2614 WebHost: Massive overhaul of options pages
  BaseClasses.py
  Options.py
  WebHostLib/__init__.py
  WebHostLib/misc.py
  WebHostLib/options.py
  WebHostLib/static/assets/player-options.js
  WebHostLib/static/assets/playerOptions.js
  WebHostLib/static/assets/supportedGames.js
  WebHostLib/static/assets/weighted-options.js
  WebHostLib/static/assets/weightedOptions.js
  WebHostLib/static/styles/globalStyles.css
  WebHostLib/static/styles/markdown.css
  WebHostLib/static/styles/player-options.css
  WebHostLib/static/styles/playerOptions/playerOptions.css
  WebHostLib/static/styles/playerOptions/playerOptions.css.map
  WebHostLib/static/styles/playerOptions/playerOptions.scss
  WebHostLib/static/styles/supportedGames.css
  WebHostLib/static/styles/tooltip.css
  WebHostLib/static/styles/weighted-options.css
  WebHostLib/static/styles/weightedOptions/weightedOptions.css
  WebHostLib/static/styles/weightedOptions/weightedOptions.css.map
  WebHostLib/static/styles/weightedOptions/weightedOptions.scss
  WebHostLib/templates/player-options.html
  WebHostLib/templates/playerOptions/macros.html
  WebHostLib/templates/playerOptions/playerOptions.html
  WebHostLib/templates/siteMap.html
  WebHostLib/templates/supportedGames.html
  WebHostLib/templates/weighted-options.html
  WebHostLib/templates/weightedOptions/macros.html
  WebHostLib/templates/weightedOptions/weightedOptions.html
  data/options.yaml
  docs/options api.md
  docs/world api.md
  worlds/AutoWorld.py
  worlds/adventure/Options.py
  worlds/alttp/docs/multiworld_es.md
  worlds/alttp/docs/multiworld_fr.md
  worlds/generic/docs/advanced_settings_en.md
  worlds/overcooked2/docs/setup_en.md
  worlds/sc2/docs/setup_en.md
Labels: is: enhancement, is: refactor/cleanup, affects: core, affects: webhost, waiting-on: author, waiting-on: peer-review

#3324 YGO06: make sure it runs on 3.8 support
  worlds/yugioh06/__init__.py
  worlds/yugioh06/structure_deck.py
Labels: waiting-on: peer-review

#3286 MLSS: General bugfixes + Add patch extension to inno_setup.iss
  inno_setup.iss
  worlds/mlss/Client.py
  worlds/mlss/Regions.py
  worlds/mlss/Rom.py
  worlds/mlss/data/basepatch.bsdiff
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3318 Tests: test that no worlds fail to load
  test/general/test_implemented.py
Labels: waiting-on: peer-review

#3325 Core: move `OptionGroup` definition to `Options.py`
  BaseClasses.py
  Options.py
  docs/options api.md
  worlds/AutoWorld.py
Labels: affects: core, waiting-on: core-review

#3327 CustomServer: don't mutate static server data
  WebHostLib/customserver.py
Labels: is: bug/fix

#3333 WebHost: fix AutoLauncher restarting rooms due to race condition
  WebHostLib/autolauncher.py
  WebHostLib/customserver.py
Labels: affects: webhost, waiting-on: peer-review

#3334 CustomServer: don't mutate static server data
  WebHostLib/customserver.py
Labels: affects: webhost, waiting-on: peer-review

#3337 WebHost: re-introduce per-Room Locker
  WebHostLib/customserver.py
Labels: affects: webhost, waiting-on: peer-review

#3339 WebHost: move atexit saving to end of room hosting function
  MultiServer.py
  WebHostLib/customserver.py
Labels: affects: core, affects: webhost, waiting-on: peer-review

#3332 WebHost: fixup WebHostLib/options.py
  WebHostLib/generate.py
  WebHostLib/options.py
Labels: affects: webhost, waiting-on: peer-review

#3338 Zillion: add OptionGroup
  worlds/zillion/__init__.py
  worlds/zillion/options.py
Labels: is: enhancement, waiting-on: peer-review

#3341 CustomServer: re-add missing Archipelago to data package
  WebHostLib/customserver.py
Labels: affects: webhost, waiting-on: peer-review

#3340 WebHost: properly stop worker threads
  WebHost.py
  WebHostLib/autolauncher.py
Labels: affects: webhost, waiting-on: peer-review

#3198 Factorio: update factorio-rcon
  worlds/factorio/requirements.txt
Labels: is: maintenance, waiting-on: peer-review

#3315 ALTTP: Second attempt to fix Swamp Palace boss logic
  worlds/alttp/Rules.py
Labels: is: bug/fix, waiting-on: peer-review

#3228 Lingo: Fixed edge case sunwarp shuffle accessibility issue
  worlds/lingo/player_logic.py
Labels: is: bug/fix, waiting-on: core-review

#3075 TUNIC: ER Refactor for better plando connections, fewer shops improvement
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
  worlds/tunic/items.py
  worlds/tunic/locations.py
  worlds/tunic/options.py
Labels: is: bug/fix, is: enhancement, waiting-on: core-review

#3346 Subnautica: fix use of _valid_keys where valid_keys should be used.
  Options.py
  worlds/subnautica/options.py
Labels: affects: core, waiting-on: peer-review

#3347 Update options pages macros to respect valid_keys for item and location options
  WebHostLib/templates/playerOptions/macros.html
  WebHostLib/templates/weightedOptions/macros.html
Labels: affects: webhost, waiting-on: peer-review

#3348 Use world.web.options_presets directly
  WebHostLib/options.py
Labels: is: bug/fix, is: refactor/cleanup, affects: webhost, waiting-on: core-review, waiting-on: peer-review, affects: PR/blocker

#3313 Aquaria: Adding Aquaria to README and some other minors changes
  README.md
  worlds/aquaria/Items.py
  worlds/aquaria/Locations.py
  worlds/aquaria/Options.py
  worlds/aquaria/Regions.py
  worlds/aquaria/__init__.py
  worlds/aquaria/docs/en_Aquaria.md
  worlds/aquaria/docs/setup_en.md
  worlds/aquaria/test/__init__.py
  worlds/aquaria/test/test_bind_song_access.py
  worlds/aquaria/test/test_bind_song_option_access.py
  worlds/aquaria/test/test_energy_form_access.py
  worlds/aquaria/test/test_energy_form_access_option.py
  worlds/aquaria/test/test_fish_form_access.py
  worlds/aquaria/test/test_li_song_access.py
  worlds/aquaria/test/test_nature_form_access.py
Labels: is: enhancement, waiting-on: core-review

#2640 A Hat in Time: Implement New Game
  AHITClient.py
  README.md
  data/yatta.ico
  data/yatta.png
  docs/CODEOWNERS
  worlds/ahit/Client.py
  worlds/ahit/DeathWishLocations.py
  worlds/ahit/DeathWishRules.py
  worlds/ahit/Items.py
  worlds/ahit/Locations.py
  worlds/ahit/Options.py
  worlds/ahit/Regions.py
  worlds/ahit/Rules.py
  worlds/ahit/Types.py
  worlds/ahit/__init__.py
  worlds/ahit/docs/en_A Hat in Time.md
  worlds/ahit/docs/setup_en.md
  worlds/ahit/test/__init__.py
  worlds/ahit/test/test_acts.py
Labels: is: new game, waiting-on: core-review

#3351 Customserver: only save on exit if it's in a good state.
  WebHostLib/customserver.py
Labels: affects: webhost, waiting-on: peer-review

#3362 MLSS: Remove logger message from validate_rom
  worlds/mlss/Client.py
Labels: is: bug/fix, waiting-on: core-review

#3358 Bomb Rush Cyberfunk: Update option docstrings
  worlds/bomb_rush_cyberfunk/Options.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3357 SA2B: Option Groups and Dataclass
  worlds/sa2b/Options.py
  worlds/sa2b/__init__.py
Labels: is: enhancement, is: maintenance, waiting-on: peer-review

#3359 Hylics 2: Update option docstrings
  worlds/hylics2/Options.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3345 SMW: Option Groups and Presets
  worlds/smw/Options.py
  worlds/smw/Presets.py
  worlds/smw/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3344 TUNIC: Add option groups, fix option descriptions
  worlds/tunic/__init__.py
  worlds/tunic/options.py
Labels: is: enhancement, waiting-on: core-review

#3342 The Witness: Option Groups & Tooltip formatting
  worlds/witness/__init__.py
  worlds/witness/options.py
Labels: is: enhancement, waiting-on: core-review

#3322 DKC3: Option Groups
  worlds/dkc3/Options.py
  worlds/dkc3/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3321 Celeste 64: Option Groups
  worlds/celeste64/Options.py
  worlds/celeste64/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3261 Core: add panic_method setting
  Fill.py
  Main.py
  settings.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3374 WebHost: Fixing default values for LocationSets
  WebHostLib/templates/playerOptions/macros.html
  WebHostLib/templates/weightedOptions/macros.html
Labels: is: bug/fix, affects: webhost, waiting-on: core-review

#3330 TUNIC: Update setup guide with some linux instructions
  worlds/tunic/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3320 Pokemon Emerald: Fix broken Markdown in spanish setup guide
  worlds/pokemon_emerald/docs/setup_es.md
Labels: is: documentation, waiting-on: core-review

#3335 BizHawkClient: Minor linting/style
  worlds/_bizhawk/__init__.py
  worlds/_bizhawk/client.py
  worlds/_bizhawk/context.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3329 Noita: Update option descriptions after webhost change
  worlds/noita/options.py
Labels: is: documentation, waiting-on: core-review

#3250 Lingo: Minor logic fixes (part 2)
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
  worlds/lingo/data/ids.yaml
  worlds/lingo/datatypes.py
  worlds/lingo/locations.py
  worlds/lingo/utils/pickle_static_data.py
  worlds/lingo/utils/validate_config.rb
Labels: is: bug/fix, waiting-on: core-review

#3216 Muse Dash: Update Song List to Muse Dash 4.3.0
  worlds/musedash/MuseDashData.txt
Labels: is: enhancement, is: maintenance, waiting-on: core-review

#3377 TUNIC: Add option presets
  worlds/tunic/__init__.py
  worlds/tunic/options.py
Labels: is: enhancement, waiting-on: core-review

#3360 CV64: Add option groups
  worlds/cv64/__init__.py
  worlds/cv64/options.py
Labels: is: enhancement, waiting-on: core-review

#3376 Stardew valley: Create Option Groups
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/option_groups.py
  worlds/stardew_valley/options.py
Labels: is: maintenance, waiting-on: core-review

#3352 Lingo: Add option groups
  worlds/lingo/__init__.py
  worlds/lingo/options.py
Labels: is: enhancement, waiting-on: core-review

#2508 WebHost, Core: Move item and location descriptions to `WebWorld` responsibilities.
  docs/world api.md
  test/general/test_items.py
  test/general/test_locations.py
  test/webhost/test_descriptions.py
  worlds/AutoWorld.py
  worlds/dark_souls_3/Items.py
  worlds/dark_souls_3/__init__.py
Labels: is: documentation, is: refactor/cleanup, affects: core, affects: webhost, waiting-on: peer-review

#3379 AHIT: Fix Your Contract has Expired being placed on the first level when it shouldn't
  worlds/ahit/Regions.py
Labels: is: bug/fix, waiting-on: peer-review

#3064 Core: Utils.py typing
  Utils.py
Labels: is: refactor/cleanup, affects: core, waiting-on: peer-review

#3369 Webhost: Disallow empty option groups
  Options.py
  WebHostLib/options.py
  worlds/AutoWorld.py
Labels: is: bug/fix, affects: core, affects: webhost, waiting-on: peer-review

#3385 Docs: Update trigger guide and advanced yaml guide
  worlds/generic/docs/advanced_settings_en.md
  worlds/generic/docs/triggers_en.md
Labels: is: documentation, waiting-on: peer-review

#3389 CODEOWNERS: Actually link the correct person for Yu Gi Oh
  docs/CODEOWNERS
Labels: is: documentation, waiting-on: peer-review

#3370 Webhost: Allow Option Groups to specify whether they start collapsed
  Options.py
  WebHostLib/options.py
  WebHostLib/templates/playerOptions/playerOptions.html
  WebHostLib/templates/weightedOptions/weightedOptions.html
  worlds/AutoWorld.py
Labels: is: enhancement, affects: core, affects: webhost, waiting-on: peer-review

#3386 Core: Rename "count_exclusive" methods to "count_unique"
  BaseClasses.py
  worlds/bomb_rush_cyberfunk/Rules.py
  worlds/yugioh06/rules.py
Labels: is: refactor/cleanup, affects: core, waiting-on: world-maintainer, waiting-on: peer-review

#3406 Setup: pin cx_freeze to 7.0.0
  setup.py
Labels: affects: core, waiting-on: peer-review

#3375 BizHawkClient: Add suggestion when no handler is found
  worlds/_bizhawk/context.py
Labels: is: enhancement, waiting-on: peer-review

#3395 Update to Muse Dash 4.4.0
  worlds/musedash/MuseDashData.txt
  worlds/musedash/Options.py
Labels: is: enhancement, waiting-on: peer-review

#2862 MultiServer: make !hint prefer early sphere
  Main.py
  MultiServer.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3381 Core: Fix weights file data not being reused
  Generate.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: core-review

#3414 Terraria: migrate to new options API
  worlds/terraria/Options.py
  worlds/terraria/__init__.py
Labels: is: maintenance, waiting-on: core-review

#3402 HK: adds Godtuner for GH Flower Quest Goal
  worlds/hk/GodhomeData.py
  worlds/hk/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#2888 Docs: improve contributing sign posting
  README.md
  docs/contributing.md
Labels: is: documentation, is: enhancement, waiting-on: peer-review

#3031 Docs, Starcraft 2: Add French documentation for setup and game page
  worlds/sc2/__init__.py
  worlds/sc2/docs/en_Starcraft 2.md
  worlds/sc2/docs/fr_Starcraft 2.md
  worlds/sc2/docs/setup_en.md
  worlds/sc2/docs/setup_fr.md
Labels: is: documentation, is: enhancement, waiting-on: core-review

#3411 WebHost: use settings defaults for /api/generate and options -> Single Player Generate
  WebHostLib/generate.py
  WebHostLib/options.py
  settings.py
Labels: affects: core, affects: webhost, waiting-on: peer-review

#3398 CODEOWNERS: Remove @jtoyoda as world maintainer for Final Fantasy
  docs/CODEOWNERS
Labels: is: documentation, waiting-on: core-review

#3419 SC2: Fix Kerrigan Primal Form on Half Completion
  worlds/sc2/Client.py
Labels: is: bug/fix, waiting-on: core-review

#3403 Hollow Knight: Add missing comma
  worlds/hk/Options.py
Labels: is: bug/fix, waiting-on: core-review

#3423 PKMN R/B: "J.r" -> "Jr."
  worlds/pokemon_rb/locations.py
Labels: is: bug/fix, waiting-on: core-review
