Repository ArchipelagoMW/Archipelago, pull requests merged in 2024-02, with the labels that each got.

#2787 LTTP: Create Hyrule Castle Big Key Rule On Universal Small Keys Option
  worlds/alttp/Rules.py
Labels: is: bug/fix

#2768 Tests: add world load benchmark
  test/benchmark/__init__.py
  test/benchmark/load_worlds.py
  test/benchmark/locations.py
  test/benchmark/path_change.py
  test/benchmark/time_it.py
  worlds/__init__.py
Labels: is: enhancement, affects: core

#2749 Core: Purge the evil (`world: MultiWorld`)
  BaseClasses.py
  Fill.py
  Main.py
  OoTAdjuster.py
  Utils.py
  test/general/test_fill.py
  test/general/test_reachability.py
Labels: is: refactor/cleanup, affects: core

#2777 WebHost: provide None password to URI so it doesn't get stripped
  WebHostLib/templates/macros.html
Labels: is: bug/fix, affects: webhost

#2735 Fill: Changing deprecated option getter
  Fill.py
Labels: is: bug/fix, affects: core

#2810 Muse Dash: Add support for Muse Dash 4.0.0 Songs
  worlds/musedash/MuseDashCollection.py
  worlds/musedash/MuseDashData.txt
  worlds/musedash/Options.py
Labels: is: enhancement, waiting-on: peer-review

#2803 KH2: Fix Final Form logic softlock
  worlds/kh2/Logic.py
Labels: is: bug/fix, waiting-on: peer-review

#2619 Pokémon R/B: Halve Bank Exchange Rate
  worlds/pokemon_rb/client.py
Labels: is: enhancement, waiting-on: core-review

#2791 FFMQ: fix `__version__` import in Output.py
  worlds/ffmq/Output.py
Labels: is: bug/fix, waiting-on: core-review

#2503 The Witness: Change all option name comparisons to strings instead of numeric values
  worlds/witness/__init__.py
  worlds/witness/hints.py
  worlds/witness/items.py
  worlds/witness/locations.py
  worlds/witness/player_logic.py
  worlds/witness/regions.py
Labels: is: refactor/cleanup, waiting-on: core-review

#2802 TUNIC: Add an ER static connection, modify an nmg rule
  worlds/tunic/er_rules.py
  worlds/tunic/options.py
  worlds/tunic/rules.py
Labels: is: enhancement, waiting-on: core-review

#1888 Core: Minimal-Items Accessibility Fix
  BaseClasses.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#2569 SM64: Move Randomizer Content Update
  worlds/sm64ex/Items.py
  worlds/sm64ex/Options.py
  worlds/sm64ex/Regions.py
  worlds/sm64ex/Rules.py
  worlds/sm64ex/__init__.py
Labels: is: enhancement, waiting-on: core-review

#2812 CI: Add a workflow which automates some labeling
  .github/labeler.yml
  .github/workflows/label-pull-requests.yml
Labels: is: maintenance, waiting-on: core-review

#2642 [LADX] Added some resilience to non-ASCII player names
  LinksAwakeningClient.py
  worlds/ladx/LADXR/utils.py
Labels: is: bug/fix, waiting-on: core-review

#2654 Pokemon Emerald: Add missed locations to postgame locations group
  worlds/pokemon_emerald/locations.py
Labels: is: bug/fix, waiting-on: core-review

#2739 Lingo: Detach Art Gallery Exit from Progressive Art Gallery
  worlds/lingo/data/LL1.yaml
  worlds/lingo/test/TestProgressive.py
Labels: is: enhancement, waiting-on: core-review

#2745 Lingo: Split up Color Hunt and Champion's Rest
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/ids.yaml
  worlds/lingo/player_logic.py
Labels: is: enhancement, waiting-on: core-review

#2790 Core: remove module level AutoWorld import from BaseClasses
  BaseClasses.py
Labels: affects: core

#2818 TUNIC: Fix duplicate entrance name in ER
  worlds/tunic/er_rules.py
Labels: is: bug/fix, waiting-on: core-review

#2808 Core: APPatch interface
  Patch.py
  worlds/Files.py
Labels: affects: core

#2746 Lingo: Various item/location renames
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/ids.yaml
  worlds/lingo/player_logic.py
  worlds/lingo/test/TestProgressive.py
  worlds/lingo/utils/validate_config.rb
Labels: is: enhancement, waiting-on: core-review

#2758 Pokemon Emerald: Shuffle TMs for `diverse_balanced` option
  worlds/pokemon_emerald/__init__.py
Labels: is: enhancement, waiting-on: core-review

#2826 Core: fix comment that did more harm than good
  worlds/AutoWorld.py
Labels: is: documentation, affects: core, waiting-on: core-review

#2385 Tests: assign the world to WorldTestBase, and a default player field
  test/bases.py
  worlds/messenger/test/__init__.py
  worlds/messenger/test/test_locations.py
  worlds/messenger/test/test_shop.py
  worlds/messenger/test/test_shop_chest.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: peer-review

#2782 Lingo: Fix non-progressive The Colorful
  worlds/lingo/items.py
  worlds/lingo/player_logic.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: core-review

#2786 TUNIC: Universal Tracker Support Update
  worlds/tunic/__init__.py
  worlds/tunic/er_data.py
  worlds/tunic/er_scripts.py
Labels: is: enhancement, waiting-on: core-review

#2784 BizHawkClient: Use callbacks in connector script instead of else/ifs
  data/lua/connector_bizhawk_generic.lua
Labels: is: refactor/cleanup, waiting-on: core-review

#2825 TUNIC: Add aliases to LogicRules, slightly update description
  worlds/tunic/options.py
Labels: is: enhancement, waiting-on: core-review

#2834 TUNIC: Rename ability item
  worlds/tunic/__init__.py
  worlds/tunic/er_rules.py
  worlds/tunic/items.py
  worlds/tunic/options.py
  worlds/tunic/rules.py
Labels: is: enhancement, waiting-on: core-review

#2792 Update Lingo LL1.yaml: MASTERY (Room Room) not require "gray"
  worlds/lingo/data/LL1.yaml
Labels: is: refactor/cleanup, waiting-on: core-review

#2840 Pokemon Emerald: Un-exclude locations that must contain progression
  worlds/pokemon_emerald/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#2716 Core: update requirements
  requirements.txt
Labels: is: maintenance, affects: core, waiting-on: core-review

#2357 A Link to the Past: Bombless Start and Options/Shops overhaul
  BaseClasses.py
  Generate.py
  data/basepatch.bsdiff4
  setup.py
  worlds/alttp/Bosses.py
  worlds/alttp/Dungeons.py
  worlds/alttp/EntranceRandomizer.py
  worlds/alttp/EntranceShuffle.py
  worlds/alttp/InvertedRegions.py
  worlds/alttp/ItemPool.py
  worlds/alttp/Items.py
  worlds/alttp/Options.py
  worlds/alttp/Regions.py
  worlds/alttp/Rom.py
  worlds/alttp/Rules.py
  worlds/alttp/Shops.py
  worlds/alttp/StateHelpers.py
  worlds/alttp/SubClasses.py
  worlds/alttp/UnderworldGlitchRules.py
  worlds/alttp/__init__.py
  worlds/alttp/test/dungeons/TestAgahnimsTower.py
  worlds/alttp/test/dungeons/TestDarkPalace.py
  worlds/alttp/test/dungeons/TestDungeon.py
  worlds/alttp/test/dungeons/TestEasternPalace.py
  worlds/alttp/test/dungeons/TestGanonsTower.py
  worlds/alttp/test/dungeons/TestIcePalace.py
  worlds/alttp/test/dungeons/TestMiseryMire.py
  worlds/alttp/test/dungeons/TestSkullWoods.py
  worlds/alttp/test/dungeons/TestSwampPalace.py
  worlds/alttp/test/dungeons/TestThievesTown.py
  worlds/alttp/test/dungeons/TestTowerOfHera.py
  worlds/alttp/test/inverted/TestInverted.py
  worlds/alttp/test/inverted/TestInvertedBombRules.py
  worlds/alttp/test/inverted/TestInvertedDarkWorld.py
  worlds/alttp/test/inverted/TestInvertedDeathMountain.py
  worlds/alttp/test/inverted/TestInvertedLightWorld.py
  worlds/alttp/test/inverted/TestInvertedTurtleRock.py
  worlds/alttp/test/inverted_minor_glitches/TestInvertedDarkWorld.py
  worlds/alttp/test/inverted_minor_glitches/TestInvertedDeathMountain.py
  worlds/alttp/test/inverted_minor_glitches/TestInvertedLightWorld.py
  worlds/alttp/test/inverted_minor_glitches/TestInvertedMinor.py
  worlds/alttp/test/inverted_minor_glitches/TestInvertedTurtleRock.py
  worlds/alttp/test/inverted_owg/TestDarkWorld.py
  worlds/alttp/test/inverted_owg/TestDeathMountain.py
  worlds/alttp/test/inverted_owg/TestDungeons.py
  worlds/alttp/test/inverted_owg/TestInvertedOWG.py
  worlds/alttp/test/inverted_owg/TestLightWorld.py
  worlds/alttp/test/minor_glitches/TestDarkWorld.py
  worlds/alttp/test/minor_glitches/TestDeathMountain.py
  worlds/alttp/test/minor_glitches/TestLightWorld.py
  worlds/alttp/test/minor_glitches/TestMinor.py
  worlds/alttp/test/owg/TestDarkWorld.py
  worlds/alttp/test/owg/TestDeathMountain.py
  worlds/alttp/test/owg/TestDungeons.py
  worlds/alttp/test/owg/TestLightWorld.py
  worlds/alttp/test/owg/TestVanillaOWG.py
  worlds/alttp/test/vanilla/TestDarkWorld.py
  worlds/alttp/test/vanilla/TestDeathMountain.py
  worlds/alttp/test/vanilla/TestLightWorld.py
  worlds/alttp/test/vanilla/TestVanilla.py
Labels: is: enhancement, affects: core

#2846 TextClient: fix logging not always showing up
  CommonClient.py
Labels: affects: core, waiting-on: peer-review

#2851 Speedups: no cinit, no pickling
  _speedups.pyx
Labels: affects: core, waiting-on: peer-review

#2824 CI: add missing core files to "affects: core" labelling
  .github/labeler.yml
Labels: waiting-on: peer-review

#2788 [Generation] Fix sphere calculation debug message
  BaseClasses.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#2674 Docs: Better description for LocationScouts
  docs/network protocol.md
Labels: is: documentation, waiting-on: core-review

#2853 LTTP: Thieves' Town Big Chest fix
  worlds/alttp/Rules.py
Labels: is: enhancement, waiting-on: world-maintainer, waiting-on: peer-review

#2852 CI: add static analysis for native code / cython
  .github/workflows/scan-build.yml
Labels: is: enhancement, waiting-on: peer-review

#2827 Core: provide convenience getters on World class
  worlds/AutoWorld.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#2857 TUNIC: Use push_precollected for start_with_sword
  worlds/tunic/__init__.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#2845 Docs: Clarify which kinds of options actually support "random"
  docs/options api.md
Labels: is: documentation, waiting-on: core-review

#2170 Core: remove bad hardcoded behavior around plando_connections
  Generate.py
  worlds/generic/docs/plando_en.md
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review

#2453 Core: don't allow region, location, or entrance with duplicate names
  BaseClasses.py
  test/general/test_helpers.py
  worlds/mmbn3/__init__.py
  worlds/overcooked2/__init__.py
  worlds/ror2/regions.py
  worlds/ror2/rules.py
  worlds/ror2/test/test_limbo_goal.py
  worlds/ror2/test/test_mithrix_goal.py
  worlds/ror2/test/test_voidling_goal.py
  worlds/sm64ex/Regions.py
  worlds/timespinner/Regions.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#2849 TUNIC: Fix for incorrect Zig 3 ER rule
  worlds/tunic/er_rules.py
Labels: is: bug/fix, waiting-on: core-review

#2850 LTTP: KDS Default on
  worlds/alttp/Options.py
  worlds/alttp/Rules.py
  worlds/alttp/test/dungeons/TestAgahnimsTower.py
  worlds/alttp/test/dungeons/TestDesertPalace.py
  worlds/alttp/test/dungeons/TestEasternPalace.py
  worlds/alttp/test/dungeons/TestGanonsTower.py
  worlds/alttp/test/dungeons/TestIcePalace.py
  worlds/alttp/test/dungeons/TestMiseryMire.py
  worlds/alttp/test/dungeons/TestSkullWoods.py
  worlds/alttp/test/dungeons/TestSwampPalace.py
  worlds/alttp/test/dungeons/TestThievesTown.py
  worlds/alttp/test/inverted/TestInvertedTurtleRock.py
  worlds/alttp/test/inverted_minor_glitches/TestInvertedTurtleRock.py
  worlds/alttp/test/inverted_owg/TestDungeons.py
  worlds/alttp/test/minor_glitches/TestDeathMountain.py
  worlds/alttp/test/owg/TestDungeons.py
  worlds/alttp/test/vanilla/TestDeathMountain.py
Labels: is: enhancement, waiting-on: world-maintainer, waiting-on: peer-review

#2856 TUNIC: Misc Logic Changes, Additions
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/regions.py
  worlds/tunic/rules.py
Labels: is: enhancement, waiting-on: core-review

#2868 Utils: YAML goes brrrt
  Utils.py
  test/utils/test_yaml.py
Labels: affects: core, waiting-on: peer-review

#2494 The Witness: New hint type ("area hints")
  worlds/witness/WitnessItems.txt
  worlds/witness/WitnessLogic.txt
  worlds/witness/WitnessLogicExpert.txt
  worlds/witness/WitnessLogicVanilla.txt
  worlds/witness/__init__.py
  worlds/witness/hints.py
  worlds/witness/locations.py
  worlds/witness/options.py
  worlds/witness/presets.py
  worlds/witness/regions.py
  worlds/witness/settings/Door_Shuffle/Complex_Door_Panels.txt
  worlds/witness/settings/Door_Shuffle/Complex_Doors.txt
  worlds/witness/settings/Door_Shuffle/Simple_Doors.txt
  worlds/witness/settings/Door_Shuffle/Simple_Panels.txt
  worlds/witness/settings/EP_Shuffle/EP_Sides.txt
  worlds/witness/settings/Exclusions/Vaults.txt
  worlds/witness/settings/Postgame/Mountain_Lower.txt
  worlds/witness/static_logic.py
  worlds/witness/utils.py
Labels: is: enhancement, waiting-on: core-review, affects: PR/blocker

#2820 DKC3: Long-overdue World code cleanup
  worlds/dkc3/Locations.py
  worlds/dkc3/Options.py
  worlds/dkc3/Regions.py
  worlds/dkc3/Rom.py
  worlds/dkc3/Rules.py
  worlds/dkc3/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#2854 Docs: mention that IDs for items and locations can overlap
  docs/world api.md
Labels: is: documentation, waiting-on: core-review

#2312 DS3: Modified theme and warning color in docs for accessibility
  worlds/dark_souls_3/__init__.py
  worlds/dark_souls_3/docs/setup_en.md
  worlds/dark_souls_3/docs/setup_fr.md
Labels: waiting-on: core-review

#2696 Docs: Add Spanish Guide for Pokemon Emerald
  worlds/pokemon_emerald/__init__.py
  worlds/pokemon_emerald/docs/setup_es.md
Labels: is: documentation, waiting-on: core-review

#2723 Core: Default YAML header updates
  data/options.yaml
Labels: is: documentation, is: maintenance, waiting-on: core-review

#2844 Fixed broken hyperlink
  docs/network protocol.md
Labels: is: documentation, waiting-on: core-review

#2759 Blasphemous: Remove poptracker pack from setup guide
  worlds/blasphemous/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#2835 The Witness: Allow specifying custom trap weights
  worlds/witness/__init__.py
  worlds/witness/items.py
  worlds/witness/locations.py
  worlds/witness/options.py
  worlds/witness/static_logic.py
Labels: is: enhancement, waiting-on: core-review

#2801 Pokemon Emerald: Add exhaustive list of ROM changes
  worlds/pokemon_emerald/docs/rom changes.md
Labels: is: documentation, waiting-on: core-review
