Repository ArchipelagoMW/Archipelago, pull requests merged in 2024-03, with the labels that each got.

#2060 LADX: fix modifying item pool in pre_fill
  worlds/ladx/__init__.py
Labels: is: bug/fix, waiting-on: author

#2882 FFMQ: Remove debug print statements
  worlds/ffmq/Regions.py
Labels: is: refactor/cleanup, waiting-on: core-review

#2881 Launcher: make launcher scrollable
  Launcher.py
  kvui.py
Labels: affects: core, waiting-on: peer-review

#2828 Subnautica: cleanup
  worlds/subnautica/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#2339 MultiServer: make !hint without further arguments only reply to the instigating player
  MultiServer.py
Labels: is: enhancement, waiting-on: core-review

#2838 FF1: Update Location Names
  worlds/ff1/data/locations.json
Labels: is: enhancement, waiting-on: core-review

#2839 Lingo: Add a third location to Starting Room
  worlds/lingo/data/LL1.yaml
  worlds/lingo/player_logic.py
  worlds/lingo/test/TestDoors.py
  worlds/lingo/test/TestOrangeTower.py
  worlds/lingo/test/TestProgressive.py
  worlds/lingo/test/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#2355 Options: add a DeathLinkMixin dataclass to easily standardize death_link
  Options.py
  worlds/messenger/options.py
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review

#2860 Zillion: apworld-compatible package data
  setup.py
  typings/kivy/graphics/texture.pyi
  worlds/zillion/__init__.py
  worlds/zillion/client.py
  worlds/zillion/config.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#2885 Docs: add note for stage_assert_generate to settings api
  docs/settings api.md
Labels: is: documentation

#2867 Core: add specific can_reach helpers to CollectionState
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#2734 TLOZ: Fix Logic for Gleeok guarded locations
  worlds/tloz/Locations.py
  worlds/tloz/Rules.py
Labels: is: bug/fix, waiting-on: core-review

#2887 Core: clarify error message when reading an `APContainer`
  worlds/Files.py
Labels: affects: core, waiting-on: peer-review

#2875 Zillion: remove rom requirement for generation
  worlds/zillion/__init__.py
  worlds/zillion/client.py
  worlds/zillion/gen_data.py
  worlds/zillion/id_maps.py
  worlds/zillion/patch.py
  worlds/zillion/requirements.txt
Labels: is: enhancement, waiting-on: peer-review

#2874 Core: Allow common collections in OptionSet and OptionList constructors
  Options.py
  Utils.py
  requirements.txt
Labels: affects: core, waiting-on: core-review

#2890 LTTP: Open Pyramid and Shop Prog Balancing Bug Fixes
  worlds/alttp/Options.py
  worlds/alttp/Shops.py
  worlds/alttp/__init__.py
  worlds/alttp/test/options/TestOpenPyramid.py
Labels: waiting-on: world-maintainer, waiting-on: peer-review

#2891 Core: fix mistake in PR 2887
  worlds/Files.py
Labels: affects: core, waiting-on: peer-review

#2896 worlds/generic: Changing deprecated option getter
  worlds/generic/Rules.py
Labels: affects: core, waiting-on: core-review

#2878 Muse Dash: Add Muse Dash 4.1.0 songs
  worlds/musedash/MuseDashCollection.py
  worlds/musedash/MuseDashData.txt
  worlds/musedash/test/TestCollection.py
Labels: is: enhancement, waiting-on: peer-review

#2836 Pokemon RB: Fix exceptions raised by /bank
  worlds/pokemon_rb/client.py
Labels: is: bug/fix, waiting-on: core-review

#2513 Fix usage of `__new__` for `SpecialRange` compatibility fallback
  Options.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#2765 Doc: fix typo in commands_en.md
  worlds/generic/docs/commands_en.md
Labels: is: documentation, waiting-on: core-review

#2832 TUNIC: Update setup guide and game page docs
  worlds/tunic/docs/en_TUNIC.md
  worlds/tunic/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#2843 Docs: Add review expectations to contributing.md
  docs/contributing.md
Labels: is: documentation, waiting-on: core-review

#2119 Kirby's Dream Land 3: Implement New Game
  README.md
  docs/CODEOWNERS
  inno_setup.iss
  worlds/LauncherComponents.py
  worlds/generic/docs/plando_en.md
  worlds/kdl3/Aesthetics.py
  worlds/kdl3/Client.py
  worlds/kdl3/ClientAddrs.py
  worlds/kdl3/Compression.py
  worlds/kdl3/Gifting.py
  worlds/kdl3/Items.py
  worlds/kdl3/Locations.py
  worlds/kdl3/Names/AnimalFriendSpawns.py
  worlds/kdl3/Names/EnemyAbilities.py
  worlds/kdl3/Names/LocationName.py
  worlds/kdl3/Names/__init__.py
  worlds/kdl3/Options.py
  worlds/kdl3/Presets.py
  worlds/kdl3/Regions.py
  worlds/kdl3/Rom.py
  worlds/kdl3/Room.py
  worlds/kdl3/Rules.py
  worlds/kdl3/__init__.py
  worlds/kdl3/data/APConsumable.bsdiff4
  worlds/kdl3/data/APHeartStar.bsdiff4
  worlds/kdl3/data/APPauseIcons.dat
  worlds/kdl3/data/APStars.bsdiff4
  worlds/kdl3/data/Rooms.json
  worlds/kdl3/data/kdl3_basepatch.bsdiff4
  worlds/kdl3/docs/en_Kirby's Dream Land 3.md
  worlds/kdl3/docs/setup_en.md
  worlds/kdl3/src/kdl3_basepatch.asm
  worlds/kdl3/test/__init__.py
  worlds/kdl3/test/test_goal.py
  worlds/kdl3/test/test_locations.py
  worlds/kdl3/test/test_shuffles.py
Labels: affects: core, is: new game, waiting-on: core-review

#2879 Terraria: make Broken Hero Sword require post mech bosses
  worlds/terraria/Rules.dsv
Labels: waiting-on: peer-review

#2905 The Witness: Fix absolute world import
  worlds/witness/options.py
Labels: is: bug/fix, waiting-on: peer-review

#2897 The Witness: Bump required client version
  worlds/witness/__init__.py
Labels: is: refactor/cleanup, affects: release/blocker, waiting-on: peer-review

#2895 The Witness: Laser Hints
  worlds/witness/__init__.py
  worlds/witness/hints.py
  worlds/witness/options.py
  worlds/witness/presets.py
Labels: is: enhancement, waiting-on: peer-review

#2872 TLOZ: Use proper rule for completion condition
  worlds/tloz/__init__.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#2906 Generate: Trim slot names again after 16 character limitation slice.
  Generate.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#2861 Pokemon R/B: The Big Door Shuffle Update
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/basepatch_blue.bsdiff4
  worlds/pokemon_rb/basepatch_red.bsdiff4
  worlds/pokemon_rb/docs/en_Pokemon Red and Blue.md
  worlds/pokemon_rb/level_scaling.py
  worlds/pokemon_rb/locations.py
  worlds/pokemon_rb/options.py
  worlds/pokemon_rb/regions.py
  worlds/pokemon_rb/rom.py
  worlds/pokemon_rb/rom_addresses.py
Labels: is: enhancement, waiting-on: peer-review

#2798 Celeste 64: Implement New Game
  README.md
  docs/CODEOWNERS
  worlds/celeste64/Items.py
  worlds/celeste64/Locations.py
  worlds/celeste64/Names/ItemName.py
  worlds/celeste64/Names/LocationName.py
  worlds/celeste64/Names/__init__.py
  worlds/celeste64/Options.py
  worlds/celeste64/Regions.py
  worlds/celeste64/Rules.py
  worlds/celeste64/__init__.py
  worlds/celeste64/docs/en_Celeste 64.md
  worlds/celeste64/docs/guide_en.md
Labels: is: new game, waiting-on: core-review

#2907 LTTP: Missed `per_slot_random` Change
  worlds/alttp/Shops.py
Labels: waiting-on: peer-review

#2910 CI: Avoid race condition in labeler workflow
  .github/workflows/label-pull-requests.yml
Labels: is: bug/fix, waiting-on: core-review

#2783 Core: Fix creation of options for an item link group
  worlds/AutoWorld.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#2894 Fill: Improve clarity of remaining_fill messages
  Fill.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#2870 SNIClient: dynamically generate patch file identifier
  worlds/AutoSNIClient.py
  worlds/LauncherComponents.py
  worlds/alttp/Client.py
  worlds/dkc3/Client.py
  worlds/lufia2ac/Client.py
  worlds/sm/Client.py
  worlds/smw/Client.py
  worlds/smz3/Client.py
Labels: affects: core, waiting-on: peer-review

#2917 KDL3: Post-PR adjustments
  worlds/kdl3/Client.py
  worlds/kdl3/Rules.py
Labels: is: bug/fix, waiting-on: peer-review

#2688 Docs: Add Pickaxes to Progressive Tools in Minecraft info page
  worlds/minecraft/docs/en_Minecraft.md
Labels: is: documentation, waiting-on: core-review

#2920 The Witness: Fix... I don't know how to explain this one
  worlds/witness/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#2923 Core: Remove extra " character in /forbid_release help message
  MultiServer.py
Labels: affects: core, waiting-on: core-review

#2290 LTTP: remove multiworld = None
  test/bases.py
  test/general/test_items.py
  worlds/AutoWorld.py
  worlds/alttp/Dungeons.py
  worlds/alttp/ItemPool.py
  worlds/alttp/Items.py
  worlds/alttp/Rom.py
  worlds/alttp/Rules.py
  worlds/alttp/test/__init__.py
  worlds/alttp/test/dungeons/TestDungeon.py
  worlds/alttp/test/inverted/TestInverted.py
  worlds/alttp/test/inverted_minor_glitches/TestInvertedMinor.py
  worlds/alttp/test/inverted_owg/TestInvertedOWG.py
  worlds/alttp/test/minor_glitches/TestMinor.py
  worlds/alttp/test/options/TestOpenPyramid.py
  worlds/alttp/test/owg/TestVanillaOWG.py
  worlds/alttp/test/vanilla/TestVanilla.py
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review, waiting-on: world-maintainer, affects: PR/blocker

#2924 ALTTP: Fix NotImplemented error when using non-`none` values for `timer`.
  worlds/alttp/ItemPool.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: world-maintainer

#2686 Docs: Fix typos in Minecraft info page
  worlds/minecraft/docs/en_Minecraft.md
Labels: is: documentation, waiting-on: core-review

#2822 CommonClient: Add commands to view Item/Location Groups
  CommonClient.py
Labels: affects: core, waiting-on: core-review

#2804 ladx: shuffle instruments
  worlds/ladx/Options.py
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: core-review

#2855 Bumper Stickers - logic fixes for "off-by-one" errors
  worlds/bumpstik/__init__.py
  worlds/bumpstik/test/TestLogic.py
Labels: is: bug/fix, waiting-on: core-review

#2880 Terraria: Add logic for Witch Doctor selling Bewitching Table
  worlds/terraria/Rules.dsv
Labels: waiting-on: peer-review

#2083 Core: create the per world random object in the world constructor
  BaseClasses.py
  test/general/__init__.py
  test/general/test_fill.py
  worlds/AutoWorld.py
  worlds/dlcquest/test/__init__.py
  worlds/stardew_valley/test/__init__.py
Labels: is: bug/fix, affects: core, waiting-on: other

#2785 DLCQuest: progression coin bundle update
  worlds/dlcquest/Items.py
  worlds/dlcquest/Locations.py
  worlds/dlcquest/Options.py
  worlds/dlcquest/Regions.py
  worlds/dlcquest/Rules.py
  worlds/dlcquest/__init__.py
  worlds/dlcquest/data/items.csv
  worlds/dlcquest/test/TestItemShuffle.py
Labels: is: enhancement, waiting-on: core-review

#2817 FF1: Fix items getting resent on disconnect/connect
  data/lua/connector_ff1.lua
Labels: is: bug/fix, waiting-on: core-review

#2833 MultiServer: Improve command response to help troubleshooting
  MultiServer.py
Labels: affects: core, waiting-on: core-review

#2386 Tests: add test for all games multiworld
  test/general/__init__.py
  test/multiworld/__init__.py
  test/multiworld/test_multiworlds.py
Labels: is: enhancement, is: maintenance, waiting-on: peer-review

#2823 The Messenger: content update
  worlds/messenger/__init__.py
  worlds/messenger/client_setup.py
  worlds/messenger/connections.py
  worlds/messenger/constants.py
  worlds/messenger/docs/en_The Messenger.md
  worlds/messenger/docs/setup_en.md
  worlds/messenger/options.py
  worlds/messenger/portals.py
  worlds/messenger/regions.py
  worlds/messenger/rules.py
  worlds/messenger/subclasses.py
  worlds/messenger/test/__init__.py
  worlds/messenger/test/test_access.py
  worlds/messenger/test/test_logic.py
  worlds/messenger/test/test_notes.py
  worlds/messenger/test/test_options.py
  worlds/messenger/test/test_portals.py
  worlds/messenger/test/test_shop.py
  worlds/messenger/test/test_shop_chest.py
Labels: is: enhancement, waiting-on: core-review

#2922 KDL3: fix invalid inno_setup components and deathlink messages
  inno_setup.iss
  worlds/kdl3/Client.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#2911 Fix OptionList and OptionSet to allow Iterable of Iterable
  Options.py
  Utils.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: core-review

#1778 Docs: Added snes9x-nwa as recommended emulator to the setup guides for SNES games
  worlds/alttp/docs/multiworld_en.md
  worlds/sm/docs/multiworld_en.md
  worlds/smz3/docs/multiworld_en.md
  worlds/soe/docs/multiworld_en.md
Labels: is: documentation, waiting-on: core-review

#2634 KH2: Update all instances of multiworld.option_name to option.option_name
  worlds/kh2/OpenKH.py
  worlds/kh2/Regions.py
  worlds/kh2/Rules.py
  worlds/kh2/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#2937 The Messenger: fix items accessibility reachability bug due to new rules
  worlds/messenger/rules.py
  worlds/messenger/test/test_access.py
Labels: is: bug/fix, waiting-on: peer-review

#2940 The Witness: Don't unnecessarily break people's 0.4.4 yamls
  worlds/witness/options.py
Labels: is: refactor/cleanup, waiting-on: core-review

#2684 kvui: allow sorting hints in the hint tab
  data/client.kv
  kvui.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#2558 MultiServer: send new read_hints datastore values on change
  MultiServer.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: core-review

#2805 The Witness: Obelisk Keys
  worlds/witness/WitnessItems.txt
  worlds/witness/__init__.py
  worlds/witness/options.py
  worlds/witness/player_logic.py
  worlds/witness/presets.py
  worlds/witness/settings/Door_Shuffle/Obelisk_Keys.txt
  worlds/witness/utils.py
Labels: is: enhancement, waiting-on: core-review

#2715 CommonClient: use rich text for /received
  CommonClient.py
  NetUtils.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#2794 CommonClient: Fix item link group name when member slot name contains brackets
  kvui.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#2899 Core: typing for `Option.default` and a few other ClassVars
  Options.py
  worlds/soe/options.py
Labels: affects: core, waiting-on: peer-review

#2793 Core: add list/dict merging feature to triggers
  Generate.py
  Utils.py
  test/general/test_player_options.py
  worlds/generic/docs/triggers_en.md
Labels: is: enhancement, affects: core, waiting-on: core-review

#2936 CI: build: create setup
  .github/workflows/build.yml
  inno_setup.iss
Labels: affects: core, waiting-on: peer-review

#2869 Shivers: Renaming for clarity and consistency
  worlds/shivers/Items.py
  worlds/shivers/Options.py
  worlds/shivers/Rules.py
  worlds/shivers/data/excluded_locations.json
  worlds/shivers/data/locations.json
  worlds/shivers/data/regions.json
Labels: is: refactor/cleanup, waiting-on: core-review

#2658 FFMQ: Update Map Shuffle Seed description
  worlds/ffmq/Options.py
Labels: is: documentation, is: enhancement, waiting-on: core-review

#2938 Core: fix incorrect ordering on the always_allow static method
  BaseClasses.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#2943 CI: update actions
  .github/workflows/analyze-modified-files.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/unittests.yml
Labels: waiting-on: peer-review

#2898 HK: Removes Vanilla Items from ItemPool and Uses Grimmchild1 when relevant
  worlds/hk/Items.py
  worlds/hk/Options.py
  worlds/hk/__init__.py
Labels: waiting-on: world-maintainer, waiting-on: peer-review

#2918 Pokemon Emerald: v2 Update
  worlds/pokemon_emerald/CHANGELOG.md
  worlds/pokemon_emerald/README.md
  worlds/pokemon_emerald/__init__.py
  worlds/pokemon_emerald/client.py
  worlds/pokemon_emerald/data.py
  worlds/pokemon_emerald/data/base_patch.bsdiff4
  worlds/pokemon_emerald/data/extracted_data.json
  worlds/pokemon_emerald/data/items.json
  worlds/pokemon_emerald/data/locations.json
  worlds/pokemon_emerald/data/regions/battle_frontier.json
  worlds/pokemon_emerald/data/regions/cities.json
  worlds/pokemon_emerald/data/regions/dungeons.json
  worlds/pokemon_emerald/data/regions/islands.json
  worlds/pokemon_emerald/data/regions/routes.json
  worlds/pokemon_emerald/data/regions/unused/battle_frontier.json
  worlds/pokemon_emerald/data/regions/unused/dungeons.json
  worlds/pokemon_emerald/data/regions/unused/routes.json
  worlds/pokemon_emerald/data/trade_pokemon_schema.json
  worlds/pokemon_emerald/docs/en_Pokemon Emerald.md
  worlds/pokemon_emerald/docs/region data.md
  worlds/pokemon_emerald/docs/rom changes.md
  worlds/pokemon_emerald/docs/warps.md
  worlds/pokemon_emerald/docs/wonder trades.md
  worlds/pokemon_emerald/items.py
  worlds/pokemon_emerald/locations.py
  worlds/pokemon_emerald/opponents.py
  worlds/pokemon_emerald/options.py
  worlds/pokemon_emerald/pokemon.py
  worlds/pokemon_emerald/regions.py
  worlds/pokemon_emerald/rom.py
  worlds/pokemon_emerald/rules.py
  worlds/pokemon_emerald/sanity_check.py
  worlds/pokemon_emerald/test/test_accessibility.py
  worlds/pokemon_emerald/util.py
Labels: is: enhancement, waiting-on: core-review

#2889 Core: add layer for patches that don't use `Patch.py`
  Patch.py
  worlds/Files.py
  worlds/adventure/Rom.py
  worlds/ffmq/Output.py
  worlds/oot/Patches.py
  worlds/zillion/patch.py
Labels: affects: core, waiting-on: peer-review

#2829 Lingo: Pre-compile datafile to improve loading time
  worlds/lingo/__init__.py
  worlds/lingo/data/README.md
  worlds/lingo/data/generated.dat
  worlds/lingo/datatypes.py
  worlds/lingo/items.py
  worlds/lingo/locations.py
  worlds/lingo/player_logic.py
  worlds/lingo/regions.py
  worlds/lingo/rules.py
  worlds/lingo/static_logic.py
  worlds/lingo/test/TestDatafile.py
  worlds/lingo/utils/__init__.py
  worlds/lingo/utils/pickle_static_data.py
Labels: is: refactor/cleanup, waiting-on: core-review

#2831 CommonClient: Don't retry connection when connection details are invalid
  CommonClient.py
Labels: affects: core, waiting-on: core-review

#2955 Launcher: make scrollbar more prominent
  kvui.py
Labels: affects: core, waiting-on: core-review

#2953 TUNIC: Update option display names
  worlds/tunic/options.py
Labels: is: documentation, waiting-on: core-review

#2947 SMW: Add CHANGELOG.md
  worlds/smw/CHANGELOG.md
Labels: is: documentation, waiting-on: core-review

#2946 DKC3: Add CHANGELOG.md
  worlds/dkc3/CHANGELOG.md
Labels: is: documentation, waiting-on: core-review

#2958 Core: increment version
  Utils.py
Labels: is: maintenance, affects: core, waiting-on: peer-review

#2945 SA2B: Add CHANGELOG.md
  worlds/sa2b/CHANGELOG.md
Labels: is: documentation, waiting-on: core-review

#2949 The Witness: Add newly submitted junk hints
  worlds/witness/hints.py
Labels: is: enhancement, waiting-on: core-review

#2500 OoT: Entrance Spoiler Fixes
  worlds/oot/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#2959 Stardew Valley: Added a Great Combat requirement to an entrance that could block its own key
  worlds/stardew_valley/rules.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#2539 Zork Grand Inquisitor: Implement New Game
  README.md
  docs/CODEOWNERS
  worlds/zork_grand_inquisitor/LICENSE
  worlds/zork_grand_inquisitor/__init__.py
  worlds/zork_grand_inquisitor/client.py
  worlds/zork_grand_inquisitor/data/__init__.py
  worlds/zork_grand_inquisitor/data/entrance_rule_data.py
  worlds/zork_grand_inquisitor/data/item_data.py
  worlds/zork_grand_inquisitor/data/location_data.py
  worlds/zork_grand_inquisitor/data/missable_location_grant_conditions_data.py
  worlds/zork_grand_inquisitor/data/region_data.py
  worlds/zork_grand_inquisitor/data_funcs.py
  worlds/zork_grand_inquisitor/docs/en_Zork Grand Inquisitor.md
  worlds/zork_grand_inquisitor/docs/setup_en.md
  worlds/zork_grand_inquisitor/enums.py
  worlds/zork_grand_inquisitor/game_controller.py
  worlds/zork_grand_inquisitor/game_state_manager.py
  worlds/zork_grand_inquisitor/options.py
  worlds/zork_grand_inquisitor/requirements.txt
  worlds/zork_grand_inquisitor/test/__init__.py
  worlds/zork_grand_inquisitor/test/test_access.py
  worlds/zork_grand_inquisitor/test/test_data_funcs.py
  worlds/zork_grand_inquisitor/test/test_locations.py
  worlds/zork_grand_inquisitor/world.py
Labels: is: new game, waiting-on: core-review

#2864 TUNIC: Implement support for connection plando
  worlds/tunic/__init__.py
  worlds/tunic/docs/en_TUNIC.md
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
  worlds/tunic/options.py
  worlds/tunic/test/test_access.py
Labels: is: enhancement, waiting-on: core-review

#2961 The Witness: Add junk hint for Zork: Grand Inquisitor
  worlds/witness/hints.py
Labels: is: enhancement, waiting-on: peer-review

#2962 SMW: Increment Required Client Version
  worlds/smw/__init__.py
Labels: waiting-on: peer-review

#2536 Core: implement APProcedurePatch and APTokenMixin
  worlds/Files.py
Labels: is: enhancement, affects: core, waiting-on: peer-review, waiting-on: other

#2969 Noita: Remove newline from option description so it doesn't look bad on webhost
  worlds/noita/options.py
Labels: is: documentation, waiting-on: core-review

#2988 SMW: Blocksanity logic fixes
  worlds/smw/Regions.py
Labels: is: bug/fix, waiting-on: core-review

#2981 SMW: Fixes for Bowser being defeatable on Egg Hunt and CI2 DC room access
  worlds/smw/Client.py
  worlds/smw/Rom.py
Labels: is: bug/fix, waiting-on: core-review

#2975 CommonClient: Port Casting Bug
  CommonClient.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#2886 SM64 - Goal Logic and Hint Bugfixes
  worlds/sm64ex/Regions.py
  worlds/sm64ex/Rules.py
  worlds/sm64ex/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#2967 Stardew Valley: Fix extended family legendary fishes being locations with fishsanity set to exclude legendary
  worlds/stardew_valley/locations.py
  worlds/stardew_valley/options.py
Labels: is: bug/fix, waiting-on: core-review

#2577 A Short Hike: Implement New Game
  README.md
  docs/CODEOWNERS
  worlds/shorthike/Items.py
  worlds/shorthike/Locations.py
  worlds/shorthike/Options.py
  worlds/shorthike/Rules.py
  worlds/shorthike/__init__.py
  worlds/shorthike/docs/en_A Short Hike.md
  worlds/shorthike/docs/setup_en.md
Labels: is: new game, waiting-on: core-review

#2996 APProcedurePatch: hotfix changing class variables to instance variables
  worlds/Files.py
Labels: affects: core, affects: release/blocker, waiting-on: peer-review

#2789 Lingo: Add item/location groups
  worlds/lingo/__init__.py
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
  worlds/lingo/datatypes.py
  worlds/lingo/items.py
  worlds/lingo/locations.py
  worlds/lingo/player_logic.py
  worlds/lingo/utils/pickle_static_data.py
  worlds/lingo/utils/validate_config.rb
Labels: is: enhancement, waiting-on: core-review

#2971 The Witness: Fix newlines in Witness option tooltips
  worlds/witness/options.py
Labels: is: bug/fix, waiting-on: core-review

#2997 Shivers: Adds missing logic rule for skull dial door location
  worlds/shivers/Rules.py
Labels: is: bug/fix, waiting-on: core-review

#3003 Lingo: Minor game data fixes
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
  worlds/lingo/data/ids.yaml
Labels: is: bug/fix, waiting-on: core-review

#3005 Docs: Fixing special_range_names example
  docs/options api.md
Labels: is: documentation, waiting-on: core-review

#3006 APProcedurePatch: fix RLE/COPY incorrect sizing
  worlds/Files.py
Labels: affects: core, waiting-on: peer-review

#2837 Lingo: Add trap weights option
  worlds/lingo/__init__.py
  worlds/lingo/items.py
  worlds/lingo/options.py
  worlds/lingo/player_logic.py
Labels: is: enhancement, waiting-on: core-review

#2957 CommonClient: fix hint tab overlapping
  kvui.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#3004 A Short Hike: Add option to customize filler coin count
  worlds/shorthike/Options.py
  worlds/shorthike/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3008 The Witness: Fix world bleed issue creating impossible seeds in Multiworld
  worlds/witness/player_logic.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#2141 Yoshi's Island: Implement New Game
  README.md
  docs/CODEOWNERS
  inno_setup.iss
  worlds/yoshisisland/Client.py
  worlds/yoshisisland/Items.py
  worlds/yoshisisland/Locations.py
  worlds/yoshisisland/Options.py
  worlds/yoshisisland/Regions.py
  worlds/yoshisisland/Rom.py
  worlds/yoshisisland/Rules.py
  worlds/yoshisisland/__init__.py
  worlds/yoshisisland/docs/en_Yoshi's Island.md
  worlds/yoshisisland/docs/setup_en.md
  worlds/yoshisisland/level_logic.py
  worlds/yoshisisland/setup_bosses.py
  worlds/yoshisisland/setup_game.py
Labels: affects: core, is: new game, waiting-on: core-review

#2973 ALTTP: Fix #2290's crashes
  worlds/alttp/ItemPool.py
  worlds/alttp/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#2978 SC2: Fix Kerrigan presence resolving when deciding which races should be used
  worlds/sc2/PoolFilter.py
Labels: is: bug/fix, waiting-on: core-review

#2986 SC2 Tracker: Use level tinting to let the player know which level he has for Replenishable Magazine
  WebHostLib/templates/tracker__Starcraft2.html
Labels: is: enhancement, affects: webhost, waiting-on: core-review

#2992 SC2 Tracker: Fix grouped items pointing at wrong item IDs
  WebHostLib/tracker.py
Labels: is: bug/fix, affects: webhost, waiting-on: core-review

#3013 sc2: Fixed missing upgrade from custom tracker
  WebHostLib/templates/tracker__Starcraft2.html
  WebHostLib/tracker.py
Labels: affects: webhost, waiting-on: core-review

#3014 Stardew valley: Update settings presets
  worlds/stardew_valley/presets.py
Labels: is: maintenance, waiting-on: core-review

#3019 TUNIC: Extremely minor library logic update
  worlds/tunic/er_rules.py
Labels: is: bug/fix, waiting-on: core-review

#2979 sm64ex: New Options API and WebHost fix
  worlds/sm64ex/Options.py
  worlds/sm64ex/Regions.py
  worlds/sm64ex/Rules.py
  worlds/sm64ex/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3015 CV64: Change all mentions of "settings" to "options" and fix a broken link
  worlds/cv64/__init__.py
  worlds/cv64/docs/en_Castlevania 64.md
  worlds/cv64/docs/setup_en.md
  worlds/cv64/options.py
Labels: is: documentation, waiting-on: core-review

#2990 Stardew valley: Game version documentation
  worlds/stardew_valley/docs/en_Stardew Valley.md
  worlds/stardew_valley/docs/setup_en.md
  worlds/stardew_valley/options.py
Labels: is: documentation, waiting-on: core-review

#3043 requirements.txt: _ instead of - to make PyCharm happy
  requirements.txt
Labels: affects: core, waiting-on: peer-review

#2970 Stardew Valley: Fix generation fail with SVE and entrance rando when Wizard Tower is in place of Sprite Spring
  worlds/stardew_valley/data/villagers_data.py
  worlds/stardew_valley/logic/logic.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3020 Pokemon Emerald: Fix typo
  worlds/pokemon_emerald/data.py
  worlds/pokemon_emerald/data/locations.json
Labels: is: bug/fix, waiting-on: core-review

#3002 Stardew Valley: Fix potential soft lock with vanilla tools and entrance randomizer + Performance improvement for vanilla tool/skills
  worlds/stardew_valley/logic/fishing_logic.py
  worlds/stardew_valley/logic/skill_logic.py
  worlds/stardew_valley/logic/tool_logic.py
  worlds/stardew_valley/test/TestRules.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: peer-review

#2987 LADX: fix local and non-local instrument placement
  worlds/ladx/__init__.py
Labels: is: bug/fix, waiting-on: peer-review, affects: PR/blocker

#3034 SMW: Update World Doc for v2.0 Features
  worlds/smw/docs/en_Super Mario World.md
Labels: is: documentation, waiting-on: core-review

#3016 A Short Hike: Fix incorrect info in docs
  worlds/shorthike/docs/en_A Short Hike.md
Labels: is: documentation, waiting-on: core-review

#2994 Docs: Consistent naming for "connection plando"
  worlds/generic/docs/plando_en.md
Labels: is: documentation, waiting-on: core-review

#2985 TLOZ: Fix markdown issue with game info page
  worlds/tloz/docs/en_The Legend of Zelda.md
Labels: is: documentation, waiting-on: core-review

#2966 README: Remove outdated information about launchers
  README.md
Labels: is: documentation, waiting-on: core-review

#2950 Launcher, Docs: Update UI and Set-Up Guide to Reference Options
  Launcher.py
  worlds/generic/docs/setup_en.md
Labels: is: documentation, affects: core, waiting-on: core-review

#2993 TUNIC: Add link to AP plando guide to connection plando section of game page
  worlds/tunic/docs/en_TUNIC.md
Labels: is: documentation, waiting-on: core-review

#2989 Docs: Mention the "last received item index" paradigm in the network protocol docs
  docs/network protocol.md
Labels: is: documentation, affects: core, waiting-on: core-review

#3044 SC2: Fix HERC upgrades
  WebHostLib/templates/tracker__Starcraft2.html
  WebHostLib/tracker.py
  worlds/sc2/Items.py
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#3022 KDL3: RC1 Fixes and Enhancement
  worlds/kdl3/Client.py
  worlds/kdl3/Regions.py
  worlds/kdl3/Rules.py
  worlds/kdl3/docs/en_Kirby's Dream Land 3.md
  worlds/kdl3/docs/setup_en.md
  worlds/kdl3/test/test_locations.py
Labels: is: bug/fix, waiting-on: peer-review

#2982 Hollow Knight: 0.4.5 doc revamp and default options tweaks
  worlds/hk/Options.py
  worlds/hk/docs/en_Hollow Knight.md
  worlds/hk/docs/setup_en.md
Labels: is: documentation, is: enhancement, waiting-on: core-review

#3038 Pokemon Emerald: Exclude Norman Trainer Location During Norman Goal
  worlds/pokemon_emerald/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#2903 Core: differentiate between unknown worlds and broken worlds in error message
  Generate.py
  worlds/__init__.py
Labels: affects: core, waiting-on: author, waiting-on: core-review

#3018 SC2: Don't Filter Excluded Victory Locations
  worlds/sc2/Locations.py
Labels: is: bug/fix, waiting-on: core-review

#3009 TUNIC: Minor refactor of the vanilla_portals function
  worlds/tunic/er_scripts.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3050 SoE: update to pyevermizer v0.48.0
  worlds/soe/__init__.py
  worlds/soe/logic.py
  worlds/soe/options.py
  worlds/soe/requirements.txt
  worlds/soe/test/__init__.py
  worlds/soe/test/test_sniffamizer.py
Labels: waiting-on: peer-review

#3025 Pokemon Emerald: Fix opponents learning excluded and non-randomized TMs
  worlds/pokemon_emerald/__init__.py
  worlds/pokemon_emerald/opponents.py
Labels: is: bug/fix, waiting-on: peer-review

#3001 Hylics 2: Fix invalid multiworld data, use `self.random` instead of `self.multiworld.random`
  worlds/hylics2/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#2892 Docs: adding games rework
  docs/adding games.md
  docs/img/creepy-castle-directory.png
  docs/img/gato-roboto-directory.png
  docs/img/heavy-bullets-data-directory.png
  docs/img/heavy-bullets-directory.png
  docs/img/stardew-valley-directory.png
  docs/options api.md
Labels: is: documentation, is: enhancement, is: refactor/cleanup, waiting-on: core-review

#3023 Core: Make fill failure error more human parseable
  Fill.py
Labels: is: refactor/cleanup, affects: core, waiting-on: peer-review

#3051 Tracker: Add starting inventory to trackers and received items table.
  WebHostLib/tracker.py
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#2976 The Messenger: Fix various portal shuffle issues
  worlds/messenger/portals.py
Labels: is: bug/fix, waiting-on: peer-review

#3063 WebHost: fix /check creating broken yaml files if files don't end with a newline
  WebHostLib/check.py
Labels: affects: webhost, waiting-on: peer-review

#3066 The Messenger: Fix precollected notes not being removed from the itempool
  worlds/messenger/__init__.py
  worlds/messenger/constants.py
  worlds/messenger/options.py
Labels: waiting-on: peer-review
