Repository ArchipelagoMW/Archipelago, pull requests merged in 2024-12, with the labels that each got.

#3994 [PKMN RB] Make Encounters in one location unique
  worlds/pokemon_rb/encounters.py
Labels: is: enhancement, waiting-on: core-review

#4298 id Tech 1: Clean up difficulty options
  worlds/doom_1993/Options.py
  worlds/doom_ii/Options.py
  worlds/heretic/Options.py
Labels: is: documentation, waiting-on: core-review

#3662 Stardew Valley: Refactor skill progression to use new feature system
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/bundles/bundle_item.py
  worlds/stardew_valley/content/__init__.py
  worlds/stardew_valley/content/feature/__init__.py
  worlds/stardew_valley/content/feature/skill_progression.py
  worlds/stardew_valley/content/game_content.py
  worlds/stardew_valley/data/skill.py
  worlds/stardew_valley/early_items.py
  worlds/stardew_valley/items.py
  worlds/stardew_valley/locations.py
  worlds/stardew_valley/logic/crafting_logic.py
  worlds/stardew_valley/logic/grind_logic.py
  worlds/stardew_valley/logic/mine_logic.py
  worlds/stardew_valley/logic/skill_logic.py
  worlds/stardew_valley/mods/logic/deepwoods_logic.py
  worlds/stardew_valley/mods/logic/skills_logic.py
  worlds/stardew_valley/regions.py
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/test/TestRegions.py
  worlds/stardew_valley/test/content/__init__.py
  worlds/stardew_valley/test/mods/TestMods.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: core-review

#3737 YGO06: add Item groups
  worlds/yugioh06/__init__.py
  worlds/yugioh06/items.py
Labels: is: enhancement, waiting-on: core-review

#3741 Docs: Improved sm64ex advanced setup docs
  worlds/sm64ex/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3757 id Tech 1 games: Add command line instructions/info
  worlds/doom_1993/docs/setup_en.md
  worlds/doom_ii/docs/setup_en.md
  worlds/heretic/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3771 Timespinner: Implemented support for universal tracker
  worlds/timespinner/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4266 Multiserver: Add argument for timestamping STDOUT
  MultiServer.py
  Utils.py
  settings.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4100 Core: Add new error message for item count when defined as a set instead of a dict
  Options.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3829 LADX: Implement various upstream adjustments
  worlds/ladx/LADXR/generator.py
  worlds/ladx/LADXR/locations/birdKey.py
  worlds/ladx/LADXR/locations/boomerangGuy.py
  worlds/ladx/LADXR/logic/overworld.py
  worlds/ladx/LADXR/logic/requirements.py
  worlds/ladx/LADXR/patches/maptweaks.py
  worlds/ladx/LADXR/patches/songs.py
  worlds/ladx/LADXR/patches/tradeSequence.py
  worlds/ladx/Options.py
Labels: is: enhancement, waiting-on: core-review

#3881 DS3: Clarify location names for Yoel and Yuria items
  worlds/dark_souls_3/Bosses.py
  worlds/dark_souls_3/Locations.py
  worlds/dark_souls_3/detailed_location_descriptions.py
  worlds/dark_souls_3/docs/locations_en.md
Labels: is: refactor/cleanup, waiting-on: core-review

#4222 Super Metroid: KeyError on invalid item name
  worlds/sm/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4219 Adventure: `create_item` AttributeError -> KeyError
  worlds/adventure/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4117 Core: warn if a yaml is empty
  Generate.py
  WebHostLib/check.py
Labels: is: enhancement, affects: core, affects: webhost, waiting-on: core-review

#4279 Launcher: launch without delay on URI without choice
  Launcher.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4315 Core: Hint Priority fixes
  Main.py
  MultiServer.py
  docs/network protocol.md
Labels: is: documentation, affects: core, waiting-on: peer-review

#3684 LADX: Remove duplicate Magnifying Lens item
  worlds/ladx/Items.py
  worlds/ladx/LADXR/locations/constants.py
  worlds/ladx/LADXR/locations/items.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3923 KH2: Add missing indirect conditions for Final region access
  worlds/kh2/Rules.py
Labels: is: bug/fix, waiting-on: core-review

#3832 Pokemon Emerald: Clean up dexsanity spoiler and hints
  worlds/pokemon_emerald/CHANGELOG.md
  worlds/pokemon_emerald/__init__.py
  worlds/pokemon_emerald/data.py
Labels: is: enhancement, waiting-on: core-review

#4290 Core: log process ID
  Utils.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4305 Lingo: Optimize imports and remove unused parameter
  worlds/lingo/player_logic.py
  worlds/lingo/utils/pickle_static_data.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4326 Stardew Valley: Fix a bug in equals between Or and And rules
  worlds/stardew_valley/stardew_rule/base.py
Labels: waiting-on: peer-review

#4325 LADX: combine warp options
  worlds/ladx/LADXR/generator.py
  worlds/ladx/Options.py
Labels: is: enhancement, waiting-on: peer-review

#4256 The Witness: Another small access rule optimisation
  worlds/witness/rules.py
Labels: is: enhancement, waiting-on: peer-review

#4303 HK: Remove unused variables and imports
  worlds/hk/Options.py
  worlds/hk/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4304 Pokemon RB: Fix Incorrect Hidden Item Location in Seafoam Islands B2F
  worlds/pokemon_rb/locations.py
Labels: is: bug/fix, waiting-on: core-review

#3919 LADX: text shuffle exclusions
  worlds/ladx/LADXR/generator.py
Labels: is: enhancement, waiting-on: peer-review

#3920 LADX: tweak in-game hints
  worlds/ladx/LADXR/generator.py
  worlds/ladx/Options.py
Labels: is: enhancement, waiting-on: peer-review

#3936 LADX: more item groups, location groups, keysanity preset
  worlds/ladx/Items.py
  worlds/ladx/Locations.py
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#4301 Adventure: Remove unused variables
  worlds/adventure/Locations.py
  worlds/adventure/Regions.py
  worlds/adventure/Rom.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3238 Saving Princess: implement new game
  README.md
  docs/CODEOWNERS
  worlds/saving_princess/Client.py
  worlds/saving_princess/Constants.py
  worlds/saving_princess/Items.py
  worlds/saving_princess/Locations.py
  worlds/saving_princess/Options.py
  worlds/saving_princess/Regions.py
  worlds/saving_princess/Rules.py
  worlds/saving_princess/__init__.py
  worlds/saving_princess/docs/en_Saving Princess.md
  worlds/saving_princess/docs/setup_en.md
Labels: is: new game, waiting-on: core-review

#4308 WebHost: fix host room not updating (ports in) slot table
  WebHostLib/templates/hostRoom.html
  WebHostLib/templates/macros.html
Labels: is: bug/fix, affects: release/blocker, affects: webhost, waiting-on: peer-review

#4344 CI: cap pytest-subtest version
  .github/workflows/unittests.yml
Labels: waiting-on: peer-review

#4250 Raft: Place locked items in create_items and fix get_pre_fill_items
  worlds/raft/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4146 TUNIC: Add Shield to Ladder Storage logic
  worlds/tunic/__init__.py
  worlds/tunic/options.py
  worlds/tunic/rules.py
Labels: is: enhancement, waiting-on: core-review

#4232 Various Worlds: use / explicitly for pkgutil
  worlds/kdl3/regions.py
  worlds/kdl3/rom.py
  worlds/ladx/LADXR/patches/bank34.py
  worlds/ladx/LADXR/patches/bank3e.py
  worlds/lingo/static_logic.py
  worlds/minecraft/Constants.py
  worlds/mm2/rom.py
  worlds/shivers/Constants.py
Labels: is: bug/fix, waiting-on: core-review

#3810 Aquaria: mega refactoring
  worlds/aquaria/Items.py
  worlds/aquaria/Locations.py
  worlds/aquaria/Options.py
  worlds/aquaria/Regions.py
  worlds/aquaria/__init__.py
  worlds/aquaria/docs/en_Aquaria.md
  worlds/aquaria/test/__init__.py
  worlds/aquaria/test/test_beast_form_access.py
  worlds/aquaria/test/test_beast_form_or_arnassi_armor_access.py
  worlds/aquaria/test/test_bind_song_access.py
  worlds/aquaria/test/test_bind_song_option_access.py
  worlds/aquaria/test/test_confined_home_water.py
  worlds/aquaria/test/test_dual_song_access.py
  worlds/aquaria/test/test_energy_form_access.py
  worlds/aquaria/test/test_energy_form_or_dual_form_access.py
  worlds/aquaria/test/test_fish_form_access.py
  worlds/aquaria/test/test_li_song_access.py
  worlds/aquaria/test/test_light_access.py
  worlds/aquaria/test/test_nature_form_access.py
  worlds/aquaria/test/test_no_progression_hard_hidden_locations.py
  worlds/aquaria/test/test_progression_hard_hidden_locations.py
  worlds/aquaria/test/test_spirit_form_access.py
  worlds/aquaria/test/test_sun_form_access.py
  worlds/aquaria/test/test_unconfine_home_water_via_both.py
  worlds/aquaria/test/test_unconfine_home_water_via_energy_door.py
  worlds/aquaria/test/test_unconfine_home_water_via_transturtle.py
Labels: is: bug/fix, is: enhancement, is: refactor/cleanup, waiting-on: core-review

#4311 Stardew Valley: Fix a bug where walnutsanity would get deactivated even tho ginger island got forced activated (and move some files)
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/items.py
  worlds/stardew_valley/logic/walnut_logic.py
  worlds/stardew_valley/option_groups.py
  worlds/stardew_valley/options/__init__.py
  worlds/stardew_valley/options/forced_options.py
  worlds/stardew_valley/options/option_groups.py
  worlds/stardew_valley/options/options.py
  worlds/stardew_valley/options/presets.py
  worlds/stardew_valley/presets.py
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/strings/ap_names/ap_option_names.py
  worlds/stardew_valley/strings/ap_names/mods/__init__.py
  worlds/stardew_valley/test/TestBooksanity.py
  worlds/stardew_valley/test/TestOptions.py
  worlds/stardew_valley/test/TestOptionsPairs.py
  worlds/stardew_valley/test/TestRegions.py
  worlds/stardew_valley/test/TestWalnutsanity.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/mods/TestMods.py
  worlds/stardew_valley/test/options/TestForcedOptions.py
  worlds/stardew_valley/test/options/TestPresets.py
  worlds/stardew_valley/test/options/__init__.py
  worlds/stardew_valley/test/options/utils.py
  worlds/stardew_valley/test/stability/TestUniversalTracker.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: core-review

#4348 Stardew Valley: Force deactivation of Mr. Qi's special orders when ginger island is deactivated
  worlds/stardew_valley/options/forced_options.py
  worlds/stardew_valley/test/options/TestForcedOptions.py
Labels: is: enhancement, waiting-on: peer-review

#4338 CI: update scan-build to v19
  .github/workflows/scan-build.yml
Labels: waiting-on: peer-review

#4319 WebHost: Set Generator memory limit to 4GiB
  WebHostLib/__init__.py
  WebHostLib/autolauncher.py
  docs/webhost configuration sample.yaml
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#4352 WebHost: disable abbreviations for argparse
  WebHost.py
Labels: affects: webhost, waiting-on: peer-review

#4358 Core: fix exceptions coming from LocationStore
  NetUtils.py
  _speedups.pyx
  _speedups.pyxbld
  test/netutils/test_location_store.py
Labels: affects: core, waiting-on: peer-review

#4356 CI: remove version restriction on pytest-subtests
  .github/workflows/unittests.yml
Labels: waiting-on: peer-review

#4314 MultiServer/CommonClient: We forgot about Item Links again (Hint Priority)
  MultiServer.py
  NetUtils.py
  kvui.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4342 Lingo: Fix number hunt issues on panels mode
  worlds/lingo/data/generated.dat
  worlds/lingo/test/TestDatafile.py
  worlds/lingo/utils/pickle_static_data.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3770 Core: Add toggles_as_bools to options.as_dict
  Options.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4027 The Witness: Put progression + useful on some items.
  worlds/witness/player_items.py
Labels: is: enhancement, waiting-on: core-review

#2916 The Witness: Add more panels to the "doors: panels" mode
  worlds/witness/data/WitnessItems.txt
  worlds/witness/data/settings/Door_Shuffle/Complex_Door_Panels.txt
  worlds/witness/data/settings/Door_Shuffle/Simple_Panels.txt
  worlds/witness/data/settings/Early_Caves.txt
  worlds/witness/data/settings/Early_Caves_Start.txt
  worlds/witness/player_items.py
  worlds/witness/player_logic.py
  worlds/witness/test/test_door_shuffle.py
Labels: is: enhancement, waiting-on: peer-review

#4361 Stardew Valley: Fix potential incompletable seed when starting winter
  worlds/stardew_valley/logic/logic.py
Labels: is: bug/fix, waiting-on: peer-review

#4340 Muse Dash: Remove bad option defaults.
  worlds/musedash/Options.py
Labels: is: bug/fix, waiting-on: peer-review

#4365 TUNIC: Change rule for heir access in non-hex quest
  worlds/tunic/er_rules.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#3299 Castlevania: Circle of the Moon - Implement New Game
  README.md
  docs/CODEOWNERS
  inno_setup.iss
  worlds/cvcotm/LICENSES.txt
  worlds/cvcotm/NOTICE.txt
  worlds/cvcotm/__init__.py
  worlds/cvcotm/aesthetics.py
  worlds/cvcotm/client.py
  worlds/cvcotm/cvcotm_text.py
  worlds/cvcotm/data/iname.py
  worlds/cvcotm/data/ips/AllowAlwaysDrop.ips
  worlds/cvcotm/data/ips/AllowSpeedDash.ips
  worlds/cvcotm/data/ips/BrokenMaidens.ips
  worlds/cvcotm/data/ips/BuffFamiliars.ips
  worlds/cvcotm/data/ips/BuffSubweapons.ips
  worlds/cvcotm/data/ips/CandleFix.ips
  worlds/cvcotm/data/ips/CardCombosRevealed.ips
  worlds/cvcotm/data/ips/CardUp_v3_Custom2.ips
  worlds/cvcotm/data/ips/Countdown.ips
  worlds/cvcotm/data/ips/DSSGlitchFix.ips
  worlds/cvcotm/data/ips/DSSRunSpeed.ips
  worlds/cvcotm/data/ips/DemoForceFirst.ips
  worlds/cvcotm/data/ips/DropReworkMultiEdition.ips
  worlds/cvcotm/data/ips/GameClearBypass.ips
  worlds/cvcotm/data/ips/MPComboFix.ips
  worlds/cvcotm/data/ips/MapEdits.ips
  worlds/cvcotm/data/ips/MultiLastKey.ips
  worlds/cvcotm/data/ips/NoDSSDrops.ips
  worlds/cvcotm/data/ips/NoMPDrain.ips
  worlds/cvcotm/data/ips/PermanentDash.ips
  worlds/cvcotm/data/ips/SeedDisplay20Digits.ips
  worlds/cvcotm/data/ips/ShooterStrength.ips
  worlds/cvcotm/data/ips/SoftlockBlockFix.ips
  worlds/cvcotm/data/lname.py
  worlds/cvcotm/data/patches.py
  worlds/cvcotm/docs/en_Castlevania - Circle of the Moon.md
  worlds/cvcotm/docs/setup_en.md
  worlds/cvcotm/items.py
  worlds/cvcotm/locations.py
  worlds/cvcotm/lz10.py
  worlds/cvcotm/options.py
  worlds/cvcotm/presets.py
  worlds/cvcotm/regions.py
  worlds/cvcotm/rom.py
  worlds/cvcotm/rules.py
  worlds/cvcotm/test/__init__.py
  worlds/cvcotm/test/test_access.py
Labels: affects: core, is: new game, waiting-on: core-review

#4131 Super Mario 64: Rework logic for 100 Coins
  worlds/sm64ex/Options.py
  worlds/sm64ex/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4328 Pokemon Emerald: Fix invalid escape sequence warnings
  worlds/pokemon_emerald/data.py
Labels: is: bug/fix, waiting-on: core-review

#3549 The Witness: Panel Hunt Plando
  worlds/witness/entity_hunt.py
  worlds/witness/options.py
Labels: is: enhancement, waiting-on: peer-review

#3785 Docs: Use ModuleUpdate.py
  docs/running from source.md
Labels: is: documentation, waiting-on: core-review

#4362 Core: cast all the settings values so they don't try to get pickled later
  WebHostLib/generate.py
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#2201 LADX: Improve icon guesses for foreign items
  worlds/ladx/ItemIconGuessing.py
  worlds/ladx/Items.py
  worlds/ladx/LADXR/locations/constants.py
  worlds/ladx/LADXR/locations/items.py
  worlds/ladx/LADXR/patches/bank3e.asm/chest.asm
  worlds/ladx/LADXR/patches/bank3e.asm/itemnames.asm
  worlds/ladx/LADXR/patches/droppedKey.py
  worlds/ladx/Options.py
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#4154 Pokemon Emerald: Add Mr Briney's House indirect conditions
  worlds/pokemon_emerald/rules.py
Labels: is: bug/fix, waiting-on: core-review

#4036 Core: Deduplicate console exception output
  Utils.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3658 TUNIC: Additional Combat Logic Option
  worlds/tunic/__init__.py
  worlds/tunic/combat_logic.py
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
  worlds/tunic/items.py
  worlds/tunic/ladder_storage_data.py
  worlds/tunic/locations.py
  worlds/tunic/options.py
  worlds/tunic/rules.py
  worlds/tunic/test/test_access.py
Labels: is: enhancement, waiting-on: core-review

#4327 HK: add random handling to plandocharmcosts
  worlds/hk/Options.py
Labels: is: enhancement, waiting-on: core-review

#3021 Core: Add some more world convenience methods
  worlds/AutoWorld.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4364 Pokemon Emerald: Remove unnecessary code
  worlds/pokemon_emerald/data.py
Labels: is: bug/fix, waiting-on: peer-review

#4381 Aquaria: Replacing the release link to the latest link
  worlds/aquaria/docs/setup_en.md
  worlds/aquaria/docs/setup_fr.md
Labels: is: documentation, waiting-on: core-review

#4382 Noita: Make greed die a trap
  worlds/noita/items.py
Labels: is: enhancement, waiting-on: core-review

#3914 Adding apostrophe quotes around variables in printed error messages
  Options.py
  worlds/lufia2ac/test/TestCustomItemPool.py
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review

#3962 LADX: enable upstream options
  worlds/ladx/LADXR/settings.py
  worlds/ladx/Options.py
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4324 LADX: correct in-game check counter
  worlds/ladx/LADXR/patches/bank3e.py
Labels: is: bug/fix, waiting-on: core-review

#4376 LADX: fix for syntax warning
  LinksAwakeningClient.py
Labels: is: bug/fix, waiting-on: core-review

#4371 TUNIC: Logic for bushes in guard house 2 upper and belltower
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/locations.py
Labels: is: bug/fix, waiting-on: core-review

#3964 LADX: open mabe option
  worlds/ladx/LADXR/generator.py
  worlds/ladx/LADXR/logic/overworld.py
  worlds/ladx/LADXR/patches/maptweaks.py
  worlds/ladx/LADXR/settings.py
  worlds/ladx/Options.py
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: author, waiting-on: core-review

#4377 SMZ3: Fix minimal logic considering SM boss tokens unnecessary
  worlds/smz3/TotalSMZ3/Regions/Zelda/GanonsTower.py
  worlds/smz3/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: world-maintainer

#3621 Inscryption: Implement new game
  README.md
  docs/CODEOWNERS
  worlds/inscryption/Items.py
  worlds/inscryption/Locations.py
  worlds/inscryption/Options.py
  worlds/inscryption/Regions.py
  worlds/inscryption/Rules.py
  worlds/inscryption/__init__.py
  worlds/inscryption/docs/en_Inscryption.md
  worlds/inscryption/docs/setup_en.md
  worlds/inscryption/docs/setup_fr.md
  worlds/inscryption/test/TestAccess.py
  worlds/inscryption/test/TestGoal.py
  worlds/inscryption/test/__init__.py
Labels: is: new game, waiting-on: peer-review

#4387 Core: Add JSONMessagePart for Hint Status (Hint Priority)
  NetUtils.py
  docs/network protocol.md
Labels: affects: core, affects: release/blocker, waiting-on: core-review

#3924 Tests: Add spheres test for missing indirect conditions
  test/general/test_implemented.py
Labels: is: enhancement, waiting-on: other

#4345 Landstalker: Fix issues on generation
  worlds/landstalker/Constants.py
  worlds/landstalker/Hints.py
  worlds/landstalker/Items.py
  worlds/landstalker/Locations.py
  worlds/landstalker/__init__.py
  worlds/landstalker/data/world_node.py
  worlds/landstalker/data/world_path.py
  worlds/landstalker/data/world_region.py
  worlds/landstalker/data/world_teleport_tree.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4394 Landstalker: Fix paths Lantern logic affecting other Landstalker worlds
  worlds/landstalker/Rules.py
Labels: is: bug/fix, waiting-on: peer-review

#4392 The Witness: Fix bridge/elevator items being progression when they shouldn't be
  worlds/witness/player_logic.py
Labels: is: bug/fix, waiting-on: peer-review

#3975 Docs: Make an actual LogicMixin spec & explanation
  docs/world api.md
Labels: is: documentation, waiting-on: core-review

#3925 Core: Reword item classification definitions to allow for progression + useful
  BaseClasses.py
  Fill.py
  docs/network protocol.md
  docs/world api.md
  worlds/generic/docs/advanced_settings_en.md
Labels: is: documentation, affects: core, waiting-on: core-review

#3738 Core: Give the option to worlds to have a remaining fill that respects excluded locations
  Fill.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3583 The Witness: Add info about which door items exist in the pool to slot data
  worlds/witness/__init__.py
  worlds/witness/player_items.py
  worlds/witness/test/test_door_shuffle.py
Labels: is: enhancement, waiting-on: peer-review

#4122 DS3: Convert post_fill to stage_post_fill for better performance
  worlds/dark_souls_3/__init__.py
Labels: is: enhancement, is: refactor/cleanup, waiting-on: core-review

#4227 KH2: Using fast_fill instead of fill_restrictive
  worlds/kh2/__init__.py
Labels: is: enhancement, waiting-on: author

#2883 Core: Generic Entrance Rando
  BaseClasses.py
  docs/entrance randomization.md
  entrance_rando.py
  test/general/test_entrance_rando.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4018 Shivers: Add events and fix require puzzle hints logic
  docs/CODEOWNERS
  worlds/shivers/Constants.py
  worlds/shivers/Items.py
  worlds/shivers/Options.py
  worlds/shivers/Rules.py
  worlds/shivers/__init__.py
  worlds/shivers/data/excluded_locations.json
  worlds/shivers/data/locations.json
  worlds/shivers/data/regions.json
  worlds/shivers/docs/en_Shivers.md
Labels: is: bug/fix, is: enhancement, is: refactor/cleanup, waiting-on: core-review

#4401 Shivers: Follow on PR to cleanup options
  worlds/shivers/Options.py
Labels: waiting-on: peer-review

#4396 [Factorio] Make it possible to use rocket part in blueprint parameterization.
  worlds/factorio/data/mod_template/data-final-fixes.lua
Labels: waiting-on: peer-review

#4391 Factorio: require version that fixes a randomizer exploit
  worlds/factorio/Mod.py
Labels: waiting-on: peer-review

#4332 Factorio: hide hidden vanilla techs in factoriopedia too
  worlds/factorio/data/mod_template/data-final-fixes.lua
Labels: is: bug/fix, waiting-on: peer-review

#3895 The Witness: Make location order in the spoiler log deterministic
  worlds/witness/data/static_logic.py
  worlds/witness/regions.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4411 TUNIC: Add relics and abilities to the item pool in deterministic order
  worlds/tunic/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4413 FFMQ: Create itempool in deterministic order
  worlds/ffmq/Items.py
Labels: is: bug/fix, waiting-on: peer-review

#4412 Zork Grand Inquisitor: Precollect Start with Hotspot Items in deterministic order
  worlds/zork_grand_inquisitor/world.py
Labels: is: bug/fix, waiting-on: peer-review
