Repository ArchipelagoMW/Archipelago, pull requests merged in 2024-08, with the labels that each got.

#3731 Core: fix missing import for `MultiWorld.link_items()`
  BaseClasses.py
Labels: affects: core, waiting-on: peer-review

#3717 Pokemon R/B: Removing Floats from NamedRange
  worlds/pokemon_rb/options.py
Labels: is: bug/fix, waiting-on: core-review

#3734 Docs: Missed Full Accessibility mention/conversion
  worlds/generic/docs/advanced_settings_en.md
Labels: is: documentation, waiting-on: core-review

#3725 ChecksFinder: Refactor/Cleaning
  setup.py
  worlds/checksfinder/Items.py
  worlds/checksfinder/Locations.py
  worlds/checksfinder/Options.py
  worlds/checksfinder/Rules.py
  worlds/checksfinder/__init__.py
  worlds/checksfinder/docs/en_ChecksFinder.md
  worlds/checksfinder/docs/setup_en.md
Labels: is: documentation, is: enhancement, is: maintenance, is: refactor/cleanup, affects: core, waiting-on: core-review

#1976 OSRS: Implement New Game
  README.md
  docs/CODEOWNERS
  worlds/osrs/Items.py
  worlds/osrs/Locations.py
  worlds/osrs/LogicCSV/LogicCSVToPython.py
  worlds/osrs/LogicCSV/items_generated.py
  worlds/osrs/LogicCSV/locations_generated.py
  worlds/osrs/LogicCSV/regions_generated.py
  worlds/osrs/LogicCSV/resources_generated.py
  worlds/osrs/Names.py
  worlds/osrs/Options.py
  worlds/osrs/Regions.py
  worlds/osrs/__init__.py
  worlds/osrs/docs/en_Old School Runescape.md
  worlds/osrs/docs/setup_en.md
Labels: is: new game, waiting-on: core-review

#3740 TUNIC: Fix missing traversal req
  worlds/tunic/er_data.py
Labels: is: bug/fix, waiting-on: core-review

#3733 TUNIC: Sort entrances in the spoiler log
  worlds/tunic/er_data.py
  worlds/tunic/er_scripts.py
Labels: is: enhancement, waiting-on: core-review

#3711 KH2: Update the docs to support steam in the setup guide
  worlds/kh2/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3681 RoR2: Remove recursion from explore mode access rules
  worlds/ror2/rules.py
Labels: is: bug/fix, waiting-on: core-review

#3679 Aquaria: Logic bug fixes
  worlds/aquaria/Items.py
  worlds/aquaria/Locations.py
  worlds/aquaria/Regions.py
  worlds/aquaria/test/__init__.py
  worlds/aquaria/test/test_beast_form_access.py
  worlds/aquaria/test/test_beast_form_or_arnassi_armor_access.py
  worlds/aquaria/test/test_energy_form_access.py
  worlds/aquaria/test/test_energy_form_or_dual_form_access.py
  worlds/aquaria/test/test_fish_form_access.py
  worlds/aquaria/test/test_light_access.py
  worlds/aquaria/test/test_spirit_form_access.py
Labels: is: bug/fix, waiting-on: core-review

#3203 HK: add grub hunt goal
  worlds/hk/Options.py
  worlds/hk/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3128 DS3: Version 3.0.0
  worlds/dark_souls_3/Bosses.py
  worlds/dark_souls_3/Items.py
  worlds/dark_souls_3/Locations.py
  worlds/dark_souls_3/Options.py
  worlds/dark_souls_3/__init__.py
  worlds/dark_souls_3/detailed_location_descriptions.py
  worlds/dark_souls_3/docs/en_Dark Souls III.md
  worlds/dark_souls_3/docs/items_en.md
  worlds/dark_souls_3/docs/locations_en.md
  worlds/dark_souls_3/docs/setup_en.md
  worlds/dark_souls_3/test/TestDarkSouls3.py
  worlds/dark_souls_3/test/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3724 Core: Check parent_region.can_reach first in Location.can_reach
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3678 Core: Speed up CollectionState.copy() using built-in copy methods
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3750 HK: fix iterating all worlds instead of only HK worlds in stage_pre_fill
  worlds/hk/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: world-maintainer, waiting-on: peer-review

#3746 DOOM, DOOM II: Update Steam URLs
  worlds/doom_1993/docs/setup_en.md
  worlds/doom_ii/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review, waiting-on: world-maintainer

#3752 TLOZ: Removing world: multiworld
  worlds/tloz/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3745 SoE: fix determinism
  worlds/soe/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#3686 Core: fix invalid __package__ of zipped worlds
  worlds/__init__.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#3759 Clique: Update to new options API
  worlds/clique/Items.py
  worlds/clique/Locations.py
  worlds/clique/Options.py
  worlds/clique/Rules.py
  worlds/clique/__init__.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: world-maintainer, waiting-on: peer-review

#3777 Timespinner: Fix eels check logic
  worlds/timespinner/Locations.py
Labels: is: bug/fix, waiting-on: core-review

#3772 TUNIC: Add note to Universal Tracker stuff
  worlds/tunic/__init__.py
Labels: is: documentation, waiting-on: core-review

#3158 Core: change start inventory from pool to warn when nothing to remove
  Main.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3774 Undertale: Fix slot_data and options.as_dict()
  worlds/undertale/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3773 Core: Error on empty options.as_dict
  Options.py
Labels: is: enhancement, affects: core, affects: release/blocker, waiting-on: peer-review

#3781 Core: Remove broken unused code from Options.py
  Options.py
Labels: is: bug/fix, is: refactor/cleanup, affects: core, waiting-on: core-review

#3782 Core: Two Small Fixes
  BaseClasses.py
  Launcher.py
Labels: is: bug/fix, is: refactor/cleanup, affects: core, waiting-on: peer-review

#3723 Core: recontextualize `CollectionState.collect`
  BaseClasses.py
  test/bases.py
  worlds/alttp/test/dungeons/TestDungeon.py
  worlds/oot/EntranceShuffle.py
  worlds/oot/__init__.py
  worlds/stardew_valley/test/TestCrops.py
  worlds/stardew_valley/test/TestDynamicGoals.py
  worlds/stardew_valley/test/TestLogic.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/assertion/world_assert.py
  worlds/stardew_valley/test/rules/TestArcades.py
  worlds/stardew_valley/test/rules/TestBuildings.py
  worlds/stardew_valley/test/rules/TestCookingRecipes.py
  worlds/stardew_valley/test/rules/TestCraftingRecipes.py
  worlds/stardew_valley/test/rules/TestDonations.py
  worlds/stardew_valley/test/rules/TestFriendship.py
  worlds/stardew_valley/test/rules/TestShipping.py
  worlds/stardew_valley/test/rules/TestTools.py
  worlds/stardew_valley/test/rules/TestWeapons.py
Labels: is: refactor/cleanup, affects: core, waiting-on: peer-review

#3237 Core: dump all item placements for generation failures.
  Fill.py
  Main.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3788 Tests: fix the all games multiworld test
  test/multiworld/test_multiworlds.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3789 TUNIC: Swap from multiworld.get to world.get for applicable things
  worlds/tunic/__init__.py
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
  worlds/tunic/rules.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#3791 WebHost: Maybe fix OptionList somehow?
  WebHostLib/templates/weightedOptions/macros.html
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#3794 TUNIC: Add off and on aliases for the Entrance Rando option
  worlds/tunic/options.py
Labels: is: enhancement, waiting-on: core-review

#3802 Core: Require excluded locations to be reachable with full/locations accessibility
  BaseClasses.py
  test/bases.py
  test/general/test_reachability.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3793 Lingo: Fixed Initiated-side Eight Door not opening
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
  worlds/lingo/data/ids.yaml
Labels: is: bug/fix, waiting-on: peer-review

#3790 TUNIC: Give the fox a gun (in logic) (very small PR)
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/items.py
  worlds/tunic/rules.py
Labels: is: enhancement, waiting-on: core-review

#3779 TLOZ: Fix non-deterministic item pool generation
  worlds/tloz/ItemPool.py
Labels: is: bug/fix, waiting-on: core-review

#3632 Docs: Update 'tag' documentation
  docs/network protocol.md
Labels: is: documentation, waiting-on: core-review

#3768 [OSRS] Fixes Incorrect filler item names causing failures on tests.
  worlds/osrs/Names.py
  worlds/osrs/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3780 Core: early_local != local_early
  Main.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: peer-review

#3660 Pokemon Emerald: Ensure dig tutor is always usable
  worlds/pokemon_emerald/rom.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#3796 Core: type for `CommonContext.ui`
  CommonClient.py
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review

#3806 VVVVVV: Make unnecessary Trinkets filler
  worlds/v6/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3201 Kingdom Hearts: Implement New Game
  KH1Client.py
  README.md
  docs/CODEOWNERS
  worlds/kh1/Client.py
  worlds/kh1/Items.py
  worlds/kh1/Locations.py
  worlds/kh1/Options.py
  worlds/kh1/Presets.py
  worlds/kh1/Regions.py
  worlds/kh1/Rules.py
  worlds/kh1/__init__.py
  worlds/kh1/docs/en_Kingdom Hearts.md
  worlds/kh1/docs/kh1_en.md
  worlds/kh1/test/__init__.py
  worlds/kh1/test/test_goal.py
Labels: is: new game, waiting-on: core-review

#3813 Core: Fix incorrect default state checked in MultiWorld.can_beat_game
  BaseClasses.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3807 The Witness: Fix Tunnels Theater Flower EP Access Logic + Add Unit Test for it (and Expert PP2)
  worlds/witness/rules.py
  worlds/witness/test/test_weird_traversals.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: peer-review

#3811 Docs: `NetworkItem.player`
  NetUtils.py
Labels: is: documentation, affects: core, waiting-on: author

#3765 Update Minecraft to new options system.
  worlds/minecraft/ItemPool.py
  worlds/minecraft/Options.py
  worlds/minecraft/Rules.py
  worlds/minecraft/Structures.py
  worlds/minecraft/__init__.py
  worlds/minecraft/test/TestOptions.py
  worlds/minecraft/test/__init__.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: peer-review

#3265 The Witness: Panel Hunt Mode
  worlds/witness/__init__.py
  worlds/witness/data/settings/Entity_Hunt.txt
  worlds/witness/data/static_locations.py
  worlds/witness/data/static_logic.py
  worlds/witness/data/utils.py
  worlds/witness/entity_hunt.py
  worlds/witness/generate_data_file.py
  worlds/witness/hints.py
  worlds/witness/locations.py
  worlds/witness/options.py
  worlds/witness/player_items.py
  worlds/witness/player_logic.py
  worlds/witness/regions.py
  worlds/witness/rules.py
  worlds/witness/test/__init__.py
  worlds/witness/test/test_panel_hunt.py
Labels: is: enhancement, waiting-on: core-review

#2921 The Witness: Add "vague" hints making use of other games' region names and location groups
  worlds/witness/hints.py
  worlds/witness/options.py
  worlds/witness/test/test_panel_hunt.py
  worlds/witness/test/test_roll_other_options.py
Labels: is: enhancement, waiting-on: core-review

#3256 Mega Man 2: Implement New Game
  README.md
  docs/CODEOWNERS
  inno_setup.iss
  worlds/mm2/__init__.py
  worlds/mm2/client.py
  worlds/mm2/color.py
  worlds/mm2/data/mm2_basepatch.bsdiff4
  worlds/mm2/docs/en_Mega Man 2.md
  worlds/mm2/docs/setup_en.md
  worlds/mm2/items.py
  worlds/mm2/locations.py
  worlds/mm2/names.py
  worlds/mm2/options.py
  worlds/mm2/rom.py
  worlds/mm2/rules.py
  worlds/mm2/src/mm2_basepatch.asm
  worlds/mm2/src/mm2font.dat
  worlds/mm2/src/mm2titlefont.dat
  worlds/mm2/test/__init__.py
  worlds/mm2/test/test_access.py
  worlds/mm2/test/test_weakness.py
  worlds/mm2/text.py
Labels: affects: core, is: new game, waiting-on: core-review

#3355 Blasphemous: Total overhaul
  .gitattributes
  test/general/test_reachability.py
  worlds/blasphemous/ExtractorConfig.json
  worlds/blasphemous/Items.py
  worlds/blasphemous/Locations.py
  worlds/blasphemous/Options.py
  worlds/blasphemous/Preprocessor.py
  worlds/blasphemous/Rooms.py
  worlds/blasphemous/Rules.py
  worlds/blasphemous/Vanilla.py
  worlds/blasphemous/__init__.py
  worlds/blasphemous/docs/setup_en.md
  worlds/blasphemous/region_data.py
  worlds/blasphemous/test/__init__.py
  worlds/blasphemous/test/test_background_zones.py
  worlds/blasphemous/test/test_starting_locations.py
Labels: is: bug/fix, is: refactor/cleanup, affects: core, affects: release/blocker, waiting-on: peer-review

#3824 MM2: fix Wily 5 Time Stopper rule
  worlds/mm2/rules.py
  worlds/mm2/test/test_weakness.py
Labels: is: bug/fix, waiting-on: peer-review

#3482 YachtDice: implement new game
  README.md
  docs/CODEOWNERS
  worlds/yachtdice/Items.py
  worlds/yachtdice/Locations.py
  worlds/yachtdice/Options.py
  worlds/yachtdice/Rules.py
  worlds/yachtdice/YachtWeights.py
  worlds/yachtdice/__init__.py
  worlds/yachtdice/docs/en_Yacht Dice.md
  worlds/yachtdice/docs/setup_en.md
Labels: is: new game, waiting-on: peer-review

#3827 Yacht Dice: setup: change release-link to latest
  worlds/yachtdice/docs/setup_en.md
Labels: is: documentation, waiting-on: peer-review

#2533 Minor Tweaks to the ALLTP Adjuster UI - no functional changes
  LttPAdjuster.py
Labels: is: enhancement, affects: core, waiting-on: world-maintainer, waiting-on: peer-review

#3784 [LTTP] Fix a bug in Triforce Pieces Mode: Extra
  worlds/alttp/ItemPool.py
Labels: is: bug/fix, waiting-on: core-review, waiting-on: world-maintainer

#3818 The Witness: Ban Excluded Panels from Panel Hunt
  worlds/witness/__init__.py
  worlds/witness/entity_hunt.py
  worlds/witness/locations.py
  worlds/witness/player_logic.py
Labels: is: bug/fix, waiting-on: core-review

#3751 OSRS: Purge the "world: MultiWorld" evil
  worlds/osrs/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3571 Core, some worlds: Rename sweep_for_events to sweep_for_advancements
  BaseClasses.py
  Fill.py
  test/bases.py
  test/general/test_fill.py
  worlds/alttp/Dungeons.py
  worlds/alttp/test/dungeons/TestDungeon.py
  worlds/lingo/__init__.py
  worlds/oot/EntranceShuffle.py
  worlds/oot/Rules.py
  worlds/oot/__init__.py
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/regions.py
  worlds/witness/__init__.py
  worlds/witness/test/test_panel_hunt.py
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review, waiting-on: world-maintainer

#3391 Core: some typing and cleaning in `BaseClasses.py`
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3840 Celeste 64: Typo
  worlds/celeste64/docs/guide_en.md
Labels: is: documentation, waiting-on: core-review

#3839 Kingdom Hearts: Make Ceiling Division Human-Readable
  worlds/kh1/Rules.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#3425 The Witness: Shuffle Dog
  worlds/witness/__init__.py
  worlds/witness/data/static_locations.py
  worlds/witness/data/static_logic.py
  worlds/witness/locations.py
  worlds/witness/options.py
  worlds/witness/player_items.py
  worlds/witness/player_logic.py
  worlds/witness/presets.py
  worlds/witness/test/test_roll_other_options.py
Labels: is: enhancement, waiting-on: core-review

#3693 The Witness: Switch to world.player_name
  worlds/witness/__init__.py
  worlds/witness/hints.py
  worlds/witness/player_logic.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3607 Launcher: Update message that displays when installing a custom apworld for a game in main
  worlds/LauncherComponents.py
Labels: is: documentation, affects: core, waiting-on: core-review

#3823 Kvui: assert kivy is not imported before kvui
  kvui.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3726 Pokemon Emerald: Send current map to trackers
  worlds/pokemon_emerald/client.py
Labels: is: enhancement, waiting-on: core-review

#3841 Core: deepcopy plando items
  Generate.py
Labels: affects: core, waiting-on: peer-review

#3801 ALttP: Fix accessibility (locations -> full)
  worlds/alttp/Rules.py
Labels: is: refactor/cleanup, waiting-on: world-maintainer, waiting-on: peer-review

#3816 LTTP: fix own_dungeon option
  worlds/alttp/__init__.py
  worlds/alttp/test/options/test_dungeon_fill.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#3837 Muse Dash: Update to 4.7.0 - Let's Rhythm Jam!
  worlds/musedash/MuseDashCollection.py
  worlds/musedash/MuseDashData.txt
Labels: is: enhancement, waiting-on: core-review

#3846 Pokemon Emerald: Fix map update sending to all trackers
  worlds/pokemon_emerald/client.py
Labels: is: bug/fix, waiting-on: peer-review

#3617 The Witness: Rules Optimisation
  worlds/witness/__init__.py
  worlds/witness/data/WitnessLogic.txt
  worlds/witness/data/WitnessLogicExpert.txt
  worlds/witness/data/WitnessLogicVanilla.txt
  worlds/witness/hints.py
  worlds/witness/player_items.py
  worlds/witness/player_logic.py
  worlds/witness/regions.py
  worlds/witness/rules.py
  worlds/witness/test/__init__.py
  worlds/witness/test/test_panel_hunt.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#3850 AHIT: Fix moderate logic rules using add_rule instead of set_rule
  worlds/ahit/Rules.py
Labels: is: bug/fix, waiting-on: core-review

#3851 AHIT: Fix Time Rift - Alpine Skyline entrance logic
  worlds/ahit/Rules.py
Labels: is: bug/fix, waiting-on: core-review

#3849 APSudoku: Update setup guide, remove extraneous options page link
  worlds/apsudoku/__init__.py
  worlds/apsudoku/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#3836 Pokemon Emerald: Move Magma Grunt
  worlds/pokemon_emerald/rom.py
Labels: is: bug/fix, waiting-on: core-review

#3687 Stardew Valley: Fix Crimsonfish region
  worlds/stardew_valley/data/fish_data.py
  worlds/stardew_valley/test/TestDynamicGoals.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/rules/TestFishing.py
Labels: is: bug/fix, waiting-on: core-review

#3797 ChecksFinder: itempool naming/typing
  worlds/checksfinder/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3825 TUNIC: Add note about plando items to ER hint-creation failure error message
  worlds/tunic/__init__.py
Labels: is: documentation, waiting-on: core-review

#3853 DS3: Explicitly track item equality by name when sending IDs
  worlds/dark_souls_3/Items.py
  worlds/dark_souls_3/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#3323 KDL3: Version 2.0.0
  worlds/kdl3/Locations.py
  worlds/kdl3/Rom.py
  worlds/kdl3/Room.py
  worlds/kdl3/__init__.py
  worlds/kdl3/aesthetics.py
  worlds/kdl3/client.py
  worlds/kdl3/client_addrs.py
  worlds/kdl3/compression.py
  worlds/kdl3/data/kdl3_basepatch.bsdiff4
  worlds/kdl3/gifting.py
  worlds/kdl3/items.py
  worlds/kdl3/locations.py
  worlds/kdl3/names/__init__.py
  worlds/kdl3/names/animal_friend_spawns.py
  worlds/kdl3/names/enemy_abilities.py
  worlds/kdl3/names/location_name.py
  worlds/kdl3/options.py
  worlds/kdl3/presets.py
  worlds/kdl3/regions.py
  worlds/kdl3/rom.py
  worlds/kdl3/room.py
  worlds/kdl3/rules.py
  worlds/kdl3/src/APPauseIcons.dat
  worlds/kdl3/src/kdl3_basepatch.asm
  worlds/kdl3/test/__init__.py
  worlds/kdl3/test/test_goal.py
  worlds/kdl3/test/test_locations.py
  worlds/kdl3/test/test_shuffles.py
Labels: is: enhancement, waiting-on: core-review

#3854 Shivers: Add collect behavior option.
  worlds/shivers/Options.py
  worlds/shivers/__init__.py
Labels: is: enhancement, waiting-on: core-review

#3856 DS3: Don't return early in the location loop
  worlds/dark_souls_3/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#3855 DS3: Prevent prioritized+excluded locations
  worlds/dark_souls_3/__init__.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#3372 SM and SMZ3 option_definitions deprecation fix
  worlds/sm/Options.py
  worlds/sm/__init__.py
  worlds/sm/variaRandomizer/randomizer.py
  worlds/sm/variaRandomizer/utils/utils.py
  worlds/smz3/Options.py
  worlds/smz3/__init__.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: core-review

#3728 Stardew Valley - Prize Ticket and Mystery Box grinding requires the abilty to redeem them
  worlds/stardew_valley/logic/grind_logic.py
Labels: is: bug/fix, waiting-on: core-review

#3799 AHIT: Fix thug shops having 0 items after the first shop that rolls 0 items
  worlds/ahit/Regions.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: core-review

#3691 The Witness: Add Beginner Mode option preset
  worlds/witness/presets.py
Labels: is: enhancement, waiting-on: core-review

#3835 ALttP/Docs: Correcting the plando docs
  worlds/alttp/docs/plando_en.md
Labels: is: documentation, waiting-on: core-review

#3862 TUNIC: Add alias for Ladders in Overworld Town
  worlds/tunic/items.py
Labels: is: bug/fix
