Repository ArchipelagoMW/Archipelago, pull requests merged in 2024-11, with the labels that each got.

#4128 Tests: Update test_fill.py to use Options API
  test/general/test_fill.py
Labels: is: bug/fix, is: refactor/cleanup, affects: core, waiting-on: peer-review

#4127 Generate: Prevent ini Files from Being Included in YAML Discovery
  Generate.py
Labels: affects: core, waiting-on: peer-review

#4096 Core: The Item Links fix to end them all (for now, hopefully)
  worlds/AutoWorld.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: peer-review

#4126 SC2: Small bugfix for SC2 logic
  worlds/sc2/Locations.py
Labels: is: bug/fix, waiting-on: core-review

#4113 Pokemon Emerald: Prevent evolution fanfare from being replaced with flute
  worlds/pokemon_emerald/CHANGELOG.md
  worlds/pokemon_emerald/rom.py
Labels: is: bug/fix, waiting-on: peer-review

#4091 Launcher: Add link to the official site
  Launcher.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4145 ChecksFinder: Update description
  worlds/checksfinder/__init__.py
Labels: is: documentation, waiting-on: peer-review

#4140 LTTP: Update tests to use bases.py
  worlds/alttp/test/items/TestDifficulty.py
  worlds/alttp/test/items/TestPrizes.py
  worlds/alttp/test/minor_glitches/TestMinor.py
  worlds/alttp/test/owg/TestVanillaOWG.py
  worlds/alttp/test/shops/TestSram.py
  worlds/alttp/test/vanilla/TestVanilla.py
Labels: waiting-on: peer-review

#4136 Lufia 2: Update tests to bases.py
  worlds/lufia2ac/test/__init__.py
Labels: waiting-on: peer-review

#4139 LADX: Update tests to use bases.py
  worlds/ladx/test/__init__.py
Labels: waiting-on: peer-review

#3893 Rogue Legacy: Remove item/location id overlap rejection code.
  worlds/rogue_legacy/__init__.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4142 Pokemon Emerald: Update tests to use bases.py
  worlds/pokemon_emerald/test/__init__.py
  worlds/pokemon_emerald/test/test_warps.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4137 Bumper Stickers: Update tests to bases.py
  worlds/bumpstik/test/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4153 ALttP: Use auto indirect conditions
  worlds/alttp/EntranceShuffle.py
  worlds/alttp/__init__.py
Labels: is: bug/fix, waiting-on: world-maintainer

#4155 Setup: exclude zstandard
  setup.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4125 WebHost: fix missing timezone in tracker if-modified-since handling
  WebHostLib/tracker.py
  test/webhost/data/One_Archipelago.archipelago
  test/webhost/test_tracker.py
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#4080 Core: Add Item.excludable helper function
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4152 sm64ex: Make the Randomize 1Up !-Blocks option a Toggle
  worlds/sm64ex/Options.py
  worlds/sm64ex/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4147 Checksfinder: clean up setup guide intro and change ownership
  worlds/checksfinder/__init__.py
Labels: is: documentation, waiting-on: core-review

#4008 Pokemon RB: make stage_post_fill deterministic
  worlds/pokemon_rb/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4160 TUNIC: Add Shop indirect condition
  worlds/tunic/er_rules.py
Labels: is: bug/fix, waiting-on: core-review

#4156 CV64: Remove multiworld random usage
  worlds/cv64/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4138 DS3: Update tests to use bases.py
  worlds/dark_souls_3/test/TestDarkSouls3.py
Labels: is: refactor/cleanup, waiting-on: world-maintainer, waiting-on: peer-review

#4095 Update to Muse Dash v4.9.0 [Ensemble Arcanum]
  worlds/musedash/MuseDashData.txt
  worlds/musedash/Options.py
Labels: is: enhancement, waiting-on: core-review

#3888 The Witness: Get rid of Menu region, prepare for other worlds to change theirs (hints)
  worlds/witness/__init__.py
  worlds/witness/data/WitnessLogic.txt
  worlds/witness/data/WitnessLogicExpert.txt
  worlds/witness/data/WitnessLogicVanilla.txt
  worlds/witness/data/WitnessLogicVariety.txt
  worlds/witness/hints.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: core-review

#4166 Core: downgrade websockets and minor fixes
  .github/workflows/unittests.yml
  MultiServer.py
  requirements.txt
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: peer-review

#4167 WebHost: update werkzeug
  WebHostLib/requirements.txt
Labels: is: bug/fix, affects: release/blocker, affects: webhost, waiting-on: peer-review

#3995 [PKMN RB] Adds slot data that tells the tracker V5 logic should be considered
  worlds/pokemon_rb/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4143 CI: Update CodeQL to v3
  .github/workflows/codeql-analysis.yml
Labels: is: maintenance, waiting-on: peer-review

#3457 Cleanup: MMBN3 Typo for SloGauge
  worlds/mmbn3/Items.py
  worlds/mmbn3/Names/ItemName.py
Labels: is: bug/fix, waiting-on: core-review

#4163 Stardew valley: Fixed furnace logic bug
  worlds/stardew_valley/data/craftable_data.py
  worlds/stardew_valley/data/recipe_source.py
  worlds/stardew_valley/logic/crafting_logic.py
  worlds/stardew_valley/test/assertion/rule_assert.py
  worlds/stardew_valley/test/rules/TestBundles.py
  worlds/stardew_valley/test/rules/TestCraftingRecipes.py
Labels: is: bug/fix, waiting-on: peer-review

#4181 DLCQuest: Use options API for campaign and remove unused imports in tests
  worlds/dlcquest/test/TestOptionsLong.py
  worlds/dlcquest/test/checks/world_checks.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: core-review

#4183 [Factorio] Fix satellite goal
  worlds/factorio/data/mod_template/control.lua
Labels: is: bug/fix, affects: release/blocker, waiting-on: world-maintainer, waiting-on: peer-review

#4175 Landstalker: remove global ref to multiworld
  worlds/landstalker/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4180 Tests: Ignore s2clientprotocol Deprecation Warnings
  test/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4144 Core: Detect and account for apworlds being downloaded with a (1) in their name
  worlds/LauncherComponents.py
Labels: affects: core, waiting-on: peer-review

#4157 CV64: Fix some textbox message truncation issues
  worlds/cv64/client.py
  worlds/cv64/rom.py
Labels: is: bug/fix, waiting-on: peer-review

#4178 DS3: List compatible static randomizer versions in slot data
  worlds/dark_souls_3/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4106 Template Yamls: Fix error due to colon in game name
  Options.py
  data/options.yaml
  test/options/test_generate_templates.py
Labels: is: bug/fix, is: enhancement, affects: core, waiting-on: peer-review

#4191 [PKMN RB] Fixes faulty logic in Victory Road 1
  worlds/pokemon_rb/rules.py
Labels: is: bug/fix, waiting-on: peer-review

#4177 docs: Add @BrandenEK as codeowner
  docs/CODEOWNERS
Labels: is: documentation, waiting-on: core-review, waiting-on: world-maintainer

#4192 PKMN R/B: Don't change classification of items from other worlds
  worlds/pokemon_rb/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#4193 Webhost: fix doc and yaml filenames / install paths
  WebHost.py
  WebHostLib/__init__.py
  WebHostLib/templates/gameInfo.html
  WebHostLib/templates/playerOptions/playerOptions.html
  WebHostLib/templates/tutorial.html
  test/webhost/test_docs.py
Labels: affects: webhost, waiting-on: peer-review

#4194 Launcher: change import order to fix ModuleUpdate
  Launcher.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4198 WebHost: Fix 500 server errors for hints involving ItemLink slots on tracker pages
  WebHostLib/templates/genericTracker.html
  WebHostLib/templates/multitrackerHintTable.html
  WebHostLib/tracker.py
Labels: is: bug/fix, affects: release/blocker, affects: webhost, waiting-on: core-review

#4172 Subnautica: compose DeathLink custom text instead of overwriting
  worlds/subnautica/options.py
Labels: is: documentation, waiting-on: core-review

#4197 Tests: Use Option.from_any instead of Option() in test_pickle_dumps, which is currently preventing Range options from using default: "random"
  test/general/test_options.py
Labels: is: bug/fix, waiting-on: peer-review

#4201 Core: Fix empty rule comparisons with subclasses
  worlds/generic/Rules.py
Labels: affects: core, waiting-on: peer-review

#4182 [Factorio] energy link bridge improvements
  worlds/factorio/data/mod_template/control.lua
Labels: is: bug/fix, is: enhancement, waiting-on: peer-review

#4199 Aquaria: Fixing no progression bug
  worlds/aquaria/Regions.py
  worlds/aquaria/test/test_no_progression_hard_hidden_locations.py
Labels: is: bug/fix, waiting-on: peer-review

#4196 The Witness: Allow setting the puzzle randomization seed yourself
  worlds/witness/__init__.py
  worlds/witness/options.py
  worlds/witness/player_items.py
Labels: is: enhancement

#4203 TLOZ: Assorted Logic Fixes
  worlds/tloz/Locations.py
  worlds/tloz/Rules.py
Labels: is: bug/fix, waiting-on: peer-review

#4190 MM2: minor bugfixes
  worlds/mm2/__init__.py
  worlds/mm2/rules.py
  worlds/mm2/text.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4206 Stardew Valley: Removed Walnutsanity and Filler buffs from the all random preset
  worlds/stardew_valley/presets.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4132 TUNIC: Fix a few missing tricks in logic
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/ladder_storage_data.py
Labels: is: bug/fix, is: enhancement, waiting-on: peer-review

#4209 Clients: fix high CPU usage when launcher via MultiProcessing
  CommonClient.py
  Utils.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4214 core: persist hints even if previously found
  MultiServer.py
Labels: affects: core, waiting-on: peer-review

#4185 Core: improve error message for missing "game" entry in yaml
  Generate.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#4213 Launcher: ports the _stop fix in the Launcher kivy App to handle_url Popup App
  Launcher.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4218 Aquaria: Remove BaseException handling from create_item
  worlds/aquaria/__init__.py
Labels: is: bug/fix, waiting-on: author, waiting-on: core-review

#4188 OSRS: Fixes to Logic errors related to Max Skill Level determining when Regions are accessible
  worlds/osrs/LogicCSV/locations_generated.py
  worlds/osrs/Names.py
  worlds/osrs/Rules.py
  worlds/osrs/__init__.py
Labels: is: bug/fix, is: enhancement, is: refactor/cleanup, affects: release/blocker, waiting-on: peer-review

#4200 AHiT: Fix reconnecting rift access regions for starting and plando acts
  worlds/ahit/Regions.py
Labels: is: bug/fix, waiting-on: peer-review

#4105 TUNIC: Fix it so item linked locations are correct in slot data
  worlds/tunic/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4235 Timespinner: Re-added missing enmemy rando option
  worlds/timespinner/Options.py
  worlds/timespinner/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4236 Kingdom Hearts: Minor Logic Fixes
  worlds/kh1/Rules.py
Labels: is: bug/fix, waiting-on: core-review

#4233 TUNIC: Add clarifying comment to item links handling
  worlds/tunic/__init__.py
Labels: is: documentation, waiting-on: peer-review

#4246 SC2: Fix Nondeterministic Behavior
  worlds/sc2/MissionTables.py
  worlds/sc2/Regions.py
Labels: is: bug/fix, waiting-on: core-review

#4242 [FFMQ] Fix all checks sending on hard reset + stronger read validation check
  worlds/ffmq/Client.py
Labels: is: bug/fix, waiting-on: peer-review

#4245 Landstalker: Fix Nondeterministic Behavior
  worlds/landstalker/Locations.py
Labels: is: bug/fix, waiting-on: core-review

#4244 HK: Fix Nondeterministic Behavior
  worlds/hk/__init__.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#4243 Lufia2: Fix Nondeterministic Behavior
  worlds/lufia2ac/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4241 Zillion: Add display_name to ZillionSkill
  worlds/zillion/options.py
Labels: is: documentation, waiting-on: core-review

#4249 SC2: Fix wrongly classified location type
  worlds/sc2/Locations.py
Labels: is: bug/fix, waiting-on: peer-review

#3985 Stardew Valley: Make progressive movie theater a progression trap
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/data/items.csv
  worlds/stardew_valley/items.py
  worlds/stardew_valley/test/TestGeneration.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/mods/TestMods.py
  worlds/stardew_valley/test/rules/TestStateRules.py
Labels: is: enhancement, waiting-on: core-review

#4255 Stardew Valley - Update documentation 5.x.x links into 6.x.x links
  worlds/stardew_valley/docs/en_Stardew Valley.md
  worlds/stardew_valley/docs/setup_en.md
Labels: is: documentation, waiting-on: peer-review

#4251 The Witness: Rename "Panel Hunt Settings" to "Panel Hunt Options"
  worlds/witness/options.py
Labels: is: documentation, waiting-on: core-review

#3973 Core: purge py3.8 and py3.9
  .github/pyright-config.json
  .github/workflows/analyze-modified-files.yml
  .github/workflows/build.yml
  .github/workflows/unittests.yml
  BaseClasses.py
  ModuleUpdate.py
  Utils.py
  WebHost.py
  WebHostLib/requirements.txt
  docs/contributing.md
  docs/running from source.md
  kvui.py
  setup.py
  worlds/AutoSNIClient.py
  worlds/__init__.py
  worlds/hk/Extractor.py
  worlds/hk/requirements.txt
  worlds/messenger/__init__.py
  worlds/messenger/client_setup.py
  worlds/messenger/connections.py
  worlds/messenger/constants.py
  worlds/messenger/options.py
  worlds/messenger/portals.py
  worlds/messenger/regions.py
  worlds/messenger/rules.py
  worlds/messenger/shop.py
  worlds/messenger/subclasses.py
  worlds/messenger/test/test_shop.py
  worlds/stardew_valley/content/unpacking.py
  worlds/stardew_valley/data/artisan.py
  worlds/stardew_valley/data/game_item.py
  worlds/stardew_valley/data/harvest.py
  worlds/stardew_valley/data/shop.py
  worlds/stardew_valley/data/skill.py
  worlds/stardew_valley/items.py
  worlds/stardew_valley/locations.py
  worlds/stardew_valley/requirements.txt
  worlds/stardew_valley/test/stability/TestStability.py
  worlds/zillion/options.py
Labels: is: maintenance, affects: core, affects: webhost

#4263 WebHost: Fix crash on advanced options when a Range option uses "random" as its default
  WebHostLib/templates/weightedOptions/macros.html
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#4271 TUNIC: Fix missing ladder rule for library fuse
  worlds/tunic/er_rules.py
Labels: is: bug/fix, waiting-on: peer-review

#4272 Launcher: fix detection of valid .apworld
  worlds/LauncherComponents.py
Labels: affects: core, waiting-on: peer-review

#4260 Pokemon RB - Fix Incorrect Item Location in Victory Road 2F
  worlds/pokemon_rb/locations.py
Labels: is: bug/fix, waiting-on: other

#4265 [Docs] Update the macOS guide to match changes in core
  worlds/generic/docs/mac_en.md
Labels: is: documentation, waiting-on: peer-review

#2672 Docs: update Pokemon R/B spanish guide
  worlds/pokemon_rb/docs/setup_es.md
Labels: is: documentation, waiting-on: world-maintainer

#4276 DLC Quest Bug Fix 50+ coin bundle basic Campaign
  worlds/dlcquest/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4277 CV64: Fix the first Waterway 3HB ledge setting the flag of one of the Nitro room item locations.
  worlds/cv64/rom.py
Labels: is: bug/fix, waiting-on: peer-review

#4258 The Witness: Rename some *horrendously* named variables
  worlds/witness/hints.py
  worlds/witness/player_items.py
  worlds/witness/player_logic.py
  worlds/witness/rules.py
Labels: is: refactor/cleanup, waiting-on: other

#3887 Docs: Mention explicit_indirect_conditions & "Menu" -> origin_region_name
  docs/world api.md
Labels: is: documentation, waiting-on: core-review

#4268 Core: Fix playthrough only checking half of the sphere 0 items
  BaseClasses.py
Labels: is: bug/fix, affects: core, waiting-on: other

#4081 Core: Add item.filler helper
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review, waiting-on: other

#3551 OoT: Turn Logic Tricks into an OptionSet
  worlds/oot/Options.py
Labels: is: enhancement, waiting-on: core-review

#3885 Core: Make region.add_exits return the created Entrances
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3766 The Witness: Add Fast Travel Option
  worlds/witness/data/WitnessLogic.txt
  worlds/witness/data/WitnessLogicExpert.txt
  worlds/witness/data/WitnessLogicVanilla.txt
  worlds/witness/data/WitnessLogicVariety.txt
  worlds/witness/options.py
Labels: is: enhancement, waiting-on: core-review

#3550 Core: Add __iter__ to VerifyKeys
  Options.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4215 Muse Dash: Change AttributeError to KeyError when Create_Item receives an item name that doesn't exist in the world
  worlds/musedash/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4161 Super Mario 64: Option groups
  worlds/sm64ex/Options.py
  worlds/sm64ex/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4170 Core: fix deprecation warning in for utcnow()
  setup.py
Labels: affects: core, waiting-on: peer-review, waiting-on: other

#3506 Core: Introduce 'Hint Priority' concept
  CommonClient.py
  Main.py
  MultiServer.py
  NetUtils.py
  Utils.py
  data/client.kv
  docs/network protocol.md
  kvui.py
Labels: is: enhancement, affects: core, waiting-on: other

#4262 Webhost: Make YGO 06 setup title match page
  worlds/yugioh06/__init__.py
Labels: is: documentation, waiting-on: core-review

#4252 SMZ3: Add Start Inventory From Pool
  worlds/smz3/Options.py
Labels: is: enhancement, waiting-on: core-review

#3764 LTTP: sort of use new options system
  worlds/alttp/Options.py
  worlds/alttp/Rom.py
  worlds/alttp/__init__.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: other

#2420 Core: Actually take item from pool when plandoing from_pool
  Fill.py
Labels: is: bug/fix, is: enhancement, affects: core, waiting-on: core-review

#3028 Core: Add timestamps to logging for seed generation
  Utils.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3263 Pokemon Emerald: Rework tags/dynamically create item and location groups
  worlds/pokemon_emerald/CHANGELOG.md
  worlds/pokemon_emerald/__init__.py
  worlds/pokemon_emerald/data.py
  worlds/pokemon_emerald/data/items.json
  worlds/pokemon_emerald/data/locations.json
  worlds/pokemon_emerald/groups.py
  worlds/pokemon_emerald/items.py
  worlds/pokemon_emerald/locations.py
  worlds/pokemon_emerald/rules.py
  worlds/pokemon_emerald/sanity_check.py
Labels: is: enhancement, waiting-on: author, waiting-on: core-review

#4284 CI: use py3.12 for the linux and windows builds
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: waiting-on: peer-review

#4229 Core: Log warnings at call site, not Utils itself
  Utils.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4085 Stardew Valley: Remove some events for a slight performance increase
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/logic/building_logic.py
  worlds/stardew_valley/logic/money_logic.py
  worlds/stardew_valley/logic/shipping_logic.py
  worlds/stardew_valley/logic/special_order_logic.py
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/stardew_rule/rule_explain.py
  worlds/stardew_valley/strings/ap_names/event_names.py
  worlds/stardew_valley/test/rules/TestBuildings.py
Labels: is: refactor/cleanup, waiting-on: core-review

#3907 HK: better error messaging for charm plando
  worlds/hk/Options.py
Labels: is: enhancement, waiting-on: core-review

#3898 Yacht Dice: Mark YachtWeights.py as "linguist-generated"
  .gitattributes
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review

#4000 The Witness: Make Elevators Come To You an OptionSet
  worlds/witness/data/settings/Door_Shuffle/Elevators_Come_To_You.txt
  worlds/witness/data/utils.py
  worlds/witness/options.py
  worlds/witness/player_logic.py
  worlds/witness/presets.py
  worlds/witness/test/test_auto_elevators.py
  worlds/witness/test/test_roll_other_options.py
Labels: is: enhancement, waiting-on: core-review

#3805 Timespinner: Update AP to have parity with standalone options
  worlds/timespinner/Items.py
  worlds/timespinner/Locations.py
  worlds/timespinner/LogicExtensions.py
  worlds/timespinner/Options.py
  worlds/timespinner/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4286 CI: fix naming of windows build action
  .github/workflows/build.yml
Labels: waiting-on: peer-review

#4280 Core: fix settings API for removal of Python 3.8, 3.9
  settings.py
  test/general/test_settings.py
  worlds/AutoWorld.py
  worlds/zillion/__init__.py
Labels: affects: core, waiting-on: peer-review

#3903 Zillion: use "new" settings api and cleaning
  worlds/zillion/__init__.py
  worlds/zillion/client.py
  worlds/zillion/gen_data.py
  worlds/zillion/id_maps.py
  worlds/zillion/logic.py
  worlds/zillion/options.py
  worlds/zillion/patch.py
  worlds/zillion/region.py
  worlds/zillion/test/TestReproducibleRandom.py
  worlds/zillion/test/__init__.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4240 id Tech: Standardizing ResetLevelOnDeath display
  worlds/doom_1993/Options.py
  worlds/doom_ii/Options.py
  worlds/heretic/Options.py
Labels: is: bug/fix, is: documentation, waiting-on: core-review

#3778 Core: Rewrite start inventory from pool code
  Main.py
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review

#3059 Faxanadu: implement new game
  README.md
  docs/CODEOWNERS
  worlds/faxanadu/Items.py
  worlds/faxanadu/Locations.py
  worlds/faxanadu/Options.py
  worlds/faxanadu/Regions.py
  worlds/faxanadu/Rules.py
  worlds/faxanadu/__init__.py
  worlds/faxanadu/docs/en_Faxanadu.md
  worlds/faxanadu/docs/setup_en.md
Labels: is: new game, waiting-on: core-review, waiting-on: other

#4288 CODEOWNERS: id Tech 1 co-ownership (adding myself as owner)
  docs/CODEOWNERS
Labels: is: documentation, waiting-on: world-maintainer

#4287 change "Unreachable Items" to "Unreachable progression items" for cla…
  BaseClasses.py
Labels: is: documentation, affects: core, waiting-on: peer-review

#3976 Tests: Add test that local/non local items aren't modified late
  test/general/test_items.py
Labels: is: enhancement, waiting-on: other

#3393 Core: Allow option groups to specify option order
  Options.py
Labels: is: enhancement, affects: core, waiting-on: core-review, waiting-on: other

#4291 The Witness: Fix unreachable locations on Longbox + Postgame
  worlds/witness/player_logic.py
  worlds/witness/test/test_roll_other_options.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4043 Core: update error message for mismatched "event" placements
  Main.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4062 WebHost: delete unused script tag
  WebHostLib/templates/templates.html
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#4230 Stardew Valley: Fix a bug where locations in logic would disappear from universal tracker as items get sent
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/items.py
  worlds/stardew_valley/stardew_rule/state.py
  worlds/stardew_valley/test/TestCrops.py
  worlds/stardew_valley/test/TestOptions.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/rules/TestArcades.py
  worlds/stardew_valley/test/rules/TestBuildings.py
  worlds/stardew_valley/test/rules/TestCookingRecipes.py
  worlds/stardew_valley/test/rules/TestCraftingRecipes.py
  worlds/stardew_valley/test/rules/TestDonations.py
  worlds/stardew_valley/test/rules/TestFriendship.py
  worlds/stardew_valley/test/rules/TestShipping.py
  worlds/stardew_valley/test/rules/TestStateRules.py
  worlds/stardew_valley/test/rules/TestTools.py
  worlds/stardew_valley/test/rules/TestWeapons.py
  worlds/stardew_valley/test/stability/TestStability.py
Labels: is: bug/fix, waiting-on: core-review

#4261 The Witness: Turn off default tests on a test that is prone to swap fails
  worlds/witness/test/test_disable_non_randomized.py
Labels: is: bug/fix, waiting-on: core-review

#4026 The Witness: Add "Panel Keys" and "Obelisk Keys" item groups
  worlds/witness/data/static_items.py
Labels: is: enhancement, waiting-on: core-review

#3461 SMZ3 generate without rom
  worlds/smz3/Rom.py
  worlds/smz3/__init__.py
Labels: is: enhancement, is: refactor/cleanup, waiting-on: core-review

#3592 Core: "Fix" Priority Fill
  Fill.py
Labels: is: bug/fix, is: enhancement, affects: core, waiting-on: core-review

#3598 MultiServer: !status shows Ready status
  MultiServer.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#3629 Launcher: support Component icons inside apworlds
  Launcher.py
  kvui.py
  worlds/LauncherComponents.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4293 Factorio: option groups
  worlds/factorio/Options.py
  worlds/factorio/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#3623 Core: cull events from multidata spheres
  BaseClasses.py
  Main.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4173 WebHost: add a page to manage session cookie
  WebHostLib/__init__.py
  WebHostLib/misc.py
  WebHostLib/session.py
  WebHostLib/templates/session.html
  WebHostLib/templates/siteMap.html
Labels: is: enhancement, affects: webhost, waiting-on: core-review

#4282 Factorio: add Atomic Cliff Remover Trap
  worlds/factorio/Options.py
  worlds/factorio/__init__.py
  worlds/factorio/data/mod/lib.lua
  worlds/factorio/data/mod_template/control.lua
Labels: is: enhancement, waiting-on: peer-review

#4069 HK: add item group for dream nail(s)
  worlds/hk/Items.py
Labels: is: enhancement, waiting-on: core-review

#4217 Blasphemous: Add start_inventory_from_pool
  worlds/blasphemous/Options.py
  worlds/blasphemous/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#4294 Core: rework python version check
  .github/workflows/build.yml
  .github/workflows/release.yml
  ModuleUpdate.py
  docs/running from source.md
Labels: affects: core, waiting-on: peer-review
