Repository ArchipelagoMW/Archipelago, pull requests merged in 2025-02, with the labels that each got.

#4576 Settings: Handle empty Groups
  settings.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4539 Core: Make csv options output ignore hidden options
  Options.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#4281 LADX: Fix generation error on minimal accessibility
  worlds/ladx/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4360 Stardew Valley: Fix unresolved reference warning and unused imports
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/bundles/bundle_room.py
  worlds/stardew_valley/content/mods/sve.py
  worlds/stardew_valley/content/vanilla/qi_board.py
  worlds/stardew_valley/data/bundle_data.py
  worlds/stardew_valley/data/craftable_data.py
  worlds/stardew_valley/data/recipe_data.py
  worlds/stardew_valley/data/recipe_source.py
  worlds/stardew_valley/logic/ability_logic.py
  worlds/stardew_valley/logic/action_logic.py
  worlds/stardew_valley/logic/skill_logic.py
  worlds/stardew_valley/mods/logic/item_logic.py
  worlds/stardew_valley/mods/logic/quests_logic.py
  worlds/stardew_valley/regions.py
  worlds/stardew_valley/scripts/update_data.py
  worlds/stardew_valley/stardew_rule/base.py
  worlds/stardew_valley/test/TestMultiplePlayers.py
  worlds/stardew_valley/test/TestWalnutsanity.py
  worlds/stardew_valley/test/rules/TestFishing.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: core-review

#4590 kvui: set home folder to non-default
  kvui.py
Labels: affects: core, waiting-on: peer-review

#4594 TUNIC: Call Combat Logic experimental
  worlds/tunic/options.py
Labels: is: documentation, waiting-on: core-review

#4600 Core: Fix #4595 by using first type's docstring in a union type
  settings.py
Labels: affects: core, waiting-on: core-review

#4556 Stardew Valley: add assert_can_reach_region_* for better tests
  worlds/stardew_valley/test/TestBooksanity.py
  worlds/stardew_valley/test/TestWalnutsanity.py
  worlds/stardew_valley/test/assertion/rule_assert.py
  worlds/stardew_valley/test/assertion/world_assert.py
  worlds/stardew_valley/test/rules/TestBooks.py
  worlds/stardew_valley/test/rules/TestFishing.py
  worlds/stardew_valley/test/rules/TestSkills.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4609 KH2 Doc Update
  worlds/kh2/docs/setup_en.md
Labels: is: documentation, waiting-on: world-maintainer

#4615 [AHIT] Fix small options issue
  worlds/ahit/Options.py
Labels: is: bug/fix, is: documentation, waiting-on: core-review

#4592 Shivers: Update shivers links and guides
  worlds/shivers/docs/en_Shivers.md
  worlds/shivers/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#4604 KH2: Fix lambda capture issue with weapon slot logic
  worlds/kh2/Rules.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#4531 Settings: add error message to identify host.yaml parsing failures
  settings.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4589 TUNIC: Combat logic fix
  worlds/tunic/combat_logic.py
  worlds/tunic/er_rules.py
  worlds/tunic/options.py
  worlds/tunic/test/test_combat.py
Labels: is: bug/fix, waiting-on: core-review

#4612 Test: ensure get_all_state() does not error in between steps
  test/general/test_state.py
Labels: is: bug/fix, is: enhancement, waiting-on: peer-review

#4623 Lttp Adjuster: mock world.random
  LttPAdjuster.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4606 CC: don't try to reconnect on invalid version
  CommonClient.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#4532 Bizhawk Client: Display Err
  worlds/_bizhawk/context.py
Labels: is: enhancement, waiting-on: core-review

#4632 Stardew Valley: Fixed Powdermelon and option inconsistencies
  worlds/stardew_valley/content/vanilla/base.py
  worlds/stardew_valley/options/options.py
  worlds/stardew_valley/options/presets.py
Labels: is: bug/fix, waiting-on: core-review

#4596 Docs: clean up create_item/event example
  docs/world api.md
Labels: is: documentation, waiting-on: core-review

#4622 Add missing plural in faq on website
  WebHostLib/static/assets/faq/en.md
Labels: is: documentation, affects: webhost, waiting-on: core-review

#4593 Docs: Update SA2B Linux and Steam Deck Setup Guide + Add Celeste 64 Linux Setup Guide
  worlds/celeste64/docs/guide_en.md
  worlds/sa2b/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#4649 GER: Use Itempool Count for Minimal handling
  entrance_rando.py
  test/general/test_entrance_rando.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4650 customserver: ignore static datapackage optimization for old games
  WebHostLib/customserver.py
Labels: is: bug/fix, affects: release/blocker, affects: webhost, waiting-on: peer-review

#4657 TUNIC: Fix Gun being missing from combat_items, and some misc combat logic changes
  worlds/tunic/combat_logic.py
  worlds/tunic/er_rules.py
  worlds/tunic/items.py
  worlds/tunic/test/test_combat.py
Labels: is: bug/fix, waiting-on: peer-review

#4655 MultiServer: Fix hinting an item that someone else already hinted in their slot not resolving correctly
  MultiServer.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: core-review

#4658 Factorio: prevent invalid starting items count
  worlds/factorio/Options.py
Labels: is: bug/fix

#4668 CI: fix native tests toolchain on windows
  .github/workflows/ctest.yml
  test/cpp/CMakeLists.txt
Labels: is: bug/fix, waiting-on: peer-review

#4537 Factorio: prevent players from getting stuck from Teleport Traps
  worlds/factorio/Options.py
  worlds/factorio/data/mod/lib.lua
  worlds/factorio/data/mod_template/control.lua
Labels: is: bug/fix, waiting-on: core-review

#4437 DS3: Update setup documentation
  worlds/dark_souls_3/docs/setup_en.md
Labels: is: documentation, waiting-on: author

#4564 TUNIC: Add some more rules for Monastery connections
  worlds/tunic/er_rules.py
  worlds/tunic/locations.py
  worlds/tunic/regions.py
  worlds/tunic/rules.py
Labels: is: bug/fix, is: enhancement, waiting-on: core-review

#4651 Noita: Fix bug with Traps disabled in 1-player games
  worlds/noita/items.py
Labels: is: bug/fix, waiting-on: core-review

#4684 Core: Only consider requested exits during ER placement and speculative sweep
  entrance_rando.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4689 MM2: fix seed bleed from shuffled weaknesses
  worlds/mm2/rules.py
Labels: is: bug/fix, waiting-on: core-review

#4692 The Messenger: do max on the initial math instead of doing it later
  worlds/messenger/__init__.py
  worlds/messenger/rules.py
  worlds/messenger/test/test_shop_chest.py
Labels: is: bug/fix, waiting-on: core-review

#4698 Core: Do speculative sweep membership checks against a set
  entrance_rando.py
Labels: affects: core, waiting-on: peer-review
