Repository ArchipelagoMW/Archipelago, pull requests merged in 2025-07, with the labels that each got.

#5160 Stardew Valley: Fixed luck level requirements for slot machines
  worlds/stardew_valley/data/craftable_data.py
Labels: is: bug/fix, waiting-on: core-review

#5167 Docs: fix 'get_pre_fill_items' being typo'd as 'get_prefill_items'
  docs/world api.md
  worlds/AutoWorld.py
Labels: is: documentation, affects: core, waiting-on: core-review

#5144 Core: ensure slot_data and er_hint_info are only base data types
  Main.py
  NetUtils.py
  test/general/test_implemented.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#5171 Factorio: Fix link to world_gen documentation
  worlds/factorio/Options.py
Labels: is: documentation, waiting-on: world-maintainer, waiting-on: peer-review

#5176 DLC Quest Bug Fix Start inventory lfod
  worlds/dlcquest/Items.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: core-review

#5181 Core: Replace Clique with V6 in unit tests
  .github/workflows/build.yml
  test/hosting/__main__.py
  test/hosting/generate.py
  test/hosting/world.py
Labels: affects: core, affects: release/blocker, waiting-on: peer-review

#5177 Various: Remove Rogue Legacy and Clique
  README.md
  docs/CODEOWNERS
  docs/network diagram/network diagram.md
  setup.py
  worlds/clique/Items.py
  worlds/clique/Locations.py
  worlds/clique/Options.py
  worlds/clique/Regions.py
  worlds/clique/Rules.py
  worlds/clique/__init__.py
  worlds/clique/docs/de_Clique.md
  worlds/clique/docs/en_Clique.md
  worlds/clique/docs/guide_de.md
  worlds/clique/docs/guide_en.md
  worlds/rogue_legacy/Items.py
  worlds/rogue_legacy/Locations.py
  worlds/rogue_legacy/Options.py
  worlds/rogue_legacy/Presets.py
  worlds/rogue_legacy/Regions.py
  worlds/rogue_legacy/Rules.py
  worlds/rogue_legacy/__init__.py
  worlds/rogue_legacy/docs/en_Rogue Legacy.md
  worlds/rogue_legacy/docs/rogue-legacy_en.md
  worlds/rogue_legacy/test/TestUnique.py
  worlds/rogue_legacy/test/__init__.py
Labels: affects: core, affects: release/blocker, waiting-on: core-review

#5182 TUNIC: Add breakables to the UT poptracker dictionary
  worlds/tunic/ut_stuff.py
Labels: waiting-on: peer-review

#5185 TUNIC: Fix missing line for UT stuff
  worlds/tunic/ut_stuff.py
Labels: is: bug/fix, waiting-on: peer-review

#5088 Core: Update UUID handling to be more easily sharable between libraries
  Utils.py
  docs/network protocol.md
Labels: is: enhancement, affects: core, waiting-on: core-review

#4610 Core: Add new ItemClassification "deprioritized" which will not be placed on priority locations (if possible)
  BaseClasses.py
  Fill.py
  test/general/test_fill.py
Labels: is: enhancement, affects: core

#5194 Core: increment version
  Utils.py
Labels: affects: core

#5119 HK: explicitly exclude palace items as well
  worlds/hk/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#5156 Docs: add spanish lenguage for HK
  worlds/hk/__init__.py
  worlds/hk/docs/es_Hollow Knight.md
  worlds/hk/docs/setup_es.md
Labels: is: documentation, waiting-on: peer-review

#4171 Various Games: Improve custom death link option description
  worlds/blasphemous/Options.py
  worlds/bomb_rush_cyberfunk/Options.py
  worlds/cv64/options.py
  worlds/cv64/rom.py
  worlds/hylics2/Options.py
  worlds/kh1/Options.py
  worlds/noita/options.py
Labels: is: documentation, waiting-on: author

#4795 Core: don't cache the get_all_state result
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#5191 TUNIC: Update tests per 0.6.2 api updates ping
  worlds/tunic/test/__init__.py
  worlds/tunic/test/bases.py
  worlds/tunic/test/test_access.py
  worlds/tunic/test/test_combat.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4887 [WebHost Docs] Current API documententation
  docs/webhost api.md
Labels: is: documentation, waiting-on: author

#4944 WebHostLib: Properly format IDs in API responses
  WebHostLib/__init__.py
  WebHostLib/api/room.py
  WebHostLib/api/user.py
  test/hosting/webhost.py
Labels: is: bug/fix, affects: webhost, waiting-on: core-review

#5196 Docs: Clean up SUUID in docs post 4944
  docs/webhost api.md
Labels: is: documentation, waiting-on: peer-review

#5100 SM: Improve options descriptions, categorize options
  worlds/sm/Options.py
  worlds/sm/__init__.py
Labels: is: documentation, is: enhancement, waiting-on: core-review

#5111 SMZ3: Add yaml options to slot data
  worlds/smz3/__init__.py
Labels: is: enhancement, waiting-on: core-review

#5203 Raft: Fix filler_item_types TypeError introduced in #4782
  worlds/raft/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#5205 fix(env): Prevent module update during container runtime
  Dockerfile
  ModuleUpdate.py
Labels: affects: core, waiting-on: peer-review

#5215 ALttP: Fix `pre_fill` State Sweeping Too Early
  worlds/alttp/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4618 DS3: Edit the setup docs to be more clear
  worlds/dark_souls_3/docs/setup_en.md
Labels: is: documentation, waiting-on: author

#4317 MultiServer: CreateHints command (Allows clients to hint own items in other worlds)
  MultiServer.py
  docs/network protocol.md
Labels: is: enhancement, affects: core, waiting-on: core-review

#4955 Paint: Implement New Game
  README.md
  docs/CODEOWNERS
  worlds/paint/__init__.py
  worlds/paint/docs/en_Paint.md
  worlds/paint/docs/guide_en.md
  worlds/paint/items.py
  worlds/paint/locations.py
  worlds/paint/options.py
  worlds/paint/rules.py
Labels: is: new game, waiting-on: core-review

#5219 Factorio: fix rename of mod file leading to incompatibility with base game
  WebHostLib/templates/macros.html
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#5233 CI: switch to new appimagetool
  .github/workflows/build.yml
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#5228 setup: Downgrade bundled SNI to 0.0.100
  setup.py
Labels: affects: core, waiting-on: peer-review

#5235 Muse Dash: Update to Rhythm Master Collab
  worlds/musedash/MuseDashData.py
  worlds/musedash/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4904 Core: Move GER EntranceLookup onto ERPlacementState. Improve usefulness of on_connect
  entrance_rando.py
  test/general/test_entrance_rando.py
Labels: is: enhancement, affects: core, affects: release/blocker, waiting-on: core-review

#5174 Adding French Translation for AP The Wind Waker Guides
  worlds/tww/__init__.py
  worlds/tww/docs/en_The Wind Waker.md
  worlds/tww/docs/fr_The Wind Waker.md
  worlds/tww/docs/setup_fr.md
Labels: is: documentation, waiting-on: core-review

#5069 WebHostLib: Some Typing Fixes/Updates
  WebHostLib/autolauncher.py
  WebHostLib/check.py
  WebHostLib/generate.py
  WebHostLib/stats.py
Labels: is: refactor/cleanup, affects: webhost, waiting-on: peer-review

#3045 CommonClient: update commands to function without local apworld
  CommonClient.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#3039 BizHawkClient: Add command to pass server messages to emulator
  worlds/_bizhawk/context.py
Labels: is: enhancement, waiting-on: core-review

#5236 WebHost: list unrecognized games as Other in stats
  WebHostLib/stats.py
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#3812 Core: Speed up CollectionState sweeping
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#5225 LADX: fix marin text splitting
  worlds/ladx/LADXR/patches/aesthetics.py
Labels: is: bug/fix, waiting-on: peer-review

#4278 LADX: generate without rom
  worlds/ladx/LADXR/generator.py
  worlds/ladx/LADXR/hints.py
  worlds/ladx/LADXR/patches/core.py
  worlds/ladx/LADXR/patches/enemies.py
  worlds/ladx/LADXR/patches/titleScreen.py
  worlds/ladx/LADXR/patches/tradeSequence.py
  worlds/ladx/LADXR/rom.py
  worlds/ladx/LADXR/romTables.py
  worlds/ladx/Options.py
  worlds/ladx/Rom.py
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4638 LTTP: Add Missing Crystal Switch Logic
  worlds/alttp/Rules.py
  worlds/alttp/test/dungeons/TestMiseryMire.py
Labels: is: bug/fix, waiting-on: core-review, waiting-on: world-maintainer

#4481 Core/Tests: No Locality Changes After generate_early
  Main.py
  docs/world api.md
  test/general/test_items.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#5117 Core: Add `restricted_dumps` helper
  Main.py
  MultiServer.py
  Utils.py
  WebHostLib/api/generate.py
  WebHostLib/customserver.py
  WebHostLib/generate.py
  WebHostLib/upload.py
  test/general/test_options.py
Labels: is: enhancement, affects: core, affects: webhost, waiting-on: core-review

#5071 Core: MultiData typing
  Main.py
  MultiServer.py
  NetUtils.py
  WebHostLib/upload.py
  docs/world api.md
  worlds/AutoWorld.py
  worlds/__init__.py
Labels: is: refactor/cleanup, affects: core, affects: webhost, waiting-on: core-review

#4820 Muse Dash: Adding Option to select Goal Song
  worlds/musedash/Options.py
  worlds/musedash/__init__.py
Labels: is: enhancement, waiting-on: core-review

#5135 Tests: only get `__init__.py` tests from test directories
  pytest.ini
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#5189 shapez: Post 3.8 cleanup and small docs rewordings
  worlds/shapez/__init__.py
  worlds/shapez/common/options.py
  worlds/shapez/data/generate.py
  worlds/shapez/docs/datapackage_settings_de.md
  worlds/shapez/docs/datapackage_settings_en.md
  worlds/shapez/docs/de_shapez.md
  worlds/shapez/docs/en_shapez.md
  worlds/shapez/docs/setup_de.md
  worlds/shapez/docs/setup_en.md
  worlds/shapez/items.py
  worlds/shapez/locations.py
  worlds/shapez/regions.py
  worlds/shapez/test/__init__.py
Labels: is: documentation, is: refactor/cleanup, waiting-on: author, waiting-on: core-review

#4898 ALTTP Adjuster: Remove per_slot_randoms
  LttPAdjuster.py
Labels: is: refactor/cleanup, affects: core, waiting-on: world-maintainer, waiting-on: peer-review

#4228 SM: Speed up deepcopy in copy_mixin
  worlds/sm/variaRandomizer/logic/smbool.py
  worlds/sm/variaRandomizer/logic/smboolmanager.py
Labels: is: enhancement, waiting-on: peer-review

#5256 Docs: Don't Suggest `exclude` in `create_items`
  docs/world api.md
Labels: is: documentation

#5162 SMZ3: Fix junk item overflow
  worlds/smz3/__init__.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#5239 ALTTP/SNIC/BHC: Stop using Utils.get_settings()
  SNIClient.py
  worlds/_bizhawk/context.py
  worlds/alttp/Rom.py
Labels: is: bug/fix, waiting-on: peer-review

#3382 Core: hard deprecate per_slot_randoms
  BaseClasses.py
Labels: is: maintenance, affects: core, waiting-on: author, waiting-on: peer-review

#5218 WebHost: turn module discovery dynamic
  WebHostLib/__init__.py
Labels: affects: webhost, waiting-on: peer-review

#5161 Setup: update cert signing process
  setup.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review
