Repository ArchipelagoMW/Archipelago, pull requests merged in 2025-03, with the labels that each got.

#2062 Tests: test that collect and remove have expected behaviour.
  test/general/test_items.py
Labels: is: enhancement, is: refactor/cleanup, affects: core, waiting-on: core-review

#4682 TUNIC: Fix rule for some grass in West Garden
  worlds/tunic/grass.py
Labels: is: bug/fix, waiting-on: core-review

#4691 TUNIC: Update logic for chest in fortress dark area
  worlds/tunic/er_rules.py
  worlds/tunic/rules.py
Labels: is: enhancement, waiting-on: core-review

#4703 Stardew Valley: Fix a logic bug where the Tea Sapling would be considered available without having the recipe
  worlds/stardew_valley/content/vanilla/base.py
  worlds/stardew_valley/logic/logic.py
  worlds/stardew_valley/strings/fruit_tree_names.py
Labels: is: bug/fix, waiting-on: core-review

#3966 LADX: more marin joke text
  worlds/ladx/LADXR/patches/aesthetics.py
  worlds/ladx/LADXR/patches/marin.txt
Labels: is: enhancement, waiting-on: core-review

#3970 LADX: tarins gift improvement
  worlds/ladx/LADXR/locations/startItem.py
  worlds/ladx/Options.py
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4076 TUNIC: Expanded hexagon quest options
  worlds/tunic/__init__.py
  worlds/tunic/options.py
  worlds/tunic/rules.py
Labels: is: enhancement, waiting-on: core-review

#4370 The Witness: The Secret Feature
  worlds/witness/__init__.py
  worlds/witness/data/WitnessLogic.txt
  worlds/witness/data/WitnessLogicExpert.txt
  worlds/witness/data/WitnessLogicVanilla.txt
  worlds/witness/data/WitnessLogicVariety.txt
  worlds/witness/data/settings/easter_eggs.py
  worlds/witness/data/static_logic.py
  worlds/witness/data/utils.py
  worlds/witness/generate_data_file.py
  worlds/witness/hints.py
  worlds/witness/locations.py
  worlds/witness/options.py
  worlds/witness/player_items.py
  worlds/witness/player_logic.py
  worlds/witness/regions.py
  worlds/witness/ruff.toml
  worlds/witness/rules.py
  worlds/witness/test/test_easter_egg_shuffle.py
Labels: is: enhancement, waiting-on: core-review

#4700 DS3: Remove the outdated French translation of the setup docs
  worlds/dark_souls_3/__init__.py
  worlds/dark_souls_3/docs/setup_fr.md
Labels: is: documentation, waiting-on: core-review

#4690 Update links
  docs/tests.md
  docs/world api.md
Labels: is: bug/fix, is: documentation, waiting-on: core-review

#4696 The Witness: Move local_items code earlier
  worlds/witness/__init__.py
  worlds/witness/player_items.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4445 LADX: Autotracker improvements
  LinksAwakeningClient.py
  worlds/ladx/GpsTracker.py
  worlds/ladx/ItemTracker.py
  worlds/ladx/Tracker.py
  worlds/ladx/TrackerConsts.py
Labels: is: enhancement, waiting-on: core-review

#4554 Muse Dash: Update song list to Cosmic Radio.
  worlds/musedash/MuseDashCollection.py
  worlds/musedash/MuseDashData.py
Labels: is: enhancement, waiting-on: core-review

#4547 KH2: client optimizations and some more qol
  worlds/kh2/Client.py
  worlds/kh2/OpenKH.py
Labels: is: enhancement, waiting-on: core-review

#4634 TUNIC: Add exception handling to deal with duplicate apworlds
  worlds/tunic/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4704 Fix dungeon counter options.
  worlds/alttp/Rom.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#3187 Pokemon Emerald: Some dexsanity locations contribute evolution items
  worlds/pokemon_emerald/data.py
Labels: is: enhancement, waiting-on: peer-review

#4702 BizHawkClient: Store seed name sent by the server for clients to check
  worlds/_bizhawk/context.py
Labels: is: bug/fix, waiting-on: peer-review

#3565 id Tech 1 games: Customizable ammo capacity
  worlds/doom_1993/Items.py
  worlds/doom_1993/Options.py
  worlds/doom_1993/__init__.py
  worlds/doom_ii/Items.py
  worlds/doom_ii/Options.py
  worlds/doom_ii/__init__.py
  worlds/heretic/Items.py
  worlds/heretic/Options.py
  worlds/heretic/Rules.py
  worlds/heretic/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#4374 Stardew Valley: Move progressive tool options handling in features
  worlds/stardew_valley/content/__init__.py
  worlds/stardew_valley/content/feature/__init__.py
  worlds/stardew_valley/content/feature/tool_progression.py
  worlds/stardew_valley/content/game_content.py
  worlds/stardew_valley/early_items.py
  worlds/stardew_valley/items.py
  worlds/stardew_valley/locations.py
  worlds/stardew_valley/logic/mine_logic.py
  worlds/stardew_valley/logic/tool_logic.py
  worlds/stardew_valley/mods/logic/item_logic.py
  worlds/stardew_valley/options/options.py
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/strings/entrance_names.py
  worlds/stardew_valley/strings/region_names.py
  worlds/stardew_valley/test/TestGeneration.py
  worlds/stardew_valley/test/TestOptionFlags.py
  worlds/stardew_valley/test/TestOptions.py
  worlds/stardew_valley/test/TestWalnutsanity.py
  worlds/stardew_valley/test/content/__init__.py
  worlds/stardew_valley/test/content/feature/TestToolProgression.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4489 TUNIC: Breakable Shuffle
  worlds/tunic/__init__.py
  worlds/tunic/breakables.py
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
  worlds/tunic/items.py
  worlds/tunic/locations.py
  worlds/tunic/options.py
Labels: is: enhancement, waiting-on: core-review

#4559 Timespinner: support new flags and settings from the randomizer
  WebHostLib/static/styles/timespinnerTracker.css
  WebHostLib/templates/tracker__Timespinner.html
  WebHostLib/tracker.py
  worlds/timespinner/Items.py
  worlds/timespinner/Locations.py
  worlds/timespinner/LogicExtensions.py
  worlds/timespinner/Options.py
  worlds/timespinner/PreCalculatedWeights.py
  worlds/timespinner/Regions.py
  worlds/timespinner/__init__.py
Labels: is: enhancement, affects: webhost, waiting-on: core-review

#3912 Pokemon Emerald: Randomize rock smash encounters
  worlds/pokemon_emerald/__init__.py
  worlds/pokemon_emerald/data.py
  worlds/pokemon_emerald/data/extracted_data.json
  worlds/pokemon_emerald/pokemon.py
  worlds/pokemon_emerald/regions.py
  worlds/pokemon_emerald/rom.py
  worlds/pokemon_emerald/util.py
Labels: is: enhancement, waiting-on: peer-review

#4002 Blasphemous: Restrict right half of map start locations to hard difficulty only
  worlds/blasphemous/Locations.py
  worlds/blasphemous/__init__.py
  worlds/blasphemous/test/test_starting_locations.py
Labels: is: enhancement, waiting-on: peer-review

#4321 Super Mario 64: ItemData class and tables
  worlds/sm64ex/Items.py
  worlds/sm64ex/Options.py
  worlds/sm64ex/Rules.py
  worlds/sm64ex/__init__.py
Labels: is: enhancement, is: refactor/cleanup, waiting-on: peer-review

#4372 Stardew Valley: Move filler pool generation out of the world class
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/items.py
  worlds/stardew_valley/options/worlds_group.py
  worlds/stardew_valley/test/assertion/goal_assert.py
  worlds/stardew_valley/test/assertion/option_assert.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4409 MLSS: Add new goal + Update basepatch to standalone equivalent
  worlds/mlss/Client.py
  worlds/mlss/Data.py
  worlds/mlss/Items.py
  worlds/mlss/Locations.py
  worlds/mlss/Names/LocationName.py
  worlds/mlss/Options.py
  worlds/mlss/Regions.py
  worlds/mlss/Rom.py
  worlds/mlss/Rules.py
  worlds/mlss/StateLogic.py
  worlds/mlss/__init__.py
  worlds/mlss/data/basepatch.bsdiff
Labels: is: bug/fix, is: enhancement, waiting-on: core-review

#4711 Core: fix pickling plando texts
  Utils.py
Labels: affects: core, waiting-on: peer-review

#4714 TUNIC: Add another alias for ladders
  worlds/tunic/items.py
Labels: is: bug/fix, waiting-on: peer-review

#4716 Band-aid Linux Build breaking with the release of PyGObject 3.52.1
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: is: bug/fix, affects: core, waiting-on: core-review

#4402 The Messenger: Transition Shuffle
  worlds/messenger/__init__.py
  worlds/messenger/connections.py
  worlds/messenger/options.py
  worlds/messenger/portals.py
  worlds/messenger/subclasses.py
  worlds/messenger/test/test_entrance_randomization.py
  worlds/messenger/transitions.py
Labels: is: enhancement, waiting-on: core-review

#4494 AHiT: Rework Subcon Forest Boss Arena, Boss Firewall and YCHE logic
  worlds/ahit/Locations.py
  worlds/ahit/Regions.py
  worlds/ahit/Rules.py
Labels: is: bug/fix, waiting-on: peer-review

#4670 Pokémon R/B: Fix Rock Tunnel B1F randomization
  worlds/pokemon_rb/rock_tunnel.py
Labels: is: bug/fix, waiting-on: peer-review

#4512 Stardew valley: Fixed Aurora Vineyard tablet logic
  worlds/stardew_valley/data/items.csv
  worlds/stardew_valley/early_items.py
  worlds/stardew_valley/items.py
  worlds/stardew_valley/locations.py
  worlds/stardew_valley/logic/bundle_logic.py
  worlds/stardew_valley/logic/crafting_logic.py
  worlds/stardew_valley/logic/quest_logic.py
  worlds/stardew_valley/logic/relationship_logic.py
  worlds/stardew_valley/mods/logic/quests_logic.py
  worlds/stardew_valley/mods/logic/sve_logic.py
  worlds/stardew_valley/options/options.py
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/strings/ap_names/mods/mod_items.py
  worlds/stardew_valley/test/mods/TestMods.py
  worlds/stardew_valley/test/mods/TestSVE.py
Labels: is: bug/fix, waiting-on: peer-review

#4646 OOT: Have beehives that only appear as a child not be in logic if only adult can break beehives
  worlds/oot/data/LogicHelpers.json
  worlds/oot/data/World/Overworld.json
Labels: is: bug/fix, waiting-on: peer-review

#4720 The Messenger: fix some transition plando issues
  worlds/messenger/options.py
  worlds/messenger/transitions.py
Labels: is: bug/fix, waiting-on: peer-review

#4734 CVCotM: Clarify the Wii U VC version is unsupported
  worlds/cvcotm/__init__.py
  worlds/cvcotm/docs/en_Castlevania - Circle of the Moon.md
  worlds/cvcotm/docs/setup_en.md
  worlds/cvcotm/rom.py
Labels: is: documentation, waiting-on: peer-review

#4415 The Witness: Change Regions, Areas and Connections from Dict[str, Any] to dataclasses&NamedTuples
  worlds/witness/data/definition_classes.py
  worlds/witness/data/static_locations.py
  worlds/witness/data/static_logic.py
  worlds/witness/data/utils.py
  worlds/witness/entity_hunt.py
  worlds/witness/generate_data_file.py
  worlds/witness/hints.py
  worlds/witness/options.py
  worlds/witness/player_logic.py
  worlds/witness/regions.py
  worlds/witness/rules.py
Labels: is: refactor/cleanup, waiting-on: other

#4671 Core/Various Worlds: Fix crash/freeze with unicode characters
  AdventureClient.py
  CommonClient.py
  FF1Client.py
  LinksAwakeningClient.py
  MMBN3Client.py
  MultiServer.py
  OoTClient.py
  SNIClient.py
  UndertaleClient.py
  WargrooveClient.py
  Zelda1Client.py
  worlds/_bizhawk/context.py
  worlds/ahit/Client.py
  worlds/factorio/Client.py
  worlds/kh1/Client.py
  worlds/kh2/Client.py
  worlds/sc2/Client.py
  worlds/zillion/client.py
  worlds/zork_grand_inquisitor/client.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#4398 Docs: SC2 - Add a description of mission order and the impact of collect on a SC2 world
  worlds/sc2/docs/en_Starcraft 2.md
  worlds/sc2/docs/fr_Starcraft 2.md
  worlds/sc2/docs/setup_en.md
  worlds/sc2/docs/setup_fr.md
Labels: is: documentation, waiting-on: core-review

#4555 Webhost: Update random option wording on webhost
  WebHostLib/templates/playerOptions/macros.html
Labels: is: documentation, affects: webhost, waiting-on: core-review

#4614 Webhost: Update text for options you can't modify on webhost
  WebHostLib/templates/weightedOptions/weightedOptions.html
Labels: is: documentation, affects: webhost, waiting-on: core-review

#4736 OoT: Remove spanish setup guide
  worlds/oot/__init__.py
Labels: is: documentation, waiting-on: peer-review

#4679 Core: Generic ER fails in stage 1 when the last available target is an indirect conditioned dead end
  entrance_rando.py
  test/general/test_entrance_rando.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#4330 Pokémon R/B: Allow generating with all items linked
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/regions.py
Labels: is: enhancement, waiting-on: author, waiting-on: peer-review

#4732 Core: update websockets
  CommonClient.py
  MultiServer.py
  WebHostLib/customserver.py
  requirements.txt
Labels: is: maintenance, affects: core, affects: webhost, waiting-on: peer-review

#4744 CI: pin some actions
  .github/workflows/ctest.yml
Labels: waiting-on: peer-review

#4648 Tests: unroll 2 player gen, add parametrization helper, add docs
  .github/pyright-config.json
  docs/tests.md
  test/multiworld/test_multiworlds.py
  test/param.py
Labels: is: enhancement, waiting-on: core-review

#4581 Celeste 64: v1.3 Content Update
  worlds/celeste64/CHANGELOG.md
  worlds/celeste64/Items.py
  worlds/celeste64/Locations.py
  worlds/celeste64/Names/ItemName.py
  worlds/celeste64/Names/LocationName.py
  worlds/celeste64/Names/RegionName.py
  worlds/celeste64/Options.py
  worlds/celeste64/Regions.py
  worlds/celeste64/Rules.py
  worlds/celeste64/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4706 LADX: Add more specific "item icon guessing" support for some games
  worlds/ladx/ItemIconGuessing.py
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: author

#4715 Options: Add a column for player ID to --csv_output
  Options.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4749 The Messenger: fix corrupted future rule
  worlds/messenger/rules.py
Labels: is: bug/fix, waiting-on: core-review

#4753 Revert "Core: update websockets"
  CommonClient.py
  MultiServer.py
  WebHostLib/customserver.py
  requirements.txt
Labels: is: bug/fix, is: maintenance, affects: core, affects: release/blocker, affects: webhost, waiting-on: core-review

#4747 Pokemon Emerald: Update changelog
  worlds/pokemon_emerald/CHANGELOG.md
Labels: is: documentation, waiting-on: peer-review

#4748 The Messenger: add display names to the plando options
  worlds/messenger/options.py
Labels: is: bug/fix, is: documentation, waiting-on: core-review

#4725 [ALttP] Don't crash generation if sprite paths don't exist
  worlds/alttp/Rom.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#4745 Hollow Knight: Include Lumafly links to install mods
  worlds/hk/docs/setup_en.md
Labels: is: documentation, is: enhancement, waiting-on: core-review

#4752 Civ6: Use AutoPatchRegister to make patch downloadable on webhost
  worlds/civ_6/Container.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4757 Stop ladx from spamming location checks
  LinksAwakeningClient.py
Labels: waiting-on: peer-review

#4663 SA2B: v2.4 - Minigame Madness
  worlds/sa2b/AestheticData.py
  worlds/sa2b/CHANGELOG.md
  worlds/sa2b/GateBosses.py
  worlds/sa2b/Items.py
  worlds/sa2b/Locations.py
  worlds/sa2b/Missions.py
  worlds/sa2b/Names/ItemName.py
  worlds/sa2b/Names/LocationName.py
  worlds/sa2b/Options.py
  worlds/sa2b/Presets.py
  worlds/sa2b/Regions.py
  worlds/sa2b/Rules.py
  worlds/sa2b/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#4383 Stardew Valley: Move all the goal logic into its own file
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/logic/cooking_logic.py
  worlds/stardew_valley/logic/crafting_logic.py
  worlds/stardew_valley/logic/fishing_logic.py
  worlds/stardew_valley/logic/goal_logic.py
  worlds/stardew_valley/logic/has_logic.py
  worlds/stardew_valley/logic/logic.py
  worlds/stardew_valley/logic/shipping_logic.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4758 The Witness: Make sure the 2025 April Fools feature does not go live with RC3
  worlds/witness/data/utils.py
Labels: is: maintenance, affects: release/blocker, waiting-on: core-review

#4763 The Witness: Bump Required Client Version to 0.6.0
  worlds/witness/__init__.py
Labels: is: maintenance, affects: release/blocker, waiting-on: core-review

#4746 Core: Allow and require user-provided target name when splitting 1-way entrances for GER
  entrance_rando.py
  test/general/test_entrance_rando.py
Labels: is: enhancement, affects: core, affects: release/blocker, waiting-on: peer-review

#4458 The Wind Waker: Implement New Game
  .gitignore
  README.md
  docs/CODEOWNERS
  worlds/tww/Items.py
  worlds/tww/Locations.py
  worlds/tww/Macros.py
  worlds/tww/Options.py
  worlds/tww/Presets.py
  worlds/tww/Rules.py
  worlds/tww/TWWClient.py
  worlds/tww/__init__.py
  worlds/tww/assets/icon.ico
  worlds/tww/assets/icon.png
  worlds/tww/docs/en_The Wind Waker.md
  worlds/tww/docs/setup_en.md
  worlds/tww/randomizers/Charts.py
  worlds/tww/randomizers/Dungeons.py
  worlds/tww/randomizers/Entrances.py
  worlds/tww/randomizers/ItemPool.py
  worlds/tww/randomizers/RequiredBosses.py
  worlds/tww/requirements.txt
Labels: is: new game, waiting-on: peer-review

#4731 Core: update various requirements
  WebHostLib/requirements.txt
  requirements.txt
Labels: is: maintenance, affects: core, affects: webhost, waiting-on: peer-review

#4633 Core: Add a test that checks all registered patches matches the name of a registered world
  test/general/test_patches.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4349 Stardew Valley: Move test option presets to their own file
  worlds/stardew_valley/options/__init__.py
  worlds/stardew_valley/test/TestFill.py
  worlds/stardew_valley/test/TestItems.py
  worlds/stardew_valley/test/TestLogic.py
  worlds/stardew_valley/test/TestNumberLocations.py
  worlds/stardew_valley/test/TestOptions.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/mods/TestMods.py
  worlds/stardew_valley/test/options/presets.py
  worlds/stardew_valley/test/performance/TestPerformance.py
  worlds/stardew_valley/test/rules/TestStateRules.py
  worlds/stardew_valley/test/stability/StabilityOutputScript.py
  worlds/stardew_valley/test/stability/TestUniversalTracker.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4771 LADX: fix for unconnected entrances in other worlds
  worlds/ladx/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4707 Lingo: Add painting display names
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
  worlds/lingo/utils/validate_config.rb
Labels: is: enhancement, waiting-on: peer-review

#4768 Factorio: ensure increment is int
  worlds/factorio/Client.py
  worlds/factorio/__init__.py
Labels: waiting-on: peer-review

#4770 SA2B - v2.4 Logic Fixes
  worlds/sa2b/CHANGELOG.md
  worlds/sa2b/Rules.py
  worlds/sa2b/docs/setup_en.md
Labels: is: bug/fix, waiting-on: core-review

#4760 TUNIC: Update swamp and atoll fuse logic with weaponry
  worlds/tunic/er_rules.py
  worlds/tunic/rules.py
Labels: is: bug/fix, waiting-on: peer-review

#4776 Muse Dash: Update docs to recommend MelonLoader 0.7.0 rather than 0.6.1
  worlds/musedash/docs/setup_en.md
  worlds/musedash/docs/setup_es.md
Labels: is: documentation, waiting-on: core-review

#4677 id Tech 1 games: Logic updates (Feb '25)
  worlds/doom_1993/Locations.py
  worlds/doom_1993/Regions.py
  worlds/doom_1993/Rules.py
  worlds/doom_1993/__init__.py
  worlds/doom_ii/Items.py
  worlds/doom_ii/Locations.py
  worlds/doom_ii/Maps.py
  worlds/doom_ii/Regions.py
  worlds/doom_ii/Rules.py
  worlds/doom_ii/__init__.py
  worlds/heretic/Items.py
  worlds/heretic/Locations.py
  worlds/heretic/Maps.py
  worlds/heretic/Regions.py
  worlds/heretic/Rules.py
  worlds/heretic/__init__.py
Labels: is: bug/fix, is: enhancement, waiting-on: core-review

#4779 SA2B: Fix critical typo
  worlds/sa2b/Rules.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review
