Repository ArchipelagoMW/Archipelago, pull requests merged in 2025-04, with the labels that each got.

#4778 kvui: Fix hint tab formatting regression
  kvui.py
Labels: affects: core, waiting-on: peer-review

#4775 Muse Dash; Update Song List to Muse Dash Legend.
  worlds/musedash/MuseDashCollection.py
  worlds/musedash/MuseDashData.py
Labels: is: enhancement, waiting-on: core-review

#4755 Civ6: Sanitize player/item values before they go in the XML
  worlds/civ_6/Container.py
Labels: is: bug/fix, waiting-on: peer-review

#4737 MLSS: Fix issue with door opening earlier than intended
  worlds/mlss/data/basepatch.bsdiff
Labels: is: bug/fix, waiting-on: peer-review

#4686 Pokemon Emerald: Fix pre-fill problems
  worlds/pokemon_emerald/CHANGELOG.md
  worlds/pokemon_emerald/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4786 FFMQ: fix remote code execution
  worlds/ffmq/__init__.py
Labels: waiting-on: peer-review

#4728 CV64: Fix some unrandomized locations containing unintended items on specific settings
  worlds/cv64/rom.py
Labels: is: bug/fix, waiting-on: peer-review

#4785 Launcher: Remove an unnecessary global
  worlds/LauncherComponents.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4793 Pokemon Emerald: Fix Changelog
  worlds/pokemon_emerald/CHANGELOG.md
Labels: waiting-on: peer-review

#4791 CommonClient: Fix crash when connecting to a server when using nogui
  CommonClient.py
Labels: affects: core, waiting-on: peer-review

#4741 TUNIC: Note Death Link and Trap Link in-game toggles on Game Info page
  worlds/tunic/docs/en_TUNIC.md
Labels: is: documentation, waiting-on: peer-review

#4787 Core: increment version
  Utils.py
Labels: affects: core, waiting-on: peer-review

#4802 Pokemon Red/Blue: Set allow_partial_entrances to true when building a state for ER
  worlds/pokemon_rb/regions.py
Labels: waiting-on: peer-review

#4642 WebHost: Standardize some 404 redirects
  WebHostLib/misc.py
  WebHostLib/options.py
  WebHostLib/static/assets/gameInfo.js
  WebHostLib/static/assets/tutorial.js
  worlds/alttp/__init__.py
  worlds/aquaria/__init__.py
  worlds/clique/__init__.py
  worlds/dlcquest/__init__.py
  worlds/ffmq/__init__.py
  worlds/oot/__init__.py
  worlds/sc2/__init__.py
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#4693 Core: make accessibility_corrections only state.remove if the location was collected
  Fill.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4808 core: increment version
  Utils.py
Labels: affects: core, waiting-on: peer-review

#4788 TUNIC: Error message in the spot that UT errors at if you have an old APWorld
  worlds/tunic/er_scripts.py
Labels: is: bug/fix, is: documentation, waiting-on: core-review

#4151 Core: Handle integer arguments in player names gracefully
  Generate.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4805 Additional detail and organization to adding games.md
  docs/adding games.md
Labels: is: documentation

#4729 Docs: Include that DeathLink cause can be an empty string
  docs/network protocol.md
Labels: is: documentation, waiting-on: core-review

#4799 Clients: stop updating datapackage in persistent_storage
  CommonClient.py
Labels: affects: core, waiting-on: peer-review

#4735 DLC Quest Bug Fix more item then location non existing start inventory
  worlds/dlcquest/Items.py
  worlds/dlcquest/__init__.py
Labels: is: bug/fix, waiting-on: author, waiting-on: core-review

#4800 Stardew Valley: Fix minor grammatical issues
  worlds/stardew_valley/options/options.py
Labels: is: documentation, waiting-on: core-review

#4701 GER: Only consider usable exits when calculating dead-ends
  entrance_rando.py
  test/general/test_entrance_rando.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#4059 Core: Add spoiler-only output mode
  Generate.py
  Main.py
  WebHostLib/generate.py
Labels: is: enhancement, affects: core, affects: webhost, waiting-on: core-review

#4583 Core: Improve iteration speed of Region.Register objects
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4709 Yoshi's Island: Fix Piece of Luigi Goal not registering upon receiving final piece
  worlds/yoshisisland/Client.py
Labels: is: enhancement, waiting-on: peer-review

#4726 CVCotM: Fix DeathLinks sent by a different instance of the same slot not being received.
  worlds/cvcotm/client.py
Labels: is: bug/fix, waiting-on: peer-review

#4807 The Witness: Option tooltip clarifications
  worlds/witness/options.py
Labels: is: documentation, waiting-on: core-review

#4535 Core: Pass maximum exploration states in distribute_items_restrictive
  Fill.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4274 Core: Remove Location.__hash__ for faster generation
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4666 MultiServer Extend datastore "update" operation to work on lists as well, acting as a pseudo "set union".
  MultiServer.py
  docs/network protocol.md
Labels: is: enhancement, affects: core, waiting-on: core-review

#3974 Core: Prevent worlds from using LogicMixin incorrectly (having class variables without an init_mixin)
  worlds/AutoWorld.py
Labels: is: refactor/cleanup, affects: core, waiting-on: peer-review

#3401 Core: add an is_event property to Item to match the one on Location
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4810 Adventure: Set Victory Condition Earlier
  worlds/adventure/__init__.py
Labels: is: bug/fix

#4750 Core: Made want_reply follow the specs in the docs
  MultiServer.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4355 LADX: more tracker support
  LinksAwakeningClient.py
  worlds/ladx/Tracker.py
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#3934 Core: KivyMD and Launcher overhaul
  Launcher.py
  LinksAwakeningClient.py
  WargrooveClient.py
  data/client.kv
  data/launcher.kv
  kvui.py
  requirements.txt
  setup.py
  worlds/AutoSNIClient.py
  worlds/LauncherComponents.py
  worlds/sc2/ClientGui.py
Labels: is: enhancement, is: refactor/cleanup, affects: core, waiting-on: peer-review

#4809 Docs: Remove false claim that rules can be set in generate_basic
  docs/world api.md
Labels: is: documentation, waiting-on: peer-review

#4454 WebHost: update cert file daily in customserver.py
  WebHostLib/customserver.py
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#4821 SoE: remove use of deprecated Utils.get_options()
  worlds/soe/patch.py
Labels: waiting-on: peer-review

#4822 Lingo: Mark some items as ProgUseful
  worlds/lingo/items.py
Labels: is: enhancement, waiting-on: peer-review

#4815 Core: post-KivyMD cleanup
  Launcher.py
  data/client.kv
  data/launcher.kv
  kvui.py
Labels: affects: core, waiting-on: peer-review

#4825 Lingo: Add "shuffle_postgame" flag to slot data
  worlds/lingo/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#4790 CI: ignore F824
  .github/workflows/analyze-modified-files.yml
Labels: waiting-on: peer-review

#4826 Wind Waker: Don't collect nonprogression
  worlds/tww/randomizers/Dungeons.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#4798 AHIT: Add start_inventory_from_pool and get_filler_item_name
  worlds/ahit/Options.py
  worlds/ahit/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4239 Stardew Valley: Refactor buildings to use content packs
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/content/__init__.py
  worlds/stardew_valley/content/feature/__init__.py
  worlds/stardew_valley/content/feature/building_progression.py
  worlds/stardew_valley/content/game_content.py
  worlds/stardew_valley/content/mods/tractor.py
  worlds/stardew_valley/content/unpacking.py
  worlds/stardew_valley/content/vanilla/pelican_town.py
  worlds/stardew_valley/data/artisan.py
  worlds/stardew_valley/data/building.py
  worlds/stardew_valley/data/game_item.py
  worlds/stardew_valley/data/harvest.py
  worlds/stardew_valley/data/items.csv
  worlds/stardew_valley/data/requirement.py
  worlds/stardew_valley/data/shop.py
  worlds/stardew_valley/early_items.py
  worlds/stardew_valley/items.py
  worlds/stardew_valley/locations.py
  worlds/stardew_valley/logic/base_logic.py
  worlds/stardew_valley/logic/building_logic.py
  worlds/stardew_valley/logic/cooking_logic.py
  worlds/stardew_valley/logic/goal_logic.py
  worlds/stardew_valley/logic/grind_logic.py
  worlds/stardew_valley/logic/logic.py
  worlds/stardew_valley/logic/money_logic.py
  worlds/stardew_valley/logic/relationship_logic.py
  worlds/stardew_valley/logic/requirement_logic.py
  worlds/stardew_valley/logic/source_logic.py
  worlds/stardew_valley/mods/logic/buildings_logic.py
  worlds/stardew_valley/mods/logic/mod_logic.py
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/strings/building_names.py
  worlds/stardew_valley/test/TestBooksanity.py
  worlds/stardew_valley/test/TestCrops.py
  worlds/stardew_valley/test/TestFarmType.py
  worlds/stardew_valley/test/TestGeneration.py
  worlds/stardew_valley/test/TestLogic.py
  worlds/stardew_valley/test/TestOptionFlags.py
  worlds/stardew_valley/test/TestWalnutsanity.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/content/__init__.py
  worlds/stardew_valley/test/long/TestOptionsLong.py
  worlds/stardew_valley/test/mods/TestMods.py
  worlds/stardew_valley/test/options/presets.py
  worlds/stardew_valley/test/rules/TestArcades.py
  worlds/stardew_valley/test/rules/TestBooks.py
  worlds/stardew_valley/test/rules/TestBuildings.py
  worlds/stardew_valley/test/rules/TestBundles.py
  worlds/stardew_valley/test/rules/TestCookingRecipes.py
  worlds/stardew_valley/test/rules/TestCraftingRecipes.py
  worlds/stardew_valley/test/rules/TestDonations.py
  worlds/stardew_valley/test/rules/TestFishing.py
  worlds/stardew_valley/test/rules/TestFriendship.py
  worlds/stardew_valley/test/rules/TestShipping.py
  worlds/stardew_valley/test/rules/TestSkills.py
  worlds/stardew_valley/test/rules/TestTools.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4818 LADX: Stop using Utils.get_options
  LinksAwakeningClient.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4536 Core: Speed up fill_restrictive item_pool pop loop
  Fill.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4847 CI: update action ubuntu build runners to 22.04
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: waiting-on: peer-review

#4852 WebHost: Remove styleController.js and replace functionality with HTML/CSS.
  WebHostLib/static/assets/gameInfo.js
  WebHostLib/static/assets/hostGame.js
  WebHostLib/static/assets/styleController.js
  WebHostLib/static/assets/tutorial.js
  WebHostLib/static/styles/globalStyles.css
  WebHostLib/templates/404.html
  WebHostLib/templates/hostGame.html
  WebHostLib/templates/landing.html
  WebHostLib/templates/pageWrapper.html
  WebHostLib/templates/seedError.html
  WebHostLib/templates/startPlaying.html
  WebHostLib/templates/viewSeed.html
  WebHostLib/templates/waitSeed.html
Labels: is: refactor/cleanup, affects: webhost, waiting-on: core-review

#4843 WebHost: use JS to refresh waitSeed if scripting is enabled
  WebHostLib/templates/waitSeed.html
Labels: affects: webhost, waiting-on: peer-review

#4835 Pokemon Red and Blue PC Item fix
  worlds/pokemon_rb/regions.py
Labels: is: bug/fix, waiting-on: peer-review

#4827 SC2 Client: Fix missing mission tooltip after KivyMD switch
  worlds/sc2/ClientGui.py
Labels: is: bug/fix, is: maintenance, waiting-on: peer-review

#4854 Lingo: Removed unnecessary "global" keywords
  worlds/lingo/items.py
  worlds/lingo/locations.py
  worlds/lingo/utils/pickle_static_data.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4855 Webhost: Fix Sphere Tracker crashing on item links
  BaseClasses.py
Labels: affects: core, waiting-on: core-review

#4705 Doc: Add FAQ section for corrupted metadata debugging
  docs/apworld_dev_faq.md
Labels: is: documentation, waiting-on: core-review

#4797 Civ 6: Update setup documentation to account for common pitfalls
  worlds/civ_6/docs/en_Civilization VI.md
  worlds/civ_6/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#4816 Update to adding games.md based on kivymd
  docs/adding games.md
Labels: is: documentation, waiting-on: peer-review

#4812 Stardew Valley: Fix some determinism issues with entrance rando when playing with mods
  worlds/stardew_valley/content/__init__.py
  worlds/stardew_valley/region_classes.py
  worlds/stardew_valley/regions.py
  worlds/stardew_valley/test/stability/StabilityOutputScript.py
Labels: is: bug/fix, waiting-on: core-review

#4859 MLSS: Fix generation error with emblem hunt and no digspots
  worlds/mlss/Rules.py
Labels: is: bug/fix

#4860 [DS3] Mark a lizard location that was previously not annotated
  worlds/dark_souls_3/Locations.py
Labels: is: bug/fix, waiting-on: peer-review

#4846 Factorio: fix FloatRanges writing effectively nil into the mod
  worlds/factorio/Options.py
Labels: is: bug/fix, waiting-on: peer-review

#4762 Stardew Valley: Use classvar_matrix to split tests
  worlds/stardew_valley/test/TestOptions.py
  worlds/stardew_valley/test/TestRandomWorlds.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/long/TestModsLong.py
  worlds/stardew_valley/test/long/TestOptionsLong.py
  worlds/stardew_valley/test/long/TestPreRolledRandomness.py
  worlds/stardew_valley/test/long/TestRandomWorlds.py
  worlds/stardew_valley/test/long/option_names.py
  worlds/stardew_valley/test/mods/TestMods.py
  worlds/stardew_valley/test/options/option_names.py
  worlds/stardew_valley/test/stability/TestUniversalTracker.py
Labels: waiting-on: peer-review

#4862 DLC Quest - Skip two long tests in the main pipeline
  worlds/dlcquest/test/TestOptionsLong.py
  worlds/dlcquest/test/__init__.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4872 Doc: fix parse_yaml in adding games.md
  docs/adding games.md
Labels: is: documentation

#3847 Terraria: 1.4.4 and Calamity support
  worlds/terraria/Checks.py
  worlds/terraria/Options.py
  worlds/terraria/Rewards.dsv
  worlds/terraria/Rules.dsv
  worlds/terraria/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#4876 Core: Post-KivyMD cleanup 2 and enhancements
  Launcher.py
  data/client.kv
  data/launcher.kv
  kvui.py
Labels: affects: core, waiting-on: peer-review

#4885 HK: fix docs whitespace
  worlds/hk/docs/setup_en.md
  worlds/hk/docs/setup_pt_br.md
Labels: is: documentation, waiting-on: peer-review

#4857 Webhost: add link to new session page
  WebHostLib/templates/userContent.html
Labels: affects: webhost, waiting-on: core-review

#4889 Webhost: fix get_seeds api endpoint
  WebHostLib/api/user.py
Labels: affects: webhost, waiting-on: peer-review

#4883 Stardew Valley: Precollect building items in deterministic order
  worlds/stardew_valley/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4451 Core: require clients to support overlapping IDs
  MultiServer.py
  test/hosting/client.py
Labels: is: maintenance, affects: core, waiting-on: core-review

#4013 Core: no longer log ID ranges on generate
  Main.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4465 [LttP] Add keydrop locations to location groups
  worlds/alttp/__init__.py
Labels: is: enhancement, waiting-on: world-maintainer

#1960 LTTP: Rip Lttp specific entrance code out of core and use Region helpers
  BaseClasses.py
  worlds/alttp/OverworldGlitchRules.py
  worlds/alttp/Regions.py
  worlds/alttp/Rules.py
  worlds/alttp/SubClasses.py
  worlds/alttp/UnderworldGlitchRules.py
  worlds/pokemon_rb/regions.py
Labels: is: refactor/cleanup, affects: core, waiting-on: peer-review

#4134 LTTP: Update to options API
  worlds/alttp/Bosses.py
  worlds/alttp/Dungeons.py
  worlds/alttp/EntranceShuffle.py
  worlds/alttp/ItemPool.py
  worlds/alttp/Items.py
  worlds/alttp/Options.py
  worlds/alttp/OverworldGlitchRules.py
  worlds/alttp/Rom.py
  worlds/alttp/Rules.py
  worlds/alttp/Shops.py
  worlds/alttp/StateHelpers.py
  worlds/alttp/UnderworldGlitchRules.py
  worlds/alttp/__init__.py
  worlds/alttp/test/dungeons/TestDungeon.py
  worlds/alttp/test/inverted/TestInverted.py
  worlds/alttp/test/inverted/TestInvertedBombRules.py
  worlds/alttp/test/inverted_minor_glitches/TestInvertedMinor.py
  worlds/alttp/test/inverted_owg/TestInvertedOWG.py
  worlds/alttp/test/minor_glitches/TestMinor.py
  worlds/alttp/test/options/TestOpenPyramid.py
  worlds/alttp/test/owg/TestVanillaOWG.py
  worlds/alttp/test/vanilla/TestVanilla.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4895 Unittests: fix world unittests with unittest module
  test/worlds/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#4901 LttP: fix generation if other games are involved
  worlds/alttp/Rom.py
Labels: waiting-on: peer-review

#4863 Launcher: Add search box
  Launcher.py
  data/launcher.kv
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4903 kvui: fix kwargs on ResizableTextField and ImageButton
  kvui.py
Labels: affects: core, waiting-on: peer-review

#4893 Checksfinder: Fix the last remnant of outdated game description
  worlds/checksfinder/docs/en_ChecksFinder.md
Labels: is: bug/fix, is: documentation, waiting-on: core-review

#4777 Launcher: Update header docstring
  Launcher.py
Labels: is: documentation, affects: core, waiting-on: core-review

#4780 Zillion: some code cleaning
  worlds/zillion/__init__.py
  worlds/zillion/client.py
  worlds/zillion/gen_data.py
  worlds/zillion/id_maps.py
  worlds/zillion/logic.py
  worlds/zillion/options.py
  worlds/zillion/test/TestGoal.py
  worlds/zillion/test/TestOptions.py
Labels: is: refactor/cleanup, waiting-on: core-review, waiting-on: peer-review

#4866 Tests: Don't use `type` as `Callable`
  test/general/test_entrance_rando.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4869 KH2 Update Docs
  worlds/kh2/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#4833 Stardew Valley: Make bus and boat require money
  worlds/stardew_valley/logic/money_logic.py
  worlds/stardew_valley/rules.py
Labels: is: enhancement, waiting-on: core-review

#4861 BRC: Update setup guide
  worlds/bomb_rush_cyberfunk/docs/setup_en.md
Labels: is: documentation, waiting-on: peer-review

#4871 Docs: Update worlds/kh2/docs/setup_en.md
  worlds/kh2/docs/setup_en.md
Labels: is: documentation, waiting-on: peer-review

#4899 MM2: fix invalid weakness failsafe and refactor weakness tests
  worlds/mm2/rules.py
  worlds/mm2/test/test_weakness.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4727 CV64: Some DeathLink adjustments
  worlds/cv64/client.py
Labels: is: bug/fix, waiting-on: peer-review

#4873 TUNIC: Fix UT issue with fewer shops option
  worlds/tunic/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4320 Stardew Valley: Refactor animals to use content packs
  worlds/stardew_valley/content/game_content.py
  worlds/stardew_valley/content/unpacking.py
  worlds/stardew_valley/content/vanilla/ginger_island.py
  worlds/stardew_valley/content/vanilla/the_farm.py
  worlds/stardew_valley/data/animal.py
  worlds/stardew_valley/data/bundle_data.py
  worlds/stardew_valley/data/museum_data.py
  worlds/stardew_valley/logic/animal_logic.py
  worlds/stardew_valley/logic/festival_logic.py
  worlds/stardew_valley/logic/logic.py
  worlds/stardew_valley/logic/logic_and_mods_design.md
  worlds/stardew_valley/logic/source_logic.py
  worlds/stardew_valley/strings/animal_names.py
  worlds/stardew_valley/strings/animal_product_names.py
  worlds/stardew_valley/strings/metal_names.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4905 LttP: increase gen rate of pedestal goal with limited rupee pool
  worlds/alttp/ItemPool.py
Labels: is: bug/fix, waiting-on: core-review

#4874 MultiServer.py: Another Hint Priority + Item Links bug oh boy
  MultiServer.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#3284 Core, all worlds: Hard-deprecate old options API (by August 10th 2024)
  BaseClasses.py
  worlds/AutoWorld.py
Labels: is: maintenance, affects: core, waiting-on: other

#4751 Core: print both world source paths in case of conflict
  worlds/AutoWorld.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4908 TUNIC: Rip out code that dealt with plando from pool making new items
  worlds/tunic/__init__.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4910 Lingo: Rework early good items
  worlds/lingo/__init__.py
  worlds/lingo/player_logic.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4653 TUNIC: More varied reserved locations for local_fill option
  worlds/tunic/__init__.py
  worlds/tunic/locations.py
Labels: is: enhancement, waiting-on: peer-review

#4916 Stardew Valley: remove BaseLogic generic so importing mixins is no longer needed
  worlds/stardew_valley/logic/ability_logic.py
  worlds/stardew_valley/logic/action_logic.py
  worlds/stardew_valley/logic/animal_logic.py
  worlds/stardew_valley/logic/arcade_logic.py
  worlds/stardew_valley/logic/artisan_logic.py
  worlds/stardew_valley/logic/base_logic.py
  worlds/stardew_valley/logic/book_logic.py
  worlds/stardew_valley/logic/building_logic.py
  worlds/stardew_valley/logic/bundle_logic.py
  worlds/stardew_valley/logic/combat_logic.py
  worlds/stardew_valley/logic/cooking_logic.py
  worlds/stardew_valley/logic/crafting_logic.py
  worlds/stardew_valley/logic/farming_logic.py
  worlds/stardew_valley/logic/festival_logic.py
  worlds/stardew_valley/logic/fishing_logic.py
  worlds/stardew_valley/logic/gift_logic.py
  worlds/stardew_valley/logic/goal_logic.py
  worlds/stardew_valley/logic/grind_logic.py
  worlds/stardew_valley/logic/harvesting_logic.py
  worlds/stardew_valley/logic/has_logic.py
  worlds/stardew_valley/logic/logic_and_mods_design.md
  worlds/stardew_valley/logic/mine_logic.py
  worlds/stardew_valley/logic/money_logic.py
  worlds/stardew_valley/logic/monster_logic.py
  worlds/stardew_valley/logic/museum_logic.py
  worlds/stardew_valley/logic/pet_logic.py
  worlds/stardew_valley/logic/quality_logic.py
  worlds/stardew_valley/logic/quest_logic.py
  worlds/stardew_valley/logic/received_logic.py
  worlds/stardew_valley/logic/region_logic.py
  worlds/stardew_valley/logic/relationship_logic.py
  worlds/stardew_valley/logic/requirement_logic.py
  worlds/stardew_valley/logic/season_logic.py
  worlds/stardew_valley/logic/shipping_logic.py
  worlds/stardew_valley/logic/skill_logic.py
  worlds/stardew_valley/logic/source_logic.py
  worlds/stardew_valley/logic/special_order_logic.py
  worlds/stardew_valley/logic/time_logic.py
  worlds/stardew_valley/logic/tool_logic.py
  worlds/stardew_valley/logic/traveling_merchant_logic.py
  worlds/stardew_valley/logic/wallet_logic.py
  worlds/stardew_valley/logic/walnut_logic.py
  worlds/stardew_valley/mods/logic/deepwoods_logic.py
  worlds/stardew_valley/mods/logic/elevator_logic.py
  worlds/stardew_valley/mods/logic/item_logic.py
  worlds/stardew_valley/mods/logic/magic_logic.py
  worlds/stardew_valley/mods/logic/quests_logic.py
  worlds/stardew_valley/mods/logic/skills_logic.py
  worlds/stardew_valley/mods/logic/special_orders_logic.py
  worlds/stardew_valley/mods/logic/sve_logic.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4914 MultiServer: import get_settings from the correct module
  MultiServer.py
Labels: affects: core, waiting-on: core-review

#4892 Setup: use sha256 for timestamp server
  setup.py
Labels: is: maintenance, affects: core, affects: release/blocker, waiting-on: peer-review

#4890 Setup: offer the default-on option to clean /lib folder on update
  inno_setup.iss
Labels: is: enhancement, affects: core, affects: release/blocker, waiting-on: peer-review

#4919 Docs: Update comment for create_item in world api.md
  docs/world api.md
Labels: is: documentation, waiting-on: peer-review

#2081 Tests: Test that a world can generate with item links
  test/general/test_items.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3388 Core: Add a function docstring to roll_settings to hopefully prevent the weights fiasco from being repeated
  Generate.py
Labels: is: documentation, affects: core, waiting-on: author, waiting-on: peer-review

#4257 The Witness: Remove first-stage requirements of progressive items from the logic files
  worlds/witness/data/WitnessLogic.txt
  worlds/witness/data/WitnessLogicExpert.txt
  worlds/witness/data/WitnessLogicVanilla.txt
  worlds/witness/data/WitnessLogicVariety.txt
Labels: is: refactor/cleanup, waiting-on: author

#2965 Core: Add Region.add_event
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: author, waiting-on: core-review

#3756 Core: Add "OptionCounter", use it for generic "StartInventory" and Witness "TrapWeights"
  Options.py
  Utils.py
  WebHostLib/options.py
  WebHostLib/templates/playerOptions/macros.html
  WebHostLib/templates/playerOptions/playerOptions.html
  WebHostLib/templates/weightedOptions/macros.html
  WebHostLib/templates/weightedOptions/weightedOptions.html
  docs/options api.md
  test/webhost/test_option_presets.py
  worlds/witness/options.py
  worlds/witness/presets.py
Labels: is: enhancement, affects: core, affects: webhost, waiting-on: core-review

#4918 LttP: make progression health optional
  worlds/alttp/ItemPool.py
Labels: is: bug/fix, waiting-on: core-review

#4920 Lingo: Use OptionCounter for trap_weights
  worlds/lingo/options.py
Labels: is: enhancement, waiting-on: peer-review

#4884 Remove Game: Zork Grand Inquisitor
  README.md
  docs/CODEOWNERS
  worlds/zork_grand_inquisitor/LICENSE
  worlds/zork_grand_inquisitor/__init__.py
  worlds/zork_grand_inquisitor/client.py
  worlds/zork_grand_inquisitor/data/__init__.py
  worlds/zork_grand_inquisitor/data/entrance_rule_data.py
  worlds/zork_grand_inquisitor/data/item_data.py
  worlds/zork_grand_inquisitor/data/location_data.py
  worlds/zork_grand_inquisitor/data/missable_location_grant_conditions_data.py
  worlds/zork_grand_inquisitor/data/region_data.py
  worlds/zork_grand_inquisitor/data_funcs.py
  worlds/zork_grand_inquisitor/docs/en_Zork Grand Inquisitor.md
  worlds/zork_grand_inquisitor/docs/setup_en.md
  worlds/zork_grand_inquisitor/enums.py
  worlds/zork_grand_inquisitor/game_controller.py
  worlds/zork_grand_inquisitor/game_state_manager.py
  worlds/zork_grand_inquisitor/options.py
  worlds/zork_grand_inquisitor/requirements.txt
  worlds/zork_grand_inquisitor/test/__init__.py
  worlds/zork_grand_inquisitor/test/test_access.py
  worlds/zork_grand_inquisitor/test/test_data_funcs.py
  worlds/zork_grand_inquisitor/test/test_locations.py
  worlds/zork_grand_inquisitor/world.py
Labels: is: refactor/cleanup, affects: core, affects: release/blocker, waiting-on: core-review

#4673 Remove Slay the Spire
  README.md
  docs/CODEOWNERS
  docs/network diagram/network diagram.md
  setup.py
  worlds/generic/docs/advanced_settings_en.md
  worlds/generic/docs/plando_en.md
  worlds/spire/Items.py
  worlds/spire/Locations.py
  worlds/spire/Options.py
  worlds/spire/Regions.py
  worlds/spire/Rules.py
  worlds/spire/__init__.py
  worlds/spire/docs/en_Slay the Spire.md
  worlds/spire/docs/slay-the-spire_en.md
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review

#4929 OC2: Account for Multiclass Items in Progression Balancing
  worlds/overcooked2/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4932 TWW: Fix generation failure with output file
  worlds/tww/Options.py
  worlds/tww/__init__.py
Labels: waiting-on: peer-review

#4922 Stardew Valley: Replace event creation stardew code with add_event
  worlds/stardew_valley/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4940 CI: add optional windows release build and build attestation
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: waiting-on: peer-review

#4936 ALTTP: Swamp Palace West logic fix
  worlds/alttp/Rules.py
  worlds/alttp/test/dungeons/TestSwampPalace.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#4935 LADX: Remove copyrighted assets
  LinksAwakeningClient.py
  data/sprites/ladx/Bowwow.bdiff
  data/sprites/ladx/Bunny.bdiff
  data/sprites/ladx/Luigi.bdiff
  data/sprites/ladx/Mario.bdiff
  data/sprites/ladx/Richard.bdiff
  data/sprites/ladx/Tarin.bdiff
Labels: is: bug/fix, waiting-on: core-review

#4912 SM: Fix FakeROM instances sharing the same data dictionary
  worlds/sm/variaRandomizer/rom/rom.py
Labels: is: bug/fix, waiting-on: core-review

#4652 SMW: v2.1 Feature Update
  worlds/smw/CHANGELOG.md
  worlds/smw/Client.py
  worlds/smw/Items.py
  worlds/smw/Names/TextBox.py
  worlds/smw/Options.py
  worlds/smw/Rom.py
  worlds/smw/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4801 Pokemon Red/Blue: Convert to Procedure Patch
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/pokemon.py
  worlds/pokemon_rb/rock_tunnel.py
  worlds/pokemon_rb/rom.py
Labels: is: enhancement, waiting-on: core-review
