Repository ArchipelagoMW/Archipelago, pull requests merged in 2025-10, with the labels that each got.

#5484 Core: expose world version to world classes and yaml
  Generate.py
  Main.py
  Options.py
  data/options.yaml
  worlds/AutoWorld.py
  worlds/__init__.py
  worlds/generic/docs/advanced_settings_en.md
  worlds/mm2/__init__.py
  worlds/mm2/archipelago.json
Labels: is: enhancement, affects: core, waiting-on: peer-review

#5433 Webhost: Ignore Invalid Worlds in Webhost
  WebHost.py
Labels: affects: webhost, waiting-on: peer-review

#5511 Core: Pad version string in world printout
  Main.py
Labels: affects: core, waiting-on: peer-review

#5457 [Website docs] Update wording of "adding a game to archipelago" section
  WebHostLib/static/assets/faq/en.md
Labels: affects: webhost, waiting-on: core-review

#5460 Start inventory description
  Options.py
Labels: affects: core, waiting-on: peer-review

#5440 Core: Add location count field for world to spoiler log
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#5286 Civilization VI: Update for the setup instructions
  worlds/civ_6/docs/setup_en.md
Labels: is: documentation, waiting-on: world-maintainer, waiting-on: peer-review

#5470 Short Hike: improve setup guide docs
  worlds/shorthike/docs/setup_en.md
Labels: is: documentation, waiting-on: peer-review

#5438 Aquaria: Updating documentation to add latest clients informations
  worlds/aquaria/docs/setup_en.md
  worlds/aquaria/docs/setup_fr.md
Labels: is: documentation, waiting-on: core-review

#5489 PyCharm: add a run config for the new apworld builder workflow
  .run/Build APWorld.run.xml
Labels: is: enhancement, waiting-on: peer-review

#5495 Pokemon RB: Add client tracking for tracker relevant events
  worlds/pokemon_rb/client.py
Labels: is: enhancement, waiting-on: core-review

#5486 SA2B, DKC3, SMW, Celeste 64, Celeste (Open World): Manifest manifests
  worlds/celeste64/LICENSE
  worlds/celeste64/archipelago.json
  worlds/celeste_open_world/LICENSE
  worlds/celeste_open_world/archipelago.json
  worlds/dkc3/LICENSE
  worlds/dkc3/archipelago.json
  worlds/sa2b/LICENSE
  worlds/sa2b/archipelago.json
  worlds/smw/LICENSE
  worlds/smw/archipelago.json
Labels: is: maintenance, waiting-on: core-review

#5516 Core: Don't waste swaps by swapping two copies of the same item
  Fill.py
Labels: affects: core, waiting-on: peer-review

#4964 WebHost: Improve user friendliness of generation failure webpage
  WebHostLib/generate.py
  WebHostLib/static/styles/themes/ocean-island.css
  WebHostLib/static/styles/waitSeed.css
  WebHostLib/templates/seedError.html
Labels: is: enhancement, affects: webhost, waiting-on: core-review

#5519 Core: Cleanup unneeded use of `Version`/`tuplize_version`
  Options.py
  Utils.py
  setup.py
  worlds/Files.py
  worlds/__init__.py
Labels: affects: core, waiting-on: peer-review

#5510 Docs: Add info about custom worlds
  WebHostLib/templates/supportedGames.html
  worlds/generic/docs/setup_en.md
Labels: affects: webhost, waiting-on: peer-review

#5436 SC2: Add option presets
  worlds/sc2/__init__.py
  worlds/sc2/mission_order/presets.py
  worlds/sc2/options.py
Labels: is: enhancement, waiting-on: core-review

#5527 Multiserver: slight optimizations
  MultiServer.py
  NetUtils.py
  WebHostLib/customserver.py
  test/benchmark/compression/__init__.py
  test/benchmark/compression/benchmark.py
Labels: affects: core, affects: webhost, waiting-on: peer-review
