Repository ArchipelagoMW/Archipelago, pull requests merged in 2025-08, with the labels that each got.

#5061 Various: Make clients wait a second between emulator connection attempts
  AdventureClient.py
  MMBN3Client.py
  OoTClient.py
  Zelda1Client.py
Labels: is: bug/fix, waiting-on: core-review

#5050 Core: Purge Multiworld.option_name
  BaseClasses.py
  Main.py
  worlds/AutoWorld.py
  worlds/alttp/Dungeons.py
Labels: is: maintenance, affects: core, waiting-on: world-maintainer, waiting-on: peer-review

#5049 LttP: move more stuff out of core
  BaseClasses.py
  worlds/alttp/ItemPool.py
  worlds/alttp/Rom.py
  worlds/alttp/Rules.py
  worlds/alttp/Shops.py
  worlds/alttp/StateHelpers.py
  worlds/alttp/__init__.py
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review

#4830 LttP: remove sprite download from setup flow & make sprite repo dynamic
  LttPAdjuster.py
  WebHostLib/lttpsprites.py
  data/sprites/remote/.gitignore
  inno_setup.iss
  setup.py
  worlds/alttp/Rom.py
Labels: is: enhancement, affects: core, affects: webhost, waiting-on: peer-review

#5276 Webhost server render remaining markdown mistune
  BaseClasses.py
  WebHost.py
  WebHostLib/misc.py
  WebHostLib/requirements.txt
  WebHostLib/static/assets/gameInfo.js
  WebHostLib/static/assets/tutorial.js
  WebHostLib/static/assets/tutorialLanding.js
  WebHostLib/templates/gameInfo.html
  WebHostLib/templates/markdown_document.html
  WebHostLib/templates/tutorial.html
  WebHostLib/templates/tutorialLanding.html
  test/webhost/test_docs.py
  test/webhost/test_file_generation.py
  worlds/ahit/__init__.py
  worlds/osrs/__init__.py
  worlds/yugioh06/__init__.py
Labels: affects: core, affects: webhost, waiting-on: peer-review

#5271 Subnautica: add empty tanks option
  worlds/subnautica/__init__.py
  worlds/subnautica/options.py
Labels: waiting-on: peer-review

#5292 DS3: Don't Create Disabled Locations
  worlds/dark_souls_3/__init__.py
Labels: is: bug/fix, waiting-on: world-maintainer

#5297 Tests: Handle optional args for `get_all_state` patch
  test/general/test_entrances.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#5269 Core: Sort unreachable advancement locations written to the spoiler
  BaseClasses.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#5284 fix(deps): Lock setuptools version to <81
  Dockerfile
  ModuleUpdate.py
Labels: is: bug/fix, is: maintenance, affects: core, waiting-on: peer-review

#5315 CI: update appimage runtime
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: is: bug/fix, waiting-on: core-review

#5318 WebHost: fix links on sitemap, switch to url_for and add test to prevent future breakage
  WebHostLib/templates/siteMap.html
  test/general/__init__.py
  test/webhost/test_sitemap.py
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#5319 WebHost: redirect old tutorials to new URL
  WebHostLib/misc.py
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#5314 Core: 0.6.4
  Utils.py
Labels: is: enhancement, affects: core, affects: release/blocker, waiting-on: core-review

#5333 CI: update appimagetool hash
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: waiting-on: peer-review

#5279 Zillion: move `completion_condition` definition earlier
  worlds/zillion/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4660 Docs: for #4516 APWorld Manifest
  docs/apworld specification.md
Labels: is: documentation, waiting-on: other

#5331 [OSRS] Fix UT integraiton and various gen failures
  worlds/osrs/Locations.py
  worlds/osrs/LogicCSV/LogicCSVToPython.py
  worlds/osrs/LogicCSV/locations_generated.py
  worlds/osrs/Options.py
  worlds/osrs/Rules.py
  worlds/osrs/__init__.py
Labels: is: bug/fix, waiting-on: author, waiting-on: core-review

#5346 Core: require setuptools>=75
  Dockerfile
  ModuleUpdate.py
  setup.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#5322 Core: Fix `get_unique_identifier` failing on missing cache folder
  Utils.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: peer-review

#5355 Docs: Add deprioritized to AP API doc
  docs/world api.md
Labels: is: documentation, waiting-on: peer-review

#5363 Core: Fix Priority Fill *not* crashing when it should, in cases where there is no deprioritized progression
  Fill.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#5366 Core: Improved GER's caching of visited nodes during initialization
  entrance_rando.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#5257 [SM, SMZ3] get options deprecation
  worlds/sm/Rom.py
  worlds/smz3/Rom.py
Labels: is: bug/fix, is: refactor/cleanup, waiting-on: peer-review

#5371 [TLOZ] Remove deprecated Utils.get_options call, part 2
  Zelda1Client.py
  worlds/tloz/Rom.py
Labels: waiting-on: peer-review

#5374 Muse Dash: Change Exception to Option Error and Update to Muse Radio FM106
  worlds/musedash/MuseDashData.py
  worlds/musedash/__init__.py
Labels: is: enhancement, is: refactor/cleanup, waiting-on: author

#5240 WebHost: Ensure that OptionSets and OptionLists get exported to yaml, even when nothing is selected
  WebHostLib/options.py
  WebHostLib/templates/playerOptions/macros.html
  WebHostLib/templates/weightedOptions/macros.html
Labels: is: bug/fix, affects: webhost, waiting-on: peer-review

#4848 Timespinner: add support for spider traps from new client release
  worlds/timespinner/Items.py
  worlds/timespinner/Options.py
Labels: is: enhancement, waiting-on: core-review

#5385 WebHost: fix activity_timers in API tracker.py
  WebHostLib/api/tracker.py
Labels: affects: release/blocker, affects: webhost, waiting-on: peer-review

#4621 Stardew Valley: Use new asserts in tests
  worlds/stardew_valley/test/TestGeneration.py
  worlds/stardew_valley/test/TestWalnutsanity.py
  worlds/stardew_valley/test/bases.py
  worlds/stardew_valley/test/options/utils.py
  worlds/stardew_valley/test/rules/TestArcades.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4937 Celeste (Open World): Implement New Game
  README.md
  docs/CODEOWNERS
  worlds/celeste_open_world/CHANGELOG.md
  worlds/celeste_open_world/Items.py
  worlds/celeste_open_world/Levels.py
  worlds/celeste_open_world/Locations.py
  worlds/celeste_open_world/Names/ItemName.py
  worlds/celeste_open_world/Names/__init__.py
  worlds/celeste_open_world/Options.py
  worlds/celeste_open_world/__init__.py
  worlds/celeste_open_world/data/CelesteLevelData.json
  worlds/celeste_open_world/data/CelesteLevelData.py
  worlds/celeste_open_world/data/ParseData.py
  worlds/celeste_open_world/data/__init__.py
  worlds/celeste_open_world/docs/en_Celeste (Open World).md
  worlds/celeste_open_world/docs/guide_en.md
Labels: is: new game, waiting-on: core-review
