Repository ArchipelagoMW/Archipelago, pull requests merged in 2025-09, with the labels that each got.

#5410 Docs: Update max py version to 3.13
  docs/running from source.md
Labels: is: documentation, waiting-on: peer-review

#5408 MultiServer: Validate CreateHints status arg
  MultiServer.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#5417 Celeste 64: Logic Fixes
  worlds/celeste64/Locations.py
  worlds/celeste64/Rules.py
Labels: is: bug/fix, waiting-on: core-review

#5195 TUNIC: The Big Refactor
  worlds/tunic/__init__.py
  worlds/tunic/breakables.py
  worlds/tunic/combat_logic.py
  worlds/tunic/constants.py
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
  worlds/tunic/fuses.py
  worlds/tunic/grass.py
  worlds/tunic/items.py
  worlds/tunic/ladder_storage_data.py
  worlds/tunic/locations.py
  worlds/tunic/logic_helpers.py
  worlds/tunic/options.py
  worlds/tunic/regions.py
  worlds/tunic/rules.py
  worlds/tunic/test/test_access.py
Labels: is: refactor/cleanup, waiting-on: core-review

#5304 Heretic: Update Steam URL
  worlds/heretic/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#5353 Hollow Knight: Make the connecting header separate from the yaml one
  worlds/hk/docs/setup_en.md
  worlds/hk/docs/setup_pt_br.md
Labels: is: bug/fix, is: documentation, waiting-on: core-review

#5384 Core: Remove lttp module requirement from generation
  Generate.py
  Main.py
  WebHost.py
  WebHostLib/generate.py
  WebHostLib/lttpsprites.py
  worlds/bumpstik/Items.py
  worlds/meritous/Items.py
Labels: affects: core, affects: webhost, waiting-on: core-review

#5407 SC2: Update docs for Linux launch script to follow the core client migration
  worlds/sc2/docs/setup_en.md
  worlds/sc2/docs/setup_fr.md
Labels: is: documentation, affects: release/blocker, waiting-on: core-review

#5350 CommonClient: fix /items, /locations and /missing not working if the datapackage is local
  CommonClient.py
Labels: affects: core, waiting-on: core-review

#5348 TUNIC: Make the local_fill option show up on the website
  worlds/tunic/options.py
Labels: is: enhancement, waiting-on: core-review, waiting-on: world-maintainer

#5422 ArchipIDLE: Remove game
  README.md
  docs/CODEOWNERS
  setup.py
  worlds/archipidle/Items.py
  worlds/archipidle/Rules.py
  worlds/archipidle/__init__.py
  worlds/archipidle/docs/en_ArchipIDLE.md
  worlds/archipidle/docs/guide_en.md
  worlds/archipidle/docs/guide_fr.md
Labels: is: maintenance, affects: core, affects: release/blocker, waiting-on: peer-review

#5360 DS3: use yaml.safe_load
  worlds/dark_souls_3/detailed_location_descriptions.py
Labels: is: bug/fix, waiting-on: core-review

#5193 Kivy: Fix MessageBox popups
  data/client.kv
  kvui.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4713 MultiServer: Make it so hint_location doesn't set an automatic priority
  MultiServer.py
Labels: is: bug/fix, is: refactor/cleanup, affects: core, waiting-on: author, waiting-on: core-review

#5444 WebHost: fix Internal Server Error if parallel access to /room/* happens
  WebHostLib/misc.py
Labels: affects: webhost, waiting-on: peer-review

#5462 TUNIC: Update name of a chest in the UT poptracker map integration
  worlds/tunic/ut_stuff.py
Labels: is: bug/fix, is: enhancement, waiting-on: core-review

#5461 SC2: Logic bugfixes
  worlds/sc2/locations.py
  worlds/sc2/rules.py
Labels: is: bug/fix, waiting-on: core-review

#5434 Stardew Valley: Fixed Traveling merchant flaky test
  worlds/stardew_valley/rules.py
  worlds/stardew_valley/test/rules/TestTravelingMerchant.py
Labels: is: bug/fix, waiting-on: core-review

#5388 WebHost: revamp /api/*tracker/
  WebHostLib/api/tracker.py
  WebHostLib/tracker.py
  docs/webhost api.md
  test/webhost/test_tracker.py
Labels: affects: release/blocker, affects: webhost, waiting-on: core-review

#5421 [Factorio]: Allow to reconnect a timed out RCON client connection.
  worlds/factorio/Client.py
Labels: waiting-on: peer-review

#5441 Webhost: add player checks counts to tracker API
  WebHostLib/api/tracker.py
  docs/webhost api.md
Labels: is: enhancement, affects: webhost, waiting-on: peer-review

#5340 Core: apworld manifest launcher component
  worlds/LauncherComponents.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#5490 Pokemon Emerald: Fix missing fanfare address
  worlds/pokemon_emerald/data/extracted_data.json
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#5494 Update slotdata for Pokémon RB
  worlds/pokemon_rb/__init__.py
Labels: waiting-on: peer-review

#5316 Core: new cx_freeze
  setup.py
Labels: is: maintenance, affects: core, waiting-on: peer-review

#5496 bumpstik: Create manifest
  worlds/bumpstik/archipelago.json
Labels: is: maintenance, waiting-on: core-review

#5493 Jak and Daxter: close Power Cell loophole in trades test
  worlds/jakanddaxter/test/test_trades.py
Labels: is: bug/fix, waiting-on: core-review

#5502 The Witness: Remove two things from slot_data that nothing uses anymore
  worlds/witness/__init__.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#5382 KDL3, MM2: set goal condition before generate basic
  worlds/kdl3/__init__.py
  worlds/kdl3/rules.py
  worlds/mm2/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#5424 Sc2: [performance] change default options
  worlds/sc2/options.py
  worlds/sc2/test/test_base.py
  worlds/sc2/test/test_custom_mission_orders.py
  worlds/sc2/test/test_generation.py
  worlds/sc2/test/test_item_filtering.py
  worlds/sc2/test/test_rules.py
  worlds/sc2/test/test_usecases.py
Labels: waiting-on: core-review, affects: PR/blocker

#4608 core: Option to skip "unused" item links
  BaseClasses.py
  Options.py
  worlds/generic/docs/advanced_settings_en.md
Labels: is: enhancement, affects: core, waiting-on: core-review

#5208 LADX: use generic slot name for slots 101+
  LinksAwakeningClient.py
  worlds/ladx/LADXR/generator.py
Labels: is: bug/fix, is: enhancement, waiting-on: core-review

#5311 Core: only store persistent changes if there are changes
  Utils.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#5414 Core: Add an "options" arg to setup_multiworld so that non-default options can be set in it
  test/general/__init__.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#5480 SC2: any_unit and item parent bugfixes
  worlds/sc2/item/item_tables.py
  worlds/sc2/locations.py
  worlds/sc2/rules.py
Labels: is: bug/fix, waiting-on: core-review
