Repository ArchipelagoMW/Archipelago, pull requests merged in 2025-05, with the labels that each got.

#4927 Generate: Better yaml parsing error messaging
  Generate.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4928 Factorio: remove FactorioClient executable
  FactorioClient.py
  worlds/factorio/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4921 Options: Cleanup CommonOptions.as_dict
  Options.py
Labels: is: documentation, is: enhancement, affects: core, waiting-on: peer-review

#4945 Factorio: implement custom filler items
  worlds/AutoWorld.py
  worlds/factorio/__init__.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#4941 CommonClient: rip out old global name lookup
  CommonClient.py
  test/programs/test_common_client.py
Labels: is: enhancement, affects: core

#4487 CommonClient: remove Datapackage Version handling
  CommonClient.py
Labels: is: maintenance, affects: core, waiting-on: core-review

#4880 Core: always embed Archipelago
  Main.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4767 [Docs] Direct mac users to Launcher.py
  worlds/generic/docs/mac_en.md
Labels: is: documentation, waiting-on: author

#4942 TWW: Documentation cleanup
  worlds/tww/Options.py
  worlds/tww/docs/en_The Wind Waker.md
  worlds/tww/docs/setup_en.md
Labels: is: documentation, waiting-on: peer-review

#4954 Core: update certifi
  requirements.txt
Labels: affects: core, waiting-on: peer-review

#4882 Factorio: client cleanup and prevent process bomb
  worlds/factorio/Client.py
  worlds/factorio/__init__.py
  worlds/factorio/settings.py
Labels: is: bug/fix, waiting-on: peer-review

#4933 Stardew Valley: Add void mayo requirement for Goblin Problem quest
  worlds/stardew_valley/logic/festival_logic.py
  worlds/stardew_valley/logic/fishing_logic.py
  worlds/stardew_valley/logic/goal_logic.py
  worlds/stardew_valley/logic/logic.py
  worlds/stardew_valley/logic/quest_logic.py
  worlds/stardew_valley/logic/skill_logic.py
  worlds/stardew_valley/logic/special_order_logic.py
  worlds/stardew_valley/mods/logic/skills_logic.py
  worlds/stardew_valley/rules.py
Labels: is: bug/fix, waiting-on: peer-review

#4956 Core: Make Perfect Fuzzy Match Prioritize Casing
  Utils.py
Labels: affects: core, waiting-on: peer-review

#4959 The Messenger: fix indentation in setup guide
  worlds/messenger/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#4958 Terraria: Fix inaccessible Leading Landlord achievement when getfixedboi is enabled
  worlds/terraria/Rules.dsv
Labels: is: bug/fix, waiting-on: core-review

#3761 TUNIC: Entrance rando Direction Pairs + Decoupled
  worlds/tunic/__init__.py
  worlds/tunic/combat_logic.py
  worlds/tunic/docs/en_TUNIC.md
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
  worlds/tunic/options.py
  worlds/tunic/rules.py
  worlds/tunic/test/test_access.py
Labels: is: enhancement, waiting-on: core-review

#4947 Docs: Minor wording changes in apworld_dev_faq.md
  docs/apworld_dev_faq.md
Labels: is: documentation, waiting-on: core-review

#4960 Docs: update line length in apworld faq doc
  docs/apworld_dev_faq.md
Labels: is: documentation, is: refactor/cleanup, waiting-on: core-review

#4635 TUNIC: Add hidden all_random option for me to test gen stuff faster
  worlds/tunic/__init__.py
  worlds/tunic/options.py
Labels: is: enhancement, waiting-on: core-review

#4275 Launcher: warn if there is no file browser
  Launcher.py
Labels: is: bug/fix, is: enhancement, affects: core, waiting-on: core-review

#4688 [OSRS] New Tasks, New Options, Compatibility with new Plugin Features
  worlds/osrs/Items.py
  worlds/osrs/LogicCSV/LogicCSVToPython.py
  worlds/osrs/LogicCSV/items_generated.py
  worlds/osrs/LogicCSV/locations_generated.py
  worlds/osrs/LogicCSV/regions_generated.py
  worlds/osrs/LogicCSV/resources_generated.py
  worlds/osrs/Names.py
  worlds/osrs/Options.py
  worlds/osrs/Rules.py
  worlds/osrs/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4897 LADX: improve fake tracker items
  LinksAwakeningClient.py
  worlds/ladx/ItemTracker.py
Labels: is: bug/fix, waiting-on: core-review

#4963 [MMBN3] Adds beach access to "Help with Rehab" job bonus reward check
  worlds/mmbn3/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4974 Add blurb about patch files to the host page
  WebHostLib/templates/hostGame.html
Labels: affects: webhost, waiting-on: peer-review

#4977 Subnautica: use less multiworld API
  worlds/subnautica/rules.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4972 Core: Institute limit of 10000 items on StartInventory
  Options.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#4009 Core: Use the location of Utils.py rather than __main__ to determine the AP Folder
  Utils.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4601 Stardew valley: Add Trap Distribution setting
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/items/__init__.py
  worlds/stardew_valley/items/item_creation.py
  worlds/stardew_valley/items/item_data.py
  worlds/stardew_valley/options/__init__.py
  worlds/stardew_valley/options/option_groups.py
  worlds/stardew_valley/options/options.py
  worlds/stardew_valley/options/presets.py
  worlds/stardew_valley/test/TestGeneration.py
  worlds/stardew_valley/test/TestItemLink.py
  worlds/stardew_valley/test/TestOptions.py
  worlds/stardew_valley/test/TestTraps.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/options/TestPresets.py
  worlds/stardew_valley/test/options/presets.py
Labels: is: enhancement, waiting-on: core-review

#4875 DS3: Fixes "US: Homeward Bone - foot, drop overlook" location
  worlds/dark_souls_3/Locations.py
Labels: is: bug/fix, waiting-on: core-review

#3046 Core: Plando Items "rewrite"
  BaseClasses.py
  Fill.py
  Generate.py
  Main.py
  Options.py
  test/general/test_implemented.py
  test/general/test_state.py
  worlds/alttp/EntranceRandomizer.py
  worlds/alttp/__init__.py
  worlds/blasphemous/__init__.py
  worlds/hylics2/__init__.py
  worlds/kh2/__init__.py
  worlds/ladx/test/testShop.py
  worlds/oot/__init__.py
  worlds/pokemon_rb/__init__.py
  worlds/pokemon_rb/pokemon.py
  worlds/sc2/Locations.py
  worlds/shivers/__init__.py
  worlds/stardew_valley/test/stability/TestUniversalTracker.py
  worlds/witness/player_items.py
Labels: is: bug/fix, is: enhancement, is: refactor/cleanup, affects: core, waiting-on: peer-review

#4470 MultiServer: More guardrails for nolocation clients
  MultiServer.py
Labels: is: bug/fix, is: enhancement, affects: core, waiting-on: core-review

#4971 The Messenger: do all empty state validation during portal shuffle
  worlds/messenger/__init__.py
  worlds/messenger/portals.py
  worlds/messenger/subclasses.py
  worlds/messenger/transitions.py
Labels: is: enhancement, waiting-on: peer-review

#4978 SMZ3 replace copyright credits music
  worlds/smz3/data/zsm.ips
Labels: waiting-on: peer-review

#4970 Update tests.md to clarify that ModuleUpdate.py is a prerequisite for running tests
  docs/tests.md
Labels: is: documentation, waiting-on: author, waiting-on: peer-review

#4924 Muse Dash: Update to Otaku Pack Vol 20
  worlds/musedash/MuseDashCollection.py
  worlds/musedash/MuseDashData.py
Labels: is: enhancement, waiting-on: peer-review

#4982 Docs: tests: add naming / file naming conventions
  docs/tests.md
Labels: is: documentation, waiting-on: core-review

#4991 Stardew Valley: Move BaseTest out of `__init__.py` to comply with future conventions
  worlds/stardew_valley/test/TestBackpack.py
  worlds/stardew_valley/test/TestBooksanity.py
  worlds/stardew_valley/test/TestBundles.py
  worlds/stardew_valley/test/TestCrops.py
  worlds/stardew_valley/test/TestDynamicGoals.py
  worlds/stardew_valley/test/TestFarmType.py
  worlds/stardew_valley/test/TestFill.py
  worlds/stardew_valley/test/TestFishsanity.py
  worlds/stardew_valley/test/TestFriendsanity.py
  worlds/stardew_valley/test/TestGeneration.py
  worlds/stardew_valley/test/TestItemLink.py
  worlds/stardew_valley/test/TestItems.py
  worlds/stardew_valley/test/TestLogic.py
  worlds/stardew_valley/test/TestMultiplePlayers.py
  worlds/stardew_valley/test/TestNumberLocations.py
  worlds/stardew_valley/test/TestOptionFlags.py
  worlds/stardew_valley/test/TestOptions.py
  worlds/stardew_valley/test/TestOptionsPairs.py
  worlds/stardew_valley/test/TestRandomWorlds.py
  worlds/stardew_valley/test/TestRegions.py
  worlds/stardew_valley/test/TestStartInventory.py
  worlds/stardew_valley/test/TestTraps.py
  worlds/stardew_valley/test/TestWalnutsanity.py
  worlds/stardew_valley/test/__init__.py
  worlds/stardew_valley/test/bases.py
  worlds/stardew_valley/test/content/TestGingerIsland.py
  worlds/stardew_valley/test/content/mods/TestSVE.py
  worlds/stardew_valley/test/long/TestModsLong.py
  worlds/stardew_valley/test/long/TestOptionsLong.py
  worlds/stardew_valley/test/long/TestPreRolledRandomness.py
  worlds/stardew_valley/test/mods/TestBiggerBackpack.py
  worlds/stardew_valley/test/mods/TestMods.py
  worlds/stardew_valley/test/mods/TestModsFill.py
  worlds/stardew_valley/test/mods/TestSVE.py
  worlds/stardew_valley/test/options/TestPresets.py
  worlds/stardew_valley/test/performance/TestPerformance.py
  worlds/stardew_valley/test/rules/TestArcades.py
  worlds/stardew_valley/test/rules/TestBooks.py
  worlds/stardew_valley/test/rules/TestBuildings.py
  worlds/stardew_valley/test/rules/TestBundles.py
  worlds/stardew_valley/test/rules/TestCookingRecipes.py
  worlds/stardew_valley/test/rules/TestCraftingRecipes.py
  worlds/stardew_valley/test/rules/TestDonations.py
  worlds/stardew_valley/test/rules/TestFishing.py
  worlds/stardew_valley/test/rules/TestFriendship.py
  worlds/stardew_valley/test/rules/TestMuseum.py
  worlds/stardew_valley/test/rules/TestShipping.py
  worlds/stardew_valley/test/rules/TestSkills.py
  worlds/stardew_valley/test/rules/TestStateRules.py
  worlds/stardew_valley/test/rules/TestTools.py
  worlds/stardew_valley/test/rules/TestWeapons.py
  worlds/stardew_valley/test/script/benchmark_locations.py
  worlds/stardew_valley/test/stability/StabilityOutputScript.py
  worlds/stardew_valley/test/stability/TestStability.py
  worlds/stardew_valley/test/stability/TestUniversalTracker.py
Labels: waiting-on: peer-review

#4969 Tests: actually run tests in __init__.py files
  pytest.ini
Labels: is: bug/fix, affects: core, waiting-on: core-review

#4992 AHIT: Fix client argument handling
  AHITClient.py
  worlds/ahit/Client.py
  worlds/ahit/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4980 Noita: Modernization refactor
  worlds/noita/__init__.py
  worlds/noita/events.py
  worlds/noita/items.py
  worlds/noita/locations.py
  worlds/noita/regions.py
  worlds/noita/rules.py
Labels: is: refactor/cleanup, waiting-on: core-review

#5001 lufia2ac: rearrange tests to comply with new conventions
  worlds/lufia2ac/test/__init__.py
  worlds/lufia2ac/test/bases.py
  worlds/lufia2ac/test/test_custom_item_pool.py
  worlds/lufia2ac/test/test_goal.py
Labels: waiting-on: peer-review

#4985 Stardew Valley: Remove crab pot requirement for help wanted fishing
  worlds/stardew_valley/logic/fishing_logic.py
  worlds/stardew_valley/logic/skill_logic.py
  worlds/stardew_valley/regions.py
  worlds/stardew_valley/rules.py
Labels: is: bug/fix, waiting-on: core-review

#3470 Kivy: Add a button prompt box
  Launcher.py
  data/client.kv
  kvui.py
  worlds/messenger/client_setup.py
Labels: is: enhancement, affects: core, waiting-on: core-review, affects: PR/blocker

#5009 SA2B: Logic Fixes
  worlds/sa2b/Missions.py
  worlds/sa2b/Rules.py
Labels: is: bug/fix, waiting-on: peer-review

#4973 ChecksFinder: Update setup guide
  worlds/checksfinder/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#4990 Core: Remove redundant reachable location counting in swap
  Fill.py
Labels: is: bug/fix, is: enhancement, affects: core, waiting-on: core-review

#4331 Core: prepare worlds.Files for APWorldContainer
  worlds/Files.py
  worlds/factorio/Mod.py
  worlds/kh2/OpenKH.py
Labels: is: enhancement, affects: core, waiting-on: author, waiting-on: core-review

#5014 Core: disable worlds_disabled
  .github/labeler.yml
  docs/CODEOWNERS
  docs/world maintainer.md
  setup.py
  worlds_disabled/README.md
  worlds_disabled/oribf/Items.py
  worlds_disabled/oribf/Locations.py
  worlds_disabled/oribf/Options.py
  worlds_disabled/oribf/README.md
  worlds_disabled/oribf/Regions.py
  worlds_disabled/oribf/Rules.py
  worlds_disabled/oribf/RulesData.py
  worlds_disabled/oribf/Types.py
  worlds_disabled/oribf/__init__.py
Labels: affects: core, waiting-on: peer-review

#5015 Zillion: fix `read_contents` to be compatible with base class
  worlds/zillion/patch.py
Labels: waiting-on: peer-review

#5016 Adventure: Update AdventureDeltaPatch.read_contents to return the manifest as required by #4331
  worlds/adventure/Rom.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: world-maintainer

#3291 Jak and Daxter: Implement New Game
  README.md
  docs/CODEOWNERS
  worlds/jakanddaxter/__init__.py
  worlds/jakanddaxter/agents/__init__.py
  worlds/jakanddaxter/agents/memory_reader.py
  worlds/jakanddaxter/agents/repl_client.py
  worlds/jakanddaxter/client.py
  worlds/jakanddaxter/docs/en_Jak and Daxter The Precursor Legacy.md
  worlds/jakanddaxter/docs/setup_en.md
  worlds/jakanddaxter/game_id.py
  worlds/jakanddaxter/icons/precursor_orb.ico
  worlds/jakanddaxter/icons/precursor_orb.png
  worlds/jakanddaxter/items.py
  worlds/jakanddaxter/levels.py
  worlds/jakanddaxter/locations.py
  worlds/jakanddaxter/locs/__init__.py
  worlds/jakanddaxter/locs/cell_locations.py
  worlds/jakanddaxter/locs/orb_cache_locations.py
  worlds/jakanddaxter/locs/orb_locations.py
  worlds/jakanddaxter/locs/scout_locations.py
  worlds/jakanddaxter/locs/special_locations.py
  worlds/jakanddaxter/options.py
  worlds/jakanddaxter/regions.py
  worlds/jakanddaxter/regs/__init__.py
  worlds/jakanddaxter/regs/boggy_swamp_regions.py
  worlds/jakanddaxter/regs/fire_canyon_regions.py
  worlds/jakanddaxter/regs/forbidden_jungle_regions.py
  worlds/jakanddaxter/regs/geyser_rock_regions.py
  worlds/jakanddaxter/regs/gol_and_maias_citadel_regions.py
  worlds/jakanddaxter/regs/lava_tube_regions.py
  worlds/jakanddaxter/regs/lost_precursor_city_regions.py
  worlds/jakanddaxter/regs/misty_island_regions.py
  worlds/jakanddaxter/regs/mountain_pass_regions.py
  worlds/jakanddaxter/regs/precursor_basin_regions.py
  worlds/jakanddaxter/regs/region_base.py
  worlds/jakanddaxter/regs/rock_village_regions.py
  worlds/jakanddaxter/regs/sandover_village_regions.py
  worlds/jakanddaxter/regs/sentinel_beach_regions.py
  worlds/jakanddaxter/regs/snowy_mountain_regions.py
  worlds/jakanddaxter/regs/spider_cave_regions.py
  worlds/jakanddaxter/regs/volcanic_crater_regions.py
  worlds/jakanddaxter/requirements.txt
  worlds/jakanddaxter/rules.py
  worlds/jakanddaxter/test/__init__.py
  worlds/jakanddaxter/test/bases.py
  worlds/jakanddaxter/test/test_locations.py
  worlds/jakanddaxter/test/test_moverando.py
  worlds/jakanddaxter/test/test_orbsanity.py
  worlds/jakanddaxter/test/test_orderedcellcounts.py
  worlds/jakanddaxter/test/test_trades.py
  worlds/jakanddaxter/test/test_traps.py
Labels: is: new game, waiting-on: core-review

#2730 Super Mario land 2: implement new game
  README.md
  docs/CODEOWNERS
  worlds/marioland2/LICENSE
  worlds/marioland2/__init__.py
  worlds/marioland2/basepatch.bsdiff4
  worlds/marioland2/client.py
  worlds/marioland2/docs/en_Super Mario Land 2.md
  worlds/marioland2/docs/setup_en.md
  worlds/marioland2/items.py
  worlds/marioland2/locations.py
  worlds/marioland2/logic.py
  worlds/marioland2/options.py
  worlds/marioland2/rom.py
  worlds/marioland2/rom_addresses.py
  worlds/marioland2/sprite_randomizer.py
  worlds/marioland2/sprites.py
Labels: is: new game, waiting-on: author, waiting-on: core-review

#5018 DS3: Don't make unrandomized items into events
  worlds/dark_souls_3/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#5017 core: Reconfigure stdout to utf8
  Utils.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#5019 core: generate templates faster and "cleaner"
  Options.py
  data/options.yaml
Labels: affects: core, waiting-on: peer-review

#5020 core: don't reconfigure stdout if it's fake
  Utils.py
Labels: affects: core, waiting-on: peer-review

#5023 Wargroove apworld doc fixes
  worlds/wargroove/docs/wargroove_en.md
Labels: is: documentation, waiting-on: peer-review

#4981 WebHost: allow APPlayerContainers from "custom" worlds to be displayed in rooms
  WebHostLib/__init__.py
  WebHostLib/templates/hostGame.html
  WebHostLib/templates/macros.html
  worlds/Files.py
Labels: is: enhancement, affects: core, affects: webhost, waiting-on: core-review

#5021 Wargroove: Cleanup script_name component in LauncherComponents
  worlds/LauncherComponents.py
Labels: affects: core, waiting-on: core-review

#4957 OoT: Stop using Utils.get_options
  OoTClient.py
  worlds/oot/__init__.py
Labels: is: bug/fix, is: maintenance, waiting-on: core-review

#4949 Tests: Create CollectionState after MultiWorld.worlds
  BaseClasses.py
  test/bases.py
  test/benchmark/locations.py
  test/general/__init__.py
  worlds/alttp/test/__init__.py
  worlds/kdl3/test/__init__.py
  worlds/stardew_valley/test/bases.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#4943 Generate: don't force player name for weights files
  Generate.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4913 The Messenger: swap options docstrings to use rst and add option groups
  worlds/messenger/__init__.py
  worlds/messenger/options.py
Labels: is: enhancement, waiting-on: core-review

#4879 Minecraft: Stop using Utils.get_options
  MinecraftClient.py
  worlds/minecraft/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4845 Core: add state add/remove helpers
  BaseClasses.py
  worlds/AutoWorld.py
  worlds/messenger/__init__.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4850 The Messenger: add a component icon and description
  worlds/messenger/__init__.py
  worlds/messenger/assets/component_icon.png
Labels: is: enhancement, waiting-on: core-review

#4499 AHiT: Add Dweller Mask requirement to normal logic Rush Hour
  worlds/ahit/Locations.py
  worlds/ahit/Rules.py
Labels: is: enhancement, waiting-on: core-review

#4911 Stardew Valley: Move and rework monstersanity tests
  worlds/stardew_valley/test/TestGeneration.py
  worlds/stardew_valley/test/TestMonstersanity.py
Labels: is: refactor/cleanup, waiting-on: core-review

#5025 Stardew Valley: Fixed import bases
  worlds/stardew_valley/test/TestMonstersanity.py
Labels: is: bug/fix, waiting-on: peer-review

#5003 CommonClient: Add docs for attributes
  CommonClient.py
Labels: is: documentation, affects: core, waiting-on: core-review

#4987 Docs: Update Snippets to Modern Type Hints
  docs/network protocol.md
  docs/options api.md
  docs/settings api.md
Labels: is: documentation, waiting-on: peer-review

#4896 Core: only raise min_client_version for new gens
  MultiServer.py
Labels: is: enhancement, affects: core, affects: release/blocker, waiting-on: core-review

#4828 Core: make get_all_state pre_fill and sweeping optional
  BaseClasses.py
Labels: is: enhancement, affects: core, waiting-on: author

#5029 Linux/AppImage: avoid adding cwd to LD_LIBRARY_PATH
  setup.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#5032 Stardew Valley: Make animal catalog logically year 2
  worlds/stardew_valley/content/vanilla/pelican_town.py
Labels: waiting-on: peer-review

#4888 Launcher: skip launcher gui when opening webhost list with no game handlers
  Launcher.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: core-review

#5011 The Messenger: more generous portal validation
  worlds/messenger/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: author, waiting-on: peer-review

#4624 Stardew Valley: Replace current naive entrance rando with GER
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/content/mods/sve.py
  worlds/stardew_valley/mods/logic/sve_logic.py
  worlds/stardew_valley/mods/region_data.py
  worlds/stardew_valley/region_classes.py
  worlds/stardew_valley/regions.py
  worlds/stardew_valley/regions/__init__.py
  worlds/stardew_valley/regions/entrance_rando.py
  worlds/stardew_valley/regions/model.py
  worlds/stardew_valley/regions/mods.py
  worlds/stardew_valley/regions/regions.py
  worlds/stardew_valley/regions/vanilla_data.py
  worlds/stardew_valley/test/TestRegions.py
  worlds/stardew_valley/test/assertion/rule_assert.py
  worlds/stardew_valley/test/bases.py
  worlds/stardew_valley/test/mods/TestMods.py
  worlds/stardew_valley/test/regions/TestEntranceClassifications.py
  worlds/stardew_valley/test/regions/TestEntranceRandomization.py
  worlds/stardew_valley/test/regions/TestRandomizationFlag.py
  worlds/stardew_valley/test/regions/TestRegionConnections.py
  worlds/stardew_valley/test/regions/__init__.py
Labels: is: enhancement, waiting-on: core-review

#5038 Stardew Valley: Added moss to statue of blessings recipe
  worlds/stardew_valley/data/craftable_data.py
Labels: is: bug/fix, waiting-on: core-review

#5033 BizHawkClient: Fix script to list all cores instead of explicit mapping
  data/lua/connector_bizhawk_generic.lua
Labels: is: bug/fix, waiting-on: peer-review

#4993 TWW: Fix excess filler for excluded locations
  worlds/tww/randomizers/ItemPool.py
Labels: is: bug/fix, waiting-on: core-review

#5005 Lingo: Fix The Bearer's pilgrimage logic
  worlds/lingo/data/LL1.yaml
  worlds/lingo/data/generated.dat
  worlds/lingo/data/ids.yaml
  worlds/lingo/datatypes.py
  worlds/lingo/regions.py
  worlds/lingo/utils/pickle_static_data.py
  worlds/lingo/utils/validate_config.rb
Labels: is: bug/fix, waiting-on: core-review

#5042 Stardew Valley: Fixed region for two parrot locations
  worlds/stardew_valley/data/locations.csv
Labels: is: bug/fix, waiting-on: peer-review

#5041 Update OOT Guides
  worlds/oot/docs/setup_de.md
  worlds/oot/docs/setup_en.md
  worlds/oot/docs/setup_fr.md
Labels: is: documentation, waiting-on: core-review

#5046 TWW: Update patch class
  worlds/tww/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#5052 Webhost: update Flask to 3.1.1
  WebHostLib/requirements.txt
Labels: affects: webhost, waiting-on: peer-review

#5051 CVCotM: Add Nerf Roc Wing to Slot Data and HoD max ups to other_game_item_appearances
  worlds/cvcotm/__init__.py
  worlds/cvcotm/aesthetics.py
  worlds/cvcotm/docs/en_Castlevania - Circle of the Moon.md
  worlds/cvcotm/docs/setup_en.md
Labels: is: enhancement

#5045 TWW: Remove unnecessary items from slot data
  worlds/tww/Options.py
  worlds/tww/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4784 Timespinner: fix logic error relating to risky warp to Emperor's Towe…
  worlds/timespinner/Regions.py
Labels: is: bug/fix, waiting-on: core-review

#4831 Timespinner: fix connection logic from Maw cave entrance to Maw
  worlds/timespinner/Locations.py
  worlds/timespinner/Regions.py
Labels: is: bug/fix, waiting-on: peer-review

#5031 Jak and Daxter: Post-merge Polish
  worlds/jakanddaxter/__init__.py
  worlds/jakanddaxter/docs/en_Jak and Daxter The Precursor Legacy.md
  worlds/jakanddaxter/docs/setup_en.md
  worlds/jakanddaxter/options.py
  worlds/jakanddaxter/regions.py
  worlds/jakanddaxter/rules.py
  worlds/jakanddaxter/test/test_trades.py
Labels: is: enhancement, is: refactor/cleanup, waiting-on: core-review

#4631 Stardew Valley: Fix wizard tower and entrance randomizer softlocks
  worlds/stardew_valley/content/mods/sve.py
  worlds/stardew_valley/logic/quest_logic.py
  worlds/stardew_valley/logic/region_logic.py
  worlds/stardew_valley/rules.py
Labels: is: bug/fix, waiting-on: core-review
