Repository ArchipelagoMW/Archipelago, pull requests merged in 2025-01, with the labels that each got.

#4417 Core: it's 2025
  LICENSE
  WebHostLib/templates/islandFooter.html
Labels: affects: webhost, waiting-on: peer-review

#4403 Shivers: Adds ixupi captures priority option
  worlds/shivers/Options.py
  worlds/shivers/__init__.py
  worlds/shivers/docs/setup_en.md
Labels: is: enhancement, waiting-on: peer-review

#4299 FFMQ: Fix encoding issue with Game Page
  worlds/ffmq/docs/en_Final Fantasy Mystic Quest.md
Labels: is: documentation, waiting-on: core-review

#4408 Factorio: Fix skins factored not giving starting items
  worlds/factorio/data/mod_template/control.lua
Labels: is: bug/fix, waiting-on: peer-review

#4428 Blasphemous: Fix starting_location: random affecting all Blasphemous worlds
  worlds/blasphemous/Options.py
Labels: is: bug/fix, waiting-on: peer-review

#4425 Shivers: Fix spelling error in naming
  worlds/shivers/Items.py
  worlds/shivers/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4404 Pokemon RB: Fixing misnamed locations
  worlds/pokemon_rb/locations.py
Labels: is: bug/fix, waiting-on: core-review

#4079 HK: use rich_text_options_doc to make webhost formatting look better
  worlds/hk/Options.py
  worlds/hk/__init__.py
Labels: is: documentation, is: enhancement, waiting-on: core-review

#4083 HK: add location counts to option descriptions
  worlds/hk/Options.py
Labels: is: documentation, is: enhancement, waiting-on: core-review

#4148 Core: add docstrings for launcher components
  worlds/LauncherComponents.py
Labels: is: documentation, affects: core, waiting-on: core-review

#4426 Docs: Clarify !alias commands in commands_en.md
  worlds/generic/docs/commands_en.md
Labels: is: documentation, waiting-on: core-review

#4285 Core: Include unfilled locations in error when there are not enough locations for progression items
  Fill.py
Labels: is: documentation, affects: core, waiting-on: core-review

#4434 Kh2 Doc updates
  worlds/kh2/docs/setup_en.md
Labels: is: documentation, waiting-on: author

#3093 SNIClient: Let clients based on SNIClient monitor packages via on_package method
  SNIClient.py
  worlds/AutoSNIClient.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4441 Core: Pickle hints by value
  NetUtils.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: core-review

#4385 Factorio: add fluid mining technology to logic requirements
  worlds/factorio/Technologies.py
  worlds/factorio/data/techs.json
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4442 The Messenger: reduce strictness of output path check
  worlds/messenger/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4446 Stardew Valley: Hide the Mods from the simple options page
  worlds/stardew_valley/options/options.py
Labels: is: bug/fix, waiting-on: peer-review

#4347 Linux: move the user home Archipelago dir to $XDG_DATA_HOME
  Utils.py
Labels: affects: core, waiting-on: peer-review

#3535 kvui: add autocompleting new hint text input
  data/client.kv
  kvui.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#3460 SM generate without rom
  worlds/sm/Rom.py
  worlds/sm/__init__.py
  worlds/sm/variaRandomizer/randomizer.py
  worlds/sm/variaRandomizer/rom/ips.py
  worlds/sm/variaRandomizer/rom/rom.py
  worlds/sm/variaRandomizer/rom/rompatcher.py
Labels: is: enhancement, is: refactor/cleanup, waiting-on: core-review

#4440 LTTP: Add missing GT Pre-Moldorm Bomb Wall Logic
  worlds/alttp/Rules.py
  worlds/alttp/test/dungeons/TestGanonsTower.py
Labels: is: bug/fix, waiting-on: peer-review

#4432 TUNIC: Logic for Beneath the Vault Bridge Switch
  worlds/tunic/er_rules.py
  worlds/tunic/rules.py
Labels: is: bug/fix, waiting-on: core-review

#4456 Subnautica: fix typo and remove no longer used logger
  worlds/subnautica/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4453 Core: update certifi
  requirements.txt
Labels: is: maintenance, affects: core, waiting-on: peer-review

#4435 Pokémon R/B: Fix Route 11-E to Route-12-W logic
  worlds/pokemon_rb/regions.py
Labels: is: bug/fix, waiting-on: peer-review

#4460 MultiServer: Correct tying of Context.groups, fixing a crash with hints
  MultiServer.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: peer-review

#4463 BizHawkClient: Fix version warning not falling through to regular execution
  data/lua/connector_bizhawk_generic.lua
Labels: is: bug/fix, waiting-on: peer-review

#4439 BizHawkClient: Add command to get size of memory domain
  data/lua/connector_bizhawk_generic.lua
  worlds/_bizhawk/__init__.py
  worlds/mm2/client.py
Labels: is: enhancement, waiting-on: peer-review

#4379 Stardew Valley: Remove seasonal farming event, use regions instead
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/logic/farming_logic.py
  worlds/stardew_valley/strings/ap_names/event_names.py
  worlds/stardew_valley/test/rules/TestTools.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4462 Docs: Fix typo in Rich Text Options flag documentation
  Options.py
  docs/options api.md
Labels: is: documentation, affects: core, waiting-on: peer-review

#4234 Muse Dash: Change Data storage from a .txt file to a .py file and Filter Webhost Song Lists correctly
  worlds/musedash/Items.py
  worlds/musedash/MuseDashCollection.py
  worlds/musedash/MuseDashData.py
  worlds/musedash/MuseDashData.txt
  worlds/musedash/Options.py
  worlds/musedash/__init__.py
  worlds/musedash/test/TestDifficultyRanges.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4300 Adventure: Optimize imports
  worlds/adventure/Options.py
  worlds/adventure/Regions.py
  worlds/adventure/Rom.py
  worlds/adventure/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4346 BizhawkClient: set metadata from patch file
  worlds/_bizhawk/context.py
Labels: is: enhancement, waiting-on: core-review

#4067 LTTP: Shop and Arrow fixes
  worlds/alttp/Bosses.py
  worlds/alttp/ItemPool.py
  worlds/alttp/Items.py
  worlds/alttp/Shops.py
  worlds/alttp/StateHelpers.py
  worlds/alttp/test/dungeons/TestMiseryMire.py
Labels: is: bug/fix, waiting-on: peer-review

#4421 Factorio: improve error message for config validation
  worlds/factorio/Options.py
  worlds/factorio/test_file_validation.py
Labels: is: enhancement, waiting-on: world-maintainer, waiting-on: peer-review

#4336 HK: abstract and default grub counts
  worlds/hk/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4473 Aquaria: Fixing itemlink not working
  worlds/aquaria/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4395 Faxanadu: Fix generations with itemlinks
  worlds/faxanadu/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4474 Tests: No Creating Items/Locations/Regions in __init__
  test/general/test_implemented.py
Labels: is: enhancement, affects: core, waiting-on: peer-review, waiting-on: other

#4422 Blasphemous: Move Locality Changes Earlier
  worlds/blasphemous/__init__.py
Labels: is: refactor/cleanup

#4216 Codeowners: @threeandthreee as LADX maintainer
  docs/CODEOWNERS
Labels: is: documentation, waiting-on: core-review

#4436 Utils: Visualize Regions showing the reachable regions in color
  Utils.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4479 ALttP: Fix Itemlinks
  worlds/alttp/Items.py
Labels: is: bug/fix, waiting-on: peer-review

#4416 Stardew Valley: Update mod content
  worlds/stardew_valley/data/craftable_data.py
  worlds/stardew_valley/data/locations.csv
  worlds/stardew_valley/locations.py
  worlds/stardew_valley/options/options.py
  worlds/stardew_valley/strings/craftable_names.py
  worlds/stardew_valley/test/TestNumberLocations.py
  worlds/stardew_valley/test/__init__.py
Labels: is: bug/fix, is: enhancement, waiting-on: core-review

#4478 LADX: Move Locality Changes Earlier
  worlds/ladx/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4367 MultiServer: Revert hints being created for already found locations
  MultiServer.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4366 Factorio: fix Evolution Trap crashing bound server
  worlds/factorio/data/mod_template/control.lua
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4389 OoT: Two Bugfixes
  worlds/oot/Patches.py
  worlds/oot/__init__.py
Labels: is: bug/fix, waiting-on: other

#3989 Lingo: Add speed boost mode
  worlds/lingo/__init__.py
  worlds/lingo/data/generated.dat
  worlds/lingo/data/ids.yaml
  worlds/lingo/items.py
  worlds/lingo/options.py
  worlds/lingo/test/TestOptions.py
  worlds/lingo/utils/assign_ids.rb
Labels: is: enhancement, waiting-on: peer-review

#4485 MultiServer: update InvalidPacket text for location scouts
  MultiServer.py
Labels: is: documentation, affects: core, waiting-on: core-review

#3913 TUNIC: Grass Randomizer
  worlds/tunic/__init__.py
  worlds/tunic/er_data.py
  worlds/tunic/er_rules.py
  worlds/tunic/er_scripts.py
  worlds/tunic/grass.py
  worlds/tunic/items.py
  worlds/tunic/locations.py
  worlds/tunic/options.py
Labels: is: enhancement, waiting-on: core-review

#4486 TLoZ: Fix typo in setup guide
  worlds/tloz/docs/multiworld_en.md
Labels: is: documentation, waiting-on: core-review

#3935 LADX: stabilize item pool option
  worlds/ladx/LADXR/itempool.py
  worlds/ladx/Options.py
  worlds/ladx/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4313 Core: Fix crash when trying to log an exception
  Utils.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: core-review

#4496 SoE: fix logic for drain cave with OoB
  worlds/soe/requirements.txt
  worlds/soe/test/test_oob.py
Labels: is: bug/fix, waiting-on: peer-review

#4500 pytest: only check tests/ and worlds/
  pytest.ini
Labels: affects: core, waiting-on: peer-review

#4502 pytest: fix typo in pytest.ini
  pytest.ini
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#4492 AHiT: Various logic fixes
  worlds/ahit/DeathWishRules.py
  worlds/ahit/Locations.py
  worlds/ahit/Rules.py
Labels: is: bug/fix, waiting-on: peer-review

#4488 TUNIC: Make the local_fill option load in a specific number of locations
  worlds/tunic/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4384 KH2: Fixes abilities overflowing into items and crashing the game
  worlds/kh2/Client.py
Labels: is: bug/fix, waiting-on: peer-review

#4111 LADX: improved warps across unexplored tiles
  worlds/ladx/LADXR/generator.py
  worlds/ladx/LADXR/patches/core.py
Labels: is: bug/fix, waiting-on: core-review

#4495 LADX: Swap out invalid characters in item names
  worlds/ladx/LADXR/locations/itemInfo.py
  worlds/ladx/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4283 Core: Fix the distribution of Options.Range.triangular()
  Options.py
Labels: is: bug/fix, affects: core, waiting-on: author

#4035 KH2: Reduce unnecessary packets sent/requested by the client
  worlds/kh2/Client.py
Labels: is: bug/fix, waiting-on: core-review

#3606 Core: don't log warnings for plando_items and missing lttp options
  Generate.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#3646 [MMBN3] Logic and Bug Fixes, New Checks
  worlds/mmbn3/Items.py
  worlds/mmbn3/Locations.py
  worlds/mmbn3/Names/ItemName.py
  worlds/mmbn3/Names/LocationName.py
  worlds/mmbn3/Options.py
  worlds/mmbn3/Regions.py
  worlds/mmbn3/__init__.py
  worlds/mmbn3/data/bn3-ap-patch.bsdiff
Labels: is: bug/fix, is: enhancement, waiting-on: peer-review

#4491 TUNIC: Reorder options
  worlds/tunic/options.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4497 SoE: update to v050
  worlds/soe/options.py
  worlds/soe/requirements.txt
Labels: is: enhancement, waiting-on: peer-review

#4350 LADX: Closing the client window closes the window
  LinksAwakeningClient.py
Labels: is: bug/fix, waiting-on: core-review

#4501 OoT: Allow Crowd Control support for Ocarina of Time (Bizhawk)
  data/lua/connector_oot.lua
Labels: is: enhancement, waiting-on: peer-review

#3416 Core: some low-hanging fruit on the strict type check
  .github/pyright-config.json
  .github/workflows/strict-type-check.yml
  test/general/test_helpers.py
  test/general/test_memory.py
  test/general/test_names.py
Labels: is: enhancement, is: maintenance, is: refactor/cleanup, waiting-on: core-review

#4505 Bizhawk: adds typing to bizhawk component launch
  worlds/_bizhawk/context.py
Labels: waiting-on: peer-review

#2670 Alttp: update Spanish setup docs
  worlds/alttp/docs/multiworld_es.md
Labels: is: documentation, waiting-on: core-review

#3747 MultiServer: Add slot to SetReply packets
  MultiServer.py
  docs/network protocol.md
Labels: is: enhancement, affects: core, waiting-on: core-review

#4484 CommonClient: implement check_locations to send missing locations only
  CommonClient.py
  worlds/alttp/Client.py
  worlds/factorio/Client.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4231 Stardew Valley: Improve generation performance by around 11% by moving calculating from rule evaluation to collect
  worlds/stardew_valley/__init__.py
  worlds/stardew_valley/stardew_rule/state.py
  worlds/stardew_valley/strings/ap_names/event_names.py
  worlds/stardew_valley/test/rules/TestShipping.py
Labels: is: enhancement, is: refactor/cleanup, waiting-on: core-review

#4518 Pokemon Emerald: Use new `check_locations` helper
  worlds/pokemon_emerald/client.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4508 BizHawkClient: Use built-ins for typing
  worlds/_bizhawk/__init__.py
  worlds/_bizhawk/client.py
  worlds/_bizhawk/context.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4099 SMZ3: fix item links with link_replacement
  worlds/smz3/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4264 OoT Adjuster: Remove per_slot_randoms
  OoTAdjuster.py
Labels: is: enhancement, is: refactor/cleanup, affects: core, waiting-on: core-review

#4121 Zillion: Finalize item locations in either generate_output or fill_slot_data
  test/general/test_implemented.py
  worlds/zillion/__init__.py
Labels: is: enhancement, is: refactor/cleanup, waiting-on: core-review

#4179 Zillion: use useful item classification
  worlds/zillion/__init__.py
  worlds/zillion/item.py
Labels: is: enhancement, waiting-on: peer-review

#4220 Zillion: new priority dead ends feature
  worlds/zillion/__init__.py
  worlds/zillion/options.py
  worlds/zillion/requirements.txt
  worlds/zillion/test/TestOptions.py
Labels: is: enhancement, waiting-on: peer-review

#4312 Core: Make log time an optional arg & setting for Generate.py as well
  Generate.py
  settings.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4354 WebHost: sort slots by player_id in api blueprint
  WebHostLib/api/__init__.py
  WebHostLib/api/user.py
Labels: is: enhancement, affects: webhost, waiting-on: core-review

#4322 FFMQ: Add Items Accessibility
  worlds/ffmq/Options.py
Labels: is: enhancement, waiting-on: core-review

#4068 CommonClient: abstract url handling so it's importable
  CommonClient.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4433 FFMQ: Fix collect_item
  worlds/ffmq/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4424 SMZ3: Move non_local_items Changes Earlier
  worlds/smz3/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4520 TUNIC: Fix failure in 1-player grass
  worlds/tunic/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4509 TUNIC: Fix hero relics not being prog if hex quest is on in combat logic
  worlds/tunic/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4420 Core: Add connect_entrances world step/stage
  Main.py
  docs/entrance randomization.md
  docs/world api.md
  test/benchmark/locations.py
  test/general/__init__.py
  test/general/test_entrances.py
  test/general/test_items.py
  test/general/test_locations.py
  test/general/test_reachability.py
  worlds/AutoWorld.py
  worlds/kh1/Regions.py
  worlds/kh1/__init__.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4447 Docs: Update outdated info in World API docs
  docs/world api.md
Labels: is: documentation, affects: core, waiting-on: author

#4504 TUNIC: Make grass go in the regular location name group too
  worlds/tunic/__init__.py
  worlds/tunic/grass.py
Labels: is: bug/fix, is: enhancement, waiting-on: core-review

#4521 HK: Save GrubHuntGoal by value
  worlds/hk/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#4523 HK: some stuff ruff and pycodestyle complained about
  worlds/hk/Options.py
  worlds/hk/__init__.py
  worlds/hk/test/__init__.py
  worlds/hk/test/test_grub_count.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4477 Core: Add Retry to Priority Fill
  Fill.py
Labels: is: enhancement, affects: core, waiting-on: peer-review

#4533 Factorio: remove debug print
  worlds/factorio/__init__.py
Labels: is: refactor/cleanup, waiting-on: core-review, waiting-on: peer-review

#4534 TUNIC: Reduce range end for local_fill option
  worlds/tunic/options.py
Labels: is: bug/fix, waiting-on: peer-review

#4075 KH2: Bug fixes and game update future proofing
  worlds/kh2/Client.py
  worlds/kh2/Regions.py
  worlds/kh2/Rules.py
  worlds/kh2/docs/setup_en.md
Labels: is: bug/fix, waiting-on: peer-review

#4530 Core: Fix worlds that rely on other worlds having their Entrances connected before connect_entrances, add unit test
  test/general/test_entrances.py
  worlds/alttp/Rules.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: peer-review

#4524 AHIT: Fix broken link in setup guide
  worlds/ahit/docs/setup_en.md
Labels: is: documentation, waiting-on: author, waiting-on: peer-review

#4546 TUNIC: Make the standard entrances get made with tuples instead of sets
  worlds/tunic/regions.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4237 Core: Add launch function to call launch_subprocess only if multiprocessing is actually necessary
  worlds/LauncherComponents.py
Labels: is: bug/fix, affects: core, waiting-on: core-review

#4165 Pokemon Emerald: Add Free Fly Blacklist
  worlds/pokemon_emerald/locations.py
  worlds/pokemon_emerald/options.py
Labels: is: enhancement, waiting-on: core-review

#4498 TUNIC: Add ability shuffle information to spoiler log
  worlds/tunic/__init__.py
Labels: is: enhancement, waiting-on: core-review

#4538 TUNIC: Add Torch Item
  worlds/tunic/items.py
Labels: is: enhancement, waiting-on: core-review

#4514 TUNIC: Fix UT create_item classification
  worlds/tunic/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#4545 MultiServer: optimize PrintJSON for !release
  MultiServer.py
Labels: affects: core, waiting-on: core-review

#4522 Shivers: Stop using get_all_state cache to fix timing issue
  worlds/shivers/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#4511 BizHawkClient: Update README for `get_memory_size`
  worlds/_bizhawk/README.md
Labels: is: documentation, waiting-on: core-review

#4544 Super Mario 64: Add Star Costs to Spoiler
  worlds/sm64ex/__init__.py
Labels: is: documentation, is: enhancement, waiting-on: core-review

#4449 CC: Expand on make_gui docstring
  CommonClient.py
Labels: is: enhancement, affects: core, waiting-on: core-review

#4457 Factorio: Inventory Spill Traps
  worlds/factorio/Options.py
  worlds/factorio/__init__.py
  worlds/factorio/data/mod/lib.lua
  worlds/factorio/data/mod_template/control.lua
Labels: is: enhancement, waiting-on: core-review

#4543 KDL3: Fix world access on non-strict open world
  worlds/kdl3/rules.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4552 Pokemon Emerald: Clean up free fly blacklist
  worlds/pokemon_emerald/locations.py
  worlds/pokemon_emerald/options.py
Labels: is: enhancement, waiting-on: core-review

#4553 Noita: Add clarification to check option descriptions
  worlds/noita/options.py
Labels: is: documentation, waiting-on: core-review

#4562 KH2: Use int(..., 0) in Client
  worlds/kh2/Client.py
Labels: waiting-on: peer-review

#4561 MM2: fix plando and weakness special cases
  worlds/mm2/options.py
  worlds/mm2/rules.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#4540 MultiServer: implement NoText and deprecate uncompressed Websocket connections
  MultiServer.py
  NetUtils.py
  docs/network protocol.md
Labels: affects: core, waiting-on: peer-review

#4568 Tests: massively improve the memory leak test performance
  test/general/test_memory.py
Labels: waiting-on: peer-review

#4570 Stardew Valley: Remove weird magic trap test?
  worlds/stardew_valley/test/mods/TestMods.py
Labels: is: refactor/cleanup, waiting-on: core-review

#4578 Stardew Valley: Radioactive slot machine should be a ginger island check
  worlds/stardew_valley/data/locations.csv
Labels: is: bug/fix, waiting-on: core-review

#4580 Stardew valley: Add Mod Recipes tests
  worlds/stardew_valley/test/mods/TestModsFill.py
Labels: is: refactor/cleanup, waiting-on: peer-review

#4579 Docs: fix lower limit of valid IDs in network protocol.md
  docs/network protocol.md
Labels: is: documentation, waiting-on: peer-review
