Repository ArchipelagoMW/Archipelago, pull requests merged in 2025-06, with the labels that each got.

#5040 Plando Items: Fix `count` with empty `locations`/`location`
  Options.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: peer-review

#5073 DKC3: Add missing indirect conditions
  worlds/dkc3/Regions.py
Labels: is: bug/fix, waiting-on: peer-review

#5064 SoE: remove outdated info from guide
  worlds/soe/docs/multiworld_en.md
Labels: is: documentation, waiting-on: core-review

#5022 Launcher/Utils: reset LD_LIBRARY_PATH for system EXEs
  Launcher.py
  Utils.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#5036 Factorio: revamp args parsing and passing
  worlds/factorio/Client.py
  worlds/factorio/__init__.py
Labels: is: enhancement, waiting-on: peer-review

#5000 KH2:Give warning when client has cached locations
  worlds/kh2/Client.py
Labels: is: bug/fix, waiting-on: peer-review

#5081 CI: Add GH_REPO environment variable to labeler
  .github/workflows/label-pull-requests.yml
Labels: is: bug/fix, waiting-on: peer-review

#4710 KH2: raise exception for misusing DonaldGoofyStatsanity option
  worlds/kh2/Client.py
  worlds/kh2/__init__.py
Labels: is: bug/fix, waiting-on: peer-review

#5103 saving princess: fix use of subprocess helpers
  worlds/saving_princess/__init__.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#5107 LTTP/SDV: use .name when appropriate in subtests
  worlds/alttp/test/options/test_dungeon_fill.py
  worlds/stardew_valley/test/regions/TestEntranceClassifications.py
  worlds/stardew_valley/test/regions/TestRegionConnections.py
Labels: is: bug/fix, waiting-on: world-maintainer, waiting-on: peer-review

#5095 SA2B: Logic Fixes
  worlds/sa2b/GateBosses.py
  worlds/sa2b/Rules.py
Labels: is: bug/fix, waiting-on: peer-review

#5094 Stardew valley: Fix 3 logic issues
  worlds/stardew_valley/data/bundle_data.py
  worlds/stardew_valley/logic/logic.py
  worlds/stardew_valley/strings/monster_drop_names.py
  worlds/stardew_valley/test/rules/TestFishing.py
Labels: is: bug/fix, waiting-on: peer-review

#5108 ALTTP: Fix take_any leaving a placed item in the multiworld itempool
  worlds/alttp/ItemPool.py
Labels: is: bug/fix, waiting-on: other

#5072 Aquaria: Fixing open waters urns not breakable with nature forms logic bug
  worlds/aquaria/Regions.py
Labels: is: bug/fix, waiting-on: peer-review

#5113 Shivers: Fix get_pre_fill_items
  worlds/shivers/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: core-review

#5099 Plando Items: Fix Location Groups Unfolding
  Fill.py
Labels: is: bug/fix, affects: core, affects: release/blocker, waiting-on: peer-review

#5106 DS3: Apply Rules to Non-Randomized Locations
  worlds/dark_souls_3/__init__.py
Labels: is: bug/fix, affects: release/blocker, waiting-on: peer-review

#5112 Plando Items: Better Warning for Nonexisting Worlds
  Fill.py
Labels: is: refactor/cleanup, affects: core, waiting-on: core-review

#5043 AdventureClient: Replace Utils.get_settings with settings.get_settings
  AdventureClient.py
Labels: is: maintenance, is: refactor/cleanup, waiting-on: peer-review

#5110 LADX: Fix force_start_item sometimes placing a different copy of the item than it is removing from the itempool
  worlds/ladx/__init__.py
Labels: is: bug/fix, waiting-on: core-review

#5047 shapez: Change link to shapesanity cheat sheet
  worlds/shapez/docs/de_shapez.md
  worlds/shapez/docs/en_shapez.md
Labels: is: documentation, waiting-on: core-review

#4858 Docs: Make plando guide more user friendly
  worlds/generic/docs/plando_en.md
Labels: is: documentation, waiting-on: core-review

#4814 KDL3: update to gifting protocol 3 and update settings usage
  worlds/kdl3/client.py
  worlds/kdl3/gifting.py
  worlds/kdl3/options.py
  worlds/kdl3/rom.py
Labels: is: bug/fix, waiting-on: core-review

#4380 core: Don't attempt to write to the inside of an OSX App Bundle
  Utils.py
Labels: is: bug/fix, affects: core, waiting-on: peer-review

#5122 Pokémon RB: Use new link for a new tracker
  worlds/pokemon_rb/docs/setup_en.md
  worlds/pokemon_rb/docs/setup_es.md
Labels: is: documentation, waiting-on: core-review

#5121 Pokemon RB: Client: Send bounce messages with current map ID
  worlds/pokemon_rb/client.py
Labels: is: enhancement, waiting-on: peer-review

#5123 Civilization VI: Updated setup and info pages
  worlds/civ_6/docs/en_Civilization VI.md
  worlds/civ_6/docs/setup_en.md
Labels: is: documentation, waiting-on: core-review

#5132 CVCotM: Un-bork the Advance Collection ROM
  worlds/cvcotm/aesthetics.py
  worlds/cvcotm/data/patches.py
  worlds/cvcotm/rom.py
Labels: is: bug/fix, waiting-on: core-review

#5138 TWW: Update tournament preset
  worlds/tww/Presets.py
  worlds/tww/docs/en_The Wind Waker.md
Labels: is: enhancement, waiting-on: core-review

#5125 Wargroove communication thread fix
  worlds/wargroove/Client.py
Labels: is: bug/fix, waiting-on: peer-review

#5137 TWW: Fix swords in swordless mode
  worlds/tww/randomizers/ItemPool.py
Labels: is: bug/fix, waiting-on: core-review

#5143 Stardew Valley: Add item group for desert and island transportation
  worlds/stardew_valley/data/items.csv
  worlds/stardew_valley/items/item_data.py
Labels: is: enhancement, waiting-on: core-review
