Repository ArchipelagoMW/Archipelago, changes with the owners that docs/CODEOWNERS names for each.
All owners: @JusticePS, @CookieCat45, @Berserker66, @tioui, @LegendaryLinux, @Jarno458, @TRPG0, @FelicitusNeko, @LiquidCat64, @PoryGone, @SunCatMC, @ThePhar, @Marechal-L, @axe-y, @agilbert1412, @Daivuk, @jtoyoda, @Alchav, @wildham0, @BadMagic100, @Silvris, @JaredWeakStrike, @Dinopony, @hatkirby, @zig-for, @el-u, @wordfcuk, @jamesbrq, @alwaysintreble, @KonoTyran, @espeon65536, @digiholic, @DeamonHunter, @ScipioWright, @heinermann, @toasterparty, @Zunawe, @SunnyBat, @kindasneaki, @GodlFire, @chandler05, @RaspberrySpace, @Ziktofel, @lordlou, @N00byKing, @black-sliver, @Seldom-SE, @Rosalie-A, @t3hf1gm3nt, @silent-destroyer, @jonloveslegos, @FlySniper, @NewSoupVi, @blastron, @PinkSwitch, @rensen, @beauxq, @nbrochu

Update docs/world api.md
  docs/world api.md
Owners: none

bunch of untested changes
  worlds/mmx3/Options.py
  worlds/mmx3/Rom.py
  worlds/mmx3/Rules.py
  worlds/mmx3/Weaknesses.py
  worlds/mmx3/__init__.py
Owners: none

untested basepatch
  worlds/mmx3/data/mmx3_basepatch.bsdiff4
Owners: none

added option groups
  worlds/mmx/Options.py
  worlds/mmx/__init__.py
Owners: none

WebHost, Core: Move item and location descriptions to `WebWorld` responsibilities. (#2508)
  docs/world api.md
  test/general/test_items.py
  test/general/test_locations.py
  test/webhost/test_descriptions.py
  worlds/AutoWorld.py
  worlds/dark_souls_3/Items.py
  worlds/dark_souls_3/__init__.py
Owners: @Marechal-L

AHIT: Fix Your Contract has Expired being placed on the first level when it shouldn't (#3379)
  worlds/ahit/Regions.py
Owners: @CookieCat45

Pokemon Emerald: Use some new state functions, improve rule reuse
  worlds/pokemon_emerald/rules.py
Owners: @Zunawe

Core: hard deprecate per_slot_randoms
  BaseClasses.py
Owners: none

make + dict behave as + for each value
  Generate.py
Owners: none

docs/CODEOWNERS:

# Archipelago World Code Owners / Maintainers Document
#
# This file is used to notate the current "owners" or "maintainers" of any currently merged world folder. For any pull
# requests that modify these worlds, a code owner must approve the PR in addition to a core maintainer. This is not to
# be used for files/folders outside the /worlds folder, those will always need sign off from a core maintainer.
#
# All usernames must be GitHub usernames (and are case sensitive).

###################
## Active Worlds ##
###################

# Adventure
/worlds/adventure/ @JusticePS

# A Hat in Time
/worlds/ahit/ @CookieCat45

# A Link to the Past
/worlds/alttp/ @Berserker66

# Aquaria
/worlds/aquaria/ @tioui

# ArchipIDLE
/worlds/archipidle/ @LegendaryLinux

# Sudoku (BK Sudoku)
/worlds/bk_sudoku/ @Jarno458

# Blasphemous
/worlds/blasphemous/ @TRPG0

# Bomb Rush Cyberfunk
/worlds/bomb_rush_cyberfunk/ @TRPG0

# Bumper Stickers
/worlds/bumpstik/ @FelicitusNeko

# Castlevania 64
/worlds/cv64/ @LiquidCat64

# Celeste 64
/worlds/celeste64/ @PoryGone

# ChecksFinder
/worlds/checksfinder/ @SunCatMC

# Clique
/worlds/clique/ @ThePhar

# Dark Souls III
/worlds/dark_souls_3/ @Marechal-L

# Donkey Kong Country 3
/worlds/dkc3/ @PoryGone

# DLCQuest
/worlds/dlcquest/ @axe-y @agilbert1412

# DOOM 1993
/worlds/doom_1993/ @Daivuk

# DOOM II
/worlds/doom_ii/ @Daivuk

# Factorio
/worlds/factorio/ @Berserker66

# Final Fantasy
/worlds/ff1/ @jtoyoda

# Final Fantasy Mystic Quest
/worlds/ffmq/ @Alchav @wildham0

# Heretic
/worlds/heretic/ @Daivuk

# Hollow Knight
/worlds/hk/ @BadMagic100 @ThePhar

# Hylics 2
/worlds/hylics2/ @TRPG0

# Kirby's Dream Land 3
/worlds/kdl3/ @Silvris

# Kingdom Hearts 2
/worlds/kh2/ @JaredWeakStrike

# Landstalker: The Treasures of King Nole
/worlds/landstalker/ @Dinopony

# Lingo
/worlds/lingo/ @hatkirby

# Links Awakening DX
/worlds/ladx/ @zig-for

# Lufia II Ancient Cave
/worlds/lufia2ac/ @el-u
/worlds/lufia2ac/docs/ @wordfcuk @el-u

# Mario & Luigi: Superstar Saga
/worlds/mlss/ @jamesbrq

# Meritous
/worlds/meritous/ @FelicitusNeko

# The Messenger
/worlds/messenger/ @alwaysintreble

# Minecraft
/worlds/minecraft/ @KonoTyran @espeon65536

# MegaMan Battle Network 3
/worlds/mmbn3/ @digiholic

# Muse Dash
/worlds/musedash/ @DeamonHunter

# Noita
/worlds/noita/ @ScipioWright @heinermann

# Ocarina of Time
/worlds/oot/ @espeon65536

# Overcooked! 2
/worlds/overcooked2/ @toasterparty

# Pokemon Emerald
/worlds/pokemon_emerald/ @Zunawe

# Pokemon Red and Blue
/worlds/pokemon_rb/ @Alchav

# Raft
/worlds/raft/ @SunnyBat

# Rogue Legacy
/worlds/rogue_legacy/ @ThePhar

# Risk of Rain 2
/worlds/ror2/ @kindasneaki

# Shivers
/worlds/shivers/ @GodlFire

# A Short Hike
/worlds/shorthike/ @chandler05

# Sonic Adventure 2 Battle
/worlds/sa2b/ @PoryGone @RaspberrySpace

# Starcraft 2
/worlds/sc2/ @Ziktofel

# Super Metroid
/worlds/sm/ @lordlou

# Super Mario 64
/worlds/sm64ex/ @N00byKing

# Super Mario World
/worlds/smw/ @PoryGone

# SMZ3
/worlds/smz3/ @lordlou

# Secret of Evermore
/worlds/soe/ @black-sliver

# Slay the Spire
/worlds/spire/ @KonoTyran

# Stardew Valley
/worlds/stardew_valley/ @agilbert1412

# Subnautica
/worlds/subnautica/ @Berserker66

# Terraria
/worlds/terraria/ @Seldom-SE

# Timespinner
/worlds/timespinner/ @Jarno458

# The Legend of Zelda (1)
/worlds/tloz/ @Rosalie-A @t3hf1gm3nt

# TUNIC
/worlds/tunic/ @silent-destroyer @ScipioWright

# Undertale
/worlds/undertale/ @jonloveslegos

# VVVVVV
/worlds/v6/ @N00byKing

# Wargroove
/worlds/wargroove/ @FlySniper

# The Witness
/worlds/witness/ @NewSoupVi @blastron

# Yoshi's Island
/worlds/yoshisisland/ @PinkSwitch

#Yu-Gi-Oh! Ultimate Masters: World Championship Tournament 2006
/worlds/yugioh06/ @rensen

# Zillion
/worlds/zillion/ @beauxq

# Zork Grand Inquisitor
/worlds/zork_grand_inquisitor/ @nbrochu

##################################
## Disabled Unmaintained Worlds ##
##################################

# Ori and the Blind Forest
# /worlds_disabled/oribf/ <Unmaintained>
